@charset "UTF-8";

/*!
 * Copyright 2024-2024 Johnson
 */

@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --shadow: 0px 5px 10px rgba(0, 0, 0, .2);
}

* {
    box-sizing: border-box;
}

body {
    padding-top: 120px;
    background: #F6F7F8;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.5;
    color: #383B53;
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    /* font-weight: 500; */
    /* line-height: 1.2; */
}

h5,
h4,
h3,
h2,
h1 {
    font-weight: bold;
}

h1,
.h1 {
    font-size: 64px;
    line-height: 1;
}

h2,
.h2 {
    font-size: 56px;
    line-height: 1.1;
}

h3,
.h3 {
    font-size: 48px;
    line-height: 1.2;
}

h4,
.h4 {
    font-size: 24px;
}

h5,
.h5 {
    font-size: 20px;
}

@media (max-width: 992px) {
    body {
        font-size: 16px;
    }

    h2,
    .h2 {
        font-size: 48px;
    }

    h3,
    .h3 {
        font-size: 32px;
    }

    h4,
    .h4 {
        font-size: 20px;
    }

    h5,
    .h5 {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    body {
        padding-top: 80px;
        font-size: 12px;
    }

    h2,
    .h2 {
        font-size: 32px;
    }

    h4,
    .h4 {
        font-size: 18px;
    }

    h5,
    .h5 {
        font-size: 16px;
    }
}

.headline {
    display: inline-block;
    margin-bottom: 40px;
}

.headline h1 {
    display: inline-block;
}

.headline p {
    display: inline-block;
    opacity: 80%;
}

.headline h2+p {
    margin-top: 10px;
}

.btn-primary {
    display: inline-block;
    border-radius: 50px;
    border: none;
    padding: 20px 40px;
    font-size: 20px;
    background: #D1CAA1;
    color: #383B53;
    text-align: center;
    transition: .3s;
}

.btn-primary:hover {
    background: #90864F;
    color: #fff;
}

.btn-secondary {
    display: inline-block;
    border-radius: 50px;
    border: none;
    padding: 20px 40px;
    font-size: 20px;
    border: 1px solid #383B53;
    color: #383B53;
    text-align: center;
    transition: .3s;
}

.btn-secondary:hover {
    border-color: transparent;
    background: #90864F;
    color: #fff;
}

a {
    color: #383B53;
    cursor: pointer;
    transition: .3s;
}

a:hover,
a.active {
    color: #D1CAA2;
}


.mx-width {
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1280px;
    width: 100%;
}

.section,
.section-secondary {
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
}

.section-secondary {
    background: #383B53;
}

.work-group {
    display: flex;
    flex-wrap: wrap;
    margin: -20px;
}

.work-group+.work-group {
    margin-top: 40px;
}

.work {
    float: left;
    display: inline-block;
    border-radius: 20px;
    padding: 40px;
    margin: 20px;
    background: #fff;
    overflow: hidden;
    transition: .3s;
}

.work:hover {
    transform: scale(1.01);
    box-shadow: var(--shadow);
}

.flexblock {
    display: flex;
}

.flexblock li {
    flex: 1;
    padding: 0 20px
}

.lock {
    overflow: hidden;
}

.form-text {
    text-align: left;
}

.form-text label {
    display: block;
    margin-bottom: 10px;
}

.form-text input,
.form-text textarea {
    display: block;
    border: none;
    border-radius: 10px;
    padding: 0 20px;
    width: 100%;
    min-height: 60px;
    background: #fff;
    color: #383B53;
}

.form-text.error input,
.form-text.error textarea {
    border: 1px solid #A50104;
}

.form-text textarea {
    padding: 20px;
    min-height: 120px;
}

.form-error {
    display: none;
    margin-top: 20px;
    color: #A50104;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    z-index: 99;
}

.loading span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 992px) {

    .section,
    .section-secondary {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .work {
        padding: 20px;
    }
}

/* ------------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    z-index: 1;
}

header .mx-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header .logo {
    height: 64px;
}

header .logo img {
    display: inline-block;
    height: 100%;
}

.nav-menu {
    height: 100%;
}

.nav-menu a {
    padding: 10px;
}

.nav-menu .btn-primary {
    margin-left: 10px;
    min-width: 168px;
}

.nav-menu-header {
    display: none;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.nav-dropdown {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.nav-dropdown>span:after {
    content: "";
    display: inline-block;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    background: url(../images/icon-dropdown.svg) no-repeat center center / 100% auto;
    vertical-align: middle;
    transition: .3s;
}

/* .nav-dropdown:hover>span:after, */
.nav-dropdown.open>span:after {
    transform: rotate(180deg);
}

.nav-dropdown .dropdown-body {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 40px 0;
    width: 100vw;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

/* .nav-dropdown:hover .dropdown-body, */
.nav-dropdown.open .dropdown-body {
    visibility: visible;
    opacity: 1;
}

.nav-dropdown a {
    display: block;
}

.nav-close {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.nav-close img {
    display: inline-block;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.nav-footer {
    display: none;
    margin-top: 20px;
    padding: 20px 10px;
    border-top: 1px solid rgba(56, 59, 83, .2);
    font-size: 14px;
}

.nav-switch {
    display: none;
}

.lang {
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    font-size: 15px;
    cursor: pointer;
}

.lang span:first-child {
    display: none;
}

.lang span:last-child {
    display: inline-block;
}

.lang.en span:first-child {
    display: inline-block;
}

.lang.en span:last-child {
    display: none;
}

@media (max-width: 992px) {
    .nav-menu a {
        padding: 8px;
    }

    .nav-menu .btn-primary {
        min-width: 120px;
    }
}

@media (max-width: 768px) {
    header {
        height: 80px;
    }

    header .logo {
        height: 48px;
    }

    .nav-menu {
        position: fixed;
        top: 0;
        left: 100%;
        padding: 0 20px;
        width: 100vw;
        height: 100vh;
        background: #fff;
        transition: .3s;
    }

    .nav-menu a {
        display: block;
        height: initial;
        padding: 8px 0;
    }

    .nav-menu-header {
        display: flex;
    }

    .nav-footer {
        display: block;
    }

    .nav-menu .btn-primary {
        width: 100%;
        margin-left: 0;
    }

    .nav-dropdown {
        display: block;
        height: initial;
        text-align: left;
        padding: 20px 0 0 0;
    }

    /* .nav-dropdown:hover .dropdown-body, */
    .nav-dropdown.open .dropdown-body {
        height: initial;
    }

    .nav-dropdown span {
        display: block;
        padding: 8px 0;
    }

    .nav-dropdown .dropdown-body {
        position: static;
        transform: none;
        height: 0;
        padding: 0 0 0 40px;
        /* visibility: visible;
        opacity: 1; */
    }

    .nav-switch {
        display: block;
    }

    .open {
        left: 0;
    }

    .lang {
        display: block;
        margin-top: 20px;
        margin-left: 0;
        border: 1px solid #D1CAA1;
        border-radius: 10px;
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

    /* .lang.en span:first-child {
        display: block;
    }

    .lang span:last-child {
        display: block;
    } */
}


.kv {
    padding: 80px 0;
    height: 791px;
    background: url(../images/kv-bg.jpg) repeat-x 0 0/ auto 100%;
    animation: moveBackground 120s linear infinite;
    /* 設定動畫 */
}

@keyframes moveBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

.kv .headline {
    display: flex;
}

.kv .headline h2,
p {
    display: inline-block;
    width: 100%;
}

.kv .headline h2 {
    padding-right: 40px;
}

.kv .headline h2 span {
    display: inline-block;
}

.kv .headline h2 span:last-child {
    animation-delay: .3s;
}

.kv .headline p {
    padding-left: 40px;
    animation-delay: .6s;
}

@media (max-width: 992px) {
    .kv {
        padding: 40px 0;
    }

    .kv .headline br {
        display: none;
    }

    .kv .headline span {
        display: block;
    }
}

@media (max-width: 768px) {
    .kv {
        padding-top: 20px;
        height: calc(100vh - 80px);
    }

    .kv .headline {
        flex-wrap: wrap;
    }

    .kv .headline h2 {
        padding-right: 0px;
    }

    .kv .headline p {
        padding-left: 0px;
    }
}

.portfolio .work {
    float: left;
    height: 513px;
    width: calc(25% - 40px);
    background: #fff no-repeat center center / cover;
}

.portfolio .work:first-child,
.portfolio .work:last-child {
    width: calc(50% - 40px);
}

.portfolio .work:nth-child(1) {
    background-image: url(../images/portfolio-vwin.jpg);
    color: #fff;
}

.portfolio .work:nth-child(2) {
    background-image: url(../images/portfolio-letou.jpg);
    color: #fff;
}

.portfolio .work:nth-child(3) {
    background-image: url(../images/portfolio-bobo.jpg);
}

.portfolio .work:nth-child(4) {
    background-image: url(../images/portfolio-sbet.jpg);
    display: flex;
    align-items: end;
}

.portfolio .work:nth-child(5) {
    background-image: url(../images/portfolio-10bet.jpg);
    color: #fff;
}

.portfolio .work:nth-child(6) {
    background-image: url(../images/portfolio-318.jpg);
}

.portfolio .more {
    margin-top: 40px;
    text-align: center;
}

.portfolio .more a {
    min-width: 200px;
}

@media (max-width: 992px) {

    .portfolio .work:nth-child(2),
    .portfolio .work:nth-child(5) {
        width: calc(33.3% - 40px);
    }

    .portfolio .work:nth-child(3),
    .portfolio .work:nth-child(4) {
        width: calc(50% - 40px);
    }

    .portfolio .work:first-child,
    .portfolio .work:last-child {
        width: calc(66.66% - 40px);
    }
}

@media (max-width: 768px) {
    .portfolio .work-group {
        margin: -10px;
    }

    .portfolio .work {
        height: 360px;
        margin: 10px;
    }

    .portfolio .work:nth-child(2),
    .portfolio .work:nth-child(5) {
        width: calc(50% - 20px);
    }

    .portfolio .work:nth-child(3),
    .portfolio .work:nth-child(4) {
        width: calc(50% - 20px);
    }

    .portfolio .work:first-child,
    .portfolio .work:last-child {
        width: calc(100% - 20px);
    }
}

.business {
    background: #383B53;
    color: #D1CAA1;
    background: repeating-radial-gradient(closest-side at 25px 35px, #383B53 15%, #32213A 40%);
    background-size: 60px 60px;
}

.card-container {
    margin: auto;
    width: 100%;
    max-width: 1280px;
    overflow-x: hidden;
}

.card-group {
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: calc(33.3%*5);
    height: 610px;
}

.card-group li {
    position: absolute;
    padding: 0 20px;
    width: 20%;
    height: 100%;
    transition: .3s;
}

.card-group li:nth-child(1) {
    left: 0%;
}

.card-group li:nth-child(2) {
    left: calc(100%/5);
}

.card-group li:nth-child(3) {
    left: calc(100%/5*2);
}

.card-group li:nth-child(4) {
    left: calc(100%/5*3);
}

.card-group li:nth-child(5) {
    left: calc(100%/5*4);
}

.card {
    display: flex;
    align-items: end;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    background: #fff no-repeat center center / cover;
    color: #383B53;
    overflow: hidden;
}

.card .card-body {
    padding: 50% 40px 40px;
    background: linear-gradient(to top, #D1CAA1 50%, transparent);
}

.business-1 {
    background-image: url(../images/business-1.jpg);
}

.business-2 {
    background-image: url(../images/business-2.jpg);
}

.business-3 {
    background-image: url(../images/business-3.jpg);
}

.business-4 {
    background-image: url(../images/business-4.jpg);
}

.business-5 {
    background-image: url(../images/business-5.jpg);
}

.card-slider {
    margin-top: 40px;
    text-align: right;
}

.card-slider i {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: transparent no-repeat center center / cover;
    cursor: pointer;
}

.card-slider i+i {
    margin-left: 20px;
}

.card-slider i:first-child {
    background-image: url(../images/slider-left.svg);
}

.card-slider i:last-child {
    background-image: url(../images/slider-right.svg);
}

@media (max-width: 992px) {
    .card-group {
        height: 560px;
        width: calc(50%*5);
    }

    .card-group li {
        opacity: .5;
    }

    .card-group li:nth-child(3) {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .card-group {
        width: calc(66.6%*5);
        height: 360px;
    }

    .card-group li {
        padding: 0 10px;
    }

    .card .card-body {
        padding: 50% 20px 20px;
    }
}

.process .work-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.process .work {
    display: flex;
    padding: 0;
    background: #ffffff no-repeat center center / cover;
}

.process .work-body {
    padding: 40px;
    width: 100%;
}

.process .work:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background: url(../images/process-experience.jpg) no-repeat right -60px center / auto 100%;
}

.process .work:nth-child(1) .work-body {
    width: 60%;
    background: #fff;
}

.process .work:nth-child(2) {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    align-items: end;
    background-image: url(../images/process-wireframe.jpg);
}

.process .work:nth-child(2) .work-body {
    background: #fff;
    height: inherit;
}

.process .work:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 2 / 4;
    align-items: end;
    background-image: url(../images/process-mockup.jpg);
}

.process .work:nth-child(3) .work-body {
    background: #fff;
    height: inherit;
}

.process .work:nth-child(4) {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.process .work:nth-child(5) {
    grid-column: 4 / 5;
    grid-row: 3 / 5;
    background-image: url(../images/process-interface.jpg);
    color: #fff;
}

.process .work:nth-child(6) {
    grid-column: 1 / 2;
    grid-row: 4 / 6;
    background-image: url(../images/process-interactive.jpg);
    color: #fff;
}

.process .work:nth-child(7) {
    grid-column: 2 / 4;
    grid-row: 4 / 6;
    align-items: end;
    background-image: url(../images/process-prototype.jpg);
}

.process .work:nth-child(7) .work-body {
    background: #fff;
    height: inherit;
}

.process .work:nth-child(8) {
    grid-column: 4 /5;
    grid-row: 5 / 6;
}

@media (max-width: 992px) {
    .process .work-group {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(9, 1fr);
    }

    .process .work:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .process .work:nth-child(4) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }

    .process .work:nth-child(2) {
        grid-column: 1 / 4;
        grid-row: 2 / 4;
    }

    .process .work:nth-child(3) {
        grid-column: 1 / 4;
        grid-row: 4 / 6;
    }

    .process .work:nth-child(5) {
        grid-column: 1 / 2;
        grid-row: 6 / 8;
    }

    .process .work:nth-child(6) {
        grid-column: 2 / 4;
        grid-row: 6 / 8;
    }

    .process .work:nth-child(7) {
        grid-column: 1 / 3;
        grid-row: 8 / 10;
    }

    .process .work:nth-child(8) {
        grid-column: 3 / 4;
        grid-row: 8 / 10;
    }

}

@media (max-width: 768px) {
    .process .work-group {
        margin: -10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 1fr);
    }

    .process .work {
        margin: 10px;
    }

    .process .work-body {
        padding: 20px;
    }

    .process .work:nth-child(1) {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .process .work:nth-child(2) {
        grid-column: 1 / 3;
        grid-row: 2 / 4;
    }

    .process .work:nth-child(3) {
        grid-column: 1 / 3;
        grid-row: 4 / 6;
    }

    .process .work:nth-child(4) {
        grid-column: 1 / 2;
        grid-row: 6 / 7;
    }

    .process .work:nth-child(5) {
        grid-column: 2 / 3;
        grid-row: 6 / 8;
    }

    .process .work:nth-child(6) {
        grid-column: 1 / 2;
        grid-row: 7 / 9;
    }

    .process .work:nth-child(7) {
        grid-column: 1 / 3;
        grid-row: 9 / 11;
    }

    .process .work:nth-child(8) {
        grid-column: 2 / 3;
        grid-row: 8 / 9;
    }

}

.services .work {
    width: calc(33.33% - 40px);
    text-align: center;
}

.services .work img {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 128px;
    height: 128px;
}

@media (max-width: 992px) {

    .services .work-group {
        display: flex;
        flex-wrap: wrap;
    }

    .services .work {
        width: calc(50% - 40px);
    }
}

@media (max-width: 768px) {

    .services .work {
        display: flex;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        width: calc(100% - 40px);
        text-align: left;
    }

    .services .work img {
        margin: 0 10px 0 0;
        width: 64px;
        height: 64px;
    }
}

footer {
    padding-top: 80px;
    border-top: 1px solid rgba(56, 59, 83, .2);
}

footer .logo {
    float: left;
    width: 33.3%;
    text-align: center;
}

footer .logo img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
}

footer .footer-body {
    margin-left: 33.3%;
}

.footer-body p {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.footer-body p i {
    margin-right: 10px;
    width: 32px;
    height: 32px;
    text-align: center;
}

.footer-body p i img {
    display: inline-block;
    height: 100%;
}

footer .copy {
    margin: 80px 0 40px;
    text-align: center;
}

@media (max-width: 992px) {
    footer .logo {
        padding: 0 40px;
    }

    footer .headline {
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    footer {
        padding-top: 40px;
        margin-top: 20px;
        text-align: center;
    }

    footer .logo {
        width: 100%;
        height: 120px;
    }

    footer .footer-body {
        margin-left: 0;
    }

    .footer-body p {
        justify-content: center;
    }
}

#contactForm {
    margin-top: 20px;
}

#contactForm .form-text+.form-text {
    margin-top: 40px;
}

#contactForm .btn-primary {
    margin-top: 40px;
    min-width: 168px;
}

.case-kv {
    padding-top: 40px;
}

.case-banner {
    position: relative;
    margin-top: 40px;
    height: 540px;
    background: no-repeat center center / cover;
}

.case-banner img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
}

@media (max-width: 992px) {
    .case-banner {
        height: 52vw;
    }
}

@media (max-width: 768px) {
    .case-kv {
        padding-top: 20px;
    }

    .case-banner {
        margin-top: 20px;
        height: 62vw;
    }
}

.case-spindle {
    margin: 0 -20px;
    overflow: hidden;
}

.case-spindle li {
    float: left;
    padding: 0 20px;
}

.case-spindle li:first-child {
    width: 66.66%;
}

.case-spindle li:last-child {
    width: 33.33%;
}

.case-demo-box {
    position: relative;
    margin-top: 40px;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.case-demo {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    transition: 1s;
}

.case-demo.anime {
    transform: translate(-50%, -50%) rotate(-35deg) scale(.9) skew(20deg, 10deg);
}

.case-demo ul {
    float: left;
    margin: 10px;
}

.case-demo ul:nth-child(even) {
    margin-top: 40px;
}

.case-demo ul li {
    display: block;
    border-radius: 20px;
    width: 225px;
    overflow: hidden;
    box-shadow: var(--shadow);
}

.case-demo ul li+li {
    margin-top: 20px;
}

.case-demo ul li img {
    display: block;
    width: 100%;
}

@media (max-width: 992px) {
    .case-demo-box {
        height: 500px;
    }

    .case-demo {
        transform: translate(-50%, -50%) rotate(0deg) scale(.7);
    }

    .case-demo.anime {
        transform: translate(-50%, -50%) rotate(-35deg) scale(.75) skew(20deg, 10deg);
    }
}

@media (max-width: 768px) {

    .case-spindle li:first-child,
    .case-spindle li:last-child {
        width: 100%;
    }

    .case-spindle li+li {
        margin-top: 20px;
    }

    .case-demo-box {
        height: 62vw;
    }

    .case-demo {
        transform: translate(-50%, -50%) rotate(0deg) scale(.5);
    }

    .case-demo.anime {
        transform: translate(-50%, -50%) rotate(-35deg) scale(.35) skew(20deg, 10deg);
    }
}


.case-styles {
    color: #fff;
}

.case-styles ul {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); */
    display: flex;
    /* flex-wrap: wrap; */
    /* margin-top: 40px; */
}

.case-styles ul li {
    width: 50%;
    padding: 0 20px;
}

.case-styles li:nth-child(2) {
    /* grid-column: 1 / 2;
    grid-row: 2 / 3; */
}

.case-styles li:nth-child(3) {
    /* grid-column: 2 / 3;
    grid-row: 1 / 3; */
}

.case-font {
    padding: 40px;
    /* margin: 40px 40px 0; */
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid #fff;
    color: #fff;
}

.case-font h3 {
    margin-top: 20px;
}

.case-color {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.pantone-group {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

.pantone-card {
    padding: 20px;
    margin: 0 10px;
    border-radius: 20px;
    width: 100%;
}

.pantone-card+.pantone-card {
    margin-top: 20px;
}

@media (max-width: 992px) {
    .case-styles ul li:nth-child(1) {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 930px) {

    .pantone-group:nth-child(3) {
        margin-top: 20px;
    }
}


@media (max-width: 768px) {
    .case-styles ul {
        flex-wrap: wrap;
    }

    .case-styles ul li {
        width: 100%;
        padding: 0;
    }

    .case-color {
        padding-top: 20px;
        margin-left: -10px;
        margin-right: -10px;
    }
}

.case-demo-2 {
    display: flex;
    margin: 40px -10px 0;
}

.case-demo-2 li {
    width: 50%;
    margin: 0 10px;
}

.case-demo-2 img {
    display: block;
    border-radius: 20px;
    border-top: 1px solid #fff;
    width: 100%;
    box-shadow: var(--shadow);
}

.case-demo-2 img+img {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .case-demo-2 {
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .case-demo-2 li {
        width: 100%;
    }

    .case-demo-2 li+li {
        margin-top: 20px;
    }
}

.case-list .work {
    width: calc(50% - 40px);
    padding: 0;
    padding-top: 28%;
    background: #fff no-repeat center top / 100% auto;
}

.case-list .work:hover {
    color: #383B53;
}

.case-list .work-body {
    padding: 20px 40px 40px;
    background: #fff;
}

.case-more {
    margin-bottom: 40px;
    text-align: center;
}

.case-more a {
    min-width: 200px;
}

@media (max-width: 768px) {
    .case-list .work {
        width: 100%;
        padding-top: 50%;
        margin: 10px 20px;
    }

    .case-list .work-body {
        padding: 20px;
    }
}

.banner-box {
    display: flex;
    height: 320px;
    overflow-x: auto;
}

.banner-box img {
    display: inline-block;
    gap: 10pxl;
    padding: 10px;
    height: 100%;
}

@media (max-width: 992px) {
    .banner-box {
        height: 62vw;
    }
}



/* animaton */
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px) scale(1);
        transform: translateX(20px) scale(1);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0%) scale(1);
        transform: translateX(0%) scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px) scale(1);
        transform: translateX(20px) scale(1);
    }

    to {
        opacity: 1;
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1);
    }
}

.fadePlay>* {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 0;
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
    }

    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

.fadeUp {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 0;
    -webkit-animation-name: fadeUp;
    animation-name: fadeUp;
}

@media (max-width: 1200px) and (min-width: 992px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}



/*css end*/