// 首頁專用
// Banner
.home-banner-top{
	width: 100%;
	height: 41px;
	background-color: $c-F2;
}
.home-banner{
	width: 100%;
	padding-top: 40%;
	background-image: url('images/home-banner.jpg');
	background-size: cover;
	background-position: center;
	background-color: $c-DE;
}
/*主視覺*/
.banner{
	width: 100%;
	height: 166px;
	background-color: $c-blue;

	li{
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		a{
			display: block;
			width: 100%;
			height: 100%;
		}
	}

	.banner-01{
		background-image: url('images/home-banner.jpg');
	}
	.banner-02{
		background-image: url('images/home-banner.jpg');
	}
	.banner-03{
		background-image: url('images/home-banner.jpg');
	}
}
// 快捷按鈕
.shortcut-button-warp{
	padding: 15px 0px;
}
.shortcut-button-list ul li{
	display: inline-block;
	width: 20%;
}
.shortcut-button-list.mrt-15{
	margin-top: 15px;
}
.sh-btn{
	width: 100%;
	height: 71px;
	margin: 0 auto;
	text-align: center;
}
.sh-btn h3{
	margin-top: 6px;
	font-size: $f-12;
	font-weight: $f-r;
	color: $c-33;
}
.sh-icon{
	margin: 0 auto;
	width: 48px;
	height: 48px;
	background-size: cover;
}
// for 迴圈套用圖片
@for $i from 1 through 10{
	.sh-icon.icon#{$i}{
		background-image: url('images/icon#{$i}.png');
	}
}
@for $i from 1 through 10{
	.sh-icon.icon#{$i}.gray{
		background-image: url('images/icon#{$i}-g.png');
	}
}
// 首頁分隔線
.gary-line{
	width: 100%;
	height: 6px;
	background-color: $c-F2;
}
.gary-line:after{
	content:"";
	display: block;
	width: 100%;
	height: 1px;
	background-color: $c-D3;
}
// 熱門推薦
.top-title-warp{
	padding: 10px;
}
.title-img{
	display: inline-block;
	width: 55px;
	height: 14px;
	background-image: url('images/top-title.png');
	background-size: cover;
	vertical-align: middle;
}
.top-title-warp p{
	display: inline-block;
	font-size: $f-12;
	margin-left: 5px;
	vertical-align: middle;
	color: $c-AD;
}
.line-DE{
	width: 100%;
	height: 1px;
	background-color: $c-DE;
}
.fish-warp{
	width: 100%;
	padding: 13% 0%;
	border-bottom: 1px solid $c-DE;
}
.fish-warp.line{
	border-right: 1px solid $c-DE;
}
.fish-game, .poker-game{
	width: 160px;
	height: 48px;
	margin: 0px auto;
}
.top-icon{
	width: 48px;
	height: 48px;
	background-size: cover;
	float: left;
}
.top-icon.icon1{
	margin-left: 8%;
}
.top-icon.icon2{
	margin-left: 8%;
}
.top-font-warp{
	margin-right: 8%;
	float: right;
}
.top-font-warp h3{
	font-size: $f-14;
	font-weight: $f-r;
	color: $c-blue;
}
.top-font-warp.pocker-red h3{
	font-size: $f-14;
	font-weight: $f-r;
	color: $c-red;
}
.top-font-warp p{
	display: block;
	font-size: $f-10;
	color: $c-AD;
	line-height: $f-14;
	overflow: hidden;
	white-space: nowrap;
	width: 7rem;
}
.top-font-warp:after{
	content:"";
	display: block;
	clear: both;
}
.top-home-casino-warp{
	padding: 10px 0px;
	border-right: 1px solid $c-DE;
}
.top-home-casino{
	width: 63px;
	height: 23px;
	margin: 0px auto;
}
.top-home-casino>.top-icon{
	margin-top: 3px;
	width: 22px;
	height: 15px;
}
.top-home-casino p{
	display: block;
	margin-top: 2px;
	margin-left: 2px;
	font-size: $f-12;
	color: $c-33;
	float: left;
}
.top-home-casino p:after{
	content:"";
	display: block;
	clear: both;
}
// for 迴圈套用圖片
@for $i from 1 through 6{
	.top-icon.icon#{$i}{
		background-image: url('images/top-icon#{$i}.png');
	}
}
@for $i from 1 through 6{
	.top-icon.icon#{$i}.gray{
		background-image: url('images/top-icon#{$i}-g.png');
	}
}
// 優惠速遞
.news-warp{
	padding: 14px;
}
.news-inner{
	height: 100%;
}
.news-inner:after{
	content:"";
	display: block;
	clear: both;
}
.news-title-img{
	width: 38px;
	height: 42px;
	background-image: url('images/news-title.png');
	background-size: cover;
	float: left;
}
.news-title-line{
	margin-left: 17px;
	width: 1px;
	height: 42px;
	background-color: $c-DE;
	float: left;
}
.news-list{
	width: 75%;
	margin-left: 17px;
	height: 42px;
	float: left;
}
.news-list ul li{
	list-style-type: none;
	font-size: $f-12;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
	color: $c-33;
}
.news-list ul li span{
	font-size: $f-10;
	padding: 2px 5px 3px 5px;
	background-color: $c-yellow;
	margin-right: 8px;
	vertical-align: middle;
	color: $c-33;
}
.news-list ul li:nth-child(1){
	margin-bottom: 5px;
}
// 暫時 footer 區塊
.footer-block-warp{
	width: 100%;
	background-color: $c-F2;
	margin: 0 auto;
	padding: 10px;
}
.footer-block-btn-warp{
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 10px;
}
.footer-block-btn{
	display: block;
	width: 100%;
	height: auto;
	padding: 10px;
	vertical-align: middle;
	text-align: center;
	border-radius: 3px;
	border: 1px solid $c-AD;
	font-size: $f-12;
	color: $c-AD;
}
.footer-block-link-warp{
	width: 100%;
	text-align: center;
	vertical-align: middle;
}
.footer-block-link-warp ul li{
	display: inline-block;
	padding: 0% 5%;
	margin-top: 3%;
	border: 1px $c-DE;
	border-right-style: solid;
}
.footer-block-link-warp ul li:nth-last-child(1){
	border-right-style: none;
}
.footer-block-link-warp ul li a{
	font-size: $f-12;
	color: $c-AD;
}
.footer-block-declare-warp{
	padding: 4% 0%;
	text-align: center;
	vertical-align: middle;
	color: $c-AD;
}
// APP下載區塊
.apptitle-warp{
	width: 100%;
	padding: 11px;
	background-color: $c-wh;
	margin: 0 auto;
	text-align: center;
	border: 1px solid $c-DE;
}
.apptitleicon{
	display: inline-block;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	background-image: url(images/home-appicon.png);
	background-size: cover;
}
.apptitle-word{
	display: inline-block;
	vertical-align: middle;
	font-size: $f-16;
	color: $c-3A;
	margin-left: 6px;
}
.appdownload-warp-big{
	padding: 10px 10px 0px 10px;
}
.appdownload-warp{
	padding: 0px 4.5px 0px 0px;
}
.appdownload-warp.right{
	padding: 0px 0px 0px 4.5px;
}
.appdownload-warp.big{
	padding: 10px 10px 13px 10px;
}
.appdownload-warp h3{
	font-size: $f-16;
	color: $c-3A;
}
.appdownload-warp p{
	font-size: $f-14;
	color: $c-B1;
	margin-bottom: 7px;
}
.appdownload-warp p br{
	display: none;
}
.appbanner-warp{
	width: 100%;
	// height: 125px;
	padding-top: 65%;
	margin-bottom: 10px;
	background-size: cover;
	border-radius: 3px;
	background-position: bottom;
	background-repeat: no-repeat;
}
.appbanner-warp.left{
	background-position: bottom right;
}
.appbanner-warp.left.big{
	padding-top: 31%;
}
.appbanner-warp.right{
	background-position: bottom left;
}
// for 迴圈套用圖片
@for $i from 1 through 6{
	.appbanner-warp.banner#{$i}{
		background-image: url('images/appbanner#{$i}.jpg');
	}
}
// 小遊戲推薦
.gametitle-warp{
	width: 100%;
	padding: 10px;
	background-color: $c-wh;
	margin: 0 auto;
	text-align: center;
	border: 1px solid $c-DE;
}
.gametitle-line{
	display: inline-block;
	vertical-align: middle;
	width: 11px;
	height: 1px;
	background-color: $c-B1;
}
.gametitle-word{
	display: inline-block;
	vertical-align: middle;
	font-size: $f-12;
	color: $c-66;
	margin: 0px 7px 0px 8px;
}
.gamehome-list-warp{
	position: relative;
	width: 100%;
	padding: 10px 12px;
	border-bottom: 1px solid $c-DE;
}
.gamehome-img{
	display: inline-block;
	vertical-align: middle;
	width: 106px;
	height: 106px;
	border-radius: 3px;
	background-color: #333;
	background-size: cover;
	background-position: center;
}
.gamehome-word-warp{
	display: inline-block;
	position: absolute;
	right: 12px;
	left: 136px;
}
.gamehome-word-warp h3{
	display: block;
	font-size: $f-16;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: 2px;
	margin-bottom: 4px;
	color: $c-33;
}
.gamehome-word-warp p{
	font-size: $f-14;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: $c-B1;
}
.jackpotnumber{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-top: -4px;
}
.jackpotnumber i{
	font-size: $f-18;
	color: $c-3E;
}
.jackpotnumber span{
	font-size: $f-26;
	color: $c-3E;
}
.gamehome-tag{
	position: absolute;
	padding: 2px 6px;
	font-size: $f-10;
	font-weight: $f-b;
	border-radius: 3px;
	border: 1px solid $c-yellow;
	color: $c-yellow;
}
// for 迴圈套用圖片
@for $i from 1 through 10{
	.gamehome-img.jackpot#{$i}{
		background-image: url('images/jackpot/jackpot#{$i}.jpg');
	}
}
.garyword-warp{
	width: 100%;
	height: 42px;
	padding-top: 14px;
}
.garyword-warp .garyword{
	width: 50%;
	height: 50%;
	text-align: center;
	font-size: $f-12;
	margin: 0px auto;
	color: $c-D3;
}
.garyword-warp:after{
	content:"";
	display: block;
	margin-top: 14px;
	width: 100%;
	border-bottom: 1px solid $c-F2;
}
