.icon-nav-live800.white{
	color: $c-wh;
}
.mymembertop-warp .nav-left-warp.reddot:before{
	border-color: transparent;
}
.mymembertop-warp{
	width: 100%;
	height: 248px;
	background-image: url('images/mymember/mymember-bg.jpg');
	background-size: cover;
	background-position: center bottom;
}
.mymembertop-data{
	width: 100%;
	margin-top: 8px;
}
.mymembertop-data>.id{
	position: absolute;
	width: 100%;
	font-size: $f-16;
	text-align: center;
	top: -25px;
	color: $c-wh;
}
.mymembertop-data>.idimg{
	width: 64px;
	height: 64px;
	border: 2px solid darken($c-wh, 3%);
	background-color: $c-D3;
	margin: 0 auto;
	border-radius: 32px;
	background-size: cover;
	background-position: center;
}
.mymembertop-data>.idimg.defaultimg{
	background-image: url('images/mymember/mymember-idimg.jpg');
}
.mymembertop-data>.money-warp{
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
}
.mymembertop-data>.money-warp .moneytitle{
	display: inline-block;
	height: 27px;
	background-color: $c-yellow;
	padding: 4px 8px 6px 11px;
	font-size: $f-13;
	border-radius: 13px 0 0 13px;
}
.mymembertop-data>.money-warp .moneytitle:after{
	content:"";
	display: inline-block;
	position: absolute;
	width: 1px;
	height: 13px;
	background-color: $c-3A-50;
	margin-top: 3px;
	margin-left: 8px;
	color: $c-33;
}
.mymembertop-data>.money-warp .money{
	background-color: $c-yellow;
	padding: 3px 11px 3px 10px;
	display: inline-block;
	font-size: $f-14;
	border-radius: 0 13px 13px 0;
	color: $c-33;
}
.mymembertop-data>.money-warp .money i{
	font-size: $f-10;
	margin-right: 3px;
	color: $c-33;
}
.mymember-payment-warp{
	position: relative;
	width: 100%;
	height: 58px;
	margin-top: 37px;
}
.mymember-payment-warp>.bg{
	position: absolute;
	width: 100%;
	height: 100%;
	/* 底下壓色: */
	background-image: -webkit-linear-gradient(rgba(0,0,0,0.02) 0%, #000000 100%);
	background-image: -o-linear-gradient(rgba(0,0,0,0.02) 0%, #000000 100%);
	background-image: linear-gradient(rgba(0,0,0,0.02) 0%, #000000 100%);
	opacity: 0.2;
}
.mymember-payment-warp .deposit-btn,.mymember-payment-warp .withdrawal-btn,.mymember-payment-warp .transfers-btn{
	width: 100%;
	padding-top: 13px;
}
.mymember-payment-warp .deposit-btn>.icon{
	width: 21px;
	height: 15px;
	background-image: url('images/mymember/deposit-icon.png');
	background-size: cover;
	margin: 0 auto;
}
.mymember-payment-warp .withdrawal-btn>.icon{
	width: 21px;
	height: 15px;
	background-image: url('images/mymember/withdrawal-icon.png');
	background-size: cover;
	margin: 0 auto;
}
.mymember-payment-warp .transfers-btn>.icon{
	width: 21px;
	height: 15px;
	background-image: url('images/mymember/transfers-icon.png');
	background-size: cover;
	margin: 0 auto;
}
.mymember-payment-warp .deposit-btn>.text,.mymember-payment-warp .withdrawal-btn>.text,.mymember-payment-warp .transfers-btn>.text{
	text-align: center;
	font-size: $f-12;
	color: $c-wh;
	margin-top: 4px;
}
.mymember-payment-warp a{
	position: relative;
	display: block;
	z-index: 2;
}
// 下方列表開始
.mymember-list-warp li{
	padding: 15px;
	border-bottom: 1px solid $c-DE;
}
.mymember-list-warp li:after{
	content:"";
	display: block;
	position: absolute;
	width: 60px;
	height: 1px;
	background-color: $c-wh;
	margin-top: 15px;
	left: 0;
}
.mymember-list-warp li:last-child{
	border-bottom: none;
}
.mymember-list-warp li:last-child:after{
	display: none;
}
.mymember-list-warp li a{
	display: block;
}
.mymember-list-warp li .icon{
	display: inline-block;
	width: 30px;
	height: 30px;
	background-color: RGBA(161, 88, 225, 1.00);
	background-size: cover;
	vertical-align: middle;
	border-radius: 50%;
}
.mymember-list-warp li .text{
	display: inline-block;
	vertical-align: middle;
	font-size: $f-15;
	color: $c-3A;
	margin-left: 15px;
}
// for 迴圈套用圖片
@for $i from 1 through 8{
	.mymember-list-warp li .icon.myicon#{$i}{
		background-image: url('images/mymember/myicon#{$i}.jpg');
	}
}
