.header-gray-bg{
	width: 100%;
	height: 58px;
	background-color: $c-F2;
}
.header-gray-bg:before{
	content:"";
	display: block;
	width: 100%;
	height: 1px;
	background-color: $c-F2;
	margin-top: -1px;
}
.header-gray-bg3{
	width: 100%;
	height: 44px;
	background-color: $c-F2;
}
.header-gray-bg3:before{
	content:"";
	display: block;
	width: 100%;
	height: 1px;
	background-color: $c-F2;
	margin-top: -1px;
}
.m-register{
	background-color: $c-F2;
}
.m-register .field{
	display: flex;
	-webkit-box-align: center;
	padding: 1.1rem 1.5rem;
	color: $c-6D;
	background-color: $c-wh;
	text-align: left;
}
.field .label{
	font-size: $f-16;
	// width: 7.5rem;
	margin-right: 1.5rem;
}
.field .label.f-14{
	font-size: $f-14;
}
.field .field-control{
	flex: 1;
	vertical-align: middle;
}
.field .field-control input{
	-webkit-appearance: none;
	width: 100%;
	padding: 0;
	border: 0;
	background-color: transparent;
	font-size: $f-16;
	color: $c-3A;
}
.field .field-control.f-14 input{
	font-size: $f-14;
}
.field .field-control input::-webkit-input-placeholder{
	color: $c-DE;
}
// Safari 7.1+ hack
_::-webkit-full-page-media, _:future, :root .field .icon-clear, .field .pwd-icon{
	margin-top: 3px;
}
.field .icon-clear i{
	font-size: $f-16;
	color: $c-DE;
	line-height: $f-16;
}
.field-line{
	width: 100%;
	height: 1px;
	background-color: $c-DE;
}
.field-line:before{
	content:"";
	display: block;
	width: 1.5rem;
	height: 1px;
	background-color: $c-wh;
}
.field .pwd-icon{
	margin-left: 1rem;
}
.field .pwd-icon i{
	font-size: $f-16;
	color: $c-DE;
	line-height: $f-16;
}
.field-endline{
	width: 100%;
	height: 1px;
	background-color: $c-D3;
}
.optional-title-warp{
	width: 100%;
	height: 42px;
	background-color: $c-F2;
}
.optional-title-warp h3{
	font-size: $f-14;
	text-align: center;
	color: $c-6D;
	line-height: 4rem;
}
.field.phone .label{
	font-size: $f-16;
	width: 11.5rem;
	color: $c-3E;
	border: 1px $c-DE;
	border-right-style: solid;
}
.field.phone .field-control{
	margin-left: 1rem;
}
// 送出按鈕
.registered-submit{
	margin: 2rem 1rem 0;
	background-color: $c-F2;
}
.button {
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    border: 1px solid darken($c-FF, 2);
    border-radius: 5px;
    color: #fff;
    background-color: $c-FF;
    text-align: center;
    font-size: $f-19;
    display: block;
}
.registered-submit button:disabled{
	color: $c-wh-50;
}
// 確認18
.check18-warp{
	margin: 1.7rem 1rem 0;
}
.check18-warp p{
	display:  block;
	font-size: $f-14;
	color: $c-66;
}
.check18-warp p a{
	color: $c-4A;
}
// 前往下一步按鈕
.continue-next{
	margin: 2rem 1rem 0;
	background-color: $c-F2;
}

.continue-next button:disabled{
	color: $c-33-20;
	background-color: $c-DE;
	border: 1px solid darken($c-DE, 2);
    border-radius: 5px;
}

// 確認18
.check18-warp{
	margin: 1.7rem 1rem 0;
}
.check18-warp p{
	display:  block;
	font-size: $f-14;
	color: $c-66;
}
.check18-warp p a{
	color: $c-4A;
}


// fannie add scss
.header-gray-bg2{
	width: 100%;
	height: 44px;
	background-color: $c-F2;
}
.header-gray-bg2:before{
	content:"";
	display: block;
	width: 100%;
	height: 1px;
	background-color: $c-F2;
	margin-top: -1px;
}
.optional-title-warp.text-left h3{
	text-align: left;
	padding:0rem 1rem;
}
.remind-warp{
	width: 100%;
	background-color: $c-F2;
	padding:0rem 1rem;
}	
.remind-warp h3{
	font-size: $f-14;
	text-align: left;
	color: $c-6D;
	padding-top:0.6rem;
	margin-bottom:1.4rem;
}
.select-box select{
	width:100%;
	-webkit-direction: rtl;
	direction: rtl; 
	border:0;
	font-size: $f-16;
	color:$c-66;
	background-color: $c-wh;
	padding-right:36px;
	background-image:url("images/arrow.png");
	background-size: 7px 13px;
	background-repeat: no-repeat;
	background-position: right;
}
.select-box.left select{
	-webkit-direction: ltr;
	direction: ltr; 
}

// 同意服務條款
.agree-to-terms{
	margin: 1.7rem 1rem 0;
	text-align: center;
}
.agree-to-terms p{
	display:  block;
	font-size: $f-14;
	color: $c-66;
}
.agree-to-terms p a{
	color: $c-FF;
}

.verification-code-title-warp{
	width: 100%;
	background-color: $c-F2;
	text-align: center;
	padding-bottom: 15px;
}
.verification-code-title-warp h3{
	font-size: $f-14;
	color: $c-6D;
	line-height: 4rem;
}
.verification-code{
	font-size: $f-23;
	color:$c-33;
	background-color: $c-F2;
}

.field-control.add-line input{
	border: 1px $c-DE;
	border-right-style: solid;
}
button.waitcode-btn{
	padding-left: 9px;
    border: 0;
    color: $c-DE;
    background: none;
    text-align: right;
    font-size: $f-16;
    display: block;
}
button.gaincode-btn{
	padding-left: 9px;
    border: 0;
    color: $c-3E;
    background: none;
    text-align: right;
    font-size: $f-16;
    display: block;
}

// 開關
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
  margin-bottom:0px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $c-DE;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 28px;
  background-color: $c-3E;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 2;
}
.slider:after{
	content:"ABC";
	display: block;
	position: absolute;
	font-size: $f-11;
	top: 5px;
	left: 7px;
	opacity: 0;
	transition: .4s;
}

input:checked + .slider {
  background-color: $c-DE;
}

input:focus + .slider {
  box-shadow: 0 0 1px $c-DE;
}

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

input:checked + .slider span{
  opacity: 0;
}
input:checked + .slider:after {
  opacity: 1;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider span{
	display: inline-block;
	position: absolute;
	width: 6px;
	height: 6px;
	background-color: $c-99;
	top: 11px;
	left: 32px;
	border-radius: 50%;
	vertical-align: middle;
	transition: .4s;
}
.slider span:nth-child(2){
	left: 40px;
}
.slider span:nth-child(3){
	left: 48px;
}
// 開關結束

.gray-bg-block{
	width: 100%;
	height: 9px;
	background-color: $c-F2;
}
a.recommend-btn{
	display:block;
	font-size: $f-16;
	color:$c-3A;
	text-align:left;

}
.recommend-title{
	font-size: $f-14;
	color:$c-B1;
	flex: 1;
	vertical-align: middle;
}
.recommend-title-block{
	display: flex;
	-webkit-box-align: center;
	padding: 0rem 1.5rem;
	padding-top: 1.2rem;
	color: $c-6D;
	background-color: $c-wh;
	text-align: left;
}
// 滑動驗證按鈕
.slide-warp{
	position: relative;
	padding: 10px 12px 0;
}
.slide-bg-warp{
	position: relative;
	padding: 12px 0;
	text-align: center;
	background: #D9DADC;
	box-shadow: 0 0 3px 0 rgba(255,255,255,0.90);
	border-radius: 5px;
}
.slide-word{
	font-size: $f-16;
	color: $c-66;
}
.slide-btn-warp{
	position: absolute;
	width: 52px;
	height: 52px;
	background-image: url('images/register-slidebtn.png');
	background-size: cover;
	margin-top: -13px;
	margin-left: -2px;
	z-index: 2;
}
.slide-btn-warp .arrow{
	width: 24px;
	height: 21px;
	background-image: url('images/register-slide-arrow.png');
	background-size: cover;
	margin: 0 auto;
	margin-top: 14px;
}
.slide-btn-warp.test-slide-right{
	left: 100%;
	margin-left: -50px;
}
.slide-bg-warp .blue-bar{
	display: block;
	position: absolute;
	width: 20%;
	height: 100%;
	background-color: $c-3E;
	margin-top: -12px;
	border-radius: 5px;
	text-align: center;
	font-size: $f-16;
	color: $c-wh;
	padding-top: 12px;
}
.slide-bg-warp .blue-bar span{
	display: inline-block;
	width: 80%;
	overflow: hidden;
	white-space: nowrap;
}
.slide-bg-warp .blue-bar.slide-ok{
	width: 100%;
}
.slide-btn-warp.test-slide-ok{
	left: 100%;
	margin-left: -50px;
}
.slide-btn-warp .loading-bg{
	width: 26px;
	height: 26px;
	background-image: url('images/register-slide-loadingbg.png');
	margin: 0 auto;
	margin-top: 12px;
	background-size: cover;
}
.slide-btn-warp .loading-bg .loading-bar{
	width: 100%;
	height: 100%;
	background-image: url('images/register-slide-loadingbar.png');
	background-size: cover;
	animation: loading 1s infinite linear;
}
.slide-btn-warp.test-slide-ok .ok{
	width: 26px;
	height: 26px;
	background-image: url('images/register-slidebtn-ok.png');
	margin: 0 auto;
	margin-top: 12px;
	background-size: cover;
	animation: bounceIn 1s;
}
