.optional-title-warp.text-left.height{
	height: 100%;
	padding:1.1rem 0 0.5rem 0;

}
.optional-title-warp.text-left.height h3{
	line-height: 21px;
}
.registered-submit.responsibility-btn{
	margin:1.1rem 1rem;
}