// 給Pad非高畫質使用

//共用
@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
{ 
	// 首頁Banner
	.banner{
		height: 307px;
	}
	// 首頁熱門推薦
	.fish-warp{
		padding: 8% 0%;
	}
	// 首頁app推薦
    .appdownload-warp-big{
        padding: 10px 10px 0px 10px;
    }
    .appdownload-warp.right.no2{
        padding: 0px 4.5px 0px 4.5px;
    }
    .appdownload-warp.no3{
        padding: 0px 0px 0px 4.5px;
    }
    .appdownload-warp.right.no4{
        padding: 0px 4.5px 0px 0px;
    }
    .appdownload-warp.no5{
        padding: 0px 4.5px 0px 4.5px;
    }
    .appdownload-warp.right.no6{
        padding: 0px 0px 0px 4.5px;
    }
    .appbanner-warp{
        padding-top: 150px;
    }
	// 娛樂場
	.casino-list-warp .word-warp{
		height: 180px;
	}
	.casino-list-warp .img-warp .img{
		height: 180px;
	}
	.casino-list-warp .word-warp h3{
		font-size: $f-20;
	}
	.casino-list-warp .word-warp p{
		font-size: $f-14;
	}
	.casino-list-warp .word-warp .play span,.casino-list-warp .word-warp .app span{
		font-size: $f-14;
	}
	// 小遊戲
	.slotgamelist-warp .pad-left{
		padding-right: 2px;
	}
	.slotgamelist-warp .pad-right{
		padding-left: 2px;
	}
	// 優惠List
	.toppromotion .number-3, .toppromotion .number-4, .toppromotion .number-5{
		margin-top: 10px;
		transform: scale(1.8);
	}
	.toppromotion .number-2{
		margin-top: 8px;
		margin-left: 65.4763546%;
		transform: scale(1.8);
	}
	.toppromotion .number-1{
		margin-left: 3%;
		transform: scale(1.8);
	}
	.promotion-list-warp li:nth-child(odd) .promotion-warp{
		padding: 9px 5px 9px 10px;
	}
	.promotion-list-warp li:nth-child(even) .promotion-warp{
		padding: 9px 10px 9px 5px;
	}
}

//直立
@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : portrait)
{ 

}

//橫式
@media only screen 
	and (min-device-width : 768px) 
	and (max-device-width : 1024px) 
	and (orientation : landscape)
{
	.appbanner-warp{
        padding-top: 200px;
    }

}