// 天朝專用
@media (max-width : 767px) and (orientation:landscape) {
    // 首頁app推薦 (這個區塊主要控制權在這裡)
    .appdownload-warp-big{
        padding: 10px 10px 0px 10px;
    }
    .appdownload-warp.right.no2{
        padding: 0px 4.5px 0px 4.5px;
    }
    .appdownload-warp.no3{
        padding: 0px 0px 0px 4.5px;
    }
    .appdownload-warp.right.no4{
        padding: 0px 4.5px 0px 0px;
    }
    .appdownload-warp.no5{
        padding: 0px 4.5px 0px 4.5px;
    }
    .appdownload-warp.right.no6{
        padding: 0px 0px 0px 4.5px;
    }
    .appbanner-warp{
        padding-top: 135px;
        margin-bottom: 10px;
    }
    // 變成3等份的控制權
    .col-xs-6.appdownload{
        width: 33.333333%;
    }
}

//-----------iPhone4&5----------
// 共用
@media only screen 
and (min-device-width : 320px)
and (-webkit-min-device-pixel-ratio : 2)
and (device-aspect-ratio: 2/3)
, 
(max-device-width : 568px)
and (-webkit-min-device-pixel-ratio : 2)
and (device-aspect-ratio: 40/71)
{
	// 首頁Banner
    .banner{
        height: 128px;
    }
    // 首頁選單
    .menu-list-word{
        font-size: $f-15;
    }
    .sub-menu-warp{
        width: 58%;
    }
    .sub-menu-list{
        padding: 12px 20px 12px 15px;
    }
    .sub-menu-arrow-warp{
        right: 15px;
    }
    .menu-list.active .menu-triangle{
        right: 58%;
    }
    .appdownload-warp p br{
        display: block;
    }
    // 小遊戲TAG
    .gamefirm-warp .gamefirm{
        font-size: $f-12;
    }
    .gamefirm-warp .tag{
        font-size: $f-11;
    }
    .slotgame-img .jackpot-warp span{
        font-size: $f-14;
    }
    _::-webkit-full-page-media, _:future, :root .gamefirm-warp .tag{
        padding: 6px 13px 5px;
    }
    // 紅利優惠
    _::-webkit-full-page-media, _:future, :root .toppromotion .btn{
        margin-top: 3px;
        padding: 1px 9px 2px;
        right: 3px;
    }
    _::-webkit-full-page-media, _:future, :root .toppromotion .btn i{
        margin-top: 1px;
        margin-left: 5px;
    }
    .promotion-img-warp{
        height: 165px;
    }
    .toppromotion .number-2{
        font-size: $f-14;
        margin-left: 61.4763546%;
        margin-top: -1%;
    }
    .toppromotion .number-3, .toppromotion .number-4, .toppromotion .number-5{
        top: 53.1818181%;
        font-size: $f-16;
    }
    // 娛樂場
    .casino-list-warp .word-warp .play span{
        font-size: $f-10;
    }
    .casino-list-warp .word-warp .app span{
        font-size: $f-10;
    }
    // 財富中心
    .withdraw-money-number{
        font-size: 4rem;
    }
    .withdraw-money-title{
        padding-top: 65px;
    }
    // 總資產
    .pie-warp{
        padding: 33px 0px 33px 15px;
    }
    .pie-warp .pie-box{
        width: 110px;
    }
    // bill
    .list-box .time-warp{
        .time-title{
            display: none;
        }
        .from-time-warp{
            width: 87px;
            input{
                font-size: $f-12;
            }
        }
        .btn-warp a{
            margin-left: 1px;
            margin-right: 1px;
        }
        .btn-warp a:nth-child(1){
            margin-left: 10px;
        }
    }
    .list-box.bill-history .money .number{
        font-size: 1.7rem;
    }
    // 第三層選單
    .sub-menu-warp ul li .openBox ul li .sub-menu-word{
        font-size: $f-12;
    }
    .sub-menu-warp ul li .openBox ul li{
        padding: 13px 20px 14px 20px;
    }
}
// 橫式
@media only screen
and (min-device-width : 320px)
and (-webkit-min-device-pixel-ratio : 2)
and (device-aspect-ratio: 2/3)
and (orientation : landscape)
, 
(max-device-width : 568px)
and (-webkit-min-device-pixel-ratio : 2)
and (device-aspect-ratio: 40/71)
and (orientation : landscape)
{

}

/*iPhone 6 and iPhone 6+ portrait*/
@media only screen and (max-device-width: 640px),
only screen and (max-device-width: 667px),
only screen and (max-width: 480px)
and (orientation : portrait)
{ 
    // 紅利優惠
    _::-webkit-full-page-media, _:future, :root .toppromotion .btn{
        margin-top: 3px;
        padding: 1px 9px 2px;
    }
    _::-webkit-full-page-media, _:future, :root .toppromotion .btn i{
        margin-top: 1px;
    }
}

//-----------iPhone6----------

//共用
@media only screen 
    and (device-width : 375px)
    and (device-height : 667px)
    and (-webkit-min-device-pixel-ratio : 2)
{
    // 紅利優惠
    .toppromotion .number-2{
        margin-top: -1%;
    }
    .toppromotion .number-3, .toppromotion .number-4, .toppromotion .number-5{
        top: 54.1818181%;
    }
    _::-webkit-full-page-media, _:future, :root .toppromotion .btn{
        margin-top: 2.03045685%;
    }
}
//直立
@media only screen 
    and (device-width : 375px)
    and (device-height : 667px)
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio : 2)
{

}
//橫式
@media only screen 
    and (device-width : 375px)
    and (device-height : 667px)
    and (orientation : landscape)
    and (-webkit-min-device-pixel-ratio : 2) 
{
    // 首頁app推薦
    .appdownload-warp-big{
        padding: 10px 10px 0px 10px;
    }
    .appdownload-warp.right.no2{
        padding: 0px 4.5px 0px 4.5px;
    }
    .appdownload-warp.no3{
        padding: 0px 0px 0px 4.5px;
    }
    .appdownload-warp.right.no4{
        padding: 0px 4.5px 0px 0px;
    }
    .appdownload-warp.no5{
        padding: 0px 4.5px 0px 4.5px;
    }
    .appdownload-warp.right.no6{
        padding: 0px 0px 0px 4.5px;
    }
    .appbanner-warp{
        padding-top: 135px;
        margin-bottom: 10px;
    }
}

//-----------iPhone6+----------
//共用
@media only screen 
    and (min-device-width : 414px) 
    and (max-device-width : 736px) 
    and (-webkit-min-device-pixel-ratio : 3) 
{
	// 首頁
    // 紅利優惠
    _::-webkit-full-page-media, _:future, :root .toppromotion .top56{
        margin-top: 1.52284264%;
    }
    _::-webkit-full-page-media, _:future, :root .toppromotion .btn{
        margin-top: 2.03045685%;
        padding: 3px 9px 3px; 
    }
}
//直立
@media only screen 
    and (min-device-width : 414px) 
    and (max-device-width : 736px) 
    and (orientation : portrait) 
    and (-webkit-min-device-pixel-ratio : 3) 
{

}
//橫式
@media only screen 
    and (min-device-width : 414px) 
    and (max-device-width : 736px) 
    and (orientation : landscape) 
    and (-webkit-min-device-pixel-ratio : 3) 
{
    // 首頁app推薦
    .appdownload-warp-big{
        padding: 10px 10px 0px 10px;
    }
    .appdownload-warp.right.no2{
        padding: 0px 4.5px 0px 4.5px;
    }
    .appdownload-warp.no3{
        padding: 0px 0px 0px 4.5px;
    }
    .appdownload-warp.right.no4{
        padding: 0px 4.5px 0px 0px;
    }
    .appdownload-warp.no5{
        padding: 0px 4.5px 0px 4.5px;
    }
    .appdownload-warp.right.no6{
        padding: 0px 0px 0px 4.5px;
    }
    .appbanner-warp{
        padding-top: 150px;
    }
}