/* 圖示 */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
}

.glyphicon-chevron-left:before {
    content: "\e079";
}

.glyphicon-chevron-right:before {
    content: "\e080";
}

.glyphicon-step-backward:before {
    content: "\e069";
}

.glyphicon-step-forward:before {
    content: "\e077";
}

.glyphicon-chevron-up:before {
    content: "\e113";
}

.glyphicon-chevron-down:before {
    content: "\e114";
}

.glyphicon-ok:before {
    content: "\e013";
}

.glyphicon-arrow-left:before {
    content: "\e091";
}

.glyphicon-question-sign:before {
    content: "\e085";
}

.glyphicon-list-alt:before {
    content: "\e032";
}

.glyphicon-remove-circle:before {
    content: "\e088";
}

.glyphicon-ok-circle:before {
    content: "\e089";
}

.glyphicon-align-justify:before {
    content: "\e055";
}

.glyphicon-exclamation-sign:before {
    content: "\e101";
}

.glyphicon-remove:before {
    content: "\e014";
}

.glyphicon-home:before {
    content: "\e021";
}

.glyphicon-search:before {
    content: "\e003";
}

.glyphicon-bullhorn:before {
    content: "\e122";
}

.glyphicon-time:before {
    content: "\e023";
}

.glyphicon-glyphicon-list:before {
    content: "\e056";
}

.glyphicon-user:before {
    content: "\e008";
}

.glyphicon-plus:before {
    content: "\2b";
}

.glyphicon-remove-sign:before {
    content: "\e083";
}

.glyphicon-chat:before {
    content: "\e201";
}

.glyphicon-announcement:before {
    content: "\e202";
}

.glyphicon-card:before {
    content: "\e203";
}

.glyphicon-bill:before {
    content: "\e204";
}

.glyphicon-custom-service:before {
    content: "\e205";
}

.glyphicon-deposit:before {
    content: "\e206";
}

.glyphicon-bonus:before {
    content: "\e207";
}

.glyphicon-messages:before {
    content: "\e208";
}

.glyphicon-problem:before {
    content: "\e209";
}

.glyphicon-wallet:before {
    content: "\e210";
}

.glyphicon-withdraw:before {
    content: "\e211";
}

.glyphicon-transfer:before {
    content: "\e212";
}

.glyphicon-password:before {
    content: "\e213";
}

.glyphicon-sport:before {
    content: "\e216";
}

.glyphicon-casino:before {
    content: "\e214";
}

.glyphicon-games:before {
    content: "\e217";
}

.glyphicon-lotto:before {
    content: "\e215";
}

.glyphicon-bell:before {
    content: "\e123";
}
.glyphicon-refresh:before {
    content: "\e031";
}






































/* 原生共用元件 */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font: 13px/1.5 PingFang TC, Microsoft YaHei, tahoma, arial, Hiragino Sans GB, sans-serif;
    letter-spacing: 1px;
    padding-top: 56px;
    padding-bottom: 48px;
    background: #eee;
    font-size: 14px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    animation: page-in .8s;
    -webkit-animation: page-in .8s;
}

.page-in {
    animation: page-in .8s;
    -webkit-animation: page-in .8s;
}

@-webkit-keyframes page-in {
    from {
        opacity: 0;
        /* transform: translateX(100%); */
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    to {
        opacity: 1;
        /* transform: translateX(0px); */
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes page-in {
    from {
        opacity: 0;
        /* transform: translateX(100%); */
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    to {
        opacity: 1;
        /* transform: translateX(0px); */
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.page-out {
    animation: page-out .8s;
    -webkit-animation: page-out .8s;
    opacity: 0;
    /* -webkit-animation-fill-mode: forwards; */
}

@-webkit-keyframes page-out {
    from {
        opacity: 1;
        /* transform: translateX(0); */
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        opacity: 0;
        /* transform: translateX(-100%); */
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
}

@keyframes page-out {
    from {
        opacity: 1;
        /* transform: translateX(0); */
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        opacity: 0;
        /* transform: translateX(-100%); */
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    border: none;
    margin: 0;
    clear: both;
}

hr.line {
    border-top: 1px solid #ddd;
    height: 1px;
}

hr.dashed {
    clear: both;
    border-top: 1px dashed #ddd;
}

hr.gap {
    margin: 0 0 8px 0;
}



.decimal {
    list-style-type: decimal;
    padding-left: 24px;
}

input,
select {
    font: 16px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, sans-serif;
    outline: none;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    width: 100%;
    height: 48px;
    padding: 0 10px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #fafafa;
}

input:focus,
select:focus {
    border-color: #FFB80C;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .3);
}

input:disabled,
select:disabled {
    background: #ddd;
}

input::-webkit-input-placeholder {
    color: #999;
}

input::-moz-placeholder {
    color: #999;
}

input:-ms-input-placeholder {
    color: #999;
}

input:-moz-placeholder {
    color: #999;
}

table {
    display: table;
    width: 100%;
}

tr {
    display: table-row;
}

th,
td {
    display: table-cell;
    vertical-align: middle;
}

h1,
.h1 {
    font-size: 56px;
}

h2,
.h2 {
    font-size: 32px;
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 20px;
}

h5,
.h5 {
    font-size: 16px;
}













































/* 新增class共用文件 */

.hidden {
    overflow: hidden;
}

.container {
    padding: 0 16px;
}

.visible-inline-block {
    display: inline-block;
}

.padding-top-0,
.content.padding-top-0 {
    padding-top: 0;
}

.padding-gap-8 {
    margin: 0 -4px;
}

.padding-gap-8>div {
    padding: 0 4px;
}

.margin-top-16 {
    margin-top: 16px;
}

.margin-top-24 {
    margin-top: 24px;
}

.margin-bottom-8 {
    margin-bottom: 8px;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none;
}

.bold {
    font-weight: bold;
}

.icon24 {
    width: 24px;
    height: 24px;
    border: 1px solid #1e1e1e;
    border-radius: 12px;
    display: inline-block;
}

.icon18 {
    width: 18px;
    height: 18px;
    border: 1px solid #1e1e1e;
    border-radius: 9px;
    display: inline-block;
}

.clear {
    clear: both;
}

.text-center-middle{
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-info {
    color: #999;
}

.text-warning,
.text-notice {
    color: #f60c22;
}

.text-primary {
    color: #FFB80C;
}

.backgrond-color-1 {
    background: #fafafa;
}

.btn {
    border-radius: 3px;
    background: #ffb80c;
    color: #1e1e1e;
    padding: 0 24px;
    text-align: center;
    line-height: 48px;
    display: inline-block;
    width: 100%;
    font-size: 16px;
}

.btn-round,
.btn-round-2 {
    border-radius: 12px;
    line-height: 24px;
    padding: 0;
}

.btn-round-2 {
    width: auto;
    padding: 0 16px;
}

.btn:active {
    background: #FFC73F;
}

.btn-loading {
    color: #FFEAB8;
}

.btn-loading:before {
    content: "";
    width: 16px;
    height: 16px;
    border: 4px solid #FFEAB8;
    border-top-color: #FFB80C;
    margin-right: 8px;
    animation: rotating 1s infinite;
    -webkit-animation: rotating 1s infinite;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
}


@keyframes rotating {
    from {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotating {
    from {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

.btn-black {
    background: #1e1e1e;
    color: #fff;
}

.btn-black:active {
    background: #5B5B5B;
}

.btn-black.btn-loading {
    color: #666;
}

.btn-black.btn-loading:before {
    border: 4px solid #666;
    border-top-color: #1e1e1e;
}

.btn-case {
    border: 1px solid #ffb80c;
    background: transparent;
}

.btn-disabled {
    background: #aaa;
    color: #666;
    pointer-events: none;
}

.from-warning input,
.from-warning select {
    border: 1px solid #f60c22;
}

.from-input {
    margin-bottom: 8px;
}

.from-input label {
    display: block;
}

.select {
    position: relative;
    vertical-align: middle;
    text-align: left;
    line-height: 48px;
}

.select i {
    position: absolute;
    right: 8px;
    color: #ddd;
}

.select.active i:before {
    content: "\e113";
}

.select ul {
    position: absolute;
    width: 100%;
    top: 100%;
    border-radius: 3px;
    border: 1px solid #DDDDDD;
    background: #fff;
    z-index: 100;
    max-height: 160px;
    margin-top: 8px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .3);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .3);
    overflow-x: hidden;
}

.select ul li {
    padding: 0 10px;
    line-height: 40px;
    height: 40px;
}

.select ul li:hover {
    background: #FFB80C;
    color: #fff;
}

.input-password {
    position: relative;
    margin-right: 80px;
}

.input-password input {
    border-radius: 3px 0 0 3px;
}

.input-password:before {
    content: "";
    width: 0%;
    height: 3px;
    position: absolute;
    bottom: 0px;
}

.input-password.weak:before {
    background: #a03;
    width: 35%;
}

.input-password.fair:before {
    background: #fc3;
    width: 70%;
}

.input-password.strong:before {
    background: #76c261;
    width: 100%;
}

.input-password a {
    display: block;
    text-align: center;
    position: absolute;
    right: -80px;
    top: 0;
    line-height: 48px;
    height: 48px;
    width: 80px;
    border: 1px solid #ddd;
    border-left: none;
    border-radius: 0 3px 3px 0;
    background: #fafafa;
}

.from-verify-password {
    display: inline-block;
}

.from-verify-password>div {
    padding: 0 4px;
    max-width: 64px;
}

.from-verify-password input {
    border: 2px solid #ddd;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    height: 56px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
}

.from-mail {
    border: 2px solid #ddd;
    border-radius: 3px;
    padding: 16px;
    position: relative;
    margin-bottom: 8px;
}

.from-mail:hover {
    border-color: #FFB80C;
}

.from-mail:before {
    content: "";
    position: absolute;
    left: -2px;
    border-style: solid;
    border-width: 10px 0px 10px 10px;
    border-color: transparent transparent transparent #FFB80C;
    top: 18px;
}

.from-checkbox {
    display: inline-block;
    vertical-align: middle;
    /* display: table; */
    width: 100%;
}

.from-checkbox label {
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding-left: 32px;
    margin: 0;
    line-height: 24px;
}

.from-checkbox label input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
    margin: 0;
}

.checkbox-indicator {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background: #ddd;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
    color: #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .25);
}

.from-checkbox label input:checked~.checkbox-indicator {
    background: #FFB80c;
    color: #fff;
}

.from-radio label {
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding-left: 32px;
    margin: 0;
    line-height: 24px;
}

.from-radio label input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 24px;
    height: 24px;
    border: none;
    padding: 0;
    margin: 0;
}

.radio-indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background: #ddd;
    text-align: center;
    border-radius: 12px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .25);
}

.from-radio label input:checked~.radio-indicator {
    background: #FFB80c;
}

.from-radio label input:checked~.radio-indicator:before {
    content: "";
    width: 12px;
    height: 12px;
    background: #ddd;
    display: inline-block;
    margin-top: 6px;
    border-radius: 6px;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.radio-disable label {
    cursor: default;
    color: #ddd
}

.radio-disable .radio-indicator {
    background: #fff;
}

.from-table table {
    width: 100%;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    line-height: 24px;
    text-align: left;
    background: #fafafa;
}

.from-table table td,
.from-table table th {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 8px 16px;
}

.from-table table th {
    background-color: #FFB80C;
}

.nav-box {
    text-align: center;
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
}

.nav-box li {
    color: #666;
    display: inline-block;
    padding: 16px 24px;
    line-height: 16px;
    font-size: 16px;
    position: relative;
    cursor: pointer;
}

.nav-box li.active {
    color: #FFB80c;
}

.nav-box li:before {
    content: "";
    border-bottom: 2px solid #FFB80C;
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -1px;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.nav-box li.active:before {
    left: 0;
    right: 0;
}

.nav-box-white {
    background: #fafafa;
    margin: 0 -16px 8px;
}

.scroll-x {
    white-space: nowrap;
    overflow-y: hidden;
}

.scroll-x li,
.scroll-x>div {
    display: inline-block;
    float: none;
}

.gap-padding-8 {
    margin: 0 -4px
}

.gap-padding-8>div {
    padding: 0 4px 8px;
}

.slide-menu ul {
    padding-left: 48px;
    border-bottom: 1px solid #eee;
}

.slide-menu li,
.slide-menu .item {
    line-height: 48px;
    position: relative;
}

.menu-window-item {
    position: fixed;
    background: #fafafa;
    z-index: 99;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #1e1e1e;
    padding: 16px 16px 72px;
    transform: translateY(200%);
    -ms-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -webkit-transform: translateY(200%);
    -o-transform: translateY(200%);
    transition: all .2s ease;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    overflow-x: hidden;
}

.menu-window-item.active {
    transform: translateY(0%);
    -ms-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -o-transform: translateY(0%);
}

.slide-menu {
    position: relative;
}

.slide-menu li:last-child {
    border-bottom: none;
}

.slide-menu li i {
    position: absolute;
    left: -32px;
    font-size: 24px;
    color: #FFB80C;
}

.slide-menu .product-list {
    display: table;
    width: 100%;
    text-align: center;
    margin: 0 -4px;
}

.slide-menu .product-list>div {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding: 0 4px;
    margin-bottom: 8px;
}

.slide-menu .product-list a {
    background: #eee;
    display: block;
    padding: 8px;
    border-radius: 8px;
    position: relative;
}


.slide-menu .product-list a .product-list-close-icon {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: none;
    color: #fff;
    border-radius: 0 0 8px 0;
    overflow: hidden;
    width: 24px;
    height: 18px;
    font-size: 8px;
    text-align: right;
}

.slide-menu .product-list a .product-list-close-icon i {
    position: relative;
    top: 6px;
    right: 2px;
}

.slide-menu .product-list a .product-list-close-icon:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 18px 24px;
    border-color: transparent transparent #A07100 transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}

.slide-menu .product-list a.active {
    background: #FFB80C;
}

.slide-menu .product-list a.active .product-list-close-icon {
    display: inline-block;
}

.sift-condition-action {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

.loading-item {
    line-height: 22px;
    color: #999;
    text-align: center;
}

.loading-icon {
    content: "";
    width: 16px;
    height: 16px;
    border: 4px solid #999;
    border-top-color: #eee;
    margin-right: 8px;
    animation: rotating2 1s infinite;
    -webkit-animation: rotating2 1s infinite;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
}


@keyframes rotating2 {
    from {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotating2 {
    from {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

.loading-item-finish {
    line-height: 22px;
    text-align: center;
    position: relative;
    color: #999;
}

.loading-item-finish:before {
    content: "";
    border-top: 1px solid #999;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}

.loading-item-finish>span {
    padding: 0 16px;
    background: #eee;
    position: relative;
}
































/* 格線系統 */

.col-1,
.col-2,
.col-25,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    float: left;
    position: relative;
    min-height: 1px;
}

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.66666667%;
}

.col-10 {
    width: 83.33333333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66666667%;
}

.col-7 {
    width: 58.33333333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66666667%;
}

.col-4 {
    width: 33.33333333%;
}

.col-3 {
    width: 25%;
}

.col-25 {
    width: 20%;
}

.col-2 {
    width: 16.66666667%;
}

.col-1 {
    width: 8.33333333%;
}

.demo-grid {
    margin-bottom: 8px;
}

.demo-grid:after {
    content: "";
    display: block;
    clear: both;
}

.demo-grid>div {
    background-color: #ddd;
    line-height: 40px;
    text-align: center;
    padding-bottom: 0;
    border-left: 2px solid #eee;
    color: #999
}

.demo-grid>div:first-child {
    border-left: none;
}



















































/* 頁頭 */

#header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.header {
    background: #ffb80c;
    color: #1e1e1e;
    height: 56px;
    text-align: center;
    -webkit-box-shadow: 0 0 16px rgba(0, 0, 0, .4);
    box-shadow: 0 0 16px rgba(0, 0, 0, .4);
}

.header-1 {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.header-2 {
    background: #e6e6e6;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.header .container {
    height: 100%;
}

.header .container>div {
    height: 100%;
}

.header .top-bar-title {
    display: table;
    width: 100%;
    height: 100%;
}

.header .logo,
.header h4 {
    display: table-cell;
    vertical-align: middle;
    height: 58px;
}

.header .logo img {
    width: 114px;
    height: auto;
    padding-top: 8px;
}

.header a {
    height: 100%;
    display: table;
    position: relative;
    z-index: 1;
}

.header a i,
.header a span {
    display: table-cell;
    vertical-align: middle;
}

.header a i {
    font-size: 20px;
}

.btn-left-menu,
.btn-left-back {
    float: left;
}

.live-chat {
    float: right;
}

.nav {
    overflow: auto;
    position: relative;
    background-color: #303030;
}

.header-member {
    display: table;
    width: 100%;
    background: #FFB80C;
    margin-top: -56px;
    min-height: 112px;
}

.header-member .container {
    display: table-cell;
    vertical-align: middle;
}

.header-member .container>div {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
}

.header-member .member-pic {
    border: 1px solid #1e1e1e;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    text-align: center;
    font-size: 30px;
}

.appdownload-wrap {
    height: 56px;
    background: #1e1e1e;
    width: 100%;
    color: #fafafa;
    position: fixed;
    top: -56px;
    z-index: 999;
    transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.appdownload-wrap a {
    display: inline-block;
    vertical-align: middle;
}

.close-btn-app {
    background: #1e1e1e;
    color: #fff;
    border: 2px solid #fff;
    width: 30px;
    height: 30px;
    line-height: 26px;
    border-radius: 100%;
    font-size: 16px;
    text-align: center;
    margin-right: 16px;
}

.icon-app {
    padding: 4px 0;
    display: inline-block;
    height: 56px;
    vertical-align: middle;
}

.icon-app img {
    height: 48px;
    width: auto;
    display: inline-block;
    margin-right: 16px;
}

.icon-app-info {
    vertical-align: middle;
    display: inline-block;
}

.open-top-message {
    padding-top: 112px;
}

.open-top-message #header {
    top: 56px;
}

.open-top-message .appdownload-wrap {
    top: 0;
}







































/*左側邊欄*/

.slide-menu-left {
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 100;
    transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    opacity: 0;
    animation: slideMenuLeftClose .5s forwards;
    -webkit-animation: slideMenuLeftClose .5s forwards;
    overflow-x: hidden;
}

@keyframes slideMenuLeftClose {
    0% {
        opacity: 1;
        transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -o-transform: translateX(0);
    }
    99% {
        transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -o-transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
}

@-webkit-keyframes slideMenuLeftClose {
    0% {
        opacity: 1;
        transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -o-transform: translateX(0);
    }
    99% {
        transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -o-transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -o-transform: translateX(-100%);
    }
}

.slide-menu-left.active {
    animation: slideMenuLeftOpen .1s forwards;
    -webkit-animation: slideMenuLeftOpen .1s forwards;
}

@keyframes slideMenuLeftOpen {
    0% {
        transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -o-transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

@-webkit-keyframes slideMenuLeftOpen {
    0% {
        transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -o-transform: translateX(0);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        -ms-transform: translateX(0);
        -moz-transform: translateX(0);
        -webkit-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

.slide-menu-left .menu-inner {
    width: 80%;
    min-height: 100%;
    transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    background: #fafafa;
    color: #1e1e1e;
    transition: all .2s ease;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-box-shadow: 5px 5px 5px rgba(6, 0, 1, 0.3);
    box-shadow: 5px 5px 5px rgba(6, 0, 1, 0.3);
}

.slide-menu-left.active .menu-inner {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
}

.slide-menu-left a {
    font-size: 16px;
    display: block;
}

.slide-menu-left .home {
    line-height: 56px;
    padding: 0 16px 0 64px;
    position: relative;
    background-color: #FFB80C;
}

.slide-menu-left .home i {
    position: absolute;
    left: 16px;
    font-size: 24px;
}

.slide-menu-left ul {
    padding-left: 48px;
    border-bottom: 1px solid #eee;
}

.slide-menu-left li,
.slide-menu-left .item {
    line-height: 48px;
    padding: 0 16px;
    position: relative;
}

.slide-menu-left li:last-child {
    border-bottom: none;
}

.slide-menu-left li i {
    position: absolute;
    left: -32px;
    font-size: 24px;
    color: #FFB80C;
}













































/* 廣告 */

.banner-box {
    height: 184px;
    position: relative;
}

.banner-box .item {
    background: url('../images/banner-index-1.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 100%;
    width: 100%;
    position: absolute;
}

.banner-box .item-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px 16px;
    background: rgba(0, 0, 0, .5);
    color: #fff;
}

.banner-box .item-info i {
    float: right;
}












































/* 首頁登入區塊 */

.btn-box-login {
    background: #1e1e1e;
    padding: 8px 0;
    margin-bottom: 8px;
}

.btn-box-login .container>div {
    padding-left: 4px;
}

.btn-box-login .container>div:first-child {
    padding-left: 0;
    padding-right: 4px;
}

.btn-box-login .container>div:first-child .btn {
    background: #fff;
}

.btn-box-login .container .btn {
    line-height: 40px;
}













































/* 內容 */

.content {
    padding: 8px 0 16px;
}

.quick-link {
    margin-bottom: 8px;
    background: #fff;
    margin-left: -16px;
    margin-right: -16px;
    padding: 8px 16px;
}

.quick-link .title-container {
    line-height: 32px;
}

.quick-link .title-container h4 a {
    float: right;
    font-size: 14px;
}

.quick-link .game-title h4 {
    text-align: center;
}

.quick-link .game-title h4 a.back {
    float: left;
}

.quick-link ul {
    white-space: nowrap;
    overflow-y: hidden;
}

.quick-link ul li {
    display: inline-block;
    width: 40%;
    margin-right: 8px;
}

.quick-link ul li:last-child {
    margin-right: 0;
}

.game-item {
    height: 112px;
    position: relative;
    background: url(http://www.bestcasinosites.net/images/live-casino-32red.jpg);
    background-position: 50% 0%;
    background-size: cover;
}

.game-item .game-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #1e1e1e;
    color: #fff;
    padding: 4px 8px;
}

.game-item .jackpot-info {
    position: absolute;
    top: -14px;
    left: 0;
    width: 100%;
    text-align: center;
}

.game-item .jackpot-info p {
    display: inline-block;
    padding: 0 8px;
    line-height: 18px;
    background: #FFB80C;
    color: #1e1e1e;
    font-weight: bold;
    border-radius: 9px;
}

.select-open-item {
    position: fixed;
    background: rgba(0, 0, 0, .9);
    z-index: 101;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: center;
    padding: 16px 16px 72px;
    transform: translateY(200%);
    -ms-transform: translateY(200%);
    -moz-transform: translateY(200%);
    -webkit-transform: translateY(200%);
    -o-transform: translateY(200%);
    transition: all .2s ease;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
}

.select-open-item.active {
    transform: translateY(0%);
    -ms-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -o-transform: translateY(0%);
}

.select-open-item .select-open-info {
    display: table;
    width: 100%;
    height: 100%;
}

.select-open-item .select-open-info .select-open-content {
    display: table-cell;
    vertical-align: middle;
}

.select-open-item .select-open-info h4,
.select-open-item .select-open-info a,
.select-open-item .select-open-info p {
    margin-bottom: 16px;
}

.select-close-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 40px;
    color: #FFB80C;
}

.select-close-btn a {
    display: block;
}

.game-nav .nav-box {
    white-space: nowrap;
    overflow-y: hidden;
    background-color: #ddd;
    padding-bottom: 1px;
}


.game-item-2 {
    text-align: center;
}

.game-item-2 .icon-64 {
    width: 64px;
    height: 64px;
    display: inline-block;
    /* border-radius: 18px;
    background: #FFB80C;
    background: -moz-linear-gradient(135deg, #FFB80C 0, #FF890C 100%);
    background: -webkit-linear-gradient(135deg, #FFB80C 0, #FF890C 100%);
    background: -o-linear-gradient(135deg, #FFB80C 0, #FF890C 100%);
    background: -ms-linear-gradient(135deg, #FFB80C 0, #FF890C 100%);
    background: linear-gradient(135deg, #FFB80C 0, #FF890C 100%); */
}

.game-item-2 .icon-64>img {
    width: 100%;
}

.game-item-2 p {
    font-size: 12px;
    letter-spacing: 0;
}

.game-item-2 .logoicon {
    font-size: 40px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}

.promotion-item {
    background: #fff;
    padding: 8px 8px 16px;
    border: 1px solid #ddd;
}

.promotion-item h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.index-promotion-item {
    border: none;
}

.index-promotion-item .game-item {
    margin: -8px -8px 0;
}

.jackpot-item {
    text-align: center;
    color: #fff;
    background: #1e1e1e;
    padding: 8px;
}

.jackpot-item .dt {}

.jackpot-item .dd i {
    color: #FFB80C;
    padding-left: 8px;
    display: inline-block;
}

.jackpot-item .dd span {
    border: 1px solid #FFB80C;
    width: 16px;
    display: inline-block;
    text-align: center;
    border-radius: 3px;
    font-size: 12px;
}

.member-block-item {
    padding: 16px;
    background: #fafafa;
    margin: 0 -16px 8px;
    font-size: 12px;
}

.member-block-item hr.line {
    margin: 8px -16px 0;
    border-color: #eee;
}

.member-link-item {
    text-align: center;
}

.member-link-item>div {
    padding: 16px 0 8px;
}

.member-link-item a {
    display: block;
    position: relative;
}

.member-link-item a i {
    font-size: 24px;
    display: block;
    background: -webkit-linear-gradient(135deg, #FFB80C 0, #FF890C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-bank-item {
    background: #fafafa;
}

.game-bank-item .container>div {
    text-align: center;
    padding: 8px;
}

.list-item {
    background: #fafafa;
    margin: 0 -16px 8px;
}

.list-item li {
    line-height: 48px;
    min-height: 48px;
    position: relative;
    padding: 0 16px;
    border-bottom: 1px solid #eee;
    font-size: 16px
}

.list-item li a {
    padding-right: 24px;
    display: block;
}

.list-item li a:before {
    position: absolute;
    right: 16px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    content: "\e080";
    color: #999;
}

.list-item li.title {
    border-bottom: none;
    font-weight: bold;
}
.list-item li.title-2 {
    line-height: initial;
    padding-top: 13px;
    padding-bottom: 13px;
    border-bottom: none;
}
.list-item span {
    float: right;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
    font-size: 14px;
}

.list-item span.countdown,
.list-item span.text-notice {
    color: #f60c22;
    font-weight: bold;
}

.list-item-1 {
    background: #fafafa;
    margin: 0 -16px 8px;
}

.list-item-1 li {
    position: relative;
    padding: 8px 16px;
    border-bottom: 1px solid #eee;
    font-size: 16px
}

.list-item-1 li:first-child {
    border-top: 1px solid #eee;
}

.list-item-1 li>div {
    float: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: -5px;
}

.list-item-1 li span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    width: 100%;
    display: block;
    height: 21px;
}

.list-item-1 li i {
    text-align: center;
    border-radius: 50%;
    font-size: 20px;
}

.list-item-1 li i.glyphicon-ok-circle {
    color: #008000;
}

.list-item-1 li i.glyphicon-remove-circle {
    color: #c93636;
}
.list-item-1 li i.glyphicon-refresh {
    color: #999;
}
.list-item-2 {
    background: #fafafa;
    margin: 0 -16px;
}

.list-item-2>ul>li {
    line-height: 56px;
    min-height: 56px;
    position: relative;
    padding: 0 16px;
    border-bottom: 1px solid #e1e1e1;
    font-size: 16px
}

.list-item-2>ul>li>a {
    padding-right: 24px;
    display: block;
}

.list-item-2>ul>li>a:before {
    position: absolute;
    right: 16px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    content: "\e114";
    color: #999;
}

.list-item-2>ul>li.active>a:before {
    content: "\e113";
}

.list-item-2 h5 {
    line-height: initial;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    height: 56px;
}

.list-item-2 .read {
    color: #aaa;
}

.list-item-2 span {
    display: block;
    font-size: 14px;
    color: #999;
}

.list-item-2 .message-item {
    line-height: initial;
    color: #999;
    background: #f6f6f6;
    margin: 0 -16px;
    padding: 16px;
    border-top: 1px solid #e1e1e1;
    display: none;
}

.list-item-2 .message-item p {
    margin-bottom: 16px;
}

.list-item-2 li.active .message-item {
    display: block;
}

.message-item ol {
    list-style-type: decimal;
    padding-left: 32px;
    font-size: 14px;
}

.message-item ol li {
    margin-bottom: 8px;
}

.title-item {
    text-align: center;
    margin: 0;
}

.title-item h5 {
    color: #FFB80C;
}

.title-item h2 {
    font-weight: bold;
    margin-top: -8px;
    font-size: 40px;
}

.payment-qrcode-item {
    padding: 8px 0;
    height: 96px;
    line-height: initial;
    font-size: 12px;
}

.payment-qrcode-item>div {
    height: 100%;
    text-align: left;
}

.payment-qrcode-item>div:first-child {
    text-align: center;
}

.payment-qrcode-item img {
    width: auto;
    height: 100%;
}

.bankcard-item {
    /* border: 2px dashed #aaa; */
    padding: 8px 16px;
    height: 160px;
    border-radius: 8px;
    display: table;
    width: 100%;
    background: #FFB80C;
    position: relative;
    color: #fff;
    margin-bottom: 16px;
}

.bankcard-item.newcard {
    border: 2px dashed #aaa;
    color: #1e1e1e;
    background: transparent;
}

.bankcard-info {
    display: table-cell;
    vertical-align: middle;
}

.bankcard-info h3 {
    font-weight: bold;
    margin-bottom: 4px;
}

.bankcard-info h4 span {
    float: right;
    font-size: 80%;
    line-height: 30px;
}

.bankcard-info h4 i {
    font-size: 16px;
    margin-right: 4px;
}

.bankcard-item .btn-close {
    position: absolute;
    font-size: 24px;
    right: -8px;
    top: -8px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background: #1e1e1e;
    color: #fff;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
}

.bankcard-item .btn-close>a {
    display: block;
}

.bonus-list-img img {
    width: 100%;
    height: auto;
    margin-bottom: -14px;
}

.mc-bonus-content h5 {
    margin-top: 8px;
}

.popup-wrap {
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    content: '';
    background: rgba(0, 0, 0, 0.85);
    z-index: 999;
}

.popup-box {
    width: 80%;
    padding: 8px 16px;
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    background: #fff;
    text-align: center;
}

.popup-sign {
    background: #FFB80C;
    color: #fafafa;
    font-size: 80px;
    text-align: center;
    padding: 8px 0;
    margin: -8px -16px 0;
}

.popup-content {
    padding: 16px 0;
}

.popup-black {
    background: rgba(0, 0, 0, .5);
    color: #fafafa;
    width: 160px;
}

.close-btn {
    position: absolute;
    font-size: 24px;
    right: -16px;
    top: -16px;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background: #fff;
    color: #1e1e1e;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
}

.close-btn-black {
    background: #1e1e1e;
    color: #fff;
    border: 2px solid #fff;
    line-height: 30px;
}

.transform-in,
.transform-out {
    display: block;
    -webkit-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

.transform-in {
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
}

.transform-out {
    -webkit-transform: translate(-50%, -50%) scale(0.5);
    transform: translate(-50%, -50%) scale(0.5);
}























/* 頁底 */

.footer {
    background: #333;
    color: #999;
    padding: 16px 0;
    font-size: 12px;
    text-align: center;
}

.footer .select {
    width: 75%;
    display: inline-block;
    margin-bottom: 8px;
}

.footer .select select {
    background: transparent;
    color: #999;
    border-color: #999;
}

.footer .select i {
    color: #999;
}

.link-box {
    margin-bottom: 8px;
}

.link-box a {
    padding: 0 4px;
    border-right: 1px solid #999;
}

.link-box a:last-child {
    border: none;
}

.notifications-wrap {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 48px;
    background: #ffffff;
    color: #999;
    margin: 8px;
    padding: 8px;
    opacity: 0;
    z-index: 5;
    border-radius: 8px;
}

.notifications-wrap i.glyphicon-bell {
    background: #FFB80C;
    color: #fff;
    text-align: center;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin-right: 8px;
}

.notifications-wrap h5 {
    color: #333;
}

.notifications-wrap p {
    font-size: 12px;
    padding-left: 32px;
}

.notifications-wrap h5 p {
    display: inline-block;
    float: right;
    line-height: 24px;
}

.message-in {
    animation: message-in .8s forwards;
    -webkit-animation: message-in .8s forwards;
}

@-webkit-keyframes message-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(120%);
        transform: translateY(120%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

@keyframes message-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(120%);
        transform: translateY(120%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}

.message-out {
    animation: message-out .8s forwards;
    -webkit-animation: message-out .8s forwards;
}

@-webkit-keyframes message-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(120%);
        transform: translateY(120%);
    }
}

@keyframes message-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(120%);
        transform: translateY(120%);
    }
}





































/* 頁底快捷欄 */

.nav-bottom {
    text-align: center;
    height: 48px;
    position: fixed;
    bottom: 0;
    z-index: 6;
    width: 100%;
    color: #999999;
    background: #f1f1f1;
}

.nav-bottom a {
    display: block;
}

.nav-bottom ul {
    display: table;
    width: 100%;
}

.nav-bottom ul li {
    width: 20%;
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    position: relative;
}

.nav-bottom ul li.active {
    color: #F60C22;
}

.nav-bottom ul li i {
    display: block;
    font-size: 20px;
    margin-bottom: -6px;
}

.nav-bottom ul li span,
.redboll {
    width: 18px;
    height: 18px;
    background: #F60C22;
    display: inline-block;
    position: absolute;
    top: -4px;
    right: 8px;
    border-radius: 100%;
    color: #fff;
    text-align: center;
}

.wallet-wrap {
    background: #FFB80C;
    text-align: center;
    margin: -8px -16px 0;
    padding: 40px 0;
}

.wallet-wrap h1 {
    margin-bottom: 8px;
}

.wallet-wrap h1 p {
    margin-bottom: -16px;
}

.wallet-wrap p {
    font-size: 14px;
    color: #FFEAB8;
    font-weight: normal;
}

.mc-bonus-img {
    margin: -8px -16px 0;
    background: url('http://cdn.wallpapersafari.com/87/75/15fleF.jpg') no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    padding: 20%;
}

.mc-bonus-content {
    margin-top: 16px;
    color: #1e1e1e;
}

.mc-bonus-content h3 {
    margin-bottom: -4px;
}

























/* demo暫時使用 */

.game-item.game {
    background-image: url(http://www.kerching.com/img/games-page/Games/slider/gorilla-go-wild-1.jpg);
}

.game-item.lotto {
    background-image: url(http://swtours.nl/wp-content/uploads/2016/10/Gooise-Bingo-Show.jpg);
}

.gameImg .game-item {
    background-image: url(http://www.kerching.com/img/games-page/Games/slider/gorilla-go-wild-1.jpg);
}

.lottoImg .game-item {
    background-image: url(http://hs589.com/images2/lottery-bbin.jpg);
    background-position: 50% 100%;
}

.banner-box .item.casino {
    background-image: url(../images/banner-casino.jpg);
}

.banner-box .item.lotto {
    background-image: url(http://hs589.com/images2/lottery-bbin.jpg);
}

.banner-box .item.game {
    background-image: url(http://www.mgslotgames.com/wp-content/uploads/2015/05/Jurassic-Park-MG_1-620x315.jpg);
}

.game-item.sportImg {
    background-image: url(http://cdn.wallpapersafari.com/87/75/15fleF.jpg);
}








/* 首頁用圖 */

.banner-box .banner-index-1 {
    background-image: url(../images/banner-index-1.jpg);
}

.index-CasinoBBIN {
    background-image: url(../images/CasinoBBIN-baccarat.jpg);
}

.index-CasinoAllBet {
    background-image: url(../images/CasinoAllBet-baccarat.jpg);
}

.index-CasinoAGIN {
    background-image: url(../images/CasinoAGIN-zhajinhua.jpg);
}

.index-CasinoAGQ {
    background-image: url(../images/CasinoAGQ-baccarat.jpg);
}

.index-CasinoGDX {
    background-image: url(../images/CasinoGDX-baccarat.jpg);
}

.index-CasinoEBet {
    background-image: url(../images/CasinoEBet-dragontiger.jpg);
}

.index-CasinoFalo {}





/* 真人娛樂各館圖片 */

.CasinoBBIN-baccarat {
    background-image: url(../images/CasinoBBIN-baccarat.jpg);
}

.CasinoBBIN-roulette {
    background-image: url(../images/CasinoBBIN-roulette.jpg);
}

.CasinoBBIN-sedie {
    background-image: url(../images/CasinoBBIN-sedie.jpg);
}

.CasinoBBIN-niuniu {
    background-image: url(../images/CasinoBBIN-niuniu.jpg);
}

.CasinoAllBet-baccarat {
    background-image: url(../images/CasinoAllBet-baccarat.jpg);
}

.CasinoAllBet-dragontiger {
    background-image: url(../images/CasinoAllBet-dragontiger.jpg);
}

.CasinoAllBet-roulette {
    background-image: url(../images/CasinoAllBet-roulette.jpg);
}

.CasinoAllBet-sicbo {
    background-image: url(../images/CasinoAllBet-sicbo.jpg);
}

.CasinoAGQ-baccarat {
    background-image: url(../images/CasinoAGQ-baccarat.jpg);
}

.CasinoAGQ-dragontiger {
    background-image: url(../images/CasinoAGQ-dragontiger.jpg);
}

.CasinoAGQ-multiplay {
    background-image: url(../images/CasinoAGQ-multiplay.jpg);
}

.CasinoAGQ-roulette {
    background-image: url(../images/CasinoAGQ-roulette.jpg);
}

.CasinoAGIN-niuniu {
    background-image: url(../images/CasinoAGIN-niuniu.jpg);
}

.CasinoAGIN-blackjack {
    background-image: url(../images/CasinoAGIN-blackjack.jpg);
}

.CasinoAGIN-sicbo {
    background-image: url(../images/CasinoAGIN-sicbo.jpg);
}

.CasinoAGIN-zhajinhua {
    background-image: url(../images/CasinoAGIN-zhajinhua.jpg);
}

.CasinoGDX-sicbo {
    background-image: url(../images/CasinoGDX-sicbo.jpg);
}

.CasinoGDX-roulette {
    background-image: url(../images/CasinoGDX-roulette.jpg);
}

.CasinoGDX-baccarat {
    background-image: url(../images/CasinoGDX-baccarat.jpg);
}

.CasinoEBet-drebetontiger {
    background-image: url(../images/CasinoEBet-dragontiger.jpg);
}

.CasinoEBet-sicbo {
    background-image: url(../images/CasinoEBet-sicbo.jpg);
}

.CasinoEBet-roulette {
    background-image: url(../images/CasinoEBet-roulette.jpg);
}

.CasinoEBet-baccarat {
    background-image: url(../images/CasinoEBet-baccarat.jpg);
}


/* 轉場頁面 */
.loading-page{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #FFB80C;
    z-index: 9999;
    overflow: hidden;   
}
.loading-page img{
    width: 50%;
}

/* 橫式自適應RWD */

@media screen and (min-width: 481px) {
    .quick-link .col-6,
    .quick-link .col-12 {
        width: 25%;
    }
    .quick-link ul li {
        width: 25%;
    }
    .lotto-quick-link .col-4 {
        width: 16.66%;
    }
}