@charset "utf-8";

/*------------------- main -------------------*/
.price span {
    width: 100%;
    text-align: left;
    letter-spacing: 1px;
}
.bet-area2 li .margin-right { width: 50%; text-align: left; margin-right: 5px;}
.bet-area2 li .margin-right-2 { width: 12%;}
.right-aside .bet-area2 li input { width: 64px;}
.quickbet-area-wrap .bet-area .name { 
padding: 0 6px 0 0px!important;
width: auto!important;
max-width: 125px!important;
text-align: right;
}
.quickbet-area-wrap .betslip form { padding: 0 6px; width: 100%;}
.quickbet-area-wrap .btn-black a {
margin-top: 5px;
width: 100%;
}
.drop-down-mybet ul { width: 185px; width: 182px\0; max-width: initial; max-width: 182px\0; right: 0;}
.leftmenu > li > a:before {
    top: 8px;
}
.leftmenu li a {
padding-right: 0;
line-height: 18px;
padding-top: 4px;
padding-bottom: 5px;
padding-left: 33px;
}
.leftmenu a, .bet-area .bet-header .name {
    font-size: 12px;
}
.lottery-info .status {
    margin-top: 15px;
}
.lotto-right {
    padding: 24px 1.5px;
}
.lotto-bet li {
    width: 50%;
	padding: 5px 1px 0 1px;
}
.lotto-bet li a {
	height: auto;
    padding: 8px 2px;
}
.lotto-bet li a b {
    font-size:12px;
	padding: 0 1px;
	letter-spacing: -0.7px;
	height: auto;
    line-height: 14px;
}
.lotto-bet li .odds {
    font-size: 13px;
	background: url(../Images/Lotto/001/lotto_odds.png) left -45px no-repeat;
	margin: 0 0 0 2px;
	padding-left: 11px;
}
.lotto-bet li.on .odds,
.lotto-bet li.on .odds, .lotto-bet li a:hover .odds{
background: url(../Images/Lotto/001/lotto_odds.png) left -45px no-repeat;
}
.lotto-option-q li a {
    width: auto;
	min-width: 36px;
    padding: 0 4px;
}
.bet-form .betslip-title a, .bet-form .betslip-title a.active {
    padding-left: 30px;
}
.lotto-option-b li a, .lotto-option.width179 li a {
    padding: 10px 0 10px 6px;
}
.bet-title a b {
	background: url(../Images/GoToWeb-en.png?0801) 0px 0px repeat;
}
.bet-title a:hover b, .bet-title a:active b  { 
	background: url(../Images/GoToWeb-en.png?0801) 0px -24px no-repeat;
}
.lotto-option-b.colorball-s4 b {
    font-size: 14px;
}
.betslip form {
    border-bottom: none;
}
.bet-area .betslip a.highest, .label_check {
    margin: 2px 0 !important;
    display: block;
    float: left;
    width: 100%;
    background: #FFF;
    border: 1px solid #D4D4D4;
    padding: 4px 8px;
    border-radius: 12px;
}
@media screen and (max-width: 1279px) {

.bet-area2 li .margin-right { width: 54%; margin-right: 3px;}
.right-aside .bet-area2 li input { width: 55px;}

}

/*------------------- lotto -------------------*/

.box-1 .lotto-tab li, .box-2 .lotto-tab li { width: auto!important; min-width: 100px!important;}
.box-1 .lotto-tab li a, .box-2 .lotto-tab li a { padding: 7px 10px;}

.w50 { width: 50%;}
.lotto-tab, .lotto-tab-s, .lotto-tab-03 {
  text-align: left;
  padding-left: 5px;
}

a.lb-btn { letter-spacing: 1px}

/*.lotto-record*/
.lotto-record .one { width: 7%;}
.lotto-record .two { width: 8%;}
.lotto-record .three { width: 18%;}
.lotto-record .four { width: 20%;}
.lotto-record .five { width: 22%;}
.lotto-record .six { width: 20%;}
.lotto-record .last { width: 5%;}

.combo-columns-wrap a.submit, .combo-columns-wrap a.cancel { letter-spacing: 1px;}

.lotto-bet li.on a:before { top: -7px}
.lotto-option-q li.on a:before { top: -8px;}

@media only screen and (min-width: 1280px) {
.lotto-right-inner .lotto-bet li {
    width: 50%;
}
.lotto-bet li { width: 100%; border-right: none;}
.box-2 .lotto-option-b li { width: 50%;}
.lotto-option-b li a, .lotto-option.width179 li a {
    padding: 10px 0 10px 4px;
}
}

@media only screen and (min-width: 1680px) {
	
.lotto-bet li { width: 50%; border-right: none;}
.lotto-bet li:nth-child(even) { border-right: none;}

.colorball-s4 b, .colorball-s4 dd {
  margin: 0;
}

.box-2 .lotto-option-b {
  border-bottom: 1px solid;
}

.lotto-bet li a b { padding: 0 0 0 2px!important;}

.lotto-bet li .odds {
font-weight: normal!important;
letter-spacing: -1px;
margin-left: 3px;
padding-left: 10px;
}

.lotto-record .mid { letter-spacing: -1px}
.lotto-record .four { width: 18%;}
.lotto-record .five { width: 21%}
.lotto-record .six { width: 21%}
.lotto-record .last { width: 7%;}

}

@media only screen and (max-width: 1679px) {

.main-content .lotto-right { float: right}	

.lotto-record .mid { display: none}
.lotto-record .one { width: 22%;}
.lotto-record .two { width: 22%;}
.lotto-record .three { width: 42%;}
.lotto-record .last { width: 14%;}

.lotto-tab-03.combo li { width: 22%!important}
.lotto-tab.height65 li a { padding: 7px 0px 0px 2px; height: 96px}
.lotto-tab.height65-zod li a { padding: 13px 0px 13px 6px!important; height: auto}

/*.lotto-bet li:nth-last-child(2) { border-bottom: 1px solid}  hide for Vwin*/

}

@media only screen and (min-width: 1440px) and (max-width: 1679px) {
	
/*.lotto-record { width: 73%}*/

/*.box-3 .lotto-option-b li { padding: 6px 6px 0 5px;}*/
.box-3 .lotto-option-b .colorball-s4 dd { margin: 1px 2px 0 2px;}

.lotto-bet li { padding: 5px 2px 0 2px;}

}
@media only screen and(max-width: 1366px) {
.lotto-bet li { padding: 5px 1px 0 1px;}

}
@media only screen and (max-width: 1439px) {

.lotto-tab-s li { width: 16.5%;}
.lotto-tab.height65 li a { padding: 7px 0px 0px 0px;}

/*title 2column*/
.bet-title { padding: 1px 5px;}
.bet-title h1 { letter-spacing: -0.5px;}
.bet-title h1#h1_SourceTitle { letter-spacing: -1px;}
.countdown { /*max-width: 16%;*/text-align: center;}
.countdown p { left: 5px;}
/*.countdown p { left: -3px;}*/
.countdown-s2 { 
    margin: 3px 3px 0 0;
position: relative;
float: right;
}
.countdown-s2 li {
  white-space: nowrap;
  letter-spacing: -0.5px;
  width: 110px;
}
.countdown b, .countdown-s2 b{  12px;text-align: center; width: 100%;display: block;}

/*title one column*/
/*.lotto-left.w100 .bet-title { padding: 1px 10px}*/
/*.lotto-left.w100 .countdown p { left: 8px}*/
/*.lotto-left.w100 .countdown p { left: -1px}*/
.lotto-left.w100 .bet-title h1 { letter-spacing: 0; margin: 0 0 0 8px;}
/*.lotto-left.w100 .bet-title h1#h1_SourceTitle { letter-spacing: 0;margin: 0 0 0 90px;}*/
.lotto-left.w100 .countdown-s2 { right: auto}
.lotto-left.w100 .countdown { max-width: 14%;}
.bet-title a b {
	width: 54px;
    height: 38px;
	margin: 3px 0 0 0;
	background: url(../Images/GoToWeb-en2.png?0801) 0px 0px repeat;
}
.bet-title a:hover b, .bet-title a:active b  { 
	background: url(../Images/GoToWeb-en2.png?0801) 0px -38px no-repeat;
}
}

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
	
/*.lotto-record { width: 68.5%}*/
.lotto-option-b.colorball-s4 b {
    font-size: 13px;
	padding: 0 8px;
}
.lotto-option-combozod.lotto-option-b.colorball-s4 b {
    font-size: 14px;
}
.width179.large-ball b, .width179.sum b { font-size:12px; padding: 0 5px; min-width: 60px;}
.lotto-option.width179.large-ball li, .lotto-option.width179.sum li { padding-right: 0; padding-left: 5px;}
.lotto-option.large-ball .odds, .lotto-option.sum .odds { margin-left: 3px}
.lotto-option .point {margin-left: 6px}

/*combo zodiac*/
.lotto-option-combozod, .combo-columns-wrap-zod { width: 100%; min-height: auto;}
.lotto-option-combozod li:nth-last-of-type(-n+2) { border-bottom: 1px solid}
.combo-columns-wrap-zod .combo-columns3 { width: 50%; padding: 0 2px; float: left}
.combo-columns-wrap-zod .combo-columns3.last {float: right}
.combo-columns-wrap-zod .combo-columns2, .combo-columns-wrap-zod .combo-columns3 {/*margin-bottom: 0*/}
.combo-columns-wrap-zod .combo-columns2 .td, .combo-columns-wrap-zod .combo-columns3 .td { height: 47px; padding: 10px 0 6px 3px;}
.combo-columns-wrap-zod a.submit, .combo-columns-wrap-zod a.cancel { width: 49.5%}

}

@media only screen and (max-width: 1279px) {
.lotto-tab-03.combo li { width: 25%}	
.box-2 .lotto-option-b li {
  width: 100%;
  border-right: none;
}73

.lotto-option-b li {
    width: 50%;
}
/*.box-3 .lotto-option-b li { padding: 5px 5px 0 4px;}*/
.lotto-option-b li:nth-of-type(3n) { border-bottom: 1px solid}

#div_ZodiacBody .lotto-option-b li:last-of-type { border-bottom: none}

/*.countdown { max-width: 16%;}*/
/*.lotto-left.w100 .countdown-s2 {
  right: 8px;
}*/
/*.lotto-left.w100 .bet-title h1 {
  letter-spacing: -1px;
  margin: 0 0 0 8px;
}*/
.lotto-left.w100 .bet-title h1#h1_SourceTitle {
  letter-spacing: -1px;
  /*margin: 0 0 0 70px;*/
}
.lotto-left.w100 .bet-title#map-00008 h1#h1_SourceTitle {
  margin: 0;
}
/*.lotto-option-b li, 
.lotto-option.width179.large-ball li, 
.lotto-option.width179.sum li {
padding: 7px 7px 0 7px;
}*/

.bet-title.map-00008 .countdown p {
    width: 52px;
}
.bet-title h1#h1_SourceTitle {
    margin: 0 0 0 85px;
}

.colorball-s4.lotto-option-combozod .odds {
    margin: 11px 0 0 4px;
}

.lotto-option.width179 .odds {
    margin: 11px 0 0 3px;
}

}



/*------------------- report -------------------*/

/*reports gameresult*/
.lotto-d { width: 100%}

@media only screen and (min-width: 1280px) {
	
.main-content2 .report-option .drop-down-odds {
  margin-right: 10px;
  width: 207px;
}
	
}

@media only screen and (min-width: 1680px) {
.report-list .table .two { width: 16%;}
.report-list .table .six { width: 14%;}

}

@media only screen and (max-width: 1679px) {

.report-list .table .two { width: 18%;}
.report-list .table .three { width: 41%;}
.report-list .table .five { width: 12%;}

.report-list .table2 .two { width: 20%;}
.report-list .table2 .three { width: 35%;}

/*lotto*/
.report-list table.lotto-five-columns .two { width: 12%}
.report-list table.lotto-five-columns .four { width: 62%}

}

@media only screen and (max-width: 1439px) {

.report-list .table .two { width: 21%;}
.report-list .table .three { width: 35%;}
.report-list .table .six { width: 17%;}

.report-list .table2 .three { width: 29%;}
.report-list .table2 .five { width: 14%;}
.report-list .table2 .six { width: 11%;}

/*lotto*/
.report-list table.lotto-five-columns .two { width: 13%}
.report-list table.lotto-five-columns .four { width: 61%}

}

@media only screen and (max-width: 1279px) {

.main-content2 .report-option .drop-down-odds { width: auto}
.report-option .center, .main-content2 .report-option .drop-down-odds { margin-right: 5px;}
.lotto-tab.height65 li {
    padding: 0 3px 6px 3px;
}
.lotto-tab-s li {
    width: 16.5%;
}
#ul_tab_Gp104_Template.lotto-tab-s li {
    width: auto;
}
.report-list .table .two { width: 27%;}
.report-list .table .three { width: 26%;}
.report-list .table .six { width: 20%;}

.report-list .table2 .two { width: 27%;}
.report-list .table2 .three { width: 22%;}
.report-list .table2 .five { width: 17%;}
.report-list .table2 .six { width: 11%;}
.report-list .table2 .seven { width: 8%;}

/*lotto*/
.report-list table.lotto-five-columns .one { width: 12%;}
.report-list table.lotto-five-columns .two { width: 15%;}
.report-list table.lotto-five-columns .three { width: 16%;}
.report-list table.lotto-five-columns .four { width: 51%;}
.report-list table.lotto-five-columns .five { width: 6%;}

}
