/* Copyright 2025 Johnson */
@import "reset.css";

:root {
    --color-bg-main: #1D1D1F;
    --color-main: #FFFFFF;
    --color-bg-marquee: #E0E0E0;
    --color-marquee: #666666;
    --color-bg-jackpot: #F9F9F9;
    --color-jackpot: #1D1D1F;
    --color-bg-account: #D1D1D6;
    --color-account: #1D1D1F;
    --color-bg-kv: #FAFAFA;
    --color-kv: #6E6E73;
    --color-bg-menu: #1D1D1F;
    --color-menu: #fff;
    --color-bg-card: #E0E0E0;
    --color-card: #666666;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 0.1rem;
}

.mx-width {
    max-width: 480px;
}

.freeze-box {
    position: fixed;
    top: 80px;
    width: 100%;
}

.flex-center>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 80px;
    background: var(--color-bg-main);
    color: var(--color-main);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.kv {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background: var(--color-bg-kv);
    color: var(--color-kv);
    z-index: 1;
}

.main-fix {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 280px;
    z-index: 1;
}

.freezed .main-fix {
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin-top: 0;
    z-index: 3;
}

.marquee {
    height: 20px;
    background: var(--color-bg-marquee);
    color: var(--color-marquee);
}

.jackpot {
    height: 80px;
    background: var(--color-bg-jackpot);
    color: var(--color-jackpot);
}

.account {
    height: 80px;
    background: var(--color-bg-account);
    color: var(--color-account);
}

.scroll-box {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 80px;
    z-index: 1;
    /* display: flex;
    justify-content: center; */
    padding-top: 0;
    overflow: hidden;
}

.freezed .scroll-box {
    background: #fff;
    padding-top: 460px;
    /* header + key visual + main-fix*/
}

.control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    background: var(--color-bg-menu);
}

.freezed .control {
    top: 460px;
    bottom: 0;
    left: 0;
    width: 80px;
    overflow-y: auto;
}

.control ul {
    width: 100%;
}

.control li {
    flex-grow: 1;
    height: 50px;
    color: var(--color-menu);
}

.games {
    float: left;
    background: #fff;
}

.freezed .games {
    width: 100%;
}

.games ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
    padding: 0 8px;
}

.games ul+ul {
    margin-top: 24px;
}

.games li {
    width: calc((100% - 16px*2) / 3);
    aspect-ratio: 3 / 4;
    background: #eee;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 48px;
    background: var(--color-bg-main);
    color: var(--color-main);
    z-index: 99;
}

@media (max-width: 1200px) and (min-width: 992px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}






/*css end*/