.affiliate-content.register.Register {
  background-image: url(../images/affiliate//home_banner2.jpg);
  padding-top: 140px;
  text-align: right; }

.icon-phone {
  background-image: url(../images/affiliate//icon-phone.png); }
