<!-- Header 開始 -->
<div class="row">
	<div class="col-xs-12">
		<div class="header-warp">
			<div class="logo">
				<a href="index.html">LETOU</a>
			</div>
			<div id="icon-navhome" class="nav-right-warp">
				<a href="#right">
					<div class="icon-nav-home blue"></div>
				</a>
			</div>
            <div class="nav-left-warp reddot">
                <a href="#left">
                    <div class="icon-nav-live800 blue"></div>
                </a>
            </div>
		</div>
	</div>
</div>
<!-- Header 結束 -->
<!-- NavHome 開始 -->
<div id="navhomeid" class="row h-100">
    <div class="col-xs-12">
        <div class="header-warp navhome">
            <div class="header-word">
                <h1>选单</h1>
            </div>
            <div id="navhome-back" class="nav-back-warp">
                <a href="#">
                    <p>返回</p>
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 h-100">
        <div class="navhome-warp">
            <div class="menu-warp">
                <ul>
                    <li class="menu-list no-submenu">
                        <a href="index.html">
                            <div class="menu-list-icon icon11"></div>
                            <div class="menu-list-word">回首页</div>
                            <div class="menu-triangle"></div>
                        </a>
                    </li>
                    <li class="menu-list has-submenu">
                        <a href="#">
                            <div class="menu-list-icon icon1"></div>
                            <div class="menu-list-word">体育</div>
                            <div class="menu-triangle"></div>
                        </a>
                    </li>
                    <li class="menu-list no-submenu">
                        <a href="#">
                            <div class="menu-list-icon icon2"></div>
                            <div class="menu-list-word">沙巴体育</div>
                            <div class="menu-triangle"></div>
                        </a>
                    </li>
                    <li class="menu-list no-submenu">
                        <a href="casino.html">
                            <div class="menu-list-icon icon3"></div>
                            <div class="menu-list-word">娱乐场</div>
                            <div class="menu-triangle"></div>
                        </a>
                    </li>
                    <li class="menu-list no-submenu">
                        <a href="slotgame.html">
                            <div class="menu-list-icon icon5"></div>
                            <div class="menu-list-word">小游戏</div>
                            <div class="menu-triangle"></div>
                        </a>
                    </li>
                    <li class="menu-list has-submenu">
                        <a href="#">
                            <div class="menu-list-icon icon6"></div>
                            <div class="menu-list-word">快乐彩</div>
                            <div class="menu-triangle"></div>
                        </a>
                    </li>
                    <li class="menu-list has-submenu">
                        <a href="#">
                            <div class="menu-list-icon icon7"></div>
                            <div class="menu-list-word">乐透彩</div>
                            <div class="menu-triangle"></div>
                        </a>
                    </li>
                    <li class="menu-list has-submenu">
                        <a href="#">
                            <div class="menu-list-icon icon8"></div>
                            <div class="menu-list-word">时时彩</div>
                            <div class="menu-triangle"></div>
                        </a>
                    </li>
                    <li class="menu-list no-submenu">
                        <a href="promotion.html">
                            <div class="menu-list-icon icon9"></div>
                            <div class="menu-list-word">最新优惠</div>
                            <div class="menu-triangle"></div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sub-menu-warp">
                <ul>
                    <li>
                        <a class="sub-menu-list" href="#">
                            <div class="sub-menu-icon icon1"></div>
                            <div class="sub-menu-word">滚球</div>
                            <div class="sub-menu-arrow-warp">
                                <div class="sub-menu-number">23</div>
                                <div class="sub-menu-arrow">
                                    <i class="icon-list-arrow"></i>
                                </div>
                            </div>
                        </a>
                        <!-- 第三層選單 開始 -->
                        <div class="openBox">
                            <ul>
                                <li>
                                    <a href="#">
                                        <div class="sub-menu-word">让球/大小</div>
                                        <div class="sub-menu-arrow-warp">
                                            <div class="sub-menu-number">123</div>
                                            <div class="sub-menu-arrow">
                                                <i class="icon-list-arrow"></i>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <div class="sub-menu-word">1x2(半场&全场)</div>
                                    <div class="sub-menu-arrow-warp">
                                        <div class="sub-menu-number">3</div>
                                        <div class="sub-menu-arrow">
                                            <i class="icon-list-arrow"></i>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="sub-menu-word">单进球/单双(半场)</div>
                                    <div class="sub-menu-arrow-warp">
                                        <div class="sub-menu-number">46</div>
                                        <div class="sub-menu-arrow">
                                            <i class="icon-list-arrow"></i>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="sub-menu-word">最先/最后进球</div>
                                    <div class="sub-menu-arrow-warp">
                                        <div class="sub-menu-number">38</div>
                                        <div class="sub-menu-arrow">
                                            <i class="icon-list-arrow"></i>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- 第三層選單 結束 -->
                    </li>
                    <li>
                        <a class="sub-menu-list" href="#">
                            <div class="sub-menu-icon icon1"></div>
                            <div class="sub-menu-word">足球</div>
                            <div class="sub-menu-arrow-warp">
                                <div class="sub-menu-number">3</div>
                                <div class="sub-menu-arrow">
                                    <i class="icon-list-arrow"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="sub-menu-list" href="#">
                            <div class="sub-menu-icon icon1"></div>
                            <div class="sub-menu-word">篮球</div>
                            <div class="sub-menu-arrow-warp">
                                <div class="sub-menu-number">999</div>
                                <div class="sub-menu-arrow">
                                    <i class="icon-list-arrow"></i>
                                </div>
                            </div>
                        </a>
                        <!-- 第三層選單 開始 -->
                        <div class="openBox">
                            <ul>
                                <li>
                                    <div class="sub-menu-word">让球/大小</div>
                                    <div class="sub-menu-arrow-warp">
                                        <div class="sub-menu-number">123</div>
                                        <div class="sub-menu-arrow">
                                            <i class="icon-list-arrow"></i>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="sub-menu-word">1x2(半场&全场)</div>
                                    <div class="sub-menu-arrow-warp">
                                        <div class="sub-menu-number">3</div>
                                        <div class="sub-menu-arrow">
                                            <i class="icon-list-arrow"></i>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="sub-menu-word">单进球/单双(半场)</div>
                                    <div class="sub-menu-arrow-warp">
                                        <div class="sub-menu-number">46</div>
                                        <div class="sub-menu-arrow">
                                            <i class="icon-list-arrow"></i>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="sub-menu-word">最先/最后进球</div>
                                    <div class="sub-menu-arrow-warp">
                                        <div class="sub-menu-number">38</div>
                                        <div class="sub-menu-arrow">
                                            <i class="icon-list-arrow"></i>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="sub-menu-word">让球/大小</div>
                                    <div class="sub-menu-arrow-warp">
                                        <div class="sub-menu-number">123</div>
                                        <div class="sub-menu-arrow">
                                            <i class="icon-list-arrow"></i>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="sub-menu-word">1x2(半场&全场)</div>
                                    <div class="sub-menu-arrow-warp">
                                        <div class="sub-menu-number">3</div>
                                        <div class="sub-menu-arrow">
                                            <i class="icon-list-arrow"></i>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="sub-menu-word">单进球/单双(半场)</div>
                                    <div class="sub-menu-arrow-warp">
                                        <div class="sub-menu-number">46</div>
                                        <div class="sub-menu-arrow">
                                            <i class="icon-list-arrow"></i>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="sub-menu-word">最先/最后进球</div>
                                    <div class="sub-menu-arrow-warp">
                                        <div class="sub-menu-number">38</div>
                                        <div class="sub-menu-arrow">
                                            <i class="icon-list-arrow"></i>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- 第三層選單 結束 -->
                    </li>
                    <li>
                        <a class="sub-menu-list" href="#">
                            <div class="sub-menu-icon icon1"></div>
                            <div class="sub-menu-word">网球</div>
                            <div class="sub-menu-arrow-warp">
                                <div class="sub-menu-number">188</div>
                                <div class="sub-menu-arrow">
                                    <i class="icon-list-arrow"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="sub-menu-list" href="#">
                            <div class="sub-menu-icon icon1"></div>
                            <div class="sub-menu-word">冰上曲棍球</div>
                            <div class="sub-menu-arrow-warp">
                                <div class="sub-menu-number">388</div>
                                <div class="sub-menu-arrow">
                                    <i class="icon-list-arrow"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="sub-menu-list" href="#">
                            <div class="sub-menu-icon icon1"></div>
                            <div class="sub-menu-word">棒球</div>
                            <div class="sub-menu-arrow-warp">
                                <div class="sub-menu-number">88</div>
                                <div class="sub-menu-arrow">
                                    <i class="icon-list-arrow"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="sub-menu-list" href="#">
                            <div class="sub-menu-icon icon1"></div>
                            <div class="sub-menu-word">排球</div>
                            <div class="sub-menu-arrow-warp">
                                <div class="sub-menu-number">123</div>
                                <div class="sub-menu-arrow">
                                    <i class="icon-list-arrow"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="sub-menu-list" href="#">
                            <div class="sub-menu-icon icon1"></div>
                            <div class="sub-menu-word">美式足球</div>
                            <div class="sub-menu-arrow-warp">
                                <div class="sub-menu-number">456</div>
                                <div class="sub-menu-arrow">
                                    <i class="icon-list-arrow"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="sub-menu-list" href="#">
                            <div class="sub-menu-icon icon1"></div>
                            <div class="sub-menu-word">英式橄榄球</div>
                            <div class="sub-menu-arrow-warp">
                                <div class="sub-menu-number">87</div>
                                <div class="sub-menu-arrow">
                                    <i class="icon-list-arrow"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="sub-menu-list" href="#">
                            <div class="sub-menu-icon icon1"></div>
                            <div class="sub-menu-word">美式足球</div>
                            <div class="sub-menu-arrow-warp">
                                <div class="sub-menu-number">94</div>
                                <div class="sub-menu-arrow">
                                    <i class="icon-list-arrow"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="sub-menu-list" href="#">
                            <div class="sub-menu-icon icon1"></div>
                            <div class="sub-menu-word">英式橄榄球</div>
                            <div class="sub-menu-arrow-warp">
                                <div class="sub-menu-number">123</div>
                                <div class="sub-menu-arrow">
                                    <i class="icon-list-arrow"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="sub-menu-list" href="#">
                            <div class="sub-menu-icon icon1"></div>
                            <div class="sub-menu-word">羽毛球</div>
                            <div class="sub-menu-arrow-warp">
                                <div class="sub-menu-number">123</div>
                                <div class="sub-menu-arrow">
                                    <i class="icon-list-arrow"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="sub-menu-list" href="#">
                            <div class="sub-menu-icon icon1"></div>
                            <div class="sub-menu-word">五人制足球</div>
                            <div class="sub-menu-arrow-warp">
                                <div class="sub-menu-number">123</div>
                                <div class="sub-menu-arrow">
                                    <i class="icon-list-arrow"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="sub-menu-list" href="#">
                            <div class="sub-menu-icon icon1"></div>
                            <div class="sub-menu-word">手球</div>
                            <div class="sub-menu-arrow-warp">
                                <div class="sub-menu-number">123</div>
                                <div class="sub-menu-arrow">
                                    <i class="icon-list-arrow"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="sub-menu-list" href="#">
                            <div class="sub-menu-icon icon1"></div>
                            <div class="sub-menu-word">地板球</div>
                            <div class="sub-menu-arrow-warp">
                                <div class="sub-menu-number">123</div>
                                <div class="sub-menu-arrow">
                                    <i class="icon-list-arrow"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a class="sub-menu-list" href="#">
                            <div class="sub-menu-icon icon1"></div>
                            <div class="sub-menu-word">班迪球</div>
                            <div class="sub-menu-arrow-warp">
                                <div class="sub-menu-number">123</div>
                                <div class="sub-menu-arrow">
                                    <i class="icon-list-arrow"></i>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- NavHome 結束 -->
<script type="text/javascript" src="js/min/custom-nav-min.js"></script><!-- 選單動態