/* Copyright 2025 Johnson */
@import "reset.css";

:root {
    --imageBlock: #abc;
    --bg: #131436;
}


body {
    font-family: 'PingFang SC';
    font-size: 12px;
    letter-spacing: 0.04rem;
    background: var(--bg);
}

i img {
    height: 100%;
    width: auto;
}

.freeze-box {
    position: fixed;
    top: 80px;
    width: 100%;
}

.flex-center>* {
    display: flex;
    justify-content: center;
    align-items: center;
}

a[class^="btn"] {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 16px;
    height: 24px;
    border-radius: 24px;
}

.btn-primary {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.3) 100%);
    color: #fff;
}

.btn-secondary {
    color: #86879A;
    border: 1px solid #86879A;
}

.btn-account {
    padding: 0px 8px !important;
    height: 24px;
    background: linear-gradient(180deg, #737486, #9a9ab2);
    box-shadow: inset 0.5px 0.5px 0px #9393B4;
    border-radius: 12px;
    color: #131437;
    font-weight: 600;
}

/* Header  */

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    width: 100%;
    height: 44px;
    background: var(--bg);
    color: #fff;
    z-index: 2;
}

.header .lf,
.header .rt {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header .rt a {
    margin-right: 8px;
}

.header i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    background: var(--imageBlock);
}

.header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    height: 100%;
    width: 120px;
    background: var(--imageBlock);
}

/* Key visual  */

.kv {
    position: fixed;
    top: 44px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 124px;
    color: #fff;
    z-index: 1;
}

/* Main-fix  */
.main-fix {
    position: relative;
    margin-top: 168px;
    /* header + key visual */
    z-index: 1;
}

.freezed .main-fix {
    position: fixed;
    top: 44px;
    width: 100%;
    margin-top: 0;
    z-index: 3;
}

/* Main-fix qarquee  */
.qarquee {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 22px;
    background: var(--bg);
    color: #fff;
}

.qarquee:before {
    content: "";
    position: absolute;
    top: 0;
    right: 16px;
    left: 16px;
    height: 100%;
    border-radius: 22px;
    border: 1px solid transparent;
    background-image: linear-gradient(to right, rgba(255, 255, 255, .6), rgba(255, 255, 255, .4));
    background-origin: border-box;
    mask-image: linear-gradient(white, white), linear-gradient(white, white);
    mask-composite: exclude, add;
    mask-clip: padding-box, border-box;
}

.qarquee i {
    position: relative;
    display: inline-block;
    margin-left: 6px;
    margin-right: 4px;
    height: 12px;
    width: 12px;
    background: var(--imageBlock);
    z-index: 1;
}

/* Main-fix account + jackpot */

.account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 12px;
    padding-right: 16px;
    padding-left: 16px;
    background: var(--bg);
    color: #fff;
}

.account .lf {
    display: flex;
    align-items: center;
    justify-content: center;
}

.account a+a {
    margin-left: 6px;
}

.account a i {
    display: inline-block;
    margin-right: 2px;
    width: 16px;
    height: 16px;
    background: var(--imageBlock);
}

.menu {
    height: 96px;
}

.menu ul {
    display: flex;
    flex-flow: nowrap;
    padding-top: 12px;
    height: 62px;
    background: var(--bg);
    overflow-x: auto;
}

.menu ul::-webkit-scrollbar {
    display: none;
    /* Chrome / Safari */
}

.menu li {
    display: flex;
    justify-content: center;
    flex: 0 0 calc(100% / 6);
    height: 100%;
}

.menu li div {
    display: flex;
    align-items: end;
    height: 100%;
    min-width: 36px;
    background: var(--imageBlock);
    font-size: 11px;
    color: rgba(255, 255, 255, .7);
}

.menu li.active div {
    color: rgba(255, 255, 255, 1);
}

.scroll-box {
    position: relative;
    z-index: 1;
    /* display: flex;
    justify-content: center; */
    padding-top: 0;
    overflow: hidden;
}

.freezed .scroll-box {
    background: var(--bg);
    /* padding-top: 540px; */
    /* header + key visual + main-fix*/
}

/* Game */
.games {
    padding: 0 16px 74px;
}

.freezed .games {
    width: 100%;
}

.games .group .headline {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    height: 16px;
    color: #fff;
    font-weight: 600;
}

.games ul {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    width: 100%;
}

.games ul+ul {
    margin-top: 24px;
}

.games li {
    padding-top: 46.3%;
    width: calc((100% - 24px) / 3);
    background: var(--imageBlock)
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 56px;
    background: #666;
    color: #fff;
    z-index: 99;
}

@media (max-width: 1200px) and (min-width: 992px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}






/*css end*/