/* Copyright 2025 Johnson */
@import "reset.css";

@font-face {
    font-family: "DINPro";
    src: url("../fonts/dinpro_medium.eot");
    /* IE9*/
    src: src: url('../fonts/dinpro_medium.woff2') format('woff2'),
        /* 先載入 WOFF2，最佳效能 */
        url('../fonts/dinpro_medium.woff') format('woff'),
        /* 備用 WOFF */
        url('../fonts/dinpro_medium.ttf') format('truetype');
    /* 最後載入 TTF */
}

:root {
    --body-bg-color: #f9f9f9;
    --block-bg-color: #abc;
    --jackpot-bg-color: #fff;
    --shadow: 0px 5px 10px rgba(126, 119, 108, 0.12), 0px 1px 3px rgba(126, 119, 108, 0.1);
    --border1: 1px solid #eee;
    --kv-bg-color: #F9F9F9;
    --mx-width: 400px;
    /* --scale-factor: calc(100vw / 300); */
    /* font-size: 12px; */
    /* font-size: calc(12px * var(--scale-factor)); */
    font-size: calc((100vw / 300) * 12);
}

body {
    background-color: var(--body-bg-color);
    font-family: "Noto Sans CJK", sans-serif;
    font-size: 12px;
    font-size: 1rem;
    color: #7E776C;
    letter-spacing: 0.05em;
}

.mx-width {
    max-width: var(--mx-width);
}

/* Header  */

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: var(--mx-width);
    height: 40px;
}

.header-left,
.header-right {
    width: calc((100% - 168px) / 2);
}

.header-left {
    padding: 6px 18px;
    height: 100%;
    background-color: var(--jackpot-bg-color);
    border-bottom: var(--border1);
}

.header-left .logo {
    position: relative;
    height: 100%;
    width: 80px;
    width: 6rem;
    z-index: 3;
}

.header-left .logo i {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: var(--block-bg-color);
}

.header-right {
    height: 100%;
    padding: 6px 18px;
    background-color: var(--jackpot-bg-color);
    border-bottom: var(--border1);
}

.header-right .system-box {
    float: right;
    height: 28px;
}

.header-right .system-box i {
    display: inline-block;
    width: 28px;
    width: 2.33rem;
    height: 28px;
    height: 2.33rem;
}

.header-middle {
    position: relative;
    width: 168px;
    height: 12px;
    background-color: var(--jackpot-bg-color);
}


/* trapezoid  */

.header-trapezoid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.header-trapezoid-mid {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 108px;
    height: 100%;
    border-bottom: var(--border1);
    z-index: 1;
}

.header-trapezoid-left,
.header-trapezoid-right {
    position: relative;
    top: 14px;
    background-color: #fff;
    height: 26px;
    width: 24px;
    z-index: 2;
}

.header-trapezoid-left {
    float: left;
    left: -8px;
    border-radius: 0px 0px 6px 0;
    transform: skewX(-30deg);
    border-bottom: var(--border1);
    border-right: var(--border1);
}

.header-trapezoid-left:before,
.header-trapezoid-left:after {
    content: "";
    position: absolute;
    top: -3px;
    right: -7px;
    width: 6px;
    height: 6px;
}

.header-trapezoid-left:before {
    background-color: var(--jackpot-bg-color);
    width: 32px;
}

.header-trapezoid-left:after {
    border-radius: 6px 0 0 0;
    background-color: var(--kv-bg-color);
    border-top: var(--border1);
    border-left: var(--border1);
}

.freezed .header-trapezoid-left:after {
    background-color: var(--body-bg-color);
}

.header-trapezoid-right {
    float: right;
    right: -8px;
    transform: skewX(30deg);
    border-radius: 0 0 0px 6px;
    border-bottom: var(--border1);
    border-left: var(--border1);
}

.header-trapezoid-right:before,
.header-trapezoid-right:after {
    content: "";
    position: absolute;
    top: -3px;
    left: -7px;
    width: 6px;
    height: 6px;
}

.header-trapezoid-right:before {
    width: 32px;
    background-color: var(--jackpot-bg-color);
}

.header-trapezoid-right:after {
    border-radius: 0 6px 0 0;
    background-color: var(--kv-bg-color);
    border-top: var(--border1);
    border-right: var(--border1);
}

.freezed .header-trapezoid-right:after {
    background-color: var(--body-bg-color);
}

/* Kv  */
.kv-box {
    /* position: relative; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-width: var(--mx-width);
    height: 216px;
    background-color: #f9f9f9;
}

.kv-box img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
}

.freezed .kv-box {}

.marquee-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.65);

}

.marquee-box i {
    margin-left: 18px;
    margin-right: 4px;
    width: 14px;
    height: 12px;
    background: transparent url(../image/icon-marquee.png) no-repeat center center / 100% 100%;
}

.marquee-container {
    width: calc(100% - 36px);
    white-space: nowrap;
    overflow: hidden;
}

.marquee-container .marquee {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* Main  */
main {
    position: relative;
    background-color: var(--body-bg-color);
    padding: 0 18px;
    margin-top: 216px;
}

.freezed main {
    /* padding-top: 418px; */
    margin-top: 0;
}

.freeze-box {
    position: relative;
}

.freezed .freeze-box {
    position: fixed;
    top: 33px;
    left: 0;
    width: 100%;
    max-width: var(--mx-width);
    padding: 0 18px;
    /* background-color: var(--body-bg-color); */
}

/* Main - Jackpot  */

.jackpot-box {
    position: relative;
    top: -8px;
    margin-bottom: 4px;
}

.jackpot-trapezoid {
    position: relative;
    bottom: -1px;
    display: flex;
    justify-content: center;
    height: 27px;
    overflow: hidden;
}

.jackpot-trapezoid-mid {
    position: relative;
    float: left;
    width: 108px;
    height: 100%;
    background-color: var(--jackpot-bg-color);
    z-index: 1;
    border-top: var(--border1);
}

.jackpot-trapezoid-left,
.jackpot-trapezoid-right {
    float: left;
    position: relative;
    background-color: var(--jackpot-bg-color);
    height: 100%;
    width: 24px;
}

.jackpot-trapezoid-left {
    right: -12px;
    border-radius: 6px 0px 0px 0;
    transform: skewX(-30deg);
    border-top: var(--border1);
    border-left: var(--border1);
}

.jackpot-trapezoid-left:before,
.jackpot-trapezoid-left:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -7px;
    width: 6px;
    height: 6px;
}

.jackpot-trapezoid-left:before {
    background-color: var(--jackpot-bg-color);
    width: 32px;
}

.jackpot-trapezoid-left:after {
    border-radius: 0 0 6px 0;
    background-color: var(--body-bg-color);
    border-right: var(--border1);
    border-bottom: var(--border1);
}


.jackpot-trapezoid-right {
    left: -12px;
    transform: skewX(30deg);
    border-radius: 0px 6px 0px 0;
    border-top: var(--border1);
    border-right: var(--border1);
}

.jackpot-trapezoid-right:before,
.jackpot-trapezoid-right:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -7px;
    width: 6px;
    height: 6px;
}

.jackpot-trapezoid-right:before {
    background-color: var(--jackpot-bg-color);
    width: 32px;
}

.jackpot-trapezoid-right:after {
    border-radius: 0 0 0 6px;
    background-color: var(--body-bg-color);
    border-left: var(--border1);
    border-bottom: var(--border1);
}

.jackpot-main {
    padding: 12px;
    border-radius: 12px;
    width: 100%;
    background-color: var(--jackpot-bg-color);
    box-shadow: var(--shadow);
    border-top: var(--border1);
}

/* Main - jackpot - account-box  */


.jackpot-info {
    position: relative;
    margin-bottom: 12px;
}

.jackpot-info .headline {
    position: absolute;
    top: -27px;
    left: 50%;
    transform: translateX(-50%);
    width: 125px;
    height: 19px;
    background: transparent url(../image/jackpot-headline.png) no-repeat center center / cover;
}

.account-box {
    overflow: hidden;
}

.trade-box {
    float: left;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

}

.trade-box li {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-size: 11px; */
    font-size: 1rem;
    color: #000;
}

.trade-box li i {
    display: inline-block;
    margin-bottom: 4px;
    width: 32px;
    height: 32px;
    background-color: #abc;
}

.jackpot-info .number {
    position: relative;
    height: 40px;
    /* background: transparent url(../image/jpBgAll.png) no-repeat center center / auto 100%; */
}

.jackpot-info .number span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    float: left;
    padding-bottom: 4px;
    width: 24px;
    height: 40px;
    background: transparent url(../image/jpbgNoShadow.png) no-repeat center center / 100% 100%;
    font-family: 'DINPro';
    font-size: 30px;
    font-size: 2.5rem;
    /* font-weight: bold; */
    color: #000;
    width: calc((100% - 66px) / 10);
}

.jackpot-info .number span+span {
    margin-left: 6px;
}

.jackpot-info .number span.spec {
    padding-top: 5%;
    width: calc((100% - 66px) / 10 / 3);
    background: none;
}

.info-box {
    float: right;
    width: 50%;
}

.info-box .info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 8px;
}

.account-box .lv {
    margin-right: 8px;
    width: 44px;
    height: 16px;
    background-color: #abc;
}

.account-box .amount {
    display: flex;
    align-items: center;
    font-family: 'DINPro';
    /* font-size: 24px; */
    font-size: 24px;
    font-size: 2rem;
    color: #D0925D;
}

.account-box .amount .lang {
    display: inline-block;
    margin-right: 4px;
    border-radius: 4px;
    width: 26.67px;
    height: 20px;
    background-color: #abc;
}

.account-box .amount span {
    width: calc(100% - 54.67px);
    text-overflow: ellipsis;
    overflow: hidden;
}

.account-box .refresh {
    display: inline-block;
    margin-left: 4px;
    width: 20px;
    height: 20px;
    background-color: #abc;
}

/* Main - tags */

.tags-box {
    margin-bottom: 12px;
    height: 40px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: var(--shadow);
}

.tags-box ul {
    display: flex;
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    padding: 8px;
}

.tags-box li {
    flex-grow: 1;
    display: flex;
    align-items: center;
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    justify-content: center;
    transition: .3s;
}

.tags-box li div {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 0 4px;
    /* padding: 0 34px; */
    height: 28px;
    transition: .3s;
}

.tags-box li.active div {
    background-color: #F6F5F3;
}

.tags-box li i {
    display: inline-block;
    margin-right: 4px;
    width: 0;
    height: 0;
    background-color: #abc;
    border-radius: 100%;
    transition: .3s;
    visibility: hidden;
}

.tags-box li.active i {
    visibility: visible;
    width: 26px;
    height: 26px;
}

/* Main - games-box */
.games-box-top {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 242px;
    padding: 0 18px;
    background-color: var(--body-bg-color);
    z-index: 1;
    transition: .3s;
}

.freezed .games-box-top {
    display: block;
}

.games-box {
    padding-bottom: 46px;
}

.games-box ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 100%;
}

.games-box li {
    display: inline-block;
    position: relative;
    padding-top: calc((100% - 32px) / 3 * 1.58);
    border-radius: 12px;
    width: calc((100% - 32px) / 3);
    background-color: #fff;
    box-shadow: var(--shadow);
}

.games-box li img {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
}

.games-box p {
    padding: 40px 0;
    text-align: center;
}

/* navigation bottom */
.nav-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* height: 46px; */
    border-radius: 8px 8px 0 0;
    border: 1px solid #E8E8E8;
    background-color: #F9F9F9;
}

.nav-bottom ul {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0;
    width: 100%;
}

.nav-bottom li {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    /* width: 20%; */
}

.nav-bottom li.active {
    color: #D0925D;
}

.nav-bottom li i {
    width: 24px;
    height: 24px;
    transition: .3s;
}


/* z-index */

header {
    z-index: 10;
}

.kv-box {
    z-index: 1;
}

main {
    z-index: 2;
}

.freeze-box {
    z-index: 20;
}

.jackpot-box {
    z-index: 11;
}

.jackpot-info {
    z-index: 21;
}

.nav-bottom {
    z-index: 99;
}

/* Register/Login  */

/* icon */
.header-left .logo i {
    background: transparent url(../image/logo.png) no-repeat left center / 100% auto;
}

.system-box .icon-download {
    background: transparent url(../image/icon-download.png) no-repeat left center / cover;

}

.system-box .icon-system {
    background: transparent url(../image/icon-system.png) no-repeat left center / cover;
}

.trade-box .icon-deposit {
    background: transparent url(../image/icon-deposit.png) no-repeat left center / cover;
}

.trade-box .icon-transfer {
    background: transparent url(../image/icon-transfer.png) no-repeat left center / cover;
}

.trade-box .icon-bank {
    background: transparent url(../image/icon-bank.png) no-repeat left center / cover;
}

.info-box .lv {
    background: transparent url(../image/vip-1.png) no-repeat left center / cover;
}

.info-box .refresh {
    background: transparent url(../image/refresh.svg) no-repeat left center / cover;
}

.info-box .lang {
    background: transparent url(../image/flag.png) no-repeat left center / cover;
}

.tags-box .menu-hot {
    background: transparent url(../image/menu-hot.png) no-repeat left center / cover;
}

.tags-box .menu-slot {
    background: transparent url(../image/menu-slot.png) no-repeat left center / cover;
}

.tags-box .menu-fish {
    background: transparent url(../image/menu-fish.png) no-repeat left center / cover;
}

.tags-box .menu-crypto {
    background: transparent url(../image/menu-crypto.png) no-repeat left center / cover;
}

.tags-box .menu-live-casino {
    background: transparent url(../image/menu-live-casino.png) no-repeat left center / cover;
}

.tags-box .menu-chess-card {
    background: transparent url(../image/menu-chess-card.png) no-repeat left center / cover;
}

.nav-bottom .nav-home {
    background: transparent url(../image/nav-home.png) no-repeat left center / cover;
}

.nav-bottom .nav-service {
    background: transparent url(../image/nav-service.png) no-repeat left center / cover;
}

.nav-bottom .nav-promotion {
    background: transparent url(../image/nav-promotion.png) no-repeat left center / cover;
}

.nav-bottom .nav-sponsor {
    background: transparent url(../image/nav-sponsor.png) no-repeat left center / cover;
}

.nav-bottom .nav-my {
    background: transparent url(../image/nav-my.png) no-repeat left center / cover;
}

.nav-bottom .active .nav-home {
    background: transparent url(../image/nav-home-active.png) no-repeat left center / cover;
}

.nav-bottom .active .nav-service {
    background: transparent url(../image/nav-service-active.png) no-repeat left center / cover;
}

.nav-bottom .active .nav-promotion {
    background: transparent url(../image/nav-promotion-active.png) no-repeat left center / cover;
}

.nav-bottom .active .nav-sponsor {
    background: transparent url(../image/nav-sponsor-active.png) no-repeat left center / cover;
}

.nav-bottom .active .nav-my {
    background: transparent url(../image/nav-my-active.png) no-repeat left center / cover;
}

/* Icon sample */

.-box .icon- {
    background: transparent url(../image/) no-repeat left center / cover;
}



@media (max-width: 1200px) and (min-width: 992px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}






/*css end*/