@charset "utf-8";

@media only screen and (min-width: 1280px) {

.lotto-rule { float: left;width: 47%}
.lotto-record .one, .lotto-record .two { width:22%}
.lotto-record .three { width: 42%;}
.lotto-record .last { width: 14%}
.lotto-tab-s.zo-tab li { width: 11%;}

}

@media only screen and (min-width: 1280px) and (max-width: 1365px) {
	
#div_Sum .lotto-option.width179 .odds, .lotto-option.width179.large-ball .odds { margin-left: 0;}
	
}

@media only screen and (min-width: 1440px) {

.lotto-record .one, .lotto-record .two { width: 11%;}
.lotto-record .three { width: 23%;}
.lotto-record .mid { width: 15%; display: block}
.lotto-record .last { width: 10%}

.lotto-rule { width: 54%}
.lotto-rule b { width: 12%!important}

/*no-zodiac CN NZL US*/
.record-00009 .three, .record-00011 .three, .record-00017 .three { width: 60%!important;}

/*no-zodiac&sum DEU*/
.record-00012 .three { width: 60%!important;}
.record-00012 .last { width: 19%!important;}

.lotto-right02 {width: 33.5%;margin: 46px 0 0 0;}

.colorball-s4 dd { width: 38px}

.box-3 { width: 65.5%;}
.box-4 { width: 34.5%}

.lotto-option li a {padding: 10px 18px;}
.lotto-option b {left: 16px;}/*For firefox*/
.lotto-option .on a:before {
    right: 16px;
}


.lotto-tab-s.zo-tab li { width: 10%;}
.box-3 .lotto-option-b { border-right: 1px solid;}
.lotto-option-q {padding: 8px 0 8px 12px;}

.lotto-option-combo .lotto-number-color {width: 56%;}
.combo-columns-wrap {margin-left: 56%;}
.combo-columns2 .td { height: 137px;}

.combo-columns-wrap-zod .combo-columns2 .td {
    height: 137px;
}
.combo-columns-wrap.combo-columns-wrap-zod .btn-wrap {
    margin-top: 4px;
}

}
/* IE 8&9 */	
@media \0screen and (min-width: 1440px) {
.lotto-left .lotto-option, .lotto-option-q, .gray-box, .lotto-tab.height65, .lotto-number-wrap, .lotto-tab-s { width: 72.5%;}
}

@media only screen and (min-width: 1440px) and (max-width: 1679px) {

.box-3{ width: 64%;}
.box-4{ width: 36%;}

.lotto-bet li { padding: 6px 4px 0 4px}
.lotto-bet li a b { padding: 0 3px}

.box-3 .lotto-option-b .on a:before { right: -5px; top: -5px;}

/*bet-against*/
.bet-against .ba-numbers li { margin-right: 7px}
.bet-against .odds { margin-left: 4px; letter-spacing: -0.5px}
.bet-against dd { margin-right: 2px}

}

@media only screen and (min-width: 1680px) {

.lotto-rule { width: 50%}
.lotto-record .one, .lotto-record .two { width: 12%;}
.lotto-record .three { width: 27%;}
.lotto-record .mid { width: 13%;}
.lotto-record .last { width: 10%}
.record-00009 .three, .record-00011 .three, .record-00017 .three { width: 45.5%!important;}
.record-00012 .last { width: 18%!important;}
.colorball-s5 dd { margin-right: 0px; margin-left: 3px}
.lotto-rule b { width: 14%!important}

.lotto-option li a {padding: 10px 0 10px 26px;}
.lotto-option b {left: 26px;}/*For firefox*/
.lotto-option .on a:before { right: 26px;}

/*combo*/
.lotto-option-combo .lotto-number-color {width: 56%;}
.combo-columns-wrap {margin-left: 56.5%;}
.lotto-option-q {padding: 8px 0 8px 22px;}
.box-1 {
    width: 45%;
    float: left;
}
.box-2 {
    width: 55%;
    float: left;
}
.box-1 .lotto-option-b { border-left: 1px solid}

.lotto-tab-s.zo-tab li { width: 8%;}
.lotto-tab-03 li { width: 9%}
.lotto-tab-03.combo li { width: 16%}

/*report lotto*/
.report-account { right: 10px}
.report-topbar { padding-right: 240px}

}
/* IE 8&9 */	
@media \0screen and (min-width: 1680px) {
.lotto-left .lotto-option, .lotto-option-q, .gray-box, .lotto-tab.height65, .lotto-number-wrap, .lotto-tab-s { width: 77.5%;}
}

@media only screen and (max-width: 1679px) {

/*combo*/
.combo-columns-wrap a.submit, .combo-columns-wrap a.cancel { width: 49%}

/*lotto-tab-03*/
.lotto-tab-03 li { width: 13%}
.lotto-tab-03.combo li { width: 16%;}
.lotto-tab.height65 li { width: 15.8%;}
.box-1 .lotto-tab li, .box-2 .lotto-tab li { width: 13%;}

.box-2 .lotto-option-b { border-bottom: 1px solid}

}

@media only screen and (max-width: 1439px) {

.lotto-rule b { width: 16%!important}
.lotto-record .content .three { padding: 0 0 0 12px;}

.zodiac-wrapper .lotto-left, .lotto-right02, .box-3, .box-4 { width: 100%}
.lotto-record104 { border-top: 1px solid;}

.lotto-option-combo .lotto-number-wrap {min-height: 215px;}
.lotto-tab-s li {width: 16%;}
.lotto-tab.height65 li { width: 15.7%;}
#div_Sum .lotto-option.width179 .odds {padding-left: 15px;}

/*combo*/
.main-content .lotto-left { width: 100%}
.lotto-option-combo .lotto-number-color { width: 100%; position:relative;}
.combo-columns-wrap { margin-left: 0}
.combo-columns .lotto-number-tiny dd { margin: 0 4px 8px 4px;}

.lotto-option-combo .lotto-number-wrap { min-height: 218px;}
.combo-columns .td { height: 47px;}
.combo-columns-wrap3 li:first-child{border-right: 1px solid #fff;}
.combo-columns2 .td { height: 129px; padding: 10px 0 8px 3px;}
.combo-columns1 {
	width: 50%;
	padding: 0 1px;
}
.combo-columns1 .td, .combo-columns3 .td { padding: 10px 0 6px 3px;}
.combo-columns .lotto-number-tiny dd { margin: 0 3px 6px 3px;}

}

@media only screen and (min-width: 1366px) and (max-width: 1439px) {

.lotto-option .on a:before {
    right: 8px;
}
.lotto-option.width179.sum .on a:before { right: 4px}

}

@media only screen and (max-width: 1366px) {

.lotto-right { width: 266px}
.lotto-left .lotto-option, .lotto-option-q, .gray-box, .lotto-tab.height65, .lotto-number-wrap, .lotto-tab-s { width: calc(100% - 266px)}
.lotto-bet li a { padding: 0 0 0 4px;}
.lotto-bet li .odds { margin: 9px 0 0 4px;}
	
}

@media only screen and (max-width: 1365px) {
	.lotto-option .on a:before, .lotto-option-b .on a:before, .lotto-option.width179 .on a:before, .lotto-option-b .on a:before { right: -5px; top: -5px;}
	.box-2 .lotto-option-b .on a:before, .box-1 .lotto-option-b .on a:before { right: 6px; top: 17px;}
}

/* IE 8&9 */	
@media \0screen and (max-width: 1366px) {
.lotto-left .lotto-option, .lotto-option-q, .gray-box, .lotto-tab.height65, .lotto-number-wrap, .lotto-tab-s { width: 72.5%;}
}
/* IE 8&9 1280~1364 */	
@media \0screen and (max-width: 1364px) {
.lotto-left .lotto-option, .lotto-option-q, .gray-box, .lotto-tab.height65, .lotto-number-wrap, .lotto-tab-s { width: 69.5%;}
}

@media only screen and (min-width: 1280px) and (max-width: 1439px) {
		
/*lotto-bet*/
.lotto-bet li { padding: 2px 1.5px;}

/*combo zodiac*/
.lotto-option-combozod { width: 72%}
.combo-columns-wrap-zod { width: 28% }
.combo-columns-wrap-zod .lotto-number-tiny dd { margin: 0 2px 4px 2px;}
.lotto-option-combozod.lotto-option-b.colorball-s4 b { min-width: 49px;}
.colorball-s4.lotto-option-combozod .odds { margin: 11px 0 0 4px;}
.combo-columns-wrap-zod .combo-columns3 .td {
	padding-left: 1px;
}
.combo-columns-wrap-zod .combo-columns2 .td {
    height: 137px;
	padding-left: 1px;
}
.combo-columns-wrap-zod .btn-wrap {
    margin-top: 11px;
}

}

@media only screen and (max-width: 1279px) {
.countdown p, .game-title2, .bet-title h1 {
    font-size: 16px;
}
.countdown p {
    width:75px;
}
.bet-title.map-00008 .countdown p {width: 59px;}
.bet-title.map-00008 h1#h1_SourceTitle {
    padding: 0 0 0 90px;
    margin: 0 !important;
}
.bet-title.map-00008 h1 {margin: 0 0 0 5px;}
.bet-title h1#h1_SourceTitle {
    margin: 0 0 0 75px;
}
.countdown-s2 li {padding: 5px;}

.map-00034 .countdown p, .map-00035 .countdown p {
    width: 58px;
}
.bet-title.map-00034 .bet-title h1, .bet-title.map-00035 .bet-title h1 { margin: 0 0 0 5px;}
.bet-title.map-00034 h1#h1_SourceTitle, .bet-title.map-00035 h1#h1_SourceTitle {
    margin: 0 0 0 60px;
}

.top-bar .news_box { width: 74%}

/*1024*/
.show-for-small { display: block;}
.hide-for-small { display: none;}

.lotto-left-inner, .bet-title { border-right: none}
.lotto-right { display: none !important;}
.lotto-option-q { padding: 7px 5px;}

.lotto-option b {
width: 48px;
height: 48px;
padding-top: 27px;
text-indent: -11px;
top: 3px;
font-size: 15px;
}
.lotto-option.width179 b, .lotto-option-b.colorball-s4 b {
    font-size: 14px;
}
.box-2 .lotto-option-b li {
    width: 100%;
}
.lotto-option-combozod li {
    width: 50%;
}
.box-2 .lotto-option-b li:nth-last-child(2) { border-bottom: 1px solid}

.lotto-option-b li a, .lotto-option.width179 li a { padding-right: 0}

.lotto-left .lotto-option, .lotto-option-q, .gray-box, .lotto-tab.height65, .lotto-number-wrap, .lotto-tab-s { width: 100%}

/*sum*/
.lotto-option.width179.large-ball li, .lotto-option.width179.sum li { width: 50%}
.lotto-option.width179.large-ball li:nth-last-child(-n+4), .lotto-option.width179.sum li:nth-last-child(-n+4) { border-bottom: 1px solid}
.lotto-option.width179.large-ball li:nth-last-child(-n+2), .lotto-option.width179.sum li:nth-last-child(-n+2) { border-bottom: none}
.lotto-option.width179.large-ball li:nth-of-type(2n), .lotto-option.width179.sum li:nth-of-type(2n) {border-right: none!important}

/*combo zodiac*/
.lotto-option-combozod, .combo-columns-wrap-zod { width: 100%; min-height: auto;}
.lotto-option-combozod li:nth-last-of-type(-n+2) { border-bottom: 1px solid}
.combo-columns-wrap-zod .combo-columns3 { width: 50%; padding: 0 2px; float: left}
.combo-columns-wrap-zod .combo-columns3.last {float: right}
.combo-columns-wrap-zod .combo-columns2 .td, .combo-columns-wrap-zod .combo-columns3 .td { height: 47px; padding: 10px 0 6px 3px;}
.combo-columns-wrap-zod a.submit, .combo-columns-wrap-zod a.cancel { width: 49.5%}

/*colorball-s4*/
.colorball-s4 dd { 
	width: 32px;
    font-size: 15px;
    margin: 0 1px;
	background: url(../images/Lotto/001/colorball-shadow_blue48.png) -3px -1px no-repeat;
}

/*record*/
.lotto-option-b.colorball-s4 b {
    min-width: 48px;
    height: 32px;
	line-height:32px;
	border-radius: 24px;
	margin-top: 2px;
}
.lotto-rule { min-height: inherit}
.lotto-record .mid { display: none}
.lotto-record .one { width: 16%;}
.lotto-record .two { width: 20%;}
.lotto-record .three { width: 50%;}
.lotto-record .last { width: 14%}
.lotto-record .content .three { padding: 0 0 0 10px}
.colorball-s5 dd { margin-right: 3px; margin-left: 3px}

.map-00008,.map-00009,.map-00011,.map-00012,.map-00013,.map-00014,.map-00015,.map-00016,.map-00017,.map-00019 { background-image: none}

.lotto-tab-03 li { width: 15%}
.lotto-tab-03.combo li { width: 16%}
.box-1 .lotto-tab li, .box-2 .lotto-tab li { width: 19%;}
.lotto-tab-s.zo-tab li { margin: 0}

}


