/*-- basic --*/

.vip-wrap * {
    box-sizing: border-box;
}

body .vip-wrap {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", sans-serif;
    font-size: 14px;
    line-height: normal;
}

.vip-wrap ul,
.vip-wrap li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.vip-wrap ol li {
    list-style-type: decimal;
}

.vip-wrap a {
    text-decoration: none;
}

.vip-wrap h1,
.vip-wrap h2,
.vip-wrap h3,
.vip-wrap h4,
.vip-wrap h5,
.vip-wrap h6 {
    margin: 0;
    font-weight: normal;
}

.vip-wrap h1 {
    font-size: 32px;
}

.vip-wrap h2 {
    font-size: 28px;
}

.vip-wrap h3 {
    font-size: 24px;
}

.vip-wrap h4 {
    font-size: 18px;
}

.vip-wrap h5 {
    font-size: 16px;
}

.vip-wrap h6 {
    font-size: 12px;
}

.vip-wrap p a,
.vip-wrap h4 a {
    text-decoration: underline;
}

.vip-wrap .btn {
    display: inline-block;
    position: relative;
    padding: 0 40px;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
}

.vip-wrap .btn:hover {
    color: #fff;
    background: #61ce8a;
}

.vip-wrap .btn:active {
    color: #fff;
    background: #199d47;
}

.vip-wrap .btn-primary {
    height: 58px;
    line-height: 58px;
    background: #1DB955;
    border-radius: 29px;
    font-size: 16px;
    color: #FFFFFF;
}


.vip-wrap .btn-secondary {
    height: 44px;
    line-height: 44px;
    border: 1px solid #1DB954;
    border-radius: 22px;
    font-size: 15px;
    color: #1DB954;
    background: transparent;
}

.vip-wrap .color-green {
    color: #1DB954;
}

.vip-wrap .cololr-yellow {
    color: #FDD900;
}

.vip-wrap .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.vip-wrap .hide,
.vip-wrap .show-sm {
    display: none;
}

.vip-wrap .show,
.vip-wrap .hide-sm {
    display: block;
}

.vip-wrap .clear {
    display: block;
    clear: both;
}

.vip-wrap .middle {
    display: inline-block;
    vertical-align: middle;
}

.vip-wrap .btn-more {
    padding-right: 12px;
    background-size: auto 50%;
}

.vip-wrap .btn-more {
    content: "";
    display: inline-block;
    padding-right: 18px;
    color: #1DB954;
    background: url(https://content.100b108.com/resp/sponsorship/images/icon/link-arrow.svg) no-repeat right center;
    background-size: auto 70%;
}

@media (max-width: 767px) {
    .vip-wrap .container {
        max-width: 720px;
        min-width: 320px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .vip-wrap .h1-sm {
        font-size: 28px;
    }

    .vip-wrap .h2-sm {
        font-size: 24px;
    }

    .vip-wrap .h3-sm {
        font-size: 18px;
    }

    .vip-wrap .h4-sm {
        font-size: 16px;
    }

    .vip-wrap .h5-sm {
        font-size: 12px;
    }

    .vip-wrap .h6-sm {
        font-size: 10px;
    }

    .vip-wrap .show-sm {
        display: block;
    }

    .vip-wrap .hide-sm {
        display: none;
    }

    .vip-wrap .footer p {
        width: 100%;
        font-size: 12px;
        line-height: 22px;
    }

    .vip-wrap .btn-primary {
        font-size: 14px;
    }

}

@media (min-width: 1200px) {
    .vip-wrap .container {
        max-width: 1140px;
    }
}

/*-- basic end --*/

/*-- grid system --*/
.vip-wrap .grid:after {
    content: "";
    display: block;
    clear: both;
}

.vip-wrap .no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.vip-wrap .no-gutters>.col,
.vip-wrap .no-gutters>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.vip-wrap [class*="col-"] {
    position: relative;
    float: left;
    width: 100%;
    padding: 15px;
}

.vip-wrap .col-1 {
    max-width: 8.333333%;
}

.vip-wrap .col-2 {
    max-width: 16.666667%;
}

.vip-wrap .col-3 {
    max-width: 25%;
}

.vip-wrap .col-4 {
    max-width: 33.333333%;
}

.vip-wrap .col-5 {
    max-width: 41.666667%;
}

.vip-wrap .col-6 {
    max-width: 50%;
}

.vip-wrap .col-7 {
    max-width: 58.333333%;
}

.vip-wrap .col-8 {
    max-width: 66.666667%;
}

.vip-wrap .col-9 {
    max-width: 75%;
}

.vip-wrap .col-10 {
    max-width: 83.333333%;
}

.vip-wrap .col-11 {
    max-width: 91.666667%;
}

.vip-wrap .col-12 {
    max-width: 100%;
}


@media (max-width: 768px) {
    .vip-wrap [class*="col-"] {
        padding: 5px;
    }

    .vip-wrap .col-sm-1 {
        max-width: 8.333333%;
    }

    .vip-wrap .col-sm-2 {
        max-width: 16.666667%;
    }

    .vip-wrap .col-sm-3 {
        max-width: 25%;
    }

    .vip-wrap .col-sm-4 {
        max-width: 33.333333%;
    }

    .vip-wrap .col-sm-5 {
        max-width: 41.666667%;
    }

    .vip-wrap .col-sm-6 {
        max-width: 50%;
    }

    .vip-wrap .col-sm-7 {
        max-width: 58.333333%;
    }

    .vip-wrap .col-sm-8 {
        max-width: 66.666667%;
    }

    .vip-wrap .col-sm-9 {
        max-width: 75%;
    }

    .vip-wrap .col-sm-10 {
        max-width: 83.333333%;
    }

    .vip-wrap .col-sm-11 {
        max-width: 91.666667%;
    }

    .vip-wrap .col-sm-12 {
        max-width: 100%;
    }

}

/*-- grid system end --*/
/*-- popup wrap --*/
.popup-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
}

.popup-wrap .popup-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
}

.popup-wrap .popup-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding-top: 50px;
    max-height: 100%;
    width: 100%;
    max-width: 1140px;
    color: #111;
    text-align: left;
    z-index: 1;
    overflow: scroll;
}

.popup-close {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
    background: #11447d;
    border-radius: 100%;
    cursor: pointer;
    z-index: 99;
}

.popup-close:after {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    background: url(https://content.100b108.com/resp/vip/icons/close.svg) center center no-repeat;
    background-size: contain;
}

@media (max-width: 768px) {
    .popup-wrap .popup-box {
        position: static;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

/*-- popup wrap end --*/
/*-- block --*/
.section {
    padding: 50px 0;
    text-align: center;
}

.section .section-tt {
    margin-bottom: 15px;
}

.section .section-td {
    margin-bottom: 30px;
    color: #999;
    line-height: 28px;
}

@media (max-width:768px) {
    .section {
        padding: 20px 0;
    }

    .section .section-tt {
        margin-bottom: 15px;
        font-size: 24px;
    }

    .section .section-tt+.section-td {
        margin-top: -10px;
    }

    .section .section-td {
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 22px;
    }
}

.vip-wrap {
    background: #F2F5F8;
}

.vip-kv {
    position: relative;
    height: 500px;
    background: url("https://content.100b108.com/resp/vip/kv-1912021420.jpg") center center no-repeat;
    background-size: auto 100%;
    text-align: center;
    color: #fff;
}

.vip-kv:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #001328;
    opacity: .6;
}

.vip-kv:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.kv-info {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index: 2;
}

.kv-info .kv-title {
    margin-bottom: 30px;
    font-size: 48px;
}

.kv-info .kv-td {
    margin-bottom: 30px;
    color: #fff;
    font-size: 18px;
}

@media (max-width: 768px) {
    .vip-kv {
        height: 150px;
    }

    .kv-info .kv-title {
        margin-bottom: 15px;
        font-size: 18px;
    }

    .kv-info .kv-td {
        margin-bottom: 15px;
        font-size: 12px;
    }

    .kv-info .btn {
        line-height: 38px;
        height: 38px;
    }
}



.vip-intro .grid {
    position: relative;
}

.vip-intro .grid>div {
    position: static;
    float: right;
}

.vip-intro {
    text-align: left;
}

.vip-intro .vip-intro-con {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.vip-intro img {
    width: 100%;
}

@media (max-width: 768px) {
    .vip-intro .grid>div {
        float: left;
    }

    .vip-intro .vip-intro-con {
        position: relative;
        top: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        text-align: center;
    }
}

.vip-level {
    background: #fff;
}

.level-item-wrap:after {
    content: "";
    display: block;
    clear: both;
}

.level-item-wrap {
    list-style: none;
    margin: -5px;
    ;
}

.level-item-wrap>ul>li {
    display: inline-block;
    float: left;
    width: 25%;
    padding: 5px;
}

.level-item {
    padding: 5px;
    color: #fff;
    border-radius: 5px;
    background: -webkit-gradient(linear, left top, left bottom, from(#074F97), color-stop(26.35%, #064078), color-stop(28.26%, #064788), color-stop(29.84%, #06509D), to(#043061));
    background: linear-gradient(180deg, #074F97 0%, #064078 26.35%, #064788 28.26%, #06509D 29.84%, #043061 100%);
}

.level-item-inner {
    padding: 5px;
    border: 1px solid rgba(255, 255, 255, .2);
    border-radius: 5px;
}

.level-item .level-title {
    margin-top: 20px;
    font-weight: bold;
}

.level-item .level-img {
    display: inline-block;
    width: 150px;
    max-width: 100%;
    margin-top: 20px;
}

.level-item .level-needs>li {
    padding: 15px 0;
    border-bottom: 1px dashed rgba(255, 255, 255, .2);
}

.level-item .level-needs h6 {
    margin-bottom: 5px;
    opacity: .5;
}

.level-item .level-more {
    color: #1DB954;
    height: 64px;
}

.level-item .level-more:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.level-item ol{
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
}
.level-sign {
    text-align: center;
}

.popup-wrap .popup-box .level-needs {
    padding-right: 40px;
}

.level-item .level-needs li:last-child {
    border-bottom: none;
}

.popup-wrap .popup-box .level-special h6 {
    padding-top: 15px;
    opacity: .5;
}

.level-special li {
    list-style-type: disc;
    line-height: 40px;
    font-size: 16px;
}

@media (max-width: 768px) {
    .level-item-wrap {
        white-space: nowrap;
        overflow-x: scroll;
        margin: -5px -10px;
    }

    .level-item-wrap>ul {
        padding: 0 10px;
        width: 300%;
    }

    .level-item .level-sign {
        text-align: left;
    }

    .level-item .level-img {
        width: 96px;
    }

    .popup-wrap .popup-box .level-item .level-img {
        position: absolute;
        top: 0;
        right: 15px;
        width: 75px;
    }

    .level-item .level-needs>li {
        padding: 10px 0;
    }

    .level-item h5 {
        font-size: 12px;
    }

    .popup-wrap .popup-box .level-needs {
        padding-right: 0;
    }

    .level-item .level-needs li:last-child {
        border-bottom: 1px dashed rgba(255, 255, 255, .2);
    }

    .level-special li {
        font-size: 12px;
        line-height: 22px;
    }
}

.contact-wrap {
    position: relative;
    background: #0A427F;
    text-align: left;
}

.contact-wrap .contact-left {
    background: url(https://content.100b108.com/resp/vip/contact-bg-people.jpg) #fff no-repeat center center;
    background-size: auto 100%;
    min-height: 315px;
    margin-right: 387px;
    padding: 10px 22% 10px 25px;
    color: #666;
    line-height: 28px;
}

.contact-wrap .contact-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 387px;
    height: 100%;
    padding: 30px 10px;
    text-align: center;
}

.contact-wrap .contact-right ul {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.contact-wrap .contact-right li+li {
    margin-top: 30px;
}

.contact-wrap img {
    display: inline-block;
    width: 65px;
    height: 65px;
    vertical-align: middle;
}

.contact-wrap .contact-info {
    display: inline-block;
    margin-left: 15px;
    color: #fff;
    vertical-align: middle;
}

.contact-wrap .contact-info h5 {
    margin-top: 10px;
    color: #1DB954;
}

@media (max-width:992px) {
    .contact-wrap .contact-left {
        background-image: url(https://content.100b108.com/resp/vip/contact-bg.jpg);
        padding-right: 25px;
    }
}

@media (max-width: 768px) {
    .contact-wrap {
        margin-top: 15px;
        border-radius: 5px;
    }

    .contact-wrap .contact-left {
        display: none;
    }

    .contact-wrap .contact-right {
        position: static;
        width: 100%;
    }
}

.qna-item {
    padding: 0;
}

.qna-item li {
    list-style-position: inside;
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    text-align: left;
}

.qna-item li+li {
    margin-top: 10px;
}

.qna-item li .qna-answer {
    padding-left: 20px;
    margin-top: 15px;
    color: #999;
    line-height: 26px;
}

@media (max-width: 768px) {
    .qna-item li {
        font-size: 14px;
        line-height: 22px;
    }

    .qna-item li .qna-answer {
        margin-top: 10px;
    }
}

.vip-private-kv {
    text-align: left;
    background-image: url(https://content.100b108.com/resp/vip/kv-private.jpg);
}

.vip-private-kv>.container {
    height: 100%;
}

.vip-private-kv:before {
    content: none;
}

.vip-private-kv>.container:after {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.vip-private-kv .kv-info {
    margin-bottom: 80px;
    color: #FFEBC0;
    text-align: center;
}

.vip-private-kv .kv-info .kv-title {
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .vip-private-kv .kv-info {
        margin-bottom: 0px;
    }
}

.vip-promotion {
    position: relative;
    background: #FFF5DF;
}

.vip-promotion:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 6px;
    width: 100%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#E5DB8A), to(#A57729));
    background-image: linear-gradient(0deg, #E5DB8A 0%, #A57729 100%);
}

.vip-promotion .grid {
    margin: -10px;
}

.vip-promotion .grid>div {
    padding: 10px;
}

.vip-promotion .promo-item {
    padding: 0 15px;
    background: #fff;
    border-radius: 5px;
    text-align: left;
    line-height: 24px;
}

.vip-promotion .promo-item .promo-item-img {
    margin: 0 -15px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.vip-promotion .promo-item img {
    display: block;
    width: 100%;
}

.vip-promotion .promo-item .promo-btn-wrap {
    padding: 20px 0;
    margin-top: 15px;
    border-top: 1px solid #E7E7E7;
    text-align: center;
}

.vip-promotion .promo-item .tt {
    margin-top: 15px;
    font-size: 18px;
}

.vip-promotion .promo-item .td {
    margin: 10px 0;
    height: 96px;
    font-size: 14px;
    color: #999;
    overflow: hidden;
}

.vip-promotion .btn {
    height: 44px;
    width: 45%;
    padding: 0;
    line-height: 44px;
}

.vip-promotion .btn+.btn {
    margin-left: 2%;
}

@media (max-width: 768px) {
    .vip-promotion .promo-item .tt {
        font-size: 16px;
    }

    .vip-promotion .promo-item .td {
        height: auto;
        font-size: 12px;
    }

}

.vip-leaderboard {
    position: relative;
    background: url(https://content.100b108.com/resp/vip/leaderboard-bg.png) #FFF5DF center bottom no-repeat;
    background-size: cover;
}

.vip-leaderboard:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 6px;
    width: 100%;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#A57729), to(#E5DB8A));
    background-image: linear-gradient(0deg, #A57729 0%, #E5DB8A 100%);
}

.vip-leaderboard .section-tt {
    margin-bottom: 15px;
    color: #FFEBC0
}

.vip-leaderboard .section-td {
    display: inline-block;
    margin-bottom: 30px;
    color: #fff;
}

.vip-leaderboard .btn-more {
    background-image: url(https://content.100b108.com/resp/vip/icons/link-arrow-white.svg);
}

.vip-leaderboard .grid {
    position: relative;
    margin: -5px;
    margin-bottom: 100px;
}

.leader-top {
    position: relative;
}

.leader-top>img {
    width: 100%;
}

.leader-top ul {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    text-align: center;
}

.leader-top li {
    display: inline-block;
    width: 30%;
}

.leader-top li+li {
    border-left: 1px solid rgba(255, 255, 255, .3);
}

.leader-top li>div+div {
    margin-top: 10px;
}

.leader-top .no {
    color: #FFEBC0;
    font-size: 14px;
}

.leader-top .name {
    color: #fff;
    font-size: 16px;
}

.leader-top .rank {
    color: #FFEBC0;
    font-size: 28px;
}

.vip-leaderboard .leader-outer {
    position: static;
}

.leader-list {
    position: absolute;
    top: 15px;
    right: 0;
    bottom: 15px;
    width: 41.67%;
    padding: 3px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#A57729), color-stop(50%, #E5DB8A), color-stop(51%, #A57729), to(#E5DB8A));
    background-image: linear-gradient(0deg, #A57729 0%, #E5DB8A 50%, #A57729 51%, #E5DB8A 100%);
    border-radius: 5px;
}

.leader-list-inner {
    height: 100%;
    padding: 5px;
    background: #AB1410;
    border-radius: 5px;
    border-right: 6px solid rgba(0, 0, 0, 0.25);
    overflow-y: scroll;
    box-shadow: inset 0 5px 35px 0 rgba(0, 0, 0, 0.50);
}

.leader-list-inner::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
    z-index: 99;
}

.leader-list-inner::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #DFD383;
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.leader-list table,
.leader-list th,
.leader-list td {
    border: none;
}

.leader-list table {
    width: 100%;
    line-height: 48px;
    color: #fff;
    font-size: 16px;
    text-align: center;
}

.leader-list table th {
    font-size: 14px;
    color: #FFEBC0;
}

.leader-list table tr:nth-child(even) {
    background: rgba(0, 0, 0, .15);
}

.leader-list-more {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: #AB1410;
    text-align: center;
}

.leader-list-more:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.leader-list-more a.btn-more {
    display: inline-block;
    color: #fff;
    font-size: 16px;
}

@media (max-width: 768px) {
    .leader-top ul {
        top: 15px;
    }

    .leader-top .no,
    .leader-top .name {
        font-size: 12px;
    }

    .leader-top .rank {
        margin-top: 5px;
        font-size: 14px;
    }

    .leader-list {
        position: static;
        width: 100%;
        padding: 2px;
    }

    .vip-leaderboard .leader-list-more {
        display: block;
    }

    .vip-leaderboard .leader-list .leader-list-inner {
        position: relative;
        padding-bottom: 48px;
        overflow: hidden;
        max-height: 432px;
        border-right: none;
    }
}

.vip-contact {
    padding-top: 10px;
    background: #FFF5DF;
}

.vip-contact .contact-wrap {
    background: transparent;
}

.vip-contact .contact-wrap:after {
    content: "";
    display: block;
    clear: both;
}

.vip-contact .contact-wrap li {
    display: inline-block;
    float: left;
    width: 30%;
    padding: 0px 40px;
}

.vip-contact .contact-wrap li:nth-child(2) {
    width: 40%;
}

.vip-contact .contact-wrap li+li {
    border-left: 1px dotted #494D52;
}

.vip-contact .contact-wrap .contact-info {
    text-align: left;
    color: #333;
}

.vip-contact .contact-wrap .contact-info h5 {
    color: #666;
}

.vip-contact .contact-wrap .contact-info .btn-more {
    background-image: url(https://content.100b108.com/resp/vip/icons/link-arrow-gray.svg);
}

@media (max-width: 768px) {
    .vip-contact {
        margin-top: -50px;
    }
    .vip-contact .contact-wrap{
        text-align: center;
    }
    .vip-contact .contact-wrap ul {
        display: inline-block;
        text-align: left;
    }

    .vip-contact .contact-wrap li {
        display: block;
        float: none;
        width: auto;
        padding: 0;
    }

    .vip-contact .contact-wrap li:nth-child(2) {
        width: auto;
    }

    .vip-contact .contact-wrap li+li {
        border-left: none;
        margin-top: 30px;
    }
}

/*-- block end --*/














/*-- css end --*/