@charset "utf-8";

/* Common class */
.left { float: left!important;}
.right { float: right!important;}
.text-center { text-align: center!important;}
.text-left { text-align: left!important;}
.text-right { text-align: right!important;}
input::-ms-clear { display: none;}

body {
    overflow: hidden;
    font: 13px Arial,"Microsoft JhengHei","Microsoft YaHei",simhei,sans-serif;
    position: relative;
    height: 100%;
    box-sizing: content-box;
    max-width: 1680px;
    min-width: 1024px;
    margin: 0 auto;
}

.mm-opened{ margin:0 auto}

/*------fonts------*/
@font-face {
font-family: Notosans;
src: url('../fonts/notosans.woff') format('woff');
font-weight: normal;
font-style: normal;
}
.countdown p ,.game-title2, .bet-title h1{
    font-size: 18px;
    line-height: 1.4em;
}
.account-bar b ,.account-bar del ,.news_lightbox h2{font-size:16px; line-height: 16px;}
.leftmenu a ,.bet-area .bet-header .name{font-size:14px}
.drop-down-mybet li a {font-size:13px}
.leftmenu a ,.bet-area .bet-header .name, .countdown { font-size:14px}
.countdown, .past-number, .quick, .bests, .betcontent .total, .playtable, .howtoplay, .poptip-arrow, .total-list li, .total-betNow, #poptip table th, #poptip table td, #quickbet table td, #quickbet table th, #playtable table th, #playtable table td, #bests table td, #bests table th {
    font-size: 12px;
}

.bests li a, .bests li b, .bests-btn div, .record-bar .number, .poptip-arrow em, .poptip-arrow i, .poptip-arrow-bottom em {
    font-size: 15px;
}

/*------left-aside------*/
.left-aside, .right-aside {float: left;}
.main-content-wrapper, .left-aside, .aside-title-right { box-sizing: content-box;}
.left-aside {
    width: 160px;
    left: 0;
    margin-right: -100%;
    padding: 0;
    z-index: 1;
    margin-top: 0px;
}

button.close {
    width: 16px;
    height: 16px;
    outline: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
}

.bet-area button.close {
	left: -7px;
    top: 12px;
    width: 11px;
    height: 11px;
    z-index: 1;
}

.top-right {
    position: absolute;
    right: 0;
    top: 0;
}

.leftmenu {
    padding: 36px 8px 30px 10px;
    position: relative;
    min-height: 734px;
}

.leftmenu li {
    display: block;
    min-height: 0;
    support: IE7;
	margin: 10px 0 17px;
}

.leftmenu a {
    position: relative;
    display: block;
    padding: 6px 0 5px 20px;
}

.leftmenu > li > a:before {
    content: " ";
	width: 10px;
    height: 10px;;
    position: absolute;
    left: 1px;
    top: 12px;
}

.leftmenu .count, .leftmenu .icon-new {
	position: relative;
    display: inline-block;
    margin: 0 0 0 5px;
    top: 100%;
    text-align: center;
    height: 14px;
    line-height: 17px;
    padding: 0 5px;
    font-size: 12px;
}

.leftmenu .icon-new{width: 24px;top:2px}

.leftmenu ul {
    display: none;
	margin-bottom:20px;
}

.leftmenu ul li{ margin:0;}

.leftmenu ul li a {
    margin: 0;
}


/*------account-bar------*/
.right-aside, .aside-title-right{
    width: 230px;
}

.bet-list {
    text-align: center;
    font-size: 14px;
    position: relative;
	float: left;
    width: 100%;
}

.bet-list p {
    margin: 0;
    width: 50%;
    z-index: 2;
    position: relative;
    float: left;
}

bet-list .mybet a, .bet-list .history a {
    height: 48px;
    line-height: 48px;
    display: block;
    text-indent: 1.5em;
    position: relative;
}

.account-area {
    margin-bottom: 5px;
}

.account-bar {
    font-size: 16px;
    padding: 7px 8px;
    line-height: 17px;
    height: 45px;
}

.bet-list .mybet a, .bet-list .history a {
    height: 48px;
    line-height: 48px;
    display: block;
    text-indent: 1.5em;
    position: relative;
}

.bet-list .mybet a:before, .bet-list .history a:before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 10px;
    width: 18px;
    height: 18px;
}

.droplist {
    display: none;
    float: left;
    width: 100%;
    padding: 10px 0 0;
    margin-top: -10px;
    position: absolute;
    top: 100%;
    z-index: 1;
}

.droplist a {
    display: block;
    padding: 10px;
    text-align: left;
}

.account-bar .icon-member {
    width: 32px;
    height: 33px;
    float: left;
    margin-right: 0;
}

.account-bar b, .account-bar del {
    font-weight: normal;
    float: left;
    width: 48%;
	line-height:20px;
    display: block;
	margin:0 0 -3px 7px;
}

.account-bar .bet-form {
    height: 34px;
    width: 103px;
    position: absolute;
    right: 0;
    top: 48px;
}

.btn-black a {
    line-height: 23px;
    height: 26px;
    display: block;
	padding: 0 10px;
    text-align: left;
	border-radius:13px;
}


.bet-area input {
    width: 40%;
    padding: 1px 5px;
    height: 18px;
    text-align: left;
	border-radius: 2px
}

.bet-area .betslip a, .label_check {
    margin: 4px 6px;
    display: block;
    float: left;
}

.betslip > div a:first-child {
    margin-left: 0!important;
}

.betslip > div:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/*------right-aside------*/
.right-aside {
    right: 0;
    left: auto;
    z-index: 1;
}

.right-aside-inner {
 	width: 230px;
 	z-index: 1;
 	position: absolute;
 	right: 0;
 	top: 40px;
 	padding: 0 10px;
}

.right-aside .bet-area-wrap {
    padding: 0 0 200px;
}

.right-aside .backmoney {
    float: left;
    padding: 0 7px;
    width: 60%;
}

.aside-title-account {
    border-radius: 0 0 6px 6px;
}

.aside-title-right {
    overflow: hidden;
    z-index: 0;
    position: absolute;
    right: 0;
    top: 160px;
}
.aside-title-account {
    height: 40px;
}
.aside-title-account span {
    width: 48%;
    display: none;
}

.drop-down-mybet {
    display: block;
    height: 40px;
	float:left;
	width: 50%;
	border-left: 1px solid #909090;
}

.drop-down > li {
    position: relative;
}
.drop-down-list li{ padding:5px}
.drop-down-list li a {
    text-align: left;
    line-height: inherit;
    height: auto;
    white-space: normal;
    text-indent: 0;
    padding: 5px 0 5px 6px;
	line-height:24px
}

.drop-down-list{
    display: none;
    width: 100%;
	max-width: 210px;
    z-index: 999;
    margin-top: 0;
    position: absolute;
	margin-top: 51px;
}

.drop-down li a {
    display: block;
    line-height: 16px;
    padding: 3px 20px 3px 5px;
}


.drop-down li:hover ul {
    display: block;
	box-shadow: 2px 2px 5px #333;
}

.drop-down ul {
    display: none;
    z-index: 999;
    margin-top: 0;
    position: absolute;
	border-radius: 4px;
	min-width: 100%;
    max-width: 115%;
    right: 0;
}

.drop-down ul li a {
    color: #333;
    border: 1px solid #827C7C!important;
	border-bottom: none !important;
	background:none;
	padding:10px 5px;
	line-height:14px;
	height:auto !important;
	border-radius: 4px;
}
.drop-down ul li:last-child a {
	border-bottom: 1px solid #827C7C!important;
}
.drop-down ul li a:hover {
	background:#DEDEDE;
}
.drop-down-odds li a {
    line-height: 23px;
    height: 25px;
    padding: 0 10px;
    padding-right: 20px;
    position: relative;
}

.main-content2 .report-option .drop-down-odds ul a {
    border-radius: 0!important; 
    border: none;
    border-bottom: 1px solid;
    color: #333;
    border: 1px solid #827C7C!important;
    border-bottom: none !important;
    padding-right: 0;
	padding: 4px 10px;
}
.main-content2 .report-option .drop-down-odds ul li:last-child a {
    border-bottom:  1px solid #827C7C!important;
}
.drop-down-mybet li a, .aside-title-account span a, .aside-title-account .betslip-title a {
    display: block;
    line-height: 14px;
    padding: 0 0 0 30px;
    text-align: left;
    height: 40px;
    line-height: 40px;
}

.drop-down-mybet li a {
    width: 100%;
    text-align: left;
    font-size: 13px;
}

.top-bar .news_box, .drop-down-mybet li a, .right-aside .backmoney {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.aside-title-account .quick-bet {
    display: block;
    float: right;
    text-align: right;
    line-height: 21px;
	margin: 8px 0 0;
}
.aside-title-account .quick-bet b {
	font-weight:normal;
}
.btn-black{ 
position:absolute;
top:-32px;
right:10px;
}
.quick-box .btn-black{ 
position: relative;
top:0;
right:0;
}
.betslip-title {
    float: left;
    display: block;
    line-height: 14px;
    padding: 0;
    height: 40px;
    line-height: 40px;
    width: 50%;
    text-align: center;
    color: #333;
}
.betslip-title a{ cursor: pointer; color: #3E3E3E}

.quick-bet a {
    width: 52px;
    text-indent: 999px;
    line-height: 21px;
    height: 21px;
    float: right;
    overflow: hidden;
    margin-left: 5px;
}
.bet-area-wrap .bet-form {
    width: 102px;
}
.label_check{margin: 4px 0 0 6px !important;}
.label_check input{
    width: 11px;
    height: 11px!important;
    display: inline-block;
    margin-right: 3px;
    position: relative;
    top: 1px;
}

.checkboxes {
    padding: 3px 0;
    margin: 0;
}

.bet-select {
    width: 100%;
    float: left;
}
.bet-select li {
    display: inline-block;
    float: left;
}

.betslip .bet-select a {
    width: 15px;
    height: 18px;
    border: 1px solid;
    display: block;
    float: left;
    text-indent: -999;
    margin: 0!important;
}

.bet-select input, .checkboxes input {
    float: left;
    text-align: center;
    width: 28px;
    margin: 0 1px;
    padding: 0;
    font-weight: normal;
}

.mr5 {
    margin-right: 5px !important;
}

.ml5 {
    margin-left: 5px;
}

/*------main-content-wrapper------*/
.main-content-wrapper {
    width: 80.2%;
    z-index: 2;
    float: left;
    position: relative;
    left: 160px;
}


.top-bar {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
}

.top-bar .time {
    display: block;
    float: left;
    margin-right: 5px;
}

.top-bar .news_box {
    float: left;
    width: 82%;
    height: 100%;
    position: relative;
    margin-left: 10px;
    letter-spacing: 1px;
}

.news_box span {
    display: block;
    margin: 0 0 0 10px;
    padding: 0 0 0 15px;
}

.top-bar .btn-rule, .top-bar .btn-g {
    display: block;
    width: 30px;
    height: 30px;
    margin-top: 5px;
    float: right;
}
.top-bar .btn-g { margin-left: 5px;}


.bet-title {
    padding: 0 10px;
    position: relative;
    z-index: 2;
}
/*------betslip-------*/
.bet-area .betslip {
    padding: 5px;
    position: relative;
    margin: 0 0 7px 0;
}

.bet-area .bet-header {
    padding: 0;
    width: 100%;
}

.bet-area hgroup {
    width: 100%;
    padding: 5px 0 0 0;
    position: relative;
}

.bgred{margin-bottom: 5px;}

.bet-area .bet-header .name {
    width: 78%;
    font-weight: bold;
    padding: 0;
    border-bottom: 2px solid;
    border-color: transparent;
    line-height: 17px;
    min-height: 19px;
}

.bet-area .yellow {
    line-height: 24px;
    height: 24px;
    padding: 1px 3px;
    position: absolute;
    right: 0;
    top: 0;
}

.bet-header div{float: left;width: 100%;}

.betslip form {
    overflow: hidden;
    padding: 6px 0;
    margin: 0 0 1px 0;
}

.mix-title {
    margin-bottom: 7px;
    padding: 4px 0 0;
    font-size: 15px;
    height: auto;
}

.bet-area2 li {
    line-height: 22px;
    padding: 2px 0;
}

.bet-area2 li .margin-right {
    width: 30%;
    text-align: right;
    padding-left: 5px;
}

.bet-area2 li .margin-right-2 {
    width: 16%;
    text-align: right;
    margin-right: 5px;
}


.alert-box {
    margin: 8px 0;
    font-size: 14px;
}

.alert-box span {
    padding: 10px 0 2px 26px;
    margin-top: 8px;
    display: block;
    font-size: 13px;
}

.right-aside section.right-title {
    padding: 10px;
    margin:10px 0 0 0;
	width: 100%;
}

.right-aside .total {
    padding: 0;
    height: auto;
    margin: 0;
}

section.right-title .price {
    width: 100%;
    font-size: 13px;
    padding: 0;
}

.betslip .bet-note del, .price span {
    width: 65%;
    text-align: right;
    letter-spacing: 0.5px;
	font-size: 15px;
	font-weight:bold;
}

.betslip .bet-note b, .betslip .bet-note span, .betslip .bet-note del, .betslip .bet-note .betno, .parlay-area b, .parlay-area span, .price span, .price b {
    display: inline-block;
}

.right-aside .total a {
    display: block;
    margin: 5px 0 0 0;
    text-align: center;
    padding: 4px 0;
}

a.btn-j, a.btn-accept, .w-area05 a, .right-aside .total a {
    text-align: center;
    letter-spacing: 3px;
    width: 100%;
    line-height: 16px;
    overflow: hidden;
    padding: 6px 5px;
    color: #ffffff!important;
    font-size: 14px;
}
.right-aside .total a#a_betsKeepOption {
    box-shadow: none;
    border-radius: 4px;
    background: #4C4C4C;
    border: none;
}
#a_reserve{
	text-align: center;
    letter-spacing: 3px;
    width: 100%;
    line-height: 16px;
    overflow: hidden;
    padding: 6px 5px;
    color: #ffffff!important;
    font-size: 14px;
    box-shadow: none;
    border-radius: 4px;
    background: #757575;
    border: none;
}
#a_reserve:hover{
    background: #333;
}
#a_continute{
	text-align: center;
    letter-spacing: 3px;
    width: 100%;
    line-height: 16px;
    overflow: hidden;
    padding: 6px 5px;
    color: #ffffff!important;
    font-size: 14px;
    background: -webkit-linear-gradient(#c74546,#a92c2d);
    background: -o-linear-gradient(#c74546,#a92c2d);
    background: -moz-linear-gradient(#c74546,#a92c2d);
    background: linear-gradient(#c74546,#a92c2d);
    border: none;
    border-radius: 4px;
    box-shadow: none;
    margin-top: 5px;
}
#a_continute:hover{
	background: -webkit-linear-gradient(#a41c1d,#7c1212);
    background: -o-linear-gradient(#a41c1d,#7c1212);
    background: -moz-linear-gradient(#a41c1d,#7c1212);
    background: linear-gradient(#a41c1d,#7c1212);
}
.padding-wrap{
    position: relative;
}

.news_lightbox {
    position: absolute;
    width: 700px;
    height: 414px;
    left: 50%;
    margin-left: -350px;
    z-index: 3;
    background: #fff;
    border: 3px solid #43484C;
    border-radius: 3px;
}

.news_lightbox button.close {
    right: -7px;
    left: auto;
    top: -9px;
    width: 26px;
    height: 24px;
    background: url(../images/Sports/uni_icons_004.png?1001) -642px 0px no-repeat;
}

.news_lightbox h2 {
    line-height: 24px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 5px;
    padding: 2px 12px 5px;
    background: #43484C;
    color: #fff;
}

.news_lightbox .article li {
    padding: 5px 12px;
    text-align: left;
    border-bottom: 1px solid #D5D5D5;
}

.news_lightbox .article li span, .news_lightbox .article li div {
    display: inline-block;
    zoom: 1;
    _height: 30px;
    vertical-align: top;
}

.news_lightbox .article li span {
    width: 74px;
    float: left;
}

news_lightbox .article li div {
    width: 590px;
}

.news_lightbox .page-wrap {
    padding: 5px;
    margin: 5px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.news_lightbox .page-wrap li, .news_lightbox .page-wrap li a {
    width: 9px;
    height: 9px;
    text-indent: -999px;
    overflow: hidden;
    cursor: pointer;
}
/*quickbet-area-wrap*/
.quickbet-area-wrap .bet-area, .quickbet-area-wrap .bet-area .alert-wrap { margin: 0}
.quickbet-area-wrap .bet-area .betslip {padding: 5px;}
.quickbet-area-wrap .betslip form {margin-bottom: 0;padding: 6px 2px 6px 0;width: 100%;border: none;}
.quickbet-area-wrap .betslip form input, .quickbet-area-wrap .bet-area .name {line-height: 22px;height: 22px;padding-bottom: 0;margin: 0;}
.quickbet-area-wrap .betslip form input {width: 57px;margin-right: 5px;}
.quickbet-area-wrap .bet-area .name { 
padding: 0 0 0 12px!important;
width: 100px!important;
}
.betslip .quick-wrap a.btn-quick {margin: 2.5px 2px!important;font-weight: bold;}
.quick-box .btn-black { float: left;}
.quick-box .btn-black a {width: auto;padding: 2px 6px;margin: 0!important;text-align: center;text-indent: 0;line-height: normal;height: auto;position: relative;top: -1px;}
.btn-quick {
    line-height: 21px;
    height: 21px;
}
.quick-box-tip {
padding: 7px 10px;	
}
.quick-box-tip li { list-style-type: decimal; margin: 5px 0; margin-left: 16px;}
.quickbet-area-wrap .bet-area .name {
float: left;
padding: 0 10px;
width: 144px;
}
.w65 {
    width: 61px;
}

/* rules */
.rules, ul.rules_list > li > h3, .rules_tb, .rules_tb caption { font-size: 15px;}
.rules {
  text-align: left;
  height: auto;
  background-color: transparent!important;
  width: 700px;
  padding: 0;
}
.rules_top {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.rules_top:before, .pop_close, .pop_open, .pop_open2 {
  float: left;
  content: "";
  width: 25px;
  height: 25px;
}
.rules_top:before {
  margin: 13px 0.5em 0 1em;
}
.pop_open {
  position: absolute;
  top: 7px;
  right: 0;
}
.pop_open2 {
  float: right;
  margin-top: 7px;
}
.pop_close {
 	position: absolute;
    top: 10px;
    right: 1em;
    margin: 0;
}
.rules_main {
  padding: 1em;
  background-color: #fff;
}
.rules_menu {
  margin-bottom: 1em;
}
.rules_menu > li {
  position: relative;
  height: 40px;
  padding: 0 1em;
  line-height: 40px;
  cursor: pointer; 
  clear: both;
  background: #efefef;
}
.rules_arrow {
  width: 16px;
  height: 16px;
  margin-left: 1em;
  display: inline-block;
}
.rules_menu > li ul {
  position: absolute;
  left: 0;
  float: left;
  width: 100%;
  display: none;
  height: 280px;
  overflow-y: scroll;
  z-index: 1;
}
.rules_menu li:hover ul {
  width: auto;
  display: block;
}
.rules_menu > li ul li {
  width: 100%;
  height: 40px;
  padding: 0 1em;
  line-height: 40px;
  overflow: hidden;
  border-top: 1px solid #fff;
  background: #efefef;
}
.rules_menu > li ul li:hover {
  background: #ccc;
}
.rules_text {
  height: 275px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #e9e9e9;
}
ul.rules_list {

  margin: 0;
  padding: 0;
}
ul.rules_list > li {
  padding: 0.5em 1em;
  list-style: none;
  padding-bottom: 1em;
  border-bottom: 1px solid #e9e9e9;
}
ul.rules_list {
    line-height: 130%;
}
ul.rules_list p {
  margin: 0;
}
ul.rules_list > li > h3, ul.rules_list > li > p, ul.rules_list > li > ul > li {
  margin: 0.75em 0;
  padding: 0;
}
ul.rules_list > li > h3 { font-size: 15px;}

ul.rules_list > li > ul > li > ul > li {
  list-style: outside;
  list-style-image: url(../Images/Keno/icon_list.png);
  margin-left: 2em;
}
.rules_tb {
  width: 100%;
  margin: 0.75em 0;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
}
.rules_tb caption {
  text-align: left;
  margin-bottom: .15em;
}
.rules_tb th, .rules_tb td {
  padding: 0.75em 0;
}
.rules_tb th {
  font-weight: normal;
}
.rules_tb td {
  background: #fff;
}

.btn-close-b a {
    width: 14px;
    height: 14px;
    outline: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0;
    margin: 0;
    margin-top: 1px;
    position: absolute;
    right: 0;
    top: 0;
    background: url(../images/lotto/001/uni_icon.png) -295px -2px no-repeat;
}
.btn-close-b a:hover { background: url(../images/lotto/001/uni_icon.png) -295px -35px no-repeat;}

.poptip-arrow{ display: none;}
.mb10 {margin-bottom: 5px !important;}

.account-bar-oneplat .aside-title-account {border-radius: 6px;}

.mCustomScrollbar #mCSB_1{margin-right: 10px !important;}
.mCustomScrollbar.mCS_no_scrollbar #mCSB_1{margin-right: 0 !important;}
.slimScrollBar { cursor: pointer}

.lottery-info .status{ display:none}

/*1004 new icon */
.leftmenu > li > a#a_menu_main_00034:before, .leftmenu > li > a#a_menu_main_00035:before,
.leftmenu > li#menuid_00020 > a:before, .leftmenu > li#menuid_00021 > a:before {
    width: 22px;
    height: 22px;
    left: -6px;
    top: 5px;
	background: url(../Images/gb-game-icons-24.png) 0 0 no-repeat;
	background-size: 22px;
}
.leftmenu > li#menuid_00020 > a:before { background-position: 0 0}
.leftmenu > li#menuid_00021 > a:before, .leftmenu > li > a#a_menu_main_00034:before { background-position: 0px -24px}
.leftmenu > li > a#a_menu_main_00035:before { background-position: 0px -71px}

.betslip, .parlay-area {
    color: #333;
    border: 1px solid #dcdadb;
    padding: 5px 5px 1px 8px;
}

/*Lightbox*/
.bests, .betcontent .total, .playtable, .howtoplay {
z-index: 1022;
position: absolute;
top: 170px;
}
.poptop-cont, .total-betNow { position: relative; padding: 5px 9px;}
.quick .poptop-cont:before {content: "";display: block;width: 16px;height: 8px;position: absolute;left: 50%;margin-left: -8px;top: -8px;background: url(../Images/quickbet-arrow.png) 0 0 no-repeat;}
.total-betNow {
text-align: left;
font-size: 12px;
font-weight: normal;
position: static;
float: left;
width: 100%;
margin-top: 2px;
}

.quick p { margin: 5px 0}
.quick h3, .bests h3, .playtable h3, 
.howtoplay h3, .betcontent .total h3 { 
    font-weight: 600;
    margin: 5px 0 10px;
    text-align: center;
    font-size: 13px;
}
.bests-btn div { font-weight: normal}

.lightbox .lb-money { line-height: 32px;}
a.lb-btn, .bests .bests-btn a {text-align: center;letter-spacing: 3px;height: 28px;line-height: 26px;overflow: hidden;padding: 0;display: block;font-size:12px;color: #fff!important;border-radius: 4px;}
.quick .lb-btn {width: 34%;}
.quick input, .betcontent .total input {
    border-radius: 4px;
    border: none;
}

.quick input, .betcontent .total input, .bests-btn div {
    padding: 0 5px;
    height: 28px;
    line-height: 28px;
    font-family: Arial;
    text-align: center;
    font-weight: bold;
	font-size:12px;
	border-radius: 4px;
}
.quick input {width: 64%;}
.betcontent .total input {
width: 85px !important;
display: inline-block;
float: left;
line-height: normal;
height: 20px;
}

.quick, .bests, .playtable, .howtoplay, .betcontent .total {
    letter-spacing: 0!important;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #c1c1c1;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.66);
}
.quick{
    z-index: 101;
    position: absolute;
    width: 200px;
    top: 20px;
    left: 20px;
}
.quick-box, .quick-box2 {display: none;position: relative;margin: 12px 0 10px 0;padding: 5px;font-size: 13px;letter-spacing: 0.5px;border-radius: 4px;border: 1px solid #313131;background-color: #313131;color: #FFF;}
.quick-box .form1 {
margin-bottom: 8px;
height: auto;
line-height: 25px;
padding: 0;	
}
.quick-box .form1 .name { margin-left: 2.5px;}
.quick-box .form1 .input {width: 50px;margin-left: 5px;text-align: center;padding: 3px 0; height: auto;border-radius: 2px;border: none;background: #fff;color: #333;}
.quick-box .quick-wrap, .quick-box2 .form2 {
text-align: center;
margin-bottom: 2px;
font-size: 0;
}
.quick-wrap a.btn-quick, .quick-box2 .input-edit {padding: 0 5px;margin: 2.5px 2px;font-weight: bold;display: inline-block;line-height: 21px;height: 21px;font-size: 12px;width: 94px;text-align: center;letter-spacing: 0;border: none;border-radius: 2px;background: #fff;color: #333;}
.quick-box a.edit {padding: 3px 5px;margin: 10px 3px 5px 3px;display: inline-block;color: #fff !important;border-radius: 2px;line-height: 15px;background: #f1404c;}
.quick-box2 a.finish-edit {display: block;text-align: center;padding: 6px 0;margin: 10px 3px 5px 3px;border-radius: 2px;color: #fff !important;}
.quick-box2 .title { margin-bottom: 2px; text-align: center; line-height: 25px;}

.sbtn {
    margin: 0 !important;
    padding: 3px 5px !important;
}

.quick-bet a.quick-tip-link, .quick-bet a.quick-tip-link:hover { text-indent: 999px; overflow: hidden; width: 21px; height: 21px; margin: 0; background: url(../Images/quickbet-rule.png) 0 0 no-repeat;}
.quick-tip { position: relative;width: 190px; font-size: 13px;}
.quick-tip li {list-style-type: decimal;margin: 3px 0 3px 16px;padding-left: 5px;}
.quick-tip .arrow { display: none;}

#tiptip_content {
	padding: 8px;
	font-size: 13px;
	border-radius: 4px;
	background: #313131;
	box-shadow: none;
	text-shadow: none;
	color: #FFF;
}
.tip_left #tiptip_arrowbet, .tip_left #tiptip_arrow, .tip_right #tiptip_arrowbet, .tip_right #tiptip_arrow {
    top: -2px;
}
#tiptip_holderbet.tip_left #tiptip_arrow_innerbet, #tiptip_holder.tip_left #tiptip_arrow_inner, #tiptip_holderbet.tip_right #tiptip_arrow_innerbet, #tiptip_holder.tip_right #tiptip_arrow_inner {
    margin-top: -9px;
    margin-left: -9px;
}
#tiptip_arrow, #tiptip_arrow_inner, #tiptip_arrowbet, #tiptip_arrow_innerbet {
    border-width: 8px;
}
#tiptip_holder.tip_top #tiptip_arrow_inner {
	border-top-color: #313131;
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	border-bottom-color: #313131;
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	border-right-color: #313131;
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	border-left-color: #313131;
}

/*event*/
.bet-option .blockOverlay { background: none!important;} /*keno*/
.blockOverlay { opacity:0.6!important; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"!important; background: #000!important} /*For event only*/
.event {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5;
}
.event-box { 
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
	background: url(../images/event.png) center center no-repeat;
	cursor: pointer
}
.event-EN .event-box {
	background-image: url(../images/event-en.png);
}
.event-TH .event-box {
	background-image: url(../images/event-th.png);
}
.event-VI .event-box {
	background-image: url(../images/event-vi.png);
}
