@charset "utf-8";

.report-head:after, .page-wrap:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;	
}

/*Report*/
.report-head { font-size: 21px;}
.drop-down-report { margin-left: 20px}
.drop-down-report, .drop-down-report2 { float: left;}
.drop-down-report2 { margin-left: 10px}
.drop-down-report > li > a, .drop-down-report2 > li > a { padding: 10px 0; position: relative; letter-spacing: 1px; line-height: 29px;}
.drop-down-report > li, .drop-down-report2 > li { padding-right: 27px;}
.drop-down-report > li > a:after, .drop-down-report2 > li > a:after {
content: "";
position: absolute;
display: block;
width: 20px;
height: 20px;
right: -27px;
top: 16px;
}
.drop-down-report ul, .drop-down-report2 ul {
width: 148px;
right: -10px;
margin-top: -3px;
}
.drop-down-report ul:before, .drop-down-report2 ul:before {
content: "";
position: absolute;
display: block;
width: 15px;
height: 7px;
right: 13px;
top: -7px;
top: -6px\0;
z-index: 1;
}
.drop-down-report ul li, .drop-down-report2 ul li { padding: 4px}
.drop-down-report ul a, .drop-down-report2 ul a { font-size: 14px;padding: 5px;}

.report-head .btn-back {margin: 13px 0 0 0; position: absolute; right: 20px;}

.list-title > *, .list-content > * { text-align: center;border-right: 1px solid; display: table-cell; vertical-align: middle;word-break: break-word;}
.list-title { width: 100%; display: table;}
.list-title > * { padding: 7px 0;}
.list-title .one, .list-content .one { padding-right: 0; padding-left: 0;}
.list-title .wrap, .list-content .wrap { display: table; width: 100%;}

.list-content { width: 100%; display: table; border-bottom: 1px solid;}
.list-content > * { padding: 8px 12px}
.list-content-wrap .list-content:last-child { border-bottom: none}

/* report - list */
.list-title1 .one, .list-content1 .one {
    width: 6%;
}
.list-title1 .two, .list-content1 .two {
    width: 18%;
}
.list-title1 .three, .list-content1 .three {
    width: 43%;
}
.list-title1 .four, .list-content1 .four {
    width: 11%;
}
.list-title1 .five, .list-content1 .five {
    width: 11%;
}
.list-title1 .six, .list-content1 .six {
    width: 11%;
	border-right: none
}
.list-content1 .two, .list-content1 .three { text-align: left}

/* report - history */
.list-title2 .one, .list-content2 .one {
    width: 6%;
}
.list-title2 .two, .list-content2 .two {
    width: 18%;
}
.list-title2 .three, .list-content2 .three {
    width: 37%;
}
.list-title2 .four, .list-content2 .four {
    width: 11%;
}
.list-title2 .five, .list-content2 .five {
    width: 11%;
}
.list-title2 .six, .list-content2 .six {
    width: 11%;
}
.list-title2 .seven, .list-content2 .seven {
    width: 6%;
	border-right: none
}
.list-content2 .two, .list-content2 .three { text-align: left}
.list-content2 .three div, .list-content1 .three div { line-height: 1.5;}
.list-content2 .three a, .list-content1 .three a {
padding: 2px 5px;
line-height: normal;
display: inline-block;
margin-bottom: 4px;
margin-left: -4px;
}

.subtotal > * {padding: 11px 0;}

/* report - gameresult */
.drop-down-title3 { margin-left: 5px;}
.drop-down-title3 li a { 
line-height: 19px;
height: 19px;
padding: 0 14px;
padding-right: 16px;
}
.drop-down-title3 > li > a:after {
content: "";
position: absolute;
right: 3px;
top: 5px;
width: 10px;
height: 10px;	
}
.drop-down-title3 ul a { 
padding: 0 4px;
line-height: 22px;
height: 22px;
margin: 1px 0;
}

.list-title3 .one, .list-content3 .one, .list-title4 .one, .list-content4 .one {
    width: 4%;
}
.list-title3 .two, .list-content3 .two, .list-title4 .two, .list-content4 .two {
    width: 15%;
}
.list-title3 .three, .list-content3 .three, .list-title4 .three, .list-content4 .three {
    width: 10%;
}
.list-title3 .five, .list-content3 .five, .list-title4 .six, .list-content4 .six {
    width: 40%;
}
.list-title3 .six, .list-content3 .six, .list-title4 .seven, .list-content4 .seven,
.list-title3 .seven, .list-content3 .seven, .list-title4 .eight, .list-content4 .eight {
    width: 10%;
}
.list-title3 .seven, .list-content3 .seven, .list-title4 .eight, .list-content4 .eight { border-right: none}
.list-title3 .ten, .list-content3 .ten, .list-title4 .four, .list-content4 .four {
    width: 11%;
}
.list-title3 .four, .list-title3-2 .four, .list-content3 .four, .list-title4 .five, .list-title4-2 .five, .list-content4 .five { display: none}

.list-title3 .five .t5 ,.list-content3 .five .t5, .list-title4 .six .t5 ,.list-content4 .six .t5 { border-right: none !important}
.list-content3 > *, .list-content4 > *, .list-content1 .six { padding: 8px 0}
.list-title3 .five span, .list-title3 .five .drop-down { display: inline-block}
.list-title3 .five, .list-title4 .six { padding: 5px 0;}
.list-title3-2 .five .wrap > *, .list-content3 .five .wrap > *, 
.list-title4 .six .wrap > *, .list-title4-2 .six .wrap > *, .list-content4 .six .wrap > * { 
width: 20%; display: table-cell; padding: 8px 0; border-right: 1px solid}
.list-content3 .five .wrap > *, .list-content4 .six .wrap > * { padding: 8px 0; height: 33px\0;}
.list-content3 .ten, .list-content4 .four { letter-spacing: 10px; text-indent: 10px;}

.list-title3-2 .five, .list-content3 .five, .list-title3-2 > *, .list-title4-2 > *,
.list-title4 .six, .list-title4-2 .six, .list-content4 .six { 
padding: 0}
.list-title3-2 .four .wrap > *, .list-title3-2 .five .wrap > *,
.list-title4-2 .five .wrap > *, .list-title4-2 .six .wrap > * { 
padding: 6px 0;
}

.page-wrap {width: 100%;margin: 16px auto 0;text-align: center;vertical-align: middle;font-size: 0;}
.page-wrap p { margin: 10px 0; display: block; width: 100%; height: auto}
.page-wrap > * {display: inline-block;width: 26px;height: 26px;line-height: 26px;margin: 0 3px;vertical-align: top;font-size: 13px;}
.page-wrap .page2 ,.page-wrap ul{padding: 0 10px;width: auto;}
.page-wrap .input {
text-align: center;
width: 43px;
}
.report-money p{ float:left; padding:0 15px 0 0; margin:0}
.report-money b{ letter-spacing:1px}
.list-content del{letter-spacing: 1px; padding-left: 10px;}
.list-content .six a{
padding: 0 9px;
display: inline-block;
width: auto;
font-size: 12px;
line-height: 20px;
letter-spacing: 1px;
margin-left: 5px;
}

.dropdown-menu {
    width: auto;
    margin: 0 5px 0 0;
    height: 26px;
}
.dropdown-menu:hover > ul { display: block}
.dropdown-menu ul{ padding:0; display: none}
.page-dropdown:after {
content: "";
position: absolute;
width: 10px;
height: 10px;
margin: 6px 0 0 4px;
}
.dropdown-menu a ,.dropdown-menu ul li a{
    padding: 5px 20px 10px 10px;
    width: auto;
    line-height: 17px;
    display: inline-block;
    height: 26px;
}

/*------------------ For Keno & Lotto ----------------------*/
.table a.btn-j2 { 
line-height: 16px;
overflow: hidden;
padding: 6px 5px;
font-size: 14px;
width: auto;
letter-spacing: normal;
display: block;
text-align:center;
margin: 0
}
.report-list table.table, .lotto-d .lotto-number-tiny .plus { font-size: 13px; letter-spacing: 0.5px;}
/*table*/
.report-list table.table tr { position: relative;}
.report-list table.table td { vertical-align: top;}
.report-list .table tr td { border-right: 1px solid;}
.report-list .table tr th { border-right:1px solid; line-height: 16px;}
.report-list .table tr th:last-child { border-right: none;}
.report-list .table tr.time-result a { padding: 8px;}
.report-list table.table th, 
.report-list table .time-result-title { 
font-weight: normal;
padding: 9px 4px;
}
.report-list .game-event-wrap > *, .report-list .time-result-wrap .time-result > * { float: left; text-align: center;}
.report-list table .game-event-wrap > * { float: none; display: table-cell;}
.report-list .table .three span {
width: 50%;
text-align: right;
padding-right: 10px;
}
.report-list .table del { width: 50%;}

.main-content2 a.btn-j b { margin-left: 5px}

/*report-option for KENO LOTTO*/
.main-content2 .report-option .drop-down-odds {
    margin:3px 15px 3px 0;
	min-width: 130px;
}
.main-content2 .report-option .drop-down-odds.gametype { margin-right: 15px;}
.main-content2 .report-option .drop-down-odds a {
    line-height: 16px;
    padding: 4px 25px 4px 4px;
    height: auto;
    overflow: hidden;
    border: 1px solid;
    position: relative;
    border-radius: 4px;
}
.main-content2 .report-option .drop-down-odds a:after {content: "";position: absolute;width: 18px;height: 100%;top: 0;right:0; border-radius: 4px;}
.main-content2 .report-option .drop-down-odds ul a:after { content: none;}

/*Report content for KENO LOTTO*/
.report-list { 
}

.report-list table.table { line-height: 22px; line-height: 27px;}
.report-list table.table td { vertical-align: middle;}
.report-list table table { border-top: none!important;}
.report-list table { border: 1px solid; text-align: center;}
.report-list .history:last-of-type table:last-child,
.report-list table.table-result,
.report-list table.table-inside { 
overflow: hidden}

.report-list div .history table { padding: 0!important;}
.report-list table tr th, .report-list table tr td { padding:5px 10px;}
.report-list table tr:first-child > *:first-child { border-left: none;}
.keno-a ,.keno-b{padding:0;}

.report-list table tr.multi-title td, .report-list table tr.multi-child td { border-radius: 0!important;}
.report-list table tr td div > * { margin-right: 5px;}
.report-list table tr td:nth-of-type(2), .report-list table tr td:nth-of-type(3) { text-align: left;}
/*normal + Bet slip history*/
.report-list .table .one { width: 5%;}
.report-list .table .two { width: 20%;}
.report-list .table .three { width: 45%;}
.report-list .table .four { width: 10%;}
.report-list .table .five { width: 10%;}
.report-list .table .six { width: 10%;}

/*Bet slip history*/
article.report-list .history table:first-child { border-top: none!important;}
.report-list .table2 .three { width: 35%;}
.report-list .table2 .seven { width: 10%;}

/*Game result.width*/
.report-list table.table-result .one { width: 15%;}

.report-list table.four-columns .two { width: 55%;}
.report-list table.four-columns .three { width: 20%;}
.report-list table.four-columns .four { width: 10%;}

.report-list table.five-columns .two { width: 55%;}
.report-list table.five-columns .three, 
.report-list table.five-columns .four, 
.report-list table.five-columns .five { 
width: 10%;}

.report-list table.six-columns .two { width: 45%;}
.report-list table.six-columns .three, 
.report-list table.six-columns .four, 
.report-list table.six-columns .five, 
.report-list table.six-columns .six { 
width: 10%;}

.report-list table.seven-columns .two { width: 35%;}
.report-list table.seven-columns .three, 
.report-list table.seven-columns .four, 
.report-list table.seven-columns .five, 
.report-list table.seven-columns .six,
.report-list table.seven-columns .seven { 
width: 10%;}

.report-list table.eight-columns .two { width: 37%;}
.report-list table.eight-columns .three, 
.report-list table.eight-columns .four, 
.report-list table.eight-columns .five, 
.report-list table.eight-columns .six, 
.report-list table.eight-columns .seven, 
.report-list table.eight-columns .eight { 
width: 8%;}

.report-list table.nine-columns .one { width: 15%;}
.report-list table.nine-columns .two { width: 29%;}
.report-list table.nine-columns .three, 
.report-list table.nine-columns .four, 
.report-list table.nine-columns .five, 
.report-list table.nine-columns .six, 
.report-list table.nine-columns .seven, 
.report-list table.nine-columns .eight, 
.report-list table.nine-columns .nine { 
width: 8%;
}

.report-list table.ten-columns .two { width: 33%;}
.report-list table.ten-columns .three, 
.report-list table.ten-columns .four, 
.report-list table.ten-columns .five, 
.report-list table.ten-columns .six, 
.report-list table.ten-columns .seven, 
.report-list table.ten-columns .eight, 
.report-list table.ten-columns .nine {
width: 6%;}
.report-list table.ten-columns .ten { width: 10%;}

.report-list table.eleven-columns .one { width: 15%;}
.report-list table.eleven-columns .two { width: 27%;}

.report-list table.eleven-columns .three, 
.report-list table.eleven-columns .four, 
.report-list table.eleven-columns .five, 
.report-list table.eleven-columns .six, 
.report-list table.eleven-columns .seven, 
.report-list table.eleven-columns .eight, 
.report-list table.eleven-columns .nine,
.report-list table.eleven-columns .ten {
width: 6%;}
.report-list table.eleven-columns .eleven { width: 10%;}

/*Game result*/
.report-list table.table-result tr td { border-bottom:1px solid}
.report-list table.table-result tr td:nth-of-type(1), 
.report-list table.table-inside tr td[rowspan]:first-child { 
text-align: left;}
.report-list .table td.two { text-align: left!important;}
.report-list table.table-result tr td:nth-of-type(3),
.report-list .table th.two ,
.report-list table.table-result tr td:nth-of-type(2){ 
text-align: center;}

/*table tr.has-table td > table.table-inside*/
.no-padding { padding: 0!important; border-bottom: none!important;}

.report-list table.table-result tr td table tr:nth-of-type(3n) td:nth-of-type(1), .report-list table.table-result tr td table tr td:nth-of-type(2){ text-align: center;}
.report-list table.table-result tr td table tr:first-child td { border-top: none;}
.report-list table.table-result tr td table { border-bottom: none!important;}

.report-list table.table-result tr.has-table:hover td > table tr td { }
.report-list table.table-inside { border: none; border-radius: 0;}
.report-list table.table-inside tr > *:last-child,
.report-list .table.four-columns tr td:nth-child(2) { 
border-right: 1px solid}
.report-list table.table-inside tr td table tr td:first-child { border-bottom: none;}
.report-list table.table-inside tr:last-child td, 
.report-list table.table-inside tr:nth-last-of-type(2) td:first-child,
.report-list table.table-inside tr:nth-last-of-type(2) td:last-child { 
border-bottom: 0;}
.report-list table.table-inside tr td[rowspan]:last-child,
.report-list table.table-inside tr td[colspan] { 
border-right: none;}
@media \0screen {
/*IE8 ONLY*/
.report-list table.table-inside tr td[rowspan] { border-right: 1px solid}
}

.report-list table.four-columns table.table-inside { padding-bottom: 0;}
.report-list table.four-columns table.table-inside tr:last-child td,
.report-list table.four-columns table.table-inside tr td[rowspan] { 
border-bottom: 1px solid}

/*--inside td:first-child of all*/
.report-list table.table-result tr td table.table-inside tr:first-child td:nth-child(1) { width: 15%;}
/*--inside four-columns*/
table.four-columns tr td table tr:first-child td:nth-child(2) { width: 55%;}
table.four-columns tr td table tr:first-child td:nth-child(3) { width: 20%;}
table.four-columns tr td table tr:first-child td:nth-child(4) { width: 10%;}
/*--inside five-columns*/
table.five-columns tr td table tr:first-child td:nth-child(n) { width: 10%;}
table.five-columns tr td table tr:first-child td:nth-child(2) { width: 55%;}
/*--inside six-columns*/
table.six-columns tr td table tr:first-child td:nth-child(n) { width: 10%;}
table.six-columns tr td table tr:first-child td:nth-child(2) { width: 45%;}
/*--inside seven-columns*/
table.seven-columns tr td table tr:first-child td:nth-child(n) { width: 10%;}
table.seven-columns tr td table tr:first-child td:nth-child(2) { width: 35%;}
/*--inside eight-columns*/
table.eight-columns tr td table tr:first-child td:nth-child(n) { width: 8%;}
table.eight-columns tr td table tr:first-child td:nth-child(2) { width: 37%;}
/*--inside nine-columns*/
table.nine-columns tr td table tr:first-child td:nth-child(n) { width: 8%;}
table.nine-columns tr td table tr:first-child td:nth-child(2) { width: 29%;}
/*--inside ten-columns*/
table.ten-columns tr td table tr:first-child td:nth-child(n) { width: 6%;}
table.ten-columns tr td table tr:first-child td:last-child { width: 10%;}
table.ten-columns tr td table tr:first-child td:nth-child(2) { width: 33%;}

/*Game result.width(KENO)*/
.report-list table.keno-five-columns .one {width: 11%;}
.report-list table.keno-five-columns .two { width: 11%;}
.report-list table.keno-five-columns .three { width: 10%;}
.report-list table.keno-five-columns .four {width: 60%;}
.report-list table.keno-five-columns .five { width: 8%;}
.report-list table.keno-five-columns tr td:nth-of-type(1), .report-list table.keno-five-columns tr td:nth-of-type(2) { text-align: center;}

.report-list table.keno-five-columns tr td:nth-of-type(4) { text-align: left;}
.report-list .table.keno-five-columns span { padding-right: 6px;}

/*Game result(LOTTO)*/
.report-list table.lotto-five-columns .one { width: 8%;}
.report-list table.lotto-five-columns .two { width: 7%;}
.report-list table.lotto-five-columns .three { width: 8%;}
.report-list table.lotto-five-columns .four { width: 72%;}
.report-list table.lotto-five-columns .five { width: 5%;}
.report-list table.lotto-five-columns td.four { padding: 4px 10px}
.report-list table.lotto-five-columns tr td:nth-of-type(1), .report-list table.lotto-five-columns tr td:nth-of-type(2) { text-align: center;}
.report-list table.lotto-five-columns td.two { text-align: center!important;}
.report-list table.lotto-five-columns tr td:nth-of-type(4) { text-align: left;}

.lotto-a, .lotto-b, .lotto-c, .lotto-d { padding: 5px 0;  margin: 3px 0;}
.lotto-d { width: 50%;}
.lotto-item-a, .lotto-item-b, .lotto-item-c, .lotto-item-d { padding: 0 3px; display: inline-block; width: auto!important;}
.lotto-item-d { float: left;}
.lotto-d .lotto-number-tiny {
display: inline-block;
float: left;
margin: 0;
}
.lotto-d .lotto-number-tiny .plus {
display: inline-block;
margin: 0 2px;
width: 20px!important;
text-align: center!important;	
}
.lotto-d .colorball-s5 dd { width: 27px; line-height: 27px; margin: 0 2px!important}
.lotto-content { letter-spacing: 2px;}
.report-popup {
position: absolute;
z-index: 100;
}
.report-list table.lotto-five-columns tbody:last-child tr:last-child td,
.report-list table.keno-five-columns tbody:last-child tr:last-child td { 
border-bottom: none
}

/*------------------REPORT----------------------*/
.report-list .history[name="divMixGame"] .table tr td, .table.bg-blue tr td, .report-list .table tr.multi-title td { cursor: pointer}
.main-content2 { float: none; width: auto;}
.report-option, .page-wrap a, .page-wrap strong,.page-wrap input[type="text"],.page-wrap span {font-size: 12px}
.report-option {
    padding: 5px 10px 10px 5px;
	padding: 10px;
    margin: 0 0 5px 0;
}
.report-option .center { line-height: 25px; margin-right: 15px; margin: 3px 10px 3px 0;}
.report-option .center:first-of-type { margin-left: 0!important}
.report-option .center:last-child { margin-right: 0!important}
.report-option input, .page-wrap input[type="text"] { -webkit-appearance: none; -moz-appearance:none; appearance: none; outline: none; border: none;}
.report-option input[type="radio"] { 
position: absolute;
margin-top: 5px;
opacity: 0; 
-webkit-appearance: radio;
-moz-appearance:radio; 
appearance: radio;
opacity: 1\9; 
border: none\9;
background: none\9;
}

/*text*/
.report-option input[type="text"], 
.page-wrap input[type="text"] {
padding: 0 4px;
line-height: 27px;
height: 27px;
width: 110px;
box-shadow: none;
border: 1px solid transparent;
border-radius: 4px;
margin: 0 4px;
}
::i-block-chrome, .report-option input[type="text"], 
::i-block-chrome, .page-wrap input[type="text"] {
line-height: 1}

.report-option input[type="button"] { 
    width: auto;
    padding: 2px 15px;
    line-height: 23px;
    position: relative;
    /* top: -1px; */
    top: -2px\9;
    box-shadow: none;
    display: inline-block;
    margin: 0 0 0 10px;
}
_:-moz-tree-row(hover), .report-option input[type="button"] { }
.report-option input[type="text"].time { width: 110px;}

/*radio */
.report-option label { cursor: pointer; line-height: 24px;}

/*IE8*/
@media \0screen\,screen\9 {

.report-option label { margin-left: 16px}
.report-option .center:last-child label:last-of-type { margin-left: 0}
	
}
		
.report-option input[type="radio"] + label::before {
content: "";
display: inline-block;
zoom:1; 
*display: inline; 
_height: 30px;
width: 13px;
height: 13px;
line-height: 13px;
margin: 6px 6px -2px 0;
position: relative;
z-index: 1;
border-radius: 50%;
}
/* IE9 -10*/
@media screen and (min-width:0\0) {
  .report-option input[type="text"], 
  .page-wrap input[type="text"] {
	  line-height: 25px;
	  height: 26px;
  }
  .report-option input[type="button"] { 
  	line-height: 23px;
	top: -4px;
  }
  
  .report-option input[type="radio"] { opacity: 0}
  .report-option input[type="radio"] + label::before { margin-left: -16px}
  .report-option label { line-height: 30px}
}
/* IE11*/
_:-ms-fullscreen, :root .report-option input[type="radio"] + label::before { margin-left: 0}
_:-ms-fullscreen, :root .report-option input[type="button"] { top: -2px}
_:-ms-fullscreen, :root .report-option label { line-height: 26px}

/*page-wrap*/
.page-wrap {padding-bottom: 100px;font-size: inherit;}
.page-wrap > * {display: inline-block;zoom:1; *display: inline;_height: 30px;margin: 0 5px;vertical-align: baseline;}
.page-wrap a, .page-wrap strong {
width: auto;
white-space: nowrap;
padding: 0 14px;
line-height: 24px;
height: auto
}
.page-wrap input[type="text"] { 
width: 50px; 
height: 24px;
line-height: 24px;
position: relative\0;
top: 2px\0;
}

/*report top-bar*/
.top-bar .btn-rule { overflow: hidden; text-indent: -999px}
.report-topbar a.btn-g, .report-topbar a.btn-g { display: block!important;}
.report-topbar{margin-left: 161px;overflow: hidden;}

.top-bar.report-topbar .news_box { width: 71%;}
.top-bar-oneplat.report-topbar .news_box { width: 78%;}
@media only screen and (max-width: 1279px) {

.top-bar.report-topbar .news_box { width: 70%;}	
	
}

.top-bar-oneplat.report-topbar a.btn-g {margin-right: 10px}
.report-topbar .btn-history {margin-right: 5px}

/*------------------oneplatform----------------------*/
.top-bar-oneplat.report-topbar {margin-right: 0; border-right: none}
.titlebg-gray{background-color: #f2f2f2 !important;}
.txt-left{ text-align:left !important}

/*------------------top-bar-----------------*/
.top-bar a.btn-e, .top-bar a.btn-g { display: none}
.btn-history {margin-right: 0}

.keno .st01 ul {width: 22px;}
.keno .st02 ul {width: 43.6px;}

/*------------------ border-radius -----------------*/
.report-list .table.table-result {
    border-radius: 0;
	overflow:hidden;
	border: none;
}
.report-list #tbl_History_List_Template{border-radius:0 0 5px 5px;}
.report-list .history:first-child table {
    border-radius: 0 !important;
}
.report-list > .history:first-child table {
    border-radius: 5px 5px 0 0 !important;
}
.report-list div:first-of-type .table {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    border-right: none;
    border-left: none;
}
.report-list .history:last-of-type table {
    border-radius: 0!important;
}
.report-list > .history:last-of-type table {
    border-radius: 0 0 5px 5px!important;
    border-bottom: none;
}

/*------------------ border-radius -----------------*/
.report-list .table.table-result {
    border-radius: 0 0 5px 5px;
	overflow:hidden;
	border: none;
}
.report-list #tbl_History_List_Template{border-radius:0 0 5px 5px;}
.report-list .history:first-child table {
    border-radius: 0 !important;
}
.report-list > .history:first-child table, .report-list > .table.table-result:first-child {
    border-radius: 5px 5px 0 0 !important;
}
.report-list div:first-of-type .table {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    border-right: none;
    border-left: none;
}
.report-list .history:last-of-type table {
    border-radius: 0!important;
}
.report-list > .history:last-of-type table {
    border-radius: 0 0 5px 5px!important;
    border-bottom: none;
}

/*------------------ report-account ----------------------*/
.report-account{top: 0; right: 15px; right: 0;}
.report-account .aside-title-account{ display:none}
.report-topbar{ 
	/*width: 85%;*/
	padding: 0 230px 0 14px;
}

.report-account .account-bar b ,.report-account .account-bar del {
    font-size: 15px;
    line-height: 17px !important;
}
.report-account .account-bar{
    font-size: 16px;
    padding: 3px 8px;
    line-height: 17px;
    height: 36px;
}
.report-account .account-bar .icon-member {
    width: 26px;
    height: 26px;
	background:url(../Images/icon_acc.png) left top no-repeat
}

/*------------------ mediaqueries ----------------------*/

@media only screen and (min-width: 1440px) {

.report-list table tr td { padding: 7px 10px}
.report-list table tr td div { margin: 1px 0}

.keno-a { display: inline-block; float: left;}
.keno-b { display: inline-block; float: left;}

.lotto-a, .lotto-b, .lotto-c, .lotto-d { display: inline-block; float: left; padding: 0; padding-right: 10px;}

.report-list table.lotto-five-columns .two { width: 8%}
.report-list table.lotto-five-columns .three { width: 9%}
.report-list table.lotto-five-columns .four { width: 70%}

}

@media only screen and (min-width: 1441px) {
.keno-a { padding-right: 5px;}
.keno-b { padding-left: 10px;}
}

@media only screen and (min-width: 1680px) {

.report-list table.lotto-five-columns .one { width: 8%;}
.report-list table.lotto-five-columns .two { width: 7%;}
.report-list table.lotto-five-columns .three { width: 8%;}
.report-list table.lotto-five-columns .four { width: 72%;}
.report-list table.lotto-five-columns .five { width: 5%;}
.keno-a, .keno-b {padding: 10px;}

}

@media only screen and (max-width: 1439px) {

.report-list table.lotto-five-columns .one { width: 9%}
.report-list table.lotto-five-columns .two { width: 10%;}
.report-list table.lotto-five-columns .three { width: 10%;}
.report-list table.lotto-five-columns .four { width: 66%}

.lotto-a, .lotto-b, .lotto-c, .lotto-d { float: left;}
.lotto-a, .lotto-b, .lotto-c { padding-bottom: 0}
.lotto-d { width: 100%}
}

@media only screen and (max-width: 1279px) {
	
/*gameresult*/
.list-title3 .one, .list-content3 .one, .list-title4 .one, .list-content4 .one {
    width: 6%;
}
.list-title3 .two, .list-content3 .two, .list-title4 .two, .list-content4 .two {
    width: 18%;
}
.list-title3 .three, .list-content3 .three, .list-title4 .three, .list-content4 .three {
    width: 12%;
}
.list-title3 .five, .list-content3 .five, .list-title4 .six, .list-content4 .six {
    width: 34%;
}
.list-title3 .six, .list-content3 .six, .list-title4 .seven, .list-content4 .seven,
.list-title3 .seven, .list-content3 .seven, .list-title4 .eight, .list-content4 .eight {
    width: 9%;
}
.list-title3 .ten, .list-content3 .ten, .list-title4 .four, .list-content4 .four {
    width: 12%;
}

.main-content2 .drop-down-odds { width: 115px;}
.main-content2 .report-option .drop-down-odds { margin-right: 10px; margin-right: 5px\9;}
.report-option input[type="button"] { margin-left: 5px}
/*normal + Bet slip history*/
.report-list .table .two { width: 21%;}
.report-list .table .three { width: 34%;}
.report-list .table .five, .report-list .table .six { width: 15%}

/*Bet slip history*/
.report-list .table2 .two { width: 20%;}  
.report-list .table2 .three { width: 35%;}
.report-list .table2 .five, .report-list .table2 .six { width: 10%}
.report-list .table2 .seven { width: 7%}

/*keno*/
.report-list table.keno-five-columns .two { width: 14%;}
.report-list table.keno-five-columns .three { width: 12%;}
.report-list table.keno-five-columns .four { width: 55%;}
/*lotto*/
.report-list table.lotto-five-columns .one { width: 11%;}
.report-list table.lotto-five-columns .two { width: 12%;}
.report-list table.lotto-five-columns .three { width: 13%;}
.report-list table.lotto-five-columns .four { width: 58%;}
.report-list table.lotto-five-columns .five { width: 6%;}
.report-list table tr th, .report-list table tr td { padding: 5px 8px}
.report-list table.lotto-five-columns td.four { padding: 0 8px;}
.lotto-c { width: 100%}

}

@media only screen and (max-width: 1246px) {

.drop-down-report > li, .drop-down-report2 > li { padding-right: 28px;}
.drop-down-report > li > a:after, .drop-down-report2 > li > a:after { right: -28px}

}
@media only screen and (max-width: 1100px) {

.drop-down-report > li, .drop-down-report2 > li { padding-right: 28px;}
.drop-down-report > li > a:after, .drop-down-report2 > li > a:after { right: -28px}

}


