// 文字大小 全域設定
body, html {
    width: 100%;
    height: 100%;
    min-height: 100%;
    //讓字型SIZE在iPhone6上＝10px
    //font-size: calc(100vw/37.5);
    //讓字型SIZE在所有瀏覽器上＝10px
    font-size: 62.5%;
}
body{
  -webkit-overflow-scrolling: touch;
  background-color: $c-F2;
}
// box-sizing 全域設定
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
// 大陸簡體文字 全域設定
a, dl, dt, dd, b, body, em, ul, li, i, span, h1, h2, h3, h4, h5, h6, p, select, button, input, textarea {
	font-family: "PingFangSC-Regular", "Microsoft YaHei", "微软雅黑", '黑体', "Arial";
	letter-spacing:0px;
	outline: none;
	font-style: normal;
	text-decoration:none;
	margin:0;
	padding:0;
  list-style-type: none;
}
//字體設定
@font-face {
  font-family: 'DINPro-Bold';
  src: url('fonts/DINPro-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/DINPro-Bold.woff2') format('woff2'), /* Modern Browsers */
    url('fonts/DINPro-Bold.woff') format('woff'), /* Modern Browsers */
    url('fonts/DINPro-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/DINPro-Bold.svg') format('svg'); /* Legacy iOS */  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DIN-CB';
  src: url('fonts/DINPro-CondensedBold.eot?#iefix') format('embedded-opentype'),  url('fonts/DINPro-CondensedBold.otf')  format('opentype'),
       url('fonts/DINPro-CondensedBold.woff') format('woff'), url('fonts/DINPro-CondensedBold.ttf')  format('truetype'), url('fonts/DINPro-CondensedBold.svg#DINPro-CondensedBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
.digital-font{
  font-family: 'DINPro-Bold';
}
.digital-font.CB{
  font-family: 'DIN-CB';
}
a:visited, a:link, a:hover, a:active, i:visited, i:link, i:hover, i:active,{
  text-decoration:none;
  color: inherit;
}
h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}
// 移除電話屬性
a[href^=tel] {
    color: inherit;
    text-decoration: none;
}
// 共用屬性
.clear{ 
  clear: both;
}
.container-fluid{
  background-color: $c-wh;
}
.ds-none{
  display: none;
}
.of-hidden{
  overflow: hidden;
}
.h-100{
  height: 100%;
}
.bg-c{
  background-color: $c-F2;
}
.headertop{
  height: 42px;
  background-color: $c-F2;
}
// Safari 消除基本樣式
input, textarea, select {
   -webkit-appearance: none;
}
input {
    -webkit-border-radius:0; 
    border-radius:0;
}
input[type="date"]{
    -webkit-appearance: auto;
}
