* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

.btn {
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
    background: #1DB954;
    font-size: 20px;
    color: #fff;
}

.game-wrap {
    position: relative;
    width: 1024px;
    height: 768px;
}

.number-list {
    display: none;
    margin-top: 20px;
}

.number-list td {
    text-align: center;
}

.number-list [class*="icon-"] {
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
}

p {
    height: 40px;
    line-height: 40px;
}


.map-wrap {
    width: 1024px;
    height: 768px;
    background: url(../images/bg.png);
}

.map-wrap .start {
    top: 340px;
    left: 160px;
}

/*兔子走路位置*/
.map-wrap .active:after {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    width: 146px;
    height: 290px;
    border-radius: 5px;
    background: url(../images/rabbit.png) no-repeat center center;
    animation: 1s forwards linear;
}

.icon-1.start:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 146px;
    height: 290px;
    border-radius: 5px;
    background: url(../images/rabbit.png) no-repeat center center;
}

.icon-1.active:after {
    animation-name: move1;
}

.icon-2.active:after {
    animation-name: move2;
}

.icon-3.active:after {
    animation-name: move3;
}

.icon-4.active:after {
    animation-name: move4;
}

.icon-5.active:after {
    animation-name: move5;
}

.icon-6.active:after {
    animation-name: move6;
}

.icon-7.active:after {
    animation-name: move7;
}

.icon-1>.icon-end.active:after {
    top: 88px;
    left: 26px;
}

.icon-4>.icon-end.active:after {
    top: 140px;
    left: 124px;
}

.icon-6>.icon-end.active:after {
    top: 60px;
    left: 119px;
}

@keyframes move1 {
    0% {
        top: 50%;
        left: 0%;
    }

    100% {
        top: 50%;
        left: 100%;
        visibility: hidden;
    }
}

@keyframes move2 {
    0% {
        transform: translate(-50%, 50%);
        bottom: 50%;
        left: 0%;
    }

    50% {
        transform: translate(-50%, 50%);
        bottom: 50%;
        left: 50%;
    }

    100% {
        transform: translate(-50%, 50%);
        bottom: 100%;
        left: 50%;
        visibility: hidden;
    }
}

@keyframes move3 {
    0% {
        top: 50%;
        left: 0%;
    }

    50% {
        top: 50%;
        left: 50%;
    }

    100% {
        top: 100%;
        left: 50%;
        visibility: hidden;
    }
}

@keyframes move4 {
    0% {
        transform: translate(-50%, 50%);
        bottom: 0%;
        left: 50%;
    }

    100% {
        transform: translate(-50%, 50%);
        bottom: 100%;
        left: 50%;
        visibility: hidden;
    }
}

@keyframes move5 {
    0% {
        top: 100%;
        left: 50%;
    }

    50% {
        top: 50%;
        left: 50%;
    }

    100% {
        top: 50%;
        left: 100%;
        visibility: hidden;
    }
}

@keyframes move6 {
    0% {
        top: 0%;
        left: 50%;
    }

    100% {
        top: 100%;
        left: 50%;
        visibility: hidden;
    }
}

@keyframes move7 {
    0% {
        top: 0%;
        left: 50%;
    }

    50% {
        top: 50%;
        left: 50%;
    }

    100% {
        top: 50%;
        left: 100%;
        visibility: hidden;
    }
}

/*石頭路*/
.map-wrap [class*="icon-"] {
    display: inline-block;
    position: relative;
    width: 110px;
    height: 100px;
    background: url(../images/road.png) center center no-repeat;
    background-size: cover;
}

.icon-1 {
    left: 100%;
}

.icon-2 {
    left: 100%;
}

.icon-3 {
    left: 100%;
}

.icon-4 {
    bottom: 100%;
}

.icon-5 {
    bottom: 100%;
}

.icon-6 {
    top: 100%;
}

.icon-7 {
    top: 100%;
}

.map-wrap .icon-end {
    width: 250px;
    height: 140px;
    background-image: url(../images/home.png);
    background-size: 100% 100%;
}

.map-wrap .icon-1>.icon-end {
    left: 84px;
    bottom: 38px;
}

.map-wrap .icon-4>.icon-end {
    bottom: 140px;
    right: 70px;
}

.map-wrap .icon-6>.icon-end {
    right: 65px;
    top: 40px;
}






/*方向按鈕*/
.direction-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 90px;
    height: 100%;
    background: #f8b62a;
    text-align: center;
}

[class*="direction-icon-"] {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    border:5px solid #fff;
    border-radius: 100%;
    background: center center no-repeat;
    background-size: cover;
}
[class*="direction-icon-"]+[class*="direction-icon-"]{
    margin-top: 5px;
}
.direction-icon-1 {
    background-image: url(../images/1.png);
}

.direction-icon-2 {
    background-image: url(../images/2.png);
}

.direction-icon-3 {
    background-image: url(../images/3.png);
}

.direction-icon-4 {
    background-image: url(../images/4.png);
}

.direction-icon-5 {
    background-image: url(../images/5.png);
}

.direction-icon-6 {
    background-image: url(../images/6.png);
}

.direction-icon-7 {
    background-image: url(../images/7.png);
}

/*輸入答案*/
.answer-wrap {
    position: absolute;
    top: 0;
    right: 0;
    width: 90px;
    background: #f8b62a;
    text-align: center;
}
.answer-button button{
    position: absolute;
    top: 100%;
    right: 6px;
    height: 80px;
    width: 80px;
    margin-top: 5px;
    border:5px solid #fff;
    border-radius: 40px;
    background: #F00000;
    font-size: 38px;
    font-weight: bold;
    color:#fff;
    line-height: 70px;
    text-align: center;
}
.answer-button button+button{
    margin-top: 90px;
}


/*彈窗樣式*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 320px;
    height: 240px;
    padding: 40px 20px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
}

.popup.show {
    display: block;
}