/* 自訂基本樣式 */

* {
    box-sizing: border-box;
}

body {
    font-family: "PingFang SC", "Hiragino SansGB", "Helvetica Neue", "Microsoft Yahei", Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace", sans-serif, serif;
    font-size: 14px;
    letter-spacing: 1px;
}

a {
    color: inherit;
    text-decoration: none;
}

.affiliate-content h3,
.affiliate-content .h3 {
    font-size: 36px;
    line-height: normal;
}

.affiliate-content h4,
.affiliate-content .h4 {
    font-size: 28px;
}

.affiliate-content h5,
.affiliate-content .h5 {
    font-size: 20px;
}

.affiliate-content h6,
.affiliate-content .h6 {
    font-size: 18px;
}

.affiliate-content p,
.affiliate-content ul,
.affiliate-content li,
.affiliate-content h1,
.affiliate-content h2,
.affiliate-content h3,
.affiliate-content h4,
.affiliate-content h5,
.affiliate-content td {
    line-height: inherit;
}
.affiliate-content th,.affiliate-content td{
    text-align: inherit;
}


.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.show {
    display: inline-block !important;
}

.hide {
    display: none !important;
}

.hidden {
    overflow: hidden;
}

.bold {
    font-weight: bold;
}

.clear {
    clear: both;
}

.text-center-middle {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.grid:after {
    content: "";
    display: block;
    clear: both;
}

.col-1,
.col-2,
.col-24,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    float: left;
    position: relative;
    min-height: 1px;
}

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.66666667%;
}

.col-10 {
    width: 83.33333333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66666667%;
}

.col-7 {
    width: 58.33333333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66666667%;
}

.col-4 {
    width: 33.33333333%;
}

.col-3 {
    width: 25%;
}

.col-24 {
    width: 20%;
}

.col-2 {
    width: 16.66666667%;
}

.col-1 {
    width: 8.33333333%;
}

.mgbt-1 {
    margin-bottom: 20px;
}




/* all */

.affiliate-header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 77px;
    background-color: #1f3448;
    background-color: rgba(31, 52, 72, .9);
    z-index: 10;
}

.affiliate-header>div {
    height: 100%;
}

.affiliate-header .logo {
    display: inline-block;
    padding: 15px 0;
    height: 100%;
}

.affiliate-header .logo img,
.affiliate-header .logo a {
    height: 100%;
}

.affiliate-header .hamburger-menu {
    display: none;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
}

.affiliate-header .hamburger-menu .icon-bar {
    background-color: #fff;
    display: block;
    height: 4px;
    margin: 0 auto 4px;
    width: 30px;
}

.affiliate-header .hamburger-menu .icon-bar:last-child {
    margin: 0 auto;
}

.affiliate-header .account-box {
    float: right;
    margin-top: 26px;
}

.affiliate-header .account-box .langage {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 10px;
}

.affiliate-header .account-box .langage i {
    display: inline-block;
    width: 50px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% 100%;
}

.affiliate-header .account-box .langage ul {
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    padding: 10px 0;
    text-align: left;
}

.affiliate-header .account-box .langage.active ul {
    display: inline-block;
}

.affiliate-header .account-box .langage li {
    padding: 0px 20px;
    line-height: 40px;
    white-space: nowrap;
}

.affiliate-header .account-box .langage li:hover {
    background: #eee;
}

.affiliate-header .account-box .langage li>i {
    margin-right: 10px;
    vertical-align: middle;
    width: 34px;
    height: 22px;
}

.icon-cn {
    background-image: url('../images/icon-cn.jpg');
}

.icon-en {
    background-image: url('../images/icon-en.jpg');
}

.icon-vn {
    background-image: url('../images/icon-vn.jpg');
}

.icon-thai {
    background-image: url('../images/icon-thai.jpg');
}

.affiliate-header .account-box input {
    background: rgba(255, 255, 255, .5);
    border: none;
    width: 120px;
    height: 32px;
    margin-right: 10px;
    padding: 0 10px;
    border-radius: 3px;
}

.affiliate-header .account-box input::-webkit-input-placeholder {
    color: #fff;
    color: rgba(255, 255, 255, .5);
}

.affiliate-header .account-box input::-moz-placeholder {
    color: #fff;
    color: rgba(255, 255, 255, .5);
}

.affiliate-header .account-box input:-ms-input-placeholder {
    color: #fff;
    color: rgba(255, 255, 255, .5);
}

.affiliate-header .account-box input:-moz-placeholder {
    color: #fff;
    color: rgba(255, 255, 255, .5);
}

.affiliate-header .account-box a {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    vertical-align: middle;
}

.affiliate-header .account-box a.btn-forget {
    border: 1px solid #fc6e41;
    border-radius: 5px;
    color: #fc6e41;
    padding: 0 10px;
    transition: .2s;
}

.affiliate-header .account-box a.btn-forget:hover {
    background: #fc6e41;
    color: #fff;
}

.affiliate-header .account-box a.btn-register,
.affiliate-header .account-box a.btn-login {
    border-radius: 16px;
    padding: 0 20px;
    border: none;
}

.affiliate-header .account-box a.btn-register {
    background: #d7d7d7;
    color: #626262;
}

.affiliate-header .account-box a.btn-login {

    color: #fff;
    background: #FF420D;
    background: linear-gradient(0deg, #FF420D 0%, #FF8D48 100%);
    background: -o-linear-gradient(0deg, #FF420D 0%, #FF8D48 100%);
}

.affiliate-header .account-box a+a {
    margin-left: 8px;
}

.affiliate-header .account-box a.btn-text {
    position: relative;
    color: #999;
    height: auto;
    line-height: inherit;
    transition: .2s;
}

.affiliate-header .account-box .statistics,
.affiliate-header .account-box .bill,
.affiliate-header .account-box .withdraw {
    padding-left: 38px;
}

.affiliate-header .account-box a.btn-text:hover,
.affiliate-header .account-box a.btn-text.active {
    color: #fc6e41;
}

.affiliate-header .account-box a+a {
    border-left: 1px solid #999;
    padding-left: 14px;
}

.affiliate-header .account-box a i {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 10px;
    width: 24px;
    height: 24px;
    margin-top: -12px;
    background-position: center center;
    background-repeat: no-repeat;
}

.icon-statistics {
    background-image: url('../images/icon-statistics.png');
}

.icon-bill {
    background-image: url('../images/icon-bill.png');
}

.icon-withdraw {
    background-image: url('../images/icon-withdraw.png');
}

.icon-manage {
    display: none;
}

.affiliate-header .account-login-header {
    margin: 10px 0 20px;
    display: none;
}

.affiliate-banner-wrap {
    height: 480px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    border-bottom: 5px solid #fc6e41;
}

.affiliate-banner-wrap.home-banner {
    height: 891px;
    background-image: url('../images/home_banner.jpg');
}

.affiliate-banner-wrap.description-banner {
    background-image: url('../images/description_banner.jpg');
}

.affiliate-banner-wrap.right-banner {
    background-image: url('../images/right_banner.jpg');
}

.affiliate-banner-wrap.question-banner {
    background-image: url('../images/question_banner.jpg');
}

.affiliate-content {
    padding: 40px 0;
}

.affiliate-footer {
    text-align: center;
    line-height: 88px;
    height: 88px;
    background: #131319;
    color: #707070;
}

.affiliate-livechat {
    display: inline-block;
    position: fixed;
    top: 80%;
    right: 15px;
    width: 64px;
    height: 64px;
    background-image: url('../images/icon-livechat.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    transition: .2s;
}

.affiliate-livechat:hover {
    -webkit-transform: scale(1.1, 1.1);
    transform: scale(1.1, 1.1);
}

.affiliate-content .un-lobby {
    position: relative;
    margin: 40px 0;
}

.affiliate-content .aside {
    display: inline-block;
    position: absolute;
    width: 200px;
}

.affiliate-content .aside ul {
    border-left: 1px solid #111;
    padding-left: 20px;
}

.affiliate-content .aside li {
    line-height: 40px;
    font-size: 20px;
}

.affiliate-content .aside li:hover,
.affiliate-content .aside li.active {
    color: #fc6e41;
}

.affiliate-content .un-lobby .articles {
    padding-left: 240px;
    padding-right: 40px;
    line-height: 30px;
    font-size: 20px;
}

.affiliate-content .articles h3 {
    color: #253a57;
    margin-bottom: 40px;
}

.affiliate-content .articles h4,
.affiliate-content .articles h5,
.affiliate-content .articles p,
.affiliate-content .articles table {
    margin-bottom: 30px;
}

.affiliate-content .articles h4 {
    margin-top: 60px;
}

.affiliate-content .articles h5 {
    font-size: 24px;
}

.affiliate-content .item-list {
    padding: 20px 40px;
    margin-bottom: 40px;
    background: #fafafa;
}

.affiliate-content .item-list p {
    margin: 0;
}

.affiliate-content ol {
    list-style: decimal;
    padding-left: 36px;
    margin-bottom: 30px;
}

.affiliate-content .articles table {
    width: 70%;
    background-color: #f4f4f4;
    text-align: center;
    color: #fc6e41;
    border-radius: 10px;
    overflow: hidden;
}

.affiliate-content .articles table th {
    background-color: #fc6e41;
    color: #fff;
    padding: 10px;
}

.affiliate-content .articles table td {
    padding: 10px 0;
}

.affiliate-content h3 i {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    vertical-align: bottom;
}

.item1_img1 {
    background-image: url('../images/item1_img1.png');
}

.item2_img1 {
    background-image: url('../images/item2_img1.png');
}

.item3_img1 {
    background-image: url('../images/item3_img1.png');
}



/* affiliate-home */

.affiliate-content.home .grid {
    margin: 0 -20px;
}

.affiliate-content.home .grid>div {
    padding: 20px;
}

.affiliate-content.home h3 {
    margin-bottom: 20px;
}

.affiliate-content.home .item {
    font-size: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.affiliate-content.home .item .upper {
    height: 246px;
    width: 100%;
    background: no-repeat center bottom;
    background-size: cover;
}

.affiliate-content.home .item1 .upper {
    background-image: url('../images/item1_img2.jpg');
}

.affiliate-content.home .item2 .upper {
    background-image: url('../images/item2_img2.jpg');
}

.affiliate-content.home .item3 .upper {
    background-image: url('../images/item3_img2.jpg');
}

.affiliate-content.home .item .lower {
    position: relative;
    padding: 20px 40px 74px;
    line-height: 32px;
    min-height: 200px;
    background-color: #1f3448;
    color: #fff;
}

.affiliate-content.home .item a.btn {
    position: absolute;
    bottom: 30px;
    left: 40px;
    height: 32px;
    line-height: 32px;
    padding: 0px 20px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    border-radius: 16px;
    transition: .2s;
}

.affiliate-content.home .item a.btn:hover {
    background: #fc6e41;
    border-color: #fc6e41;
}

.affiliate-content.home .btn-join {
    display: block;
    height: 144px;
    margin-top: 40px;
    text-align: center;
    background: #466a8c;
    color: #fff;
    letter-spacing: 2px;
    border-radius: 10px;
}

.affiliate-content.home .btn-join h3 {
    line-height: 144px;
}


/* affiliate-content.register */

.affiliate-content.register {
    background-image: url('../images/home_banner.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    padding-top: 117px;
}

.affiliate-content .register-menu {
    margin: -20px -40px 30px;
    display: none;
}

.affiliate-content .register-menu:after {
    content: "";
    display: block;
    clear: both;
}

.affiliate-content .register-menu li {
    float: left;
    width: 50%;
    background: rgba(232, 232, 232, .2);
    border: 1px solid #A1A1A1;
    padding: 12px 0;
    text-align: center;
    color: #ADADAD;
    font-size: 24px;
}

.affiliate-content .register-menu li.active {
    background: transparent;
    border-color: transparent;
}

.affiliate-content .RegisterMain {
    display: inline-block;
    width: 400px;
    height: auto;
    border-radius: 5px;
    background-color: rgba(44, 42, 60, .8);
    color: #fff;
    padding: 20px 40px 40px;
    transition: .2s;
}

.affiliate-content .lRMain {
    position: relative;
    height: auto;
}

.affiliate-content .RegisterMain .Login {
    display: none;
}

.affiliate-content .lRMain h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.affiliate-content .lRMain h6 {
    margin-top: 14px;
    margin-bottom: 12px;
}

.affiliate-content .lRMain p {
    font-size: 14px;
    line-height: 22px;
    color: #666666;
    margin-bottom: 10px;
}

.affiliate-content .lRMain p span {
    color: #FFA800;
}

.affiliate-content .lRMain p a {
    color: #FFA800;
    text-decoration: none;
}

.affiliate-content .lRMain p a:hover {
    text-decoration: underline;
}

.affiliate-content .lRMain .InputBox {
    position: relative;
    height: 40px;
    border: 1px solid transparent;
    border-radius: 3px;
    margin-bottom: 10px;
}

.affiliate-content .lRMain .InputBox.W160 {
    width: 160px;
}

.affiliate-content .lRMain .InputBox.W170 {
    width: 170px;
}

.affiliate-content .lRMain .InputBox input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 14px;
    color: #666666;
    background-color: rgba(255, 255, 255, .2);
    text-indent: 55px;
    border-radius: 3px;
}

.affiliate-content .lRMain .InputBox.noIcon input {
    text-indent: 12px;
}

.affiliate-content .lRMain .InputBox input::-webkit-input-placeholder {
    color: #9B9B9B;
}

.affiliate-content .lRMain .InputBox input::-moz-placeholder {
    color: #9B9B9B;
}

.affiliate-content .lRMain .InputBox input:-ms-input-placeholder {
    color: #9B9B9B;
}

.affiliate-content .lRMain .InputBox input:-moz-placeholder {
    color: #9B9B9B;
}

.affiliate-content .lRMain .InputBox>i {
    position: absolute;
    width: 45px;
    height: 40px;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
}

.icon-user {
    background-image: url('../images/icon-user.png');
}

.icon-password {
    background-image: url('../images/icon-password.png');
}

.icon-ok {
    background-image: url('../images/icon-ok.png');
}

.icon-qq {
    background-image: url('../images/icon-qq.png');
}

.icon-invite {
    background-image: url('../images/icon-invite.png');
}

.icon-noView {
    background-image: url('../images/icon-noView.png');
    left: auto !important;
    right: 0;
    cursor: pointer;
}

.icon-view {
    background-image: url('../images/icon-view.png');
}

.affiliate-content .lRMain .SelectBox {
    height: 40px;
    margin-bottom: 10px;
    position: relative;
    padding-left: 76px;
    overflow: visible;
}

.affiliate-content .lRMain .required:before {
    content: "*";
    position: absolute;
    display: inline-block;
    left: -20px;
    color: #FF001A;
    line-height: 40px;
    font-size: 13px;
}

.affiliate-content .lRMain .check-ok:after {
    content: "";
    position: absolute;
    top: 50%;
    right: -30px;
    background: url('../images/icon-ok.png') no-repeat center center;
    width: 20px;
    height: 20px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.affiliate-content .lRMain .SelectMain {
    display: inline-block;
    position: absolute;
    left: 0;
    height: 100%;
    width: 68px;
    color: #666666;
    background-color: rgba(255, 255, 255, .2);
    background-image: url('../images/SelectBoxBg.png');
    background-position: right 10px center;
    background-repeat: no-repeat;
    border-radius: 3px;
}

.affiliate-content .lRMain .SelectMain ul {
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    z-index: 10;
    overflow: hidden;
    text-align: center;
}

.affiliate-content .lRMain .SelectMain:hover ul {
    display: block;
}

.affiliate-content .lRMain .SelectMain li:hover {
    background-color: #eee;
}

.affiliate-content .lRMain .SelectBox i {
    display: inline-block;
    width: 45px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center center;
}

.affiliate-content .lRMain .InputBox.Active {
    border: 1px solid #FFA800;
    box-shadow: 0 0 5px rgba(255, 162, 0, 50);
}

.affiliate-content .lRMain .InputBox.Warnings {
    border: 1px solid #FF6050;
    box-shadow: 0 0 5px rgba(255, 96, 80, 50);
}

.affiliate-content .lRMain #well {
    border: 1px solid rgba(200, 207, 215, .75);
    border-radius: 3px;
    overflow: hidden;
    color: #C8CFD7;
}

.affiliate-content .lRMain #slider {
    position: relative;
    background: rgba(249, 249, 249, .75) url('../images/icon-slider.png') no-repeat center center;
    border: 1px solid #79838F;
    border-radius: 3px;
    width: 45px;
    height: 35px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.affiliate-content .BtnStyle1 {
    background: #FC6E41;
    margin: 28px 0;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
}


.affiliate-content .lRMain .Prompt {
    color: #fff;
    text-align: left;
    margin-bottom: 10px;
}

.affiliate-content .lRMain .Prompt input {
    margin-right: 10px;
}

.affiliate-content .lRMain .Prompt a {
    color: #1CC6FE;
    margin-left: 4px;
}

.affiliate-content .lRMain .Prompt a:hover {
    text-decoration: underline;
}



.affiliate-content .SendBtn {
    width: 115px;
    height: 40px;
    border: 1px solid #DFDFDF;
    background-image: url("images/bg005.png");
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    color: #666666;
    text-align: center;
    line-height: 38px;
}

.affiliate-content .SendBtn:hover {
    background-image: none;
    background-color: #F3F3F3;
}

.affiliate-content .SendBtn.Active:hover {
    background-image: url("images/bg005.png");
}


/* .Warning {
    position: absolute;
    width: 100%;
    height: 30px;
    font-size: 12px;
    color: #333333;
    line-height: 30px;
    background-color: #FEF2F2;
    border-radius: 3px;
    top: 23px;
}

.Warning i {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-image: url("images/icon008.png");
    margin: 0 5px;
} */
/* affiliate-content.maintain */
.affiliate-content.maintain {
    background-color: #E0E8F4;
    text-align: center;
    color: #9B9B9B;
}

.affiliate-content.maintain img {
    margin: 127px 0 25px;
    max-width: 80%;
}

.affiliate-content.maintain h3 {
    color: #164A84;
    margin-bottom: 10px;
}

.affiliate-content .notice {
    color: #164A84;
}

.affiliate-content.maintain p {
    display: inline-block;
    margin-bottom: 10px;
    line-height: 22px;
}

.affiliate-content .BtnStyle2{
    display: inline-block;
    width: 231px;
    height: 55px;
    line-height: 55px;
    background: #FC6E41;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
}

/* media screen */

@media screen and (max-width:992px) {
    .affiliate-header .hamburger-menu {
        display: inline-block;
    }

    .affiliate-header {
        height: 54px;
        background-color: #1D2D45;
    }

    .affiliate-header .logo {
        padding: 10px 0;
    }

    .affiliate-header .logo img {
        /* content: url('../images/logo-2.png'); */
    }

    .affiliate-header .account-box {
        display: none;
        position: absolute;
        top: 54px;
        left: 0px;
        background-color: #091831;
        margin-top: 0;
        width: 100%;
        padding: 20px 0;
        text-align: center;
    }

    .affiliate-header .account-login {
        text-align: left;
    }

    .affiliate-header .account-box .langage {
        width: 100%;
        margin-bottom: 10px;
    }

    .affiliate-header .account-box .langage.active:before {
        content: "";
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(44, 42, 60, .8);
    }

    .affiliate-header .account-box .langage ul {
        position: fixed;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
    }

    .affiliate-header .account-box input,
    .affiliate-header .account-box .btn-forget {
        display: none;
    }

    .affiliate-header .account-login {
        top: 0;
        right: 0;
        left: auto;
        padding: 10px 15px 40px;
        background-color: #fff;
        width: 228px;
        border-radius: 0 0 0 10px;
    }

    .affiliate-header .account-login-header {
        display: block;
    }

    .affiliate-header .account-login-header .close {
        display: inline-block;
        float: right;
        width: 32px;
        height: 32px;
        background-image: url('../images/icon-close.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center center;
    }


    .affiliate-header .account-login a.btn-text {
        display: block;
        line-height: 40px;
        border-bottom: 1px solid #999;
        padding-left: 60px;
        color: #4a4a4a;
    }

    .affiliate-header .account-login .langage,
    .affiliate-header .account-login a.user,
    .affiliate-header .account-login a.btn-logout {
        display: none;
    }

    .affiliate-header .account-login a+a {
        border: none;
    }

    .affiliate-header .account-login .manage {
        padding-left: 40px;
    }

    .affiliate-header .account-box a i {
        left: 24px;
    }

    .icon-statistics {
        background-image: url('../images/icon-statistics-1.png');
    }

    .icon-bill {
        background-image: url('../images/icon-bill-1.png');
    }

    .icon-withdraw {
        background-image: url('../images/icon-withdraw-1.png');
    }

    .icon-manage {
        background-image: url('../images/icon-manage-1.png');
    }

    .affiliate-banner-wrap {
        height: 456px;
    }

    .affiliate-content .col-4 {
        width: 100%;
    }

    .affiliate-content .aside {
        position: static;
        margin-bottom: 40px;
        width: 100%;
    }

    .affiliate-content .aside ul {
        border: none;
        padding: 0;
    }

    .affiliate-content .aside li {
        float: left;
        width: 33.33%;
        border: 1px solid #4a4a4a;
        margin-left: -1px;
        font-size: 16px;
        text-align: center;
    }

    .affiliate-content .un-lobby .articles {
        padding: 0;
    }

    .affiliate-content .articles table {
        width: 100%;
        font-size: 16px;
    }

    .affiliate-content.register {
        padding: 54px 0 0;
    }

    .affiliate-content.register>.container {
        padding: 0;
    }

    .affiliate-content .RegisterMain {
        width: 100%;
        border-radius: 0;
    }

    .affiliate-content .register-menu {
        display: block;
    }

    .affiliate-content .RegisterMain .lRMain {
        display: none;
    }

    .affiliate-content .RegisterMain .lRMain.active {
        display: block;
    }

    .affiliate-content .lRMain h2 {
        display: none;
    }
    .affiliate-content.maintain h3{
        margin-bottom: 20px;
    }
    .affiliate-content.maintain img{
        margin-top: 60px;
    }
}



/* css end */