.GamesNav {
	width: 100%;
	height: 100px;
	background-color: #080e17;
	margin-top: -30px;
	margin-bottom: 20px;
}
.GamesNav.Active {
	position: fixed;
    z-index: 10;
    top: 115px;
    left: 0;
    margin-top: 0;
}
.GamesNavMain {
	display: block;
	 @include Centerenter;
	 margin: 0 auto;
	 text-align: center;
	 line-height: 100px;
}
.GamesNavMain ul  {
	display: inline-block;
    text-align: center;
    overflow-y: hidden;
	 overflow-x:auto; 
	 vertical-align: middle;
	 white-space: nowrap;
     -webkit-overflow-scrolling: touch;
}
.GamesNavMain ul li {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #fff;
	margin: 0 35px;
	cursor: pointer;
}
.GamesNavMain ul li.Active,.GamesNavMain ul li:hover  {
	color: #ff5b1a;
}
.GamesNavMain ul li i {
	display: block;
	width: 40px;
	height: 32px;
	background-image: url("../images/gamesicon.png");
	background-size: 200%;
	margin: 0 auto 5px;
}
.GamesNavMain ul li i.Icon1 {
	background-position: 0 0;
}
.GamesNavMain ul li.Active i.Icon1,.GamesNavMain ul li:hover i.Icon1  {
	background-position: 40px 0;
}
.GamesNavMain ul li i.Icon2 {
	background-position: 0 -32px;
}
.GamesNavMain ul li.Active i.Icon2,.GamesNavMain ul li:hover i.Icon2  {
	background-position: 40px -32px;
}
.GamesNavMain ul li i.Icon3 {
	background-position: 0 -64px;
}
.GamesNavMain ul li.Active i.Icon3,.GamesNavMain ul li:hover i.Icon3 {
	background-position: 40px -64px;
}
.GamesNavMain ul li i.Icon4 {
	background-position: 0 -96px;
}
.GamesNavMain ul li.Active i.Icon4,.GamesNavMain ul li:hover i.Icon4  {
	background-position: 40px -96px;
}
.GamesNavMain ul li i.Icon5 {
	background-position: 0 -128px;
}
.GamesNavMain ul li.Active i.Icon5,.GamesNavMain ul li:hover i.Icon5  {
	background-position: 40px -128px;
}
.GamesNavMain ul li i.Icon6 {
	background-position: 0 -160px;
}
.GamesNavMain ul li.Active i.Icon6,.GamesNavMain ul li:hover i.Icon6 {
	background-position: 40px -160px;
}
.GamesNavMain ul li i.Icon7 {
	background-position: 0 -192px;
}
.GamesNavMain ul li.Active i.Icon7,.GamesNavMain ul li:hover i.Icon7 {
	background-position: 40px -192px;
}
.GamesNavMain ul li i.Icon8 {
	background-position: 0 -224px;
}
.GamesNavMain ul li.Active i.Icon8,.GamesNavMain ul li:hover i.Icon8  {
	background-position: 40px -224px;
}
.GamesSearchBox {
	display: inline-block;
	vertical-align: middle;
}
.GamesSearchBox {
	position: relative;
	width: 250px;
	height: 50px;
	padding: 0;
	line-height: 50px;
	overflow: hidden;
}
.GamesSearchBox:before {
	position: absolute;
	content: "";
	width: 25px;
	height: 25px;
	background-image: url("../images/search.png");
	background-size: 100%;
	left: 15px;
	top: 50%;
	margin-top: -12.5px;
	transition:all .3s;
}
.GamesSearchBox input {
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
	background-color: transparent;
	border:1px solid #44474d;
	border-radius: 50px;
	font-size: 14px;
	color: #fff;
	text-indent: 55px;
	line-height: 48px;
	margin: 0;
}
.GamesSearchBox input:focus {
	color: #666;
	background-color: #fff;
}
.ContentMain.Games {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start ;
	align-content:flex-start ;
	align-items: flex-start ;
	max-width: 1300px;
	padding: 0 10px;
	margin: 0 auto;
}
.Banner.Games .flex-control-nav {
  bottom: 20px;
}
.GamesLeft {
	width: calc( (100% / 7) * 2 );
	display: grid;
  	grid-template-columns: auto;
  	grid-gap: 10px;
  	padding: 5px;
}
.GamesRight {
	width: calc( (100% / 7) * 5 );
	display: grid;
  	grid-template-columns: auto auto auto auto auto;
  	grid-gap: 10px;
  	padding: 5px;
  	margin-bottom: 50px;
}
.GameLuckyBox {
	position: relative;
	padding: 10px;
	border-radius: 10px;
	overflow: hidden;
	transition:all .3s;
	grid-column: span 2;
	background-color: #030305;
}
.GameLuckyBox h3 {
    position: relative;
    padding: 10px 0;
    font-size: 24px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    margin-bottom: 35px;
}
.GameLuckyBox h3 i {
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 27px;
    margin-right: 5px;
    background-image: url(../images/king.png);
}
.GameLuckyBox h3 span {
    display: inline-block;
    vertical-align: middle;
}
.GameLuckyBox .Reflash {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../images/reflash.png);
    background-size: 100%;
    top: 50%;
    margin-top: -15px;
    right: 0;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.GamesPromoBanner {
	position: relative;
	width: 100%;
	padding: calc(40% + 10px) 10px 10px;
}
.GamesPromoBanner .Pic {
	position: absolute;
	width: calc(100% - 20px);
	border-radius: 10px;
	border:1px solid #b26f05;
	top: 10px;
	left: 10px;
	overflow: hidden;
}
.GamesPromoBanner img {
	width: 100%;
	transition:all .3s;
}
.GamesPromoBanner:hover img {
	transform:scale(1.1);
}
.GameLuckyBox .Reflash:hover {
    transform: rotate(180deg);
}
.GamesBox {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	transition:all .3s;
	z-index: 1;
}
.GamesBox:hover {
	transform:translateY(-15px);
	box-shadow: 0 10px 20px rgba(0,0,0,.3);
}
.GamesBox.Item {
	grid-column: span 2;
  	grid-row: span 2;
}
.GamesBox img {
	width: 100%;
	height: 100%;
	transition:all .3s;
}
.GamesBoxPic {
	position: relative;
	width: 100%;
}
.GamesBoxPic a {
	display: block;
	height: 100%;
	height: 100%;
}
.GamesBoxBg {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-content:center;
	align-items:center;
	width: 100%;
	height: calc(100% - 45px);
	background-color: rgba(0,0,0,.8);
	top: 0;
	left: 0;
	z-index: 2;
	opacity: 0;
	transition:all .3s;
}
.GamesBox:hover .GamesBoxBg {
	opacity: 1;
}
.GamesBoxBtn {
	width: 75%;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	color: #fff;
	background-color: rgba(255,255,255,.4);
	margin: 5px 0;
	border-radius: 10px;
	transition:all .3s;
}
.GamesBoxBtn:hover {
	background-color: rgba(255,255,255,.6);
}
.GamesBoxBtn.PlayForReal {
	width: 85%;
	background-color: #ffa005;
}
.GamesBoxBtn.PlayForReal:hover {
	background-color: #ff7800;
}
.GamesBox.Item .GamesBoxBtn {
	line-height: 40px;
	margin: 7.5px 0;
}
.GamesBar {
	position: absolute;
	display: flex;
	justify-content:space-between;
	align-content:center;
	align-items:center;
	width: 100%;
	height: 45px;
	padding: 0 10px;
	background-image: url("../images/bg002.jpg");
	background-color: #181f25;
	bottom: 0;
}
.GamesBar h2 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 14px;
	margin-bottom: 5px;
	color: #ffb740;
}
.GamesBar p {
	font-size: 12px;
	color: #b3b6b9;
}
.GamesBox.Item .GamesBar {
	height: 65px;
}
.GamesBox.Item .GamesBar h2 {
	font-size: 24px;
}
.GamesBox.Item .GamesBar p {
	font-size: 14px;
}
.GamesAddLike {
	width: 25px;
	height: 25px;
	background-image: url("../images/like.png");
	cursor: pointer;
}
.GamesAddLike:hover ,.GamesAddLike.Active {
	background-position: bottom;
}
.GamesBox.Item .GamesBoxBg {
	height: calc(100% - 65px);
}
@media only screen and (max-width: 1280px) {
.GamesNavMain ul li {
		margin: 0 10px;
	}
}
@media only screen and (max-width: 1080px) {
	.GamesNav.Active {
	    top: 45px;
	}
}
@media only screen and (max-width: 1024px) {
	
	.GamesLeft {
		width: 100%;
		grid-template-columns: auto auto auto auto;
	}
	.GamesRight {
		width: 100%;
	}
	.GameLuckyBox {
		grid-column: span 4;
	}
	.GamesNavMain ul  {
		display: block;
		width: 100%;
		margin-bottom: 10px;
	}
	.GamesNav {
		height: auto;
		padding: 15px 0;
	}
	.GamesSearchBox {
		display:block;
		width: 100%;
		line-height: 40px;
		height: 40px;
		margin: 0 auto;
	}
	.GameLuckyBox.MobileNone {
		display: none;
	}
	.GamesPromoBanner.MobileNone {
		display: none;
	}


}
@media only screen and (max-width: 767px) {
	
	.GamesLeft {
		width: 100%;
		grid-template-columns: auto auto;
	}
	.GamesRight {
		width: 100%;
		grid-template-columns: auto auto;
	}
	.GamesBox.Item {
		grid-column: span 1;
	  	grid-row: span 1;
	}
	.GameLuckyBox {
		grid-column: span 2;
	}

	.GamesBox.Item .GamesBar {
		height: 45px;
	}
	.GamesBox.Item .GamesBar h2 {
		font-size: 14px;
	}
	.GamesBox.Item .GamesBar p {
		font-size: 12px;
	}
	.GamesBox.Item .GamesBoxBg {
		height: calc(100% - 45px);
	}




}