.Header {
	position: fixed;
	width: 100%;
	height: auto;
	z-index: 10;
}
.HeaderTop {
	position: relative;
	width: 100%;
	height: 45px;
	background-color: #111925;
	z-index: 2;
}
.HeaderBottom {
	position: relative;
	width: 100%;
	height: 70px; 
	background:linear-gradient(to left,rgba(23,36,55,.95),rgba(23,36,55,.7),rgba(23,36,55,.95));
	z-index: 1;
}
.HeaderBottom.Active {
	background:linear-gradient(to left,rgba(23,36,55,.98),rgba(23,36,55,.9),rgba(23,36,55,.98));
}
.HeaderTop:after,.HeaderBottom:after {
	display: block;
	content: "";
	clear: both;
}
.HeaderMain {
	display: flex;
	justify-content: space-between ;
	align-items:center;
	@include Centerenter;
	margin: 0 auto;
}
//語系
.HeaderLanguage {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
}
.HeaderLanguage div {
	width: 100%;
	height: 100%;
}
.HeaderLanguage span {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	line-height: 25px;
	color: #666;
}
.HeaderLanguage i {
	display: inline-block;
	vertical-align: middle;
	width: 45px;
	height: 25px;
	border-radius: 5px;
	margin-right: 10px;
	margin-bottom: 0;
	cursor: pointer;
	background-size: 100% 100%;
}
.HeaderLanguage .Cn i {
	background-image: url("../images/affiliate/icon-cn.jpg");
}
.HeaderLanguage .En i{
	background-image: url("../images/affiliate/icon-en.jpg");
}
.HeaderLanguage .Ti i {
	background-image: url("../images/affiliate/icon-thai.jpg");
}
.HeaderLanguage ul {
	position: absolute;
	min-width: 150px;
	max-height: 0;
	top: 35px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	opacity: 0;
	transition:all .3s;
}
.HeaderLanguage:hover ul {
	opacity: 1;
	max-height: 200px;
}
.HeaderLanguage ul li {
	padding: 5px 10px;
}
.HeaderLanguage ul li:hover {
	background-color: #f5f5f5;
}
//項目
ul.HeaderList {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
ul.HeaderList  li {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #fff;
	line-height: 45px;
	opacity: .4;
	transition:all .3s;
}
ul.HeaderList  li.Line:hover {
	opacity: .4;
}
ul.HeaderList li:hover {
	opacity:1;
}
//登入
.HeaderLogOut {
	display: inline-block;
	vertical-align: middle;
	float: right;
}
.HeaderLogOut input {
	display: inline-block;
	vertical-align: middle;
	width: 125px;
	height: 25px;
	border-radius: 3px;
	background-color: rgba(255,255,255,.1);
	outline: none;
	border: none;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-indent: 10px;
	margin-right: 5px;
}
.HeaderLogOut input::placeholder {
	color: rgba(255,255,255,.5);
	font-weight: bold;
}
.HeaderLogOut input:focus {
	color: #666;
	background-color: rgba(255,255,255,1);
}
.HeaderLogOut input:focus::placeholder {
	color: #888;
}
.Header .Btn {
	display: inline-block;
	vertical-align: middle;
	width: 75px;
	height: 25px;
	border-radius: 25px;
	background-color: #d8d8d8;
	border:1px solid #fff;
	font-size: 12px;
	color: #333;
	text-align: center;
	line-height: 23px;
	cursor: pointer;
	margin-right: 5px;
	transition:all .3s;
}
.Header .Btn:hover {
	background-color: #fff;
}
.Header .Btn.Style1 {
	width: 50px;
	color: #ff5b1a;
	border: 1px solid #ff5b1a;
	border-radius: 5px;
	background-color: transparent;
}
.Header .Btn.Style1:hover {
	color: #fff;
	background-color: #ff5b1a;
}
.Header .Btn.Style2 {
	color: #fff;
	line-height: 25px;
	border: none;
	 background: -webkit-gradient(linear, left bottom, left top, from(#FF420D), to(#FF8D48));
  background: -webkit-linear-gradient(bottom, #FF420D 0%, #FF8D48 100%);
  background: -o-linear-gradient(bottom, #FF420D 0%, #FF8D48 100%);
  background: linear-gradient(0deg, #FF420D 0%, #FF8D48 100%);
  background: -o-linear-gradient(0deg, #FF420D 0%, #FF8D48 100%);
}
.Header .Btn.Style2:hover {
	 background: -webkit-gradient(linear, left bottom, left top, from(#FF8D48), to(#FF420D));
  background: -webkit-linear-gradient(bottom, #FF8D48 0%, #FF420D 100%);
  background: -o-linear-gradient(bottom, #FF8D48 0%, #FF420D 100%);
  background: linear-gradient(0deg, #FF8D48 0%, #FF420D 100%);
  background: -o-linear-gradient(0deg, #FF8D48 0%, #FF420D 100%);
}
.Header .Btn.Style3 {
	color: #fff;
	line-height: 23px;
	border: 1px solid #fff;
	background-color: transparent;
}
.Header .Btn.Style3:hover {
	color: #111925;
	background-color: #fff;
}
.Header .Btn.Style3 i {
	display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-image: url(../images/icon004.png);
    background-size: 100%;
}
.Header .Btn.Style3 i.Icon1 {
	background-position: 0 0;
}
.Header .Btn.Style3:hover i.Icon1 {
	background-position: 0 -16px;
}
.Header .Btn.Style3 i.Icon2 {
	background-position: 0 -32px;
}
.Header .Btn.Style3:hover i.Icon2 {
	background-position: 0 -48px;
}
.Header .Btn a {
	display: block;
}
//圖標
.Header .Logo {
	position: relative;
	width: 290px;
	height: 70px;
	background-image: url(../images/logo.png);
    background-size:auto 70%;
    background-repeat: no-repeat;
    background-position: left center;
    text-indent: -9999px;
}
.Header .Logo a {
	display: block;
}
//主選單
.Header ul.Nav  {
	margin-right: -30px;
}
.Header ul.Nav li {
	display: inline-block;
	vertical-align: middle;
	padding: 0 20px;
	font-size: 16px;
	text-align: center;
	color: #fff;
	line-height: 70px;
	transition:all .3s;
}
.Header ul.Nav li.Line,.Header ul.Nav li.Line:hover {
	padding: 0;
	margin: 0 -10px;
	color: rgba(255,255,255,.5);
	background-color: rgba(0,0,0,0);
}
.Header ul.Nav li a {
	display: block;
}
.Header ul.Nav li:hover {
	color: #ff5b1a;
	background-color: rgba(0,0,0,.2); 
}
//手機選單
.MobileHeader {
	position: fixed;
	display: flex;
	justify-content: space-between ;
	align-items:center;
	width: 100%;
	height: 45px;
	padding: 0 10px;
	background-color: rgba(25,35,55,.8);
	z-index: 10;
}
.MobileHeader:before {
	position: absolute;
	display: block;
	content: "";
	width: 100%;
	height: 5px;
	background-color: #111925;
	top: 0;
	left: 0;
}
.MobileHeader .Logo {
	position: relative;
	width: 120px;
	height: 40px;
	background-image: url(../images/logo.png);
    background-size:auto 70%;
    background-repeat: no-repeat;
    background-position: left center;
    text-indent: -9999px;
}
.MobileHeader .Logo a {
	display: block;
}
.MobileHeader .HeaderLanguage ul {
	top: 30px;
	right: -10px;
}
.MobileHeader h1 {
	font-size: 16px;
	color: #fff;
}
.MobileNavBtn {
	position: relative;
	width: 40px;
	height: 40px;
	cursor: pointer;
}
.MobileNavBtn ul li {
	position: absolute;
	width: 25px;
	height: 3px;
	border-radius: 3px;
	background-color: #fff;
	top: 50%;
	left: 50%;
	margin-top: -1.5px;
	margin-left: -12.5px;
}
.MobileNavBtn ul li:nth-child(1) {
	transform:translateY(-7px);
}
.MobileNavBtn ul li:nth-child(3) {
	transform:translateY(7px);
}
.MobileHeaderNav {
  display: none;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #000;
  bottom: 0;
  z-index: 15; 
}
.MobileHeaderNav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; 
}
.MobileHeaderNav ul li {
  width: 20%;
  text-align: center; 
}

.MobileHeaderNav ul li i {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto 5px;
  background-image: url("../images/icon005.png");
  background-size: 200%; 
}

.MobileHeaderNav ul li.Active i.Icon1 {
  background-position: 30px 0; 
}

.MobileHeaderNav ul li i.Icon2 {
  background-position: 0 -30px; 
}
.MobileHeaderNav ul li.Active i.Icon2 {
  background-position: 30px -30px; 
}
.MobileHeaderNav ul li i.Icon3 {
  background-position: 0 -60px; 
}
.MobileHeaderNav ul li.Active i.Icon3 {
  background-position: 30px -60px; 
}
.MobileHeaderNav ul li i.Icon4 {
  background-position: 0 -90px; 
}
.MobileHeaderNav ul li.Active i.Icon4 {
  background-position: 30px -90px; 
}
.MobileHeaderNav ul li i.Icon5 {
  background-position: 0 -120px; 
}
.MobileHeaderNav ul li.Active i.Icon5 {
  background-position: 30px -120px; 
}

.MobileHeaderNav ul li a {
  display: block;
  color: #fff; }

.MobileHeaderNav ul li.Active a {
  color: #ff5b1a; }

.MobileHeaderNav ul li p {
  font-size: 12px; 
}
.MobileMainNav {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	overflow-x:hidden;
	background-color: #131319;
	z-index: 50; 
	left: -100%;
	transition:all .3s;
}
.MobileMainNav.Active {
	left: 0;
}
.MobileMainNav .Back{
	display: block;
	padding: 0 20px;
	font-size: 16px;
	color: #fff;
	line-height: 50px;
	border-bottom: 1px solid #27272d;
	margin-bottom: 25px;
	cursor: pointer;
}
.MobileMainNav ul li {
	padding: 0 20px;
	line-height: 50px;
	margin-bottom: 25px;
}
.MobileMainNav ul li a {
	display: block;
}
.MobileMainNav ul li i {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: auto;
	margin-right: 25px;
}
.MobileMainNav ul li i img {
	width: 100%;
}
.MobileMainNav ul li span {
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	color: #fff;
}
//側邊選單
.FixedToolbar {
	position: fixed;
	top: 21vw;
	transform:translateY(-50%);
	right: 0;
	z-index: 30;
	background-color: #182437;
	box-shadow: 0 5px 5px rgba(0,0,0,.3);
	border-radius: 10px 0 0 10px;
	transition:all .3s;
}
.FixedToolbar ul li {
	position: relative;
	display: flex;
	justify-content:center;
	align-items:center;
	width: 70px;
	height: 60px;
	background-color: #182437;
	border-radius: 10px;
}
.FixedToolbar ul li i {
	display: block;
	width: 40px;
	height: 40px;
	background-image: url(../images/icon007.png);
	background-size: 200%;
	margin: 0 auto;
}
.FixedToolbar ul li i.Icon1 {
	background-position: 0 0;
}
.FixedToolbar ul li:hover i.Icon1 {
	background-position: 40px 0;
}
.FixedToolbar ul li i.Icon2 {
	background-position: 0 -40px;
}
.FixedToolbar ul li:hover i.Icon2 {
	background-position: 40px -40px;
}
.FixedToolbar ul li i.Icon3 {
	background-position: 0 -80px;
}
.FixedToolbar ul li:hover i.Icon3 {
	background-position: 40px -80px;
}
.FixedToolbar ul li i.Icon4 {
	background-position: 0 -120px;
}
.FixedToolbar ul li:hover i.Icon4 {
	background-position: 40px -120px;
}
.FixedToolbar ul li i.Icon5 {
	background-position: 0 -160px;
}
.FixedToolbar ul li:hover i.Icon5 {
	background-position: 40px -160px;
}
.FixedToolbar ul li span {
	position: absolute;
	padding: 0 10px;
	border-radius: 10px 0 0 10px;
	font-size: 16px;
	line-height:40px;
	color: #fff;
	background-color: rgba(0,0,0,.7);
	top: 50%;
	margin-top: -20px;
	z-index: -1;
	white-space:nowrap;
	right: -70px;
	transition:all .3s;
}
.FixedToolbar ul li:hover span {
	right: 70px;
}
//手機登入
.MobileLoginBoxMain {
	position: fixed;
	width: 100%;
	height: auto;
	padding: 20px 30px;
	background-color: #07090d;
	z-index: 21;
	bottom: -50%;
	transition:all .3s;
}
.MobileLoginBoxMain.Active {
	bottom: 0;
}
.MobileLoginBoxMain input {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	background-color: rgba(255,255,255,.1);
	border: none;
	margin-bottom: 10px;
	font-size: 14px;
	color: #fff;
	text-indent: 20px;
}
.MobileLoginBoxMain input::placeholder {
	color: rgba(255,255,255,.4);
}
.MobileLoginBoxBg {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 20;
	background-color: rgba(0,0,0,.9);
}
.MobileLoginBoxMain button {
	width: 100%;
	height: 40px;
	border-radius:5px;
	background-color: #ff5b1a;
	border: none;
	font-size: 14px;
	color: #fff;
	margin: 0 0 20px;
}
.MobileLoginBoxMain .Center {
	text-align: center;
	margin-top: -5px;
}
.MobileLoginBoxMain .Center button {
	width: 80px;
	height: 30px;
	margin: 0 5px;
}
.MobileLoginBoxMain .Center button.Style1 {
	color: #434343;
	background-color: #d8d8d8;
}
.MobileLoginBoxMain .Center button.Style2 {
	color: #ff5b1a;
	border: 1px solid #ff5b1a;
	background-color:transparent;
}
@media screen and (max-width: 1080px) {
.Header {
	display: none;
}
.MobileHeaderNav {
	display: block;
}
.MobileIndexDepositPost li {
    width: 42%;
    margin: 0 1.5%;
}
.FixedToolbar {
	display: none;
}

}


