.maintainBg {
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url("../images/other/bg002.jpg");
	background-size: cover;
}
.maintainBg.IP {
	background-image: url("../images/other/bg001.jpg");
}
.maintainMain {
	position: absolute;
	top: 45%;
	left: 50%;
	transform:translate(-50%,-50%);
	text-align: center;
}
.maintainMain h2 {
	font-size: 70px;
	color: #fff;
	margin-bottom: 20px;
}
.maintainMain h3 {
	font-size: 30px;
	letter-spacing: 5px;
	color: #fff;
}
.maintainMain p {
	font-size: 24px;
	line-height: 34px;
	letter-spacing: 3px;
	color: #fff;
	margin-bottom: 20px;
}
.maintainMain p.En {
	font-size: 20px;
	line-height: 30px;
}
.maintainMain.IP  h2 {
	font-size: 78px;
	color: #ff999a;
	margin-bottom: 20px;
}
.maintainMain.IP  h3 {
	font-size: 38px;
	letter-spacing: 0;
	color: #ff999a;
}
.maintainMain.IP .maintainHeighLight  p {
	font-size: 18px;
	line-height: 34px;
	letter-spacing: 3px;
	color: #ff999a;
	margin-bottom: 20px;
}
.maintainMain.IP p {
	font-size: 16px;
	line-height: 34px;
	letter-spacing: 0;
	color: #cecece;
	margin-bottom: 20px;
}
.maintainMain.IP p a {
	color: #21a7ec;
}
.maintainMain.IP p span {
	color: #fc6e41;
}
.maintainLogo {
	width: 165px;
	height: 185px;
	background-image: url("../images/other/logo.png");
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	margin:0 auto 20px;
}
.maintainHeighLight {
	max-width: 600px;
	min-width: 300px;
	padding: 40px 30px;
	background-image: linear-gradient(to left, rgba(255,255,255,0),rgba(255,255,255,.2),rgba(255,255,255,0));
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	margin:0 auto 30px;
}
.maintainMain.IP .maintainHeighLight {
	background-image: linear-gradient(to left, rgba(255,25,25,0),rgba(255,25,25,.2),rgba(255,25,25,0));
	border-top:1px solid rgba(255,25,25,.5);
	border-bottom:1px solid rgba(255,25,25,.5);
}
.maintainFooter {
	position: absolute;
	width: 100%;
	min-width: 300px;
	padding: 20px 10px;
	background-color: rgba(0,10,30,.4);
	border-top: 1px solid #ec6941;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 22px;
	bottom: 0;
}
@media screen and (max-width: 1080px) {
.maintainLogo {
	width: 90px;
	height: 101px;
}
.maintainMain.IP  h2 ,.maintainMain  h2{
	font-size: 34px;
}
.maintainMain.IP  h3,.maintainMain  h3 {
	font-size: 14px;
	line-height: 22px;
}
.maintainMain.IP .maintainHeighLight  p,.maintainMain .maintainHeighLight  p  {
	font-size: 14px;
	line-height: 22px;
}
.maintainMain.IP p,.maintainMain p,.maintainMain p.En {
	font-size: 12px;
	line-height: 22px;
}
.maintainMain br {
	display: none;
}
.maintainHeighLight {
	padding: 30px 20px;
}
}