.VipBg {
	position: relative;
	width: 100%;
	min-height: 100%;
	padding: 135px 0 70px;
	background-color: #000;
	background-image: url("../images/vip/bg.jpg");
	background-size: cover;
	background-position: center;
}
.VipTitle {
	position: relative;
	width: 60%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}
.VipTitle img {
	display: block;
	width: 80%;
	max-width: 380px;
	margin:0 auto 40px;
}
.VipTitle h2 {
	font-size: 30px;
	font-weight: 300;
	letter-spacing: 3px;
	text-align: center;
	color: #F3F5FD;
	margin-bottom: 50px;
}
.VipTitle ul {
	display: inline-block;
}
.VipTitle ul li {
	display: inline-block;
	vertical-align: middle;
	margin: 0 1.5vw;
}
.VipTitle ul li b {
	display: block;
	font-size: 60px;
	font-family: 'Fjalla One', sans-serif;
	font-weight: 400;
	color: #FFD996;
	margin-bottom: 20px;
}
.VipTitle ul li b span {
	font-size: 48px;
}
.VipTitle ul li p {
	font-size: 18px;
	font-weight: 300;
	letter-spacing: 3px;
	color: #F3F5FD;
	margin-bottom: 30px;
}
.VipManager {
	position: relative;
	width: 100%;
	padding: 45% 0 0;
	background-image: url("../images/vip/people.jpg");
	background-size: cover;
	background-position: center;
	text-align: center;
}
.VipManagerTitle {
	position: absolute;
	width: 100%;
	padding: 0 20px;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}
.VipManager h2 {
	font-size: 40px;
	color: #2D2D2D;
	margin-bottom: 15px;
}
.VipManager p {
	font-size: 18px;
	line-height: 26px;
}
.VipOffer {
	width: 100%;
	height: auto;
	padding: 50px 20px 100px;
	background-image: url("../images/vip/bg2.jpg");
	background-color: #000;
	background-size: cover;
	background-position: center;
}
.VipOffer h2 {
	font-size: 40px;
	color: #FFD996;
	text-align: center;
	margin-bottom: 20px;
}
.VipOffer p {
	font-size: 18px;
	line-height: 26px;
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
}
.VipOfferMain {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.VipOfferMain ul li {
	display: flex;
	justify-content: center ;
	align-items:center;
	text-align: center;
}
.VipTableBox {
	display: inline-block;
	width: 280px;
	padding: 50px 20px 30px;
	border-radius: 10px;
	margin: 0 10px;
	color: #fff;
}
.VipTableBox.X2 {
	width: 560px;
}
.VipTableBox.Color1 {
background-image: linear-gradient(-225deg, #0572FF 0%, #0B2B93 47%, #391575 100%);
}
.VipTableBox.Color2 {
background-image: linear-gradient(-225deg, #05D7FF 0%, #0B6493 47%, #151B75 100%);
}
.VipTableBox.Color3 {
background-image: linear-gradient(-223deg, #05FFE0 0%, #318EBE 56%, #153F75 100%);
}
.VipTableBox.Color4 {
background-image: linear-gradient(-224deg, #F43B47 0%, #453A94 100%);
}
.VipTableBox.Color5 {
background-image: linear-gradient(-134deg, #F4943B 0%, #E12886 100%);
}
.VipTableBox.Color6 {
background-image: linear-gradient(-180deg, #5423C3 0%, #7918F2 48%, #AC35EA 100%);
}
.VipTableBox.Color7 {
background-image: linear-gradient(-225deg, #DA05FF 0%, #930B65 50%, #751515 100%);
}
.VipTableBox.Color8 {
background-image: linear-gradient(-135deg, #FF4C84 0%, #D503A9 51%, #643CC2 100%);
}
.VipTableBox table {
	width: 100%;
	margin-bottom: 50px;
}
.VipTableBox caption {
	font-size: 24px;
	text-align: center;
	margin-bottom: 50px;
}
.VipTableBox th,.VipTableBox td {
	font-size: 16px;
	line-height: 30px;
	text-align: center;
}
.VipOfferMain .flex-control-paging {
	z-index: 10;
}
.flex-control-nav {
	bottom: -50px;
}
.VipOfferMain .flex-control-paging li a {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    display: block;
    background: #fff;
    opacity: .5;
    cursor: pointer;
    text-indent: -9999px;
}
.VipOfferMain .flex-control-paging li a.flex-active {
    opacity: 1;
}

.VipOfferMain .flex-prev,.VipOfferMain .flex-next {
	width: 35px;
	height: 60px;
	top: 45%;
	margin-top: -30px;
	opacity: 1;
	text-indent: -9999px;
	background-size: 100%;
	background-position: center;
	z-index: 1;

}
.VipOfferMain .flex-prev {
	left: 0;
	background-image: url("../images/vip/prev.png");
}
.VipOfferMain .flex-next {
	right: 0;
	background-image: url("../images/vip/next.png");
}
.VipOfferMain.Mobile {
	display: none;
}
.VipRule {
	width: 100%;
	height: auto;
background-image: -webkit-linear-gradient(271deg, #151D42 10%, #2E353E 91%);
background-image: -o-linear-gradient(271deg, #151D42 10%, #2E353E 91%);
background-image: linear-gradient(1deg, #151D42 10%, #2E353E 91%);
}
.VipRuleMain {
	max-width: 1040px;
	margin: 0 auto;
	padding: 50px 20px;
}
.VipRuleMain table {
	width: 100%;
	border-radius: 10px 10px 0 0;
	text-align: center;
	overflow: hidden;
	margin-bottom: 50px;
}
.VipRuleMain table tr.Title {
background-image: linear-gradient(-225deg, #E2AC68 0%, #D29A53 55%, #CCA26E 100%);
}
.VipRuleMain table th,.VipRuleMain table td {
	font-size: 16px;
	line-height: 50px;
	color: #fff;
	text-align: center;
}
.VipRuleMain table td  {
	border: 1px solid #fff;
}
.VipRuleMain table td i {
	position: relative;
	margin-right: 10px;
}
.VipRuleMain table td i img {
	width: 30px;
}
.VipRuleMain h1 {
	font-size: 40px;
	color: #fff;
	text-align: center;
	margin-bottom: 50px;
}
.VipRuleMain h1 span {
	color: #D2AE4E;
}
.VipRuleMain ul li {
	font-size: 16px;
	line-height: 26px;
	color: #CCCCCC;
	margin-bottom: 10px;
}
@media screen and (max-width: 1080px) {
.VipBg {
	padding: 60px 0 70px;
}
.VipTitle {
	position: relative;
	width: 100%;
}
.VipTitle img {
	width: 50%;
}
.VipOfferMain.Mobile {
	display: block;
}
.VipOfferMain.Desktop {
	display: none;
}

}
