@charset "UTF-8";
html,body {
	height: auto;
	overflow-x:hidden;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

header{
	top:0;left: 0;
	position: fixed;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #fff;
	z-index: 10;
	transition: all 0.2s linear;
	border-bottom: 1px solid #F8F8F8;
}
.logo_wrap{
	text-align: center;
}
.menu_wrap{
	top: -62px;
	height: 55px;
}
.m_logo{
	height: 62px;
	margin: 0px auto;
}
.header_bt{
	border-top: 1px solid #F8F8F8;
}
.v_menu li{
	display: block;
	background-color: #FFF;
	border-bottom: 1px solid #F5F5F5;
}
.v_menu{
	float:none;
}

.v_menu li a,
.v_menu li.active a{
	text-align: center;
	padding-left: 0px;
	text-decoration:none;
}
.smaller{
	height: 60px;
	line-height: 60px;
}
.row{
	height: auto;
}

.mouse{
	display: none;
}
#fp-nav{
	display: none;
}
/* 手機版首頁 */
.m_index_warp{
	display: flex;
	justify-content:center;
	align-items:center;
	width: 100%;
	height: 100%;
	top: 41px;
	position: relative;
	background: url(../images/bg1.jpg) no-repeat;
	background-position: top center;
	background-size: cover;
}
.m_title_warp{
	width: 80%;
}
.m_title_warp h1{
	font-size: 40px;
    font-weight: 900;
    text-align: center;
    margin-top: 0px;
}
.m_title_warp h2{
	font-size: 26px;
    text-align: center;
    color: #FFF;
}
.m_title_warp h3{
	color: #fdc776;
	font-size: 26px;
	text-align: center;
	margin-top: 5%;
}
.m_title_warp h4{
	font-size: 20px;
	text-align: center;
	color: #FFF;
}
.btn-1{
	display: block;
	width: 80%;
	padding: 20px 40px;
	text-align: center;
	margin-top: 10%;
	margin-left: 10%;
}
/* 第二頁 */
.m_s2_warp{
	display: flex;
	flex-wrap:wrap;
	width: 100%;
	background-color: #000;
	justify-content:center;
	align-items:center;
	margin-top: 41px;
}
.m_s2_title_warp{
	width: 100%;
	background: url('../images/title2.png') no-repeat;
	background-size: auto 70px;
	background-position: center center;
	padding: 15% 0px;
}
.m_overlay{
	background-color: rgba(0, 0, 0, 0.8);
	height: 100%;
}
.m_bg2_1{
	width: 50vw;
	height: 50vw;
	background: url('../images/bg2_1.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
}
.m_text_warp{
	display: flex;
	flex-wrap:wrap;
	width: 50vw;
	height: 50vw;
	background-color: rgba(0, 0, 0, 0.8);
	justify-content:center;
	align-items:center;
}
.m_img_warp{
	width: 100%;
	margin-top: 5%;
}
.m_text_warp img{
	display: block;
	width: 80px;
	height: 80px;
	margin: 0px auto;
}
.m_text_warp h2{
	display: block;
	color: #fdc776;
	font-size: 20px;
	margin-top: -10%;
	width: 100%;
	text-align: center;
}
.m_text_warp h3{
	color: #FFF;
	font-size: 14px;
	margin-top: -10%;
}
.m_bg2_2{
	width: 50vw;
	height: 50vw;
	background: url('../images/bg2_2.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
}
.m_bg2_3{
	width: 50vw;
	height: 50vw;
	background: url('../images/bg2_3.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
}
.m_bg2_4{
	width: 50vw;
	height: 50vw;
	background: url('../images/bg2_4.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
}
/* 第三頁 */
.m_s3_warp{
	display: flex;
	flex-wrap:wrap;
	width: 100%;
	justify-content:center;
	align-items:center;
	background: url('../images/bg3.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
}
.m_s3_title_warp{
	width: 100%;
}
.m_s3_title_warp h1{
	width: 90%;
	font-size: 36px;
	text-align: center;
	margin: 0px auto;
	padding-top: 5%;
}
.m_s3_title_warp h2{
	display: block;
	width: 80%;
	color: #fdc776;
	font-size: 20px;
	margin: 0px auto;
	text-align: center;
}
.m_s3_title_warp h3{
	display: block;
	width: 80%;
	color: #FFF;
	font-size: 16px;
	margin: 0px auto;
	text-align: center;
}
.bunus_table{
	width: 90%;
	margin-bottom: 10%;
} 
.m_radius{
	border-radius: 4px 0px 0px 0px;
}
.bunus_table table tr td{
	padding: 2%;
	font-size: 15px;
}
/* 第四頁 */
.m_s4_warp{
	display: flex;
	flex-wrap:wrap;
	width: 100%;
	justify-content:center;
	align-items:center;
	background: url('../images/bg4.jpg') no-repeat;
	background-position: center center;
	background-size: cover;
	padding-bottom: 5%;
}
.m_s4_title_warp{
	width: 100%;
}
.m_s4_title_warp h1{
	width: 90%;
	font-size: 36px;
	text-align: center;
	margin: 0px auto;
	padding-top: 5%;
}
.text4_block{
	padding: 5%;
}
.game_table{
	width: 100%;
	margin-bottom: 5%;
}
/* 彈跳視窗 */

/* 註冊彈跳 */
.pop_1_bg {
	display: none;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(185,49,49,0.95);
	top: -20px;left: 0;
	z-index: 12;
	margin: 0px auto;
	padding: 20px 30px;
}
.overlay_block{
	height: 100%;
	margin: 0px;
}
.uibox{
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 2% 5%;
	margin-top: 45px;
}
.m_label{
	display: block;
	margin-left: 10px;
}
.btn-pop{
	margin-top: 10%;
	position: relative;
	width: 100%;
	text-align: center;
	font-size: 20px;
}
.text_textbox{
	height: 10vh;
	margin-top: 1.5vh;
	width: 100% !important;
}
.username, .userpass, .flag, .suit{
	height: 100%;
	background-size: auto 100%;
}
.flag_name{
	top: auto;
	margin-top: 3vh;
}
.close{
	top: 30px;
	right: 30px;
}
.m_noshow{
	display: none !important;
}
.m_show{
	display: block !important;
}

/* 活動辦法彈跳 */
.pop_2_bg {
	display: none;
	position: relative;
	width: 100%;
	height: auto;
	background-color: rgba(185,49,49,0.95);
	top: 0;left: 0;
	z-index: 12;
	margin: 0px auto;
	padding: 20px 30px;
	margin-top: -20px;
}
.overlay_block2{
	margin-top: -100px;
	width: 100%;
	background-color: #ffeccf;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow: 0px 20px 50px 10px rgba(84,14,14,1);
	-moz-box-shadow: 0px 20px 50px 10px rgba(84,14,14,1);
	box-shadow: 0px 20px 50px 10px rgba(84,14,14,1);
	position: relative;
}
.overlay_block2 h1{
	width: 80%;
	margin-left: 10%;
	padding: 5% 0px;
	color: #C74D46;
	border-bottom: 1px solid #cc4d48;
	font-size: 40px;
}
.overlay_block2 ul{
	width: 75%;
	padding-left: 5%;
}
.overlay_block2 ul li{
	line-height: 28px;
}
.overlay_block2 ul li:last-child{
	padding-bottom: 40px;
}