@charset "utf-8";
.leftmenu {
    background: url(../Images/lotto/002/lotto_leftmenu_bg_002.png) 14px 30px no-repeat;
    min-height: 800px;
}

.betslip > div:last-child {
    background: #e1e1e1;
}

.betslip.receipt > div:last-child {
    background: none
}


/*------------------ Lotto ----------------------*/

.lotto-option li.on,
.lotto-option li:hover,
.lotto-option-b li.on,
.lotto-option-b li:hover {
    border-color: #C7C7C7!important
}

.lotto-option li.on a,
.lotto-option li a:hover,
.lotto-option-b li.on a,
.lotto-option-b li a:hover,
.lotto-combo li:hover,
.lotto-combo li.on {
    background: #eff7fb;
}

.lotto-left-inner {
    background: url(../Images/Lotto/002/lotto_bg_sep_b_002.jpg) right 40px no-repeat;
   /* box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);*/
    overflow: hidden;
    border-radius: 5px;
   	-webkit-box-shadow: 0 1px 4px #9cabbb;
    box-shadow: 0 1px 4px #9cabbb;
}

.lotto-left:after,
.lotto-tab:after,
.lotto-tab-s:after,
.lotto-tab-03:after {
    /*background: url(../Images/Lotto/002/black8_002.png) repeat;*/
}

.lotto-left:after,
.lotto-record:after,
.combo-wrapper .lotto-right-inner.mt10:after {
  /*  background: url(../Images/Lotto/002/lotto-shadow-bg_002.png) no-repeat center top;
    background-size: 100% auto;*/
}


/*.lotto-left-inner:after,
.lotto-right-inner .lotto-option:after {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset;
    background: #3eace9;
    background: -moz-linear-gradient(left, #3eace9 0%, #6fc3f2 32%, #6fc3f2 69%, #3fabec 100%);
    background: -webkit-linear-gradient(left, #3eace9 0%, #6fc3f2 32%, #6fc3f2 69%, #3fabec 100%);
    background: linear-gradient(to right, #3eace9 0%, #6fc3f2 32%, #6fc3f2 69%, #3fabec 100%);
}*/

.leftmenu > li > a#a_menu_main_00008:before {
    background: url(../Images/Lotto/002/hot_hongkong_002.png) 0 0 no-repeat;
}

@media only screen and (max-width: 1366px) {
    .lotto-left-inner {
        background: url(../Images/Lotto/002/lotto_bg_sep_002.jpg) right 44px no-repeat
    }
}

@media only screen and (max-width: 1279px) {
    .lotto-left-inner {
        background: #FFF
    }
}

.lotto-left.w100 .lotto-left-inner,
.lotto-right-inner.mt10 .lotto-left-inner {
    background: #FFF!important
}

.lotto-record .content {
    background: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.lotto-record {
    border-radius: 4px;
    color: #414141;
}


/*title*/

.bet-title,
.game-title2,
.colorball .lotto-number-tiny dd {
    color: #fff;
}

.lotto-option li .odds,
.lotto-option-b li .odds {
    background: url(../Images/Lotto/002/lotto_odds_002.png) left 4px no-repeat;
}

.lotto-option li.on .odds,
.lotto-option-b li.on .odds,
.lotto-option li.on .odds {
    background: url(../Images/Lotto/002/lotto_odds_002.png) left 4px no-repeat;
}

.lotto-bet li .odds {
    background: url(../Images/Lotto/002/lotto_odds_002.png) left 3px no-repeat;
}

.lotto-bet li.on .odds,
.lotto-bet li.on .odds,
.lotto-bet li a:hover .odds {
    background: url(../Images/Lotto/002/lotto_odds_002.png) left -43px no-repeat;
}

.line-box {
    background: #fff;
}

.lotto-left .bet-title,
.lotto-right .game-title2,
.lotto-record .report-tit,
.lotto-wrapper .game-title2 {
    border-radius: 5px 5px 0 0;
    border-top: none;
    background: url(../Images/Lotto/002/bet-title_001.png) repeat-x 0 0;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4);
    color: #333;
}

.lotto-record .report-tit {
    box-shadow: none;
    background: #f9f9f9;
    border: 1px solid #ddd;
}

.lotto-right .game-title2:first-child {
    border-radius: 3px 3px 0 0;
}


.record104 {
    background: #DEDEDE;
    border-radius: 4px;
    font-size: 13px
}

.record104 th {
    background: #dedede;
}

.record104 tr th:first-child {
    border-radius: 4px 0 0 0;
}

.record104 tr th:last-child {
    border-radius: 0 4px 0 0
}

.record104 td {
    background: #f3f3f3;
}

.record104 tr:nth-child(even) td {
    background: #fff;
}

.record104 tr:last-child td {
    border-bottom:1px solid #ddd;
}


.game-title,
.bet-title-s {
    line-height: 44px;
    color: #FFF;
}

.countdown-s2 li {
    background: #fcf2dc;
    color: #777;
    border: 1px solid #ddd;
    padding: 3px 10px;
}

.bet-title h1,
.countdown p {
    color: #333;
}

.bet-title h1#h1_SourceTitle {
    margin: 0 0 0 92px
}

.bet-title.map-00008 h1#h1_SourceTitle {
    background: url(../Images/Lotto/002/hot_hongkong2_002.gif) 2px 8px no-repeat;
    margin: 0;
    padding: 0 0 0 120px;
}

.bet-title.map-00008 .countdown p {
    left: 37px;
}

.lotto-option.sum .game-title2 {
    border-top-color: #D3D3D3
}

.bet-title-s .more a {
    border-radius: 3px;
    border-color: #777C80;
    color: #CACDD2;
}

.bet-title-s .more a:hover,
.bet-title-s .more a:active {
    color: #fff;
    border-color: #fff
}


/*colorball*/

.colorball .red {
    background: url(../Images/Lotto/002/colorball_red_002.png) 0 0 no-repeat;
}

.colorball .green {
    background: url(../Images/Lotto/002/colorball_green_002.png) 0 0 no-repeat;
}

.colorball .blue {
    background: url(../Images/Lotto/002/colorball_blue_002.png) 0 0 no-repeat;
}

.lotto-option.colorball .red {
    background: url(../Images/Lotto/002/colorball-shadow_red_002.png) 0 5px no-repeat;
}

.lotto-option.colorball .green {
    background: url(../Images/Lotto/002/colorball-shadow_green_002.png) 0 5px no-repeat;
}

.lotto-option.colorball b,
.lotto-option.colorball .blue {
    background: url(../Images/Lotto/002/colorball-shadow_blue_002.png) 0 5px no-repeat;
}

.lotto-option-b.colorball-s4 b,
.width179.colorball b,
.colorball-s3 b {
    border: 1px solid #ddd;
    box-shadow: inset 0px 1px 0 #f7f7f7, inset 0 -1px 0 rgba(208, 208, 208, 0.8);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,rgb(245, 245, 245) 100%);
    color: #777;
    text-shadow: none;
}

.colorball-s4 li dd.red {
    background: url(../Images/Lotto/002/colorball-shadow_red_002.png) 0 -3px no-repeat;
    color: #FFF;
}

.colorball-s4 li dd.green {
    background: url(../Images/Lotto/002/colorball-shadow_green_002.png) 0 -3px no-repeat;
    color: #FFF;
}

.colorball-s4 dd,
.colorball-s4 li dd.blue {
    background: url(../Images/Lotto/002/colorball-shadow_blue_002.png) 0 -3px no-repeat;
    color: #FFF;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
}

@media only screen and (max-width: 1279px) {
    .colorball-s4 li dd.red {
        background: url(../Images/Lotto/002/colorball-shadow_red48_002.png) -3px -1px no-repeat!important;
    }
    .colorball-s4 li dd.green {
        background: url(../Images/Lotto/002/colorball-shadow_green48_002.png) -3px -1px no-repeat!important;
    }
    .colorball-s4 dd,
    .colorball-s4 li dd.blue {
        background: url(../Images/Lotto/002/colorball-shadow_blue48_002.png) -3px -1px no-repeat!important;
    }
    .lotto-option.colorball .red {
        background: url(../Images/Lotto/002/colorball-shadow_red48_002.png) 0 7px repeat-x;
    }
    .lotto-option.colorball .green {
        background: url(../Images/Lotto/002/colorball-shadow_green48_002.png) 0 7px repeat-x;
    }
    .lotto-option.colorball b,
    .lotto-option.colorball .blue {
        background: url(../Images/Lotto/002/colorball-shadow_blue48_002.png) 0 7px repeat-x;
    }
}

@media \0screen and (max-width: 1279px) {
    .colorball-s4 li dd.red {
        background: url(../Images/Lotto/002/colorball-shadow_red48_002.png) -3px -1px no-repeat!important;
    }
    .colorball-s4 li dd.green {
        background: url(../Images/Lotto/002/colorball-shadow_green48_002.png) -3px -1px no-repeat!important;
    }
    .colorball-s4 dd,
    .colorball-s4 li dd.blue {
        background: url(../Images/Lotto/002/colorball-shadow_blue48_002.png) -3px -1px no-repeat!important;
    }
    .lotto-option-combo.colorball .red {
        background: url(../Images/Lotto/002/colorball_red_30_002.png) 0 0 no-repeat;
    }
    .lotto-option-combo.colorball .green {
        background: url(../Images/Lotto/002/colorball_green_30_002.png) 0 0 no-repeat;
    }
    .lotto-option-combo.colorball b,
    .lotto-option-combo.colorball .blue {
        background: url(../Images/Lotto/002/colorball_blue_30_002.png) 0 0 no-repeat;
    }
    .width179.colorball .red,
    .colorball-s3 .red {
        background: url(../Images/Lotto/002/colorball_red_b_002.png) 0 0 repeat-x;
        box-shadow: inset 0 0 1px #d63833, inset 0 1px 0 1px rgba(255, 255, 255, 0.3);
        color: #fff
    }
    .width179.colorball .green,
    .colorball-s3 .green {
        background: url(../Images/Lotto/002/colorball_green_b_002.png) 0 0 repeat-x;
        box-shadow: inset 0 0 1px #24903f, inset 0 1px 0 1px rgba(255, 255, 255, 0.3);
        color: #fff
    }
    .width179.colorball .blue,
    .colorball-s3 .blue {
        background: url(../Images/Lotto/002/colorball_blue_b_002.png) 0 0 repeat-x;
        box-shadow: inset 0 0 1px #096ea0, inset 0 1px 0 1px rgba(255, 255, 255, 0.3);
        color: #fff
    }
}

.width179.colorball .red,
.colorball-s3 .red {
    background: url(../Images/Lotto/002/colorball_red_b_002.png) 0 0 repeat-x;
    box-shadow: inset 0 0 1px #f9ae0c, inset 0 1px 0 1px rgba(255, 255, 255, 0.3);
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
}

.width179.colorball .green,
.colorball-s3 .green {
    background: url(../Images/Lotto/002/colorball_green_b_002.png) 0 0 repeat-x;
    box-shadow: inset 0 0 1px #24903f, inset 0 1px 0 1px rgba(255, 255, 255, 0.3);
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
}

.width179.colorball .blue,
.colorball-s3 .blue {
    background: url(../Images/Lotto/002/colorball_blue_b_002.png) 0 0 repeat-x;
    box-shadow: inset 0 0 1px #2b96c9, inset 0 1px 0 1px rgba(255, 255, 255, 0.3);
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
}

.lotto-option-combo.colorball .red {
    background: url(../Images/Lotto/002/colorball_red_30_002.png) 0 0 no-repeat;
}

.lotto-option-combo.colorball .green {
    background: url(../Images/Lotto/002/colorball_green_30_002.png) 0 0 no-repeat;
}

.lotto-option-combo.colorball b,
.lotto-option-combo.colorball .blue {
    background: url(../Images/Lotto/002/colorball_blue_30_002.png) 0 0 no-repeat;
}

.combo-columns .lotto-number-tiny dd,
.colorball-s5 dd {
    text-indent: -1px;
}

.table-result .colorball-s5 dd {
    text-indent: 0
}

.colorball-s5 .red,
.lotto-option-combo .lotto-number-tiny .red {
    background: url(../Images/Lotto/002/colorball_red_s_002.png) 0 0 no-repeat;
    box-shadow: none;
}

.colorball-s5 .green,
.lotto-option-combo .lotto-number-tiny .green {
    background: url(../Images/Lotto/002/colorball_green_s_002.png) 0 0 no-repeat;
    box-shadow: none;
}

.colorball-s5 .blue,
.lotto-option-combo .lotto-number-tiny .blue {
    background: url(../Images/Lotto/002/colorball_blue_s_002.png) 0 0 no-repeat;
    box-shadow: none;
}

.combo-columns-wrap-zod .lotto-number-tiny dd.blue {
    background: url(../Images/Lotto/002/colorball_gray_s_002.png) 0 0 repeat-x;
    color: #383838;
    text-shadow: none;
    box-shadow: inset 0 0 1px #777, inset -1px 1px 0 1px rgba(255, 255, 255, 0.7);
    border-radius: 13.5px;  
    background: linear-gradient(to bottom, rgb(243, 243, 243) 0%,#dbdbdb 100%);
}

.colorball b,
.colorball-s4 b,
.colorball-s3 b,
.colorball-s5 dd,
.lotto-number-tiny dd {
    color: #FFF;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
}


/*lotto-bet*/

.lotto-bet li a {
    border-radius: 16px;
    color: #fff;
}

.lotto-bet li a {
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: inset 0px 1px 0 #f7f7f7, inset 0 -1px 0 rgba(208, 208, 208, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,rgb(245, 245, 245) 100%);
    color: #777;
    text-shadow: none;
}

.lotto-bet li a:hover,
.lotto-bet li.on a {
    color: #FFF;
    background: #ff9c00;
    background: linear-gradient(to bottom, #ffc83e 0%,#fcb200 100%);
    background: -moz-linear-gradient(to bottom, #ffc83e 0%,#fcb200 100%);
    background: -webkit-linear-gradient(to bottom, #ffc83e 0%,#fcb200 100%);
    border: 1px solid #fcb405;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 0 #fff092, inset 0 -1px 0 #e09f00;
}


/*tab*/

.lotto-tab,
.lotto-tab-s,
.lotto-tab-03 {
    background: #F3F3F3;
    border-bottom: 1px solid #D6D6D6;
}

.lotto-tab li,
.lotto-tab-s li,
.lotto-tab-03 li {
    padding: 0 1px;
}

.lotto-tab-s li a,
.lotto-tab-03 li a,
.lotto-tab li a {
    background: #f3f3f3;
    border: 1px solid #cccccc;
    border-bottom: none;
    box-shadow: 0 1px 0 #FFF inset;
    border-radius: 4px 4px 0 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,rgb(245, 245, 245) 100%);
}

.lotto-tab-03 li.on a,
.lotto-tab-03 li:hover a,
.lotto-tab-s li.on a,
.lotto-tab-s li:hover a,
.lotto-tab li.on a,
.lotto-tab li:hover a {
    background: #f9ae0c;
    color: #FFF;
    border: 1px solid #f9ae0c;
    border-bottom: none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.55) inset;
}

.lotto-tab.height65 li a {
    border: none;
    box-shadow: none;
}

.lotto-bet li.on a:before,
.lotto-option-q li.on a:before,
.lotto-combo .on b:before {
    background: url(../Images/Lotto/002/lotto_icon_002.png) -25px top no-repeat;
}

.lotto-option .on a:before,
.lotto-option-b .on a:before {
    background: url(../Images/Lotto/002/lotto_icon_002.png) -71px top no-repeat;
}


/*lotto-option*/

.lotto-right-inner .lotto-option {
    background: #FFF;
}

.lotto-option li,
.lotto-option-03 li,
.lotto-option-b li,
.box-1 .lotto-option-b,
.box-2 .lotto-option-b,
.box-3 .lotto-option-b,
.lotto-record104,
.lotto-option-combozod,
.record104 td {
    border-color: #D0D0D0!important;
}

.record104 th,
.lotto-record .report-tit li {
    border-color: #bbbbbb!important;
}

.lotto-record .content li {
    border-color: transparent!important
}

.lotto-option-b.width100 li,
.record104 th:nth-of-type(6n),
.record104 td:nth-of-type(6n),
.lotto-record ul li:last-child {
    border-right: none!important;
}


/*lotto-option-q*/

.lotto-option-q li a {
    border-radius: 4px;
    background: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: inset 0px 1px 0 #f7f7f7, inset 0 -1px 0 rgba(208, 208, 208, 0.8);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%,rgb(245, 245, 245) 100%);
    color: #777;
    text-shadow: none;
}

.lotto-option-q li a:hover,
.lotto-option-q li.on a {
    color: #FFF;
    background: #ff9c00;
    background: linear-gradient(to bottom, #ffc83e 0%,#fcb200 100%);
    background: -moz-linear-gradient(to bottom, #ffc83e 0%,#fcb200 100%);
    background: -webkit-linear-gradient(to bottom, #ffc83e 0%,#fcb200 100%);
    border: 1px solid #fcb405;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 1px 0 #fff092, inset 0 -1px 0 #e09f00;
}


/*lotto-COMBO*/

.lotto-tab.height65 li {
    background: #FFF;
    border: 1px solid #cccccc !important;
    box-shadow: 0 1px 0 #FFF inset, 2px 2px 5px #dadada;
    border-radius: 4px;
}

.lotto-tab.height65 li.on,
.lotto-tab.height65 li:hover {
    background: #f9ae0c;
    border: 1px solid #f9ae0c !important;
    color: #FFF;
    box-shadow: 0 1px 0 #fcda91 inset, 2px 2px 5px #c7c7c7;
}

.combo-columns .th {
    background: #ddd;
    color: #414141;
    border-radius: 5px 5px 0 0
}

.combo-columns:hover > .th,
.combo-columns.standbg-yellow .th,
.combo-columns2 .th,
.combo-columns2 .th:hover {
    background: #f9ae0c;
    color: #FFF;
    border-color: #f9ae0c!important
}

.combo-columns .td {
    border-radius: 0 0 5px 5px;
    border: 1px solid #ddd!important;
    border-top: none!important;
}

.combo-columns.standbg-yellow .td,
.combo-columns:hover > .td,
.combo-columns2 .td,
.combo-columns2 .td:hover {
    border: 1px solid #ff9c00!important;
    border-top: none!important
}

.combo-columns-wrap a.submit,
.combo-columns-wrap a.cancel {
    border-radius: 5px;
    color: #ffffff
}

.combo-columns-wrap a.submit {
    border-bottom: 3px solid #e49e42;
    background: #f9ae0c;
    border-radius: 3px;
    color: #fff;
}

.combo-columns-wrap a.cancel {
    border-bottom: 3px solid #777;
    background: #888;
    border-radius: 3px;
    color: #fff;
}

.combo-columns-wrap a.submit:hover,
.combo-columns-wrap a.submit:active {
    background: #e49e42;
}

.combo-columns-wrap a.cancel:hover,
.combo-columns-wrap a.cancel:active {
    background: #777;
}


/*lotto-rule*/

.lotto-rule p,
.lotto-rule b,
.lotto-rule .content li div {
    border-bottom-color: #eaeaea
}

.lotto-rule .content ul,
.lotto-rule .content div {
    border-left-color: #eaeaea
}

.black02 {
    background-color: #E9E9E9;
    display: block;
    padding: 20px;
    border-radius: 42px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.54);
}

.black02 p {
    color: #6d6c6c !important;
}


/*------------------REPORT LOTTO----------------------*/


/*table*/

.lotto-item-a,
.lotto-item-b,
.lotto-item-c,
.lotto-item-d {
    border-radius: 2px;
    color: #414141;
    background: #E9E9E9
}

.report-popup {
    background-color: #fff;
    border: 6px solid #ccc;
}


/* combo-columns */

.combo-columns1,
.combo-columns1:nth-child(3),
.combo-columns1:nth-child(4),
.combo-columns3,
.combo-columns3:nth-child(2) {
    margin-bottom: 5px!important;
}


/* ------------ bet-against ------------ */

.bet-against li,
.ba-bottom {
    border-color: #D0D0D0!important
}

.bet-against li:hover {
    background: #f3f3f3;
}

.bet-against a.ba-del {
    background: url(../Images/Lotto/002/ba-del_002.png) 0 0 no-repeat;
}

.bet-against li:hover a.ba-del {}

.bet-against li:hover a.ba-del:hover,
.bet-against li:hover a.ba-del:active {
    background: url(../Images/Lotto/002/ba-del_002.png) 0 -52px no-repeat;
    box-shadow: none;
}

.ba-bottom .numbers {
    color: #ec3e51;
}


/*------------------customization 002----------------------*/

.mCSB_scrollTools .mCSB_draggerRail {
    background-color: rgba(0, 0, 0, 0);
}

/*新增加的css*/

.lotto-record .report-tit, .lotto-record .content{
	border-bottom: 1px solid #ddd;
}
.lotto-right-inner.mt10{
    -webkit-box-shadow: 0 1px 4px #9cabbb;
    box-shadow: 0 1px 4px #9cabbb;
    border-radius: 5px;
}
.lotto-right-inner.mt10:after {
    display: none!important;
}

.report-list{
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 4px #9cabbb;
    box-shadow: 0 1px 4px #9cabbb;
    border-left: 1px solid #ddd;
    overflow: hidden;
}
.report-list .table tr th:last-child{
    border-right: 1px solid #ddd;
}