@charset "utf-8";
html,
body {
    height: 100%;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #EEF5F9;
    /* font-family: 'LiHei Pro', 'Microsoft Yahei', 微软雅黑, Arial, HELVETICA; */
    font-family: "Arial", "Microsoft YaHei";
    font-weight: normal;
    letter-spacing: 1;
    font-size: 16px;
    color: #999;
    line-height: 35px;
    text-align: center;
}

a,
a:hover,
a:active,
a:visited {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.1s linear;
}

img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
}

.clear_both {
    clear: both;
}

.Lebtn {
    background: #f08d32;
    border-radius: 50px;
    padding: 14px 40px;
    font-size: 16px;
    color: #fff;
    transition: all 0.1s linear;
}

.Lebtn:hover {
    background: #F5A422;
    color: #fff;
}

.Linebtn {
    border: 1px solid #999;
    background: none;
    color: #999;
}

.Linebtn:hover {
    border: 1px solid #F5A422;
}

.mouse-bg {
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    z-index: -1;
}


/* 自訂bootstrap架構 */

.container {
    position: relative;
    padding: 0;
    min-width: 960px;
}

.col-xs-1-5,
.col-sm-1-5,
.col-md-1-5,
.col-lg-1-5 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-1-5 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-1-5 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-1-5 {
        width: 20%;
        float: left;
    }
}


/*Header & 選單*/


/*==============================================================================================*/
header {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: #fff;
    z-index: 10;
}

.logo {
    float: left;
    width: 222px;
    height: 49px;
    margin-top: 24px;
}

.v_menu li {
    display: inline-block;
}

.v_menu li.active {
    color: #2D77BE;
}

.v_menu li a,
.v_menu li.active a {
    color: #999;
    font-size: 14px;
    margin-right: 20px;
}

.v_menu li a:hover {
    color: #2D77BE;
}

.v_menu li.active a {
    color: #2D77BE;
}

.v_menu {
    list-style: none;
    float: right;
}

.v_menu li.last {
    height: 55px;
    line-height: 55px;
    background: #f08d32;
    border-radius: 50px;
    padding: 0 30px;
    margin: 0;
    cursor: pointer;
    box-shadow: 0px 4px 5px 0px rgba(240, 141, 49, 0.60);
    transition: all 0.1s linear;
}

.v_menu li.last a {
    color: #fff;
    margin-right: 0px;
}

.v_menu li.last:hover {
    background-color: #F5A422;
    box-shadow: 0px 6px 8px 0px rgba(240, 141, 49, 0.20);
}


/*1.主視覺*/


/*==============================================================================================*/

.hero_block {
    width: 100%;
    height: 775px;
    position: relative;
}

.hero_kv {
    width: 100%;
    height: 775px;
    background: url(../images/hero_kv.jpg) 50% 30px no-repeat;
}

.title0 {
    width: 783px;
    height: 171px;
    background: url(../images/title0.png) no-repeat;
    position: absolute;
    top: 140px;
    left: 50%;
    z-index: 5;
    margin-left: -392px;
    text-indent: -9999px;
}

.hero_btn {
    position: absolute;
    top: 310px;
    left: 50%;
    margin-left: -78px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.hero_btn:hover {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
}


/* 2.认识乐投 */


/*==============================================================================================*/

.bg1 {
    width: 2000px;
    height: 350px;
    background: #EEF5F9;
    position: absolute;
    top: 690px;
    left: 50%;
    margin-left: -1000px;
    transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    /* IE 9 */
    -moz-transform: rotate(5deg);
    /* Firefox */
    -webkit-transform: rotate(5deg);
    /* Safari 和 Chrome */
    -o-transform: rotate(5deg);
    /* Opera */
}

.block1 {
    text-align: left;
}

.mac {
    background: url(../images/mac.png) no-repeat;
    width: 935px;
    height: 567px;
    position: absolute;
    top: -80px;
    right: -20px;
    z-index: 1;
}

.FirstCagayan {
    position: absolute;
    top: -180px;
    left: 0;
    z-index: 1;
    text-align: center;
}

.FirstCagayan span {
    background: url(../images/icon_cagayan.png) no-repeat;
    width: 100px;
    height: 100px;
    display: block;
}

.block1 .FirstCagayan p {
    font-size: 13px;
    line-height: 18px;
    margin-top: 7px;
}

.block1 img {
    margin-top: 50px;
}

.block1 p {
    margin-top: 20px;
}


/* 2.乐透优势 */


/*==============================================================================================*/

.bg2 {
    width: 100%;
    height: 430px;
    padding: 50px 0;
    margin-top: 220px;
    position: relative;
    background: #159ADA \9;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ac0e0+0,159ada+100 */
    background: #2ac0e0;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #2ac0e0 0%, #159ada 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #2ac0e0 0%, #159ada 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #2ac0e0 0%, #159ada 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2ac0e0', endColorstr='#159ada', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.block2 .why_detail {
    width: 100%;
    position: absolute;
    top: 50px;
    transition: all 0.1s linear;
}

.block2 .why_detail:hover {
    top: 40px;
}

.block2 h2 {
    margin-top: 30px;
    font-size: 18px;
    color: #f8d888;
    line-height: 0;
}

.block2 p {
    margin-top: 15px;
    font-size: 13px;
    color: #fff;
    line-height: 20px;
}


/* 3.乐透优势 */


/*==============================================================================================*/

.bg3 {
    width: 100%;
    padding: 50px 0;
}

.feature {
    width: 100%;
    position: relative;
    z-index: 2;
}

.feature1,
.feature2,
.feature3 {
    border-radius: 3px;
    width: 100%;
    height: 350px;
    margin-top: 50px;
    background-position: 50% 50%;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.feature1 {
    background: url(../images/01.jpg) no-repeat;
}

.feature2 {
    background: url(../images/02.jpg) no-repeat;
}

.feature3 {
    background: url(../images/03.jpg) no-repeat;
}

.feature1:hover,
.feature2:hover,
.feature3:hover {
    box-shadow: inset 0px 0px 50px 50px rgba(0, 0, 0, 0.05);
}

.block3 h2 {
    margin-top: 30px;
    font-size: 22px;
    color: #666;
    line-height: 0;
}

.block3 p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
}


/* 4.游戏种类齐全 */


/*==============================================================================================*/

.bg4 .gap {
    margin: 30px 0 0 0;
}

.hovereffect {
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    border-radius: 3px;
    z-index: 1;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.hovereffect:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.hovereffect h2 {
    font-size: 16px;
    color: #fff;
    text-align: left;
    padding: 10px 0 0 15px;
    opacity: 1;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.hovereffect img {
    display: block;
    position: relative;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.hovereffect:hover img {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: rgba(0, 0, 0, 0.8);
}

.hovereffect:hover h2,
.hovereffect:hover a.info {
    opacity: 1;
    filter: alpha(opacity=100);
    -ms-transform: translatey(0);
    -webkit-transform: translatey(0);
    transform: translatey(0);
}

.hovereffect:hover a.info {
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

.hovereffect .Linebtn2 {
    opacity: 0;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 14px 40px;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 45%;
    left: 50%;
    margin-left: -79px;
    margin-top: -33px;
    display: none \9;
}

.hovereffect .Linebtn2:hover {
    background: #F5A422;
    border: 1px solid #F5A422;
    color: #fff;
}

.hovereffect:hover .Linebtn2 {
    opacity: 1;
    transition: all 0.1s linear;
    top: 50%;
}

.bg4 {
    width: 100%;
    padding: 50px 0;
    background: #159ADA \9;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2ac0e0+0,159ada+100 */
    background: #2ac0e0;
    /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #2ac0e0 0%, #159ada 100%);
    /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #2ac0e0 0%, #159ada 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #2ac0e0 0%, #159ada 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2ac0e0', endColorstr='#159ada', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.game h2 {
    font-size: 16px;
    color: #fff;
    text-align: left;
    padding: 10px 0 0 15px;
}

.game .Linebtn2 {
    opacity: 0;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 14px 40px;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    position: absolute;
    z-index: 2;
    top: 45%;
    left: 50%;
    margin-left: -79px;
    margin-top: -33px;
}

.game .Linebtn2:hover {
    background: #F5A422;
    border: 1px solid #F5A422;
    color: #fff;
}

.game:hover .Linebtn2 {
    opacity: 1;
    transition: all 0.1s linear;
    top: 50%;
}

.game:hover .overlay {
    background-color: rgba(0, 0, 0, 0.8);
}


/* 5.如何游戏 */


/*==============================================================================================*/

.block5 h2 {
    font-size: 22px;
    line-height: 55px;
    margin-bottom: 10px;
}

.chips {
    width: 265px;
    height: 103px;
    background: url(../images/chips.png) no-repeat;
    position: absolute;
    z-index: 3;
    top: 570px;
    right: 110px;
}

.pad {
    width: 844px;
    height: 602px;
    background: url(../images/ipad.png) no-repeat;
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 50%;
    margin-left: -422px;
}

.block5 .liquid-slider h2 {
    display: none;
}

.step_arrow {
    width: 15px;
    height: 15px;
    background: url(../images/arrow_step.png) no-repeat;
    display: inline-block;
}


/*overlay*/


/*==============================================================================================*/

.blue_overlay {
    background-color: rgba(185, 219, 240, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    display: none;
}

.overlay_block {
    width: 1000px;
    height: 680px;
    background-color: #ECF1F6;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.30);
    position: fixed;
    /*固定位置定位*/
    top: 50%;
    /*距離上方的位置*/
    left: 50%;
    /*距離左方的位置*/
    margin-top: -340px;
    /*上方邊界*/
    margin-left: -500px;
    /*左方邊界*/
}

.close {
    width: 40px;
    height: 40px;
    background: url(../images/close.png) no-repeat;
    position: absolute;
    z-index: 20;
    top: 40px;
    right: 40px;
    z-index: 10;
    transition: ease 0.25s all;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}

.close:hover {
    -webkit-transform: translate(50%, -50%) rotate(180deg);
    transform: translate(50%, -50%) rotate(180deg);
    text-decoration: none;
}

.overlay_block .col-md-4 {
    padding: 0;
}


/* 註冊pop*/


/*==============================================================================================*/

.regedit {
    background-color: #2D77BE;
    color: #fff;
    font-size: 13px;
    height: 100%;
    text-align: center;
    padding: 40px 0;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

.regedit_form {
    width: 75%;
    display: inline-block;
    text-align: left;
    margin: 40px 0 15px 0;
}

.textbox {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.textbox .placeholder_text {
    color: #2D77BE;
    font-size: 14px;
    position: absolute;
    line-height: 60px;
    left: 10px;
}

.textbox .line {
    position: absolute;
    top: 18px;
    left: 80px;
    background-color: #aaa;
    width: 1px;
    height: 24px;
}

input {
    width: 100%;
    height: 60px;
    color: #999;
    padding-left: 95px;
    border: 1px solid #fff;
    border-radius: 5px;
}

input:focus {
    border: 1px solid #000;
}

.message {
    text-align: left;
    font-size: 13px;
    /*     display: none; */
}

.message span.error {
    background: url(../images/correct.png) no-repeat 0% 50%;
    padding-left: 20px;
    color: #F8D888;
    display: block;
    margin-top: 10px;
    line-height: 20px;
}

.message span.error {
    background: url(../images/error.png) no-repeat 0% 50%;
}

.regedit_btn {
    background: #f08d32;
    border-radius: 50px;
    padding: 18px 55px;
    font-size: 18px;
    color: #fff;
    transition: all 0.1s linear;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.4);
}

.regedit_btn:hover {
    background: #F5A422;
    color: #fff;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

.link_area {
    width: 100%;
    height: 100%;
    text-align: center;
}

.overlay_block h2 {
    font-size: 24px;
    color: #666;
    padding: 35% 0 50px 0;
}

.link_btn {
    display: inline-block;
    width: 180px;
    height: 55px;
    line-height: 55px;
    border-radius: 50px;
    font-size: 18px;
    color: #999;
    border: 1px solid #999;
    transition: all 0.1s linear;
    margin-bottom: 25px;
}

.link_btn:hover {
    background: #F5A422;
    border: 1px solid #F5A422;
    color: #fff;
}

.eye {
    position: absolute;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 36px;
    height: 24px;
    margin-top: -12px;
    z-index: 100;
    right: 10px;
}

.eye {
    background: url(../images/eye_open.jpg) no-repeat;
}

.eye_close {
    background: url(../images/eye_close.jpg) no-repeat;
}

.tips {
    color: #B9DBF0;
    text-align: left;
    border-top: 1px dotted #65aad5;
    width: 80%;
    display: inline-block;
    text-align: left;
    margin-top: 30px;
    padding-top: 10px;
    line-height: 22px;
}

/* .check18y{
    display: none \9;
} */


/* Base for label styling */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}


/* checkbox aspect */

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 18px;
    height: 18px;
    border: 0px solid #aaa;
    background: #fff;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3);
}


/* checked mark aspect */

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 13px;
    left: 2px;
    font-size: 14px;
    line-height: 0.8;
    color: #2D77BE;
    transition: all 0.2s;
}


/* checked mark aspect changes */

[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}


/* disabled checkbox */

[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

[type="checkbox"]:disabled:checked + label:after {
    color: #F8D888;
}

[type="checkbox"]:disabled + label {
    color: #F8D888;
}


/* accessibility */

[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
    border: 1px solid #F8D888;
}


/* hover style just for information */

label {
    font-size: 14px;
    display: inline-block;
}

label:hover:before {}


/*頁尾*/


/*==============================================================================================*/

.footer {
    text-align: left;
    position: relative;
    background-color: rgb(35, 37, 38);
    width: 100%;
}

.footer a{
    cursor: default;
}

.pt-icon {
    text-align: center;
    padding: 0 0 10px 0;
}

.pt-icon a {
    margin-top: 20px;
    margin-right: 3%;
    vertical-align: middle;
    display: inline-block;
}

.pt-icon a.last {
    margin-right: 0px;
}

.cline {
    border-top: 1px solid #454545;
}

.footer div.fc {
    padding: 20px 5% 30px;
    text-align: center;
}

.footer div.fc h6 {
    text-align: center;
    line-height: 20px;
    color: #999999;
    font-size: 13px;
    font-family: "Microsoft yahei";
}

.footer div.fc h7 {
    text-align: center;
    color: #999999;
    line-height: 30px;
    font-size: 11px;
}


/*產品文字連結*/

.con3 {
    padding: 20px 0px;
}

.con3 h5 {
    padding-bottom: 10px;
    letter-spacing: 1px;
    color: #bdbdbd;
}

.con3 li a {
    color: #959595;
    display: inline-block;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.con3 li a:hover {
    color: #CCC;
}

.con3 li.lv1 {
    margin: 0%;
    float: left;
}

.con3 li.lv1 ul li {
    color: rgb(102, 102, 102);
    padding-bottom: 11px;
    line-height: 19px;
}

.con3 li.last {
    width: 24%;
    margin-right: 0px;
}

.con3 li.last a.btn3 {
    width: 110px;
}

.con3 li.sct ul li a {
    line-height: 27px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.con3 li.last h3 {
    font-weight: normal;
    letter-spacing: 3px;
}

.swt {
    width: 15%;
    padding: 20px 24px;
}

.sct {
    width: 17%;
    padding: 20px 0px 20px 20px;
}

.sct li {
    position: relative;
    padding-left: 1px;
    float: left;
}

.sct li span {
    width: 36px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.call-box {
    display: inline-block;
    padding: 0;
}

.text01 {
    font-size: 20px;
    color: #c6c6c6;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
    font-weight: bold;
}

.text02 {
    font-size: 13px;
    color: #bdbdbd;
    font-weight: bolder;
    line-height: 30px;
}


/*產品文字連結-社群工具*/

.si1,
.si2,
.si3,
.si4,
.si5,
.si6,
.si7,
.si8,
.si9,
.si10,
.si11,
.si12,
.si13,
.si14 {
    background-image: url(images/si.png);
    width: 36px;
    height: 35px;
    margin-right: 3px;
    float: left;
}

.si1 {
    background-position: 0px -35px;
}

.si2 {
    background-position: -36px -35px;
}

.si3 {
    background-position: -71px -35px;
}

.si4 {
    background-position: -108px -35px;
}

.si1:hover {
    background-position: 0px -70px;
}

.si2:hover {
    background-position: -36px -70px;
}

.si3:hover {
    background-position: -71px -70px;
}

.si4:hover {
    background-position: -108px -70px;
}

.con3 li.lv1 ul li div.olpp {
    display: inline-block;
}

.con3 li.lv1 ul li div.olpp li {
    width: 20px;
    height: 28px;
    text-align: center;
    color: #ffffff;
    line-height: 30px;
    padding-bottom: 0px;
    font-family: "futura_mdcn_btmedium";
    font-size: 20px;
    margin-right: 4px;
    display: inline-block;
    background-color: #98171a;
}

.con3 li.lv1 ul li div.olpp li hr {
    top: -26px;
    border-top-color: currentColor;
    border-top-width: medium;
    border-top-style: none;
    position: relative;
}


/*頁尾-合作夥伴與合作銀行圖示*/

.pt1,
.pt2,
.pt3,
.pt4,
.pt5,
.pt6,
.pt7,
.pt8,
.pt9,
.pt10,
.pt11,
.pt12,
.pt13,
.pt14 {
    background-image: url(../images/pt.png);
}

.pt1 {
    background-position: 0px 0px;
    width: 67px;
    height: 22px;
}

.pt2 {
    background-position: 0px -22px;
    width: 89px;
    height: 24px;
}

.pt3 {
    background-position: 0px -46px;
    width: 100px;
    height: 17px;
}

.pt4 {
    background-position: 0px -63px;
    width: 73px;
    height: 15px;
}

.pt5 {
    background-position: 0px -78px;
    width: 64px;
    height: 20px;
}

.pt6 {
    background-position: 0px -98px;
    width: 64px;
    height: 17px;
}

.pt7 {
    background-position: 0px -115px;
    width: 64px;
    height: 19px;
}

.pt8 {
    background-position: 0px -134px;
    width: 64px;
    height: 17px;
}

.pt9 {
    background-position: 0px -151px;
    width: 73px;
    height: 15px;
}

.pt10 {
    background-position: 0px -166px;
    width: 53px;
    height: 19px;
}


/*博奕法規*/

.pt11 {
    background-position: 0px -185px;
    width: 85px;
    height: 29px;
}

.pt12 {
    background-position: 0px -214px;
    width: 23px;
    height: 26px;
}

.pt13 {
    background-position: -23px -214px;
    width: 23px;
    height: 26px;
}

.pt14 {
    background-position: -47px -214px;
    width: 26px;
    height: 26px;
}


/*跳窗*/

.LightBox {
    display: none;
}

.LightBoxMain {
    position: absolute;
    width: 730px;
    height: auto;
    padding: 50px;
    background-color: #FFF;
    top: 50%;
    left: 50%;
    margin-left: -415px;
    margin-top: -375px;
    z-index: 2000;
}

.LightBoxBg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(images/bg001.png);
    z-index: 1999;
}

.x {
    position: absolute;
    width: 40px;
    height: 40px;
    background-image: url(images/x.png);
    cursor: pointer;
    top: -20px;
    right: -20px;
}

.x:hover {
    background-position: bottom;
}


/*最新消息*/

.announcement_bg {
    padding: 150px 0 0 0;
    margin: 0 0 100px 0;
}

.announcement_main {
    width: auto;
    height: auto;
    overflow: hidden;
    padding: 30px 30px 70px 30px;
    background-color: #fff;
}

.announcement_main ul {}

.announcement_main ul li {
    color: #959595;
    overflow: hidden;
    padding: 0 0 20px 0;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #e8e8e8;
}

.announcement_main ul li h2 {
    font-size: 12px;
    color: #353535;
    margin: 0 0 10px 0;
    font-weight: 100;
}

.announcement_main ul li p {
    float: left;
    line-height: 22px;
}

.announcement_main ul li b {
    float: right;
    font-weight: 100;
}


/*註冊跳窗*/

.LoginBoxMain {
    position: absolute;
    width: 430px;
    height: auto;
    padding: 40px 120px;
    background-color: #FFF;
    top: 10%;
    left: 50%;
    margin-left: -335px;
    z-index: 2000;
}

.LoginBoxContent {
    padding: 0 40px;
    font-size: 12px;
    line-height: 22px;
    color: #959595;
    overflow: hidden;
}

.LoginBoxMain a {
    color: #3eace9;
    vertical-align: auto;
    transition: all ease-out .3s;
}

.LoginBoxMain h2 {
    font-size: 16px;
    width: 100%;
    margin: 0 auto 10px auto;
    color: #353535;
}

.LoginBoxMain h3 {
    font-size: 12px;
    line-height: 22px;
    width: 100%;
    margin: 0 auto 20px auto;
    color: #959595;
    letter-spacing: 2px;
    font-weight: normal;
}

.LoginBoxMain h4 {
    font-size: 12px;
    width: 100%;
    margin: 50px auto 20px auto;
    color: #cecece;
    letter-spacing: 2px;
    font-weight: normal;
}

.InputBox {
    position: relative;
    width: 100%;
    height: 35px;
    margin: 10px auto 10px auto;
    clear: both;
    text-align: center;
}

.InputBox span {
    float: left;
    text-align: left;
    line-height: 35px;
    height: 35px;
    margin: 0 0 0 0;
    letter-spacing: 0px;
}

.LoginCheck {
    margin: 20px auto;
    width: 100%;
    overflow: hidden;
}

.LoginCheck ul li {
    font-size: 12px;
    list-style-type: none;
    padding-left: 25px;
}

.LoginCheck ul {
    margin: 0 0 0 0;
}

.LoginCheck p {
    float: left;
    margin: 0;
}

.LoginCheck span {
    width: 18px;
    height: 18px;
    border: 1px solid #bdbdbd;
    float: left;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.LoginCheck span.Active {
    background-image: url(images/icon120.png);
}

.LoginCheck ul li.floatRight {
    float: right;
}

.LoginCheck ul li.floatLeft {
    float: left;
}

.LoginCheck2 {
    margin: 10px auto;
    width: 100%;
    overflow: hidden;
}

.LoginCheck2 ul li {
    float: left;
    font-size: 12px;
    padding: 0 20px 15px 20px;
    list-style-type: none;
    width: 100%;
}

.LoginCheck2 ul {
    margin: 0 0 0 0;
}

.LoginCheck2 p {
    margin: 0;
    width: 80%;
    float: left;
    line-height: 20px;
    color: #959595;
}

.LoginCheck2 span {
    width: 18px;
    height: 18px;
    border: 1px solid #bdbdbd;
    float: left;
    margin: 2px 10px 0 0;
    cursor: pointer;
    border-radius: 3px;
}

.LoginCheck2 span.Active {
    background-image: url(images/icon120.png);
}

.Logintxt {
    margin: 10px auto;
    width: 100%;
    overflow: hidden;
}

.Logintxt p {
    text-align: left;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #959595;
}

.LoginBtn01 {}

.LoginBtn01 a {
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    margin: 10px auto 15px;
    display: block;
    width: 100%;
    height: 40px;
    background: #3eace9;
    letter-spacing: 5px;
    border-radius: 30px;
    box-shadow: 0 7px 8px #b6e0f7;
    transition: all ease-out .3s;
}

.LoginBtn01 a:hover {
    color: #fff;
    box-shadow: 0 3px 3px #b6e0f7;
}

.LoginBtn02 a {
    line-height: 40px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    margin: 10px auto 15px;
    display: block;
    width: 100%;
    height: 40px;
    background: #d6d6d6;
    letter-spacing: 5px;
    border-radius: 30px;
    box-shadow: 0 7px 8px #eeeeee;
}

.LoginBtn02 a:hover {
    color: #fff;
    box-shadow: 0 3px 3px #eeeeee;
}

.InputBox input[type="text"] {
    height: 31px;
    line-height: 31px;
    font-size: 12px;
    text-indent: 10px;
    float: right;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    color: #666666;
}

.InputBox input placeholder {
    color: #cecece;
}

.InputBoxError {
    padding-left: 65px;
    letter-spacing: 1px;
    font-size: 12px;
}

.InputBoxError2 {
    width: 100%;
    margin: 5px auto;
    padding-left: 15px;
    letter-spacing: 1px;
    font-size: 12px;
}

.InputBoxError i {
    float: left;
    margin: 1px 5px 0 0;
}

.InputBoxError2 i {
    float: left;
    margin: 2px 5px 0 0;
}

.LoginBoxMain input.W370 {
    width: 365px;
}

.w100 {
    width: 100%;
}

.w36 {
    width: 36%;
}


/*select*/

.selectBox {
    display: inline-block;
    position: relative;
    min-width: 367px;
    cursor: pointer;
    float: right;
}

.selectMain {
    width: 100%;
    height: 31px;
    line-height: 31px;
    font-size: 12px;
    text-indent: 10px;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
}

.selectMain span {
    color: #666666;
}

.selectMain i {
    display: inline-block;
    width: 10px;
    height: 5px;
    background-image: url(images/arrow_v3.png);
    margin: 15px 10px 0 10px;
    float: right;
}

.selectNav {
    display: none;
    position: absolute;
    width: 100%;
    height: 93px;
    margin-top: -1px;
    background-color: #FFF;
    z-index: 1;
    border-radius: 5px;
    border: 1px solid #bdbdbd;
    overflow-y: scroll;
    overflow-x: hidden;
}

.selectNav ul {
    list-style: none;
    text-align: left;
    text-indent: 10px;
    line-height: 31px;
    margin: 0;
    padding: 0;
}

.selectNav ul li {
    transition: all .3s;
}

.selectNav ul li:hover {
    background-color: #e4e4e4;
}

.sendcodes {
    position: absolute;
    width: auto;
    height: 29px;
    line-height: 29px;
    color: #fff;
    background-color: #3eace9;
    right: 3px;
    top: 3px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
}

.sendcodes span {
    float: none;
    line-height: 29px;
    height: inherit;
}

.sendcodes i {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(images/arrow_v4.png);
    vertical-align: middle;
}

.sendcodes-none {
    float: right;
}

.sendcodes-none a {
    color: #666666;
}

.sendcodes-none a:hover {
    color: #3eace9;
}


/*GAME背景共用*/

.game_bg {
    width: 2000px;
    background-image: url(images/game_bg.jpg);
    background-color: #fffbdc;
    background-repeat: repeat-x;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 50%;
    margin-left: -1000px;
    z-index: -999;
}


/*GAME選單*/

.nav-Center {
    padding: 0 0;
    position: relative;
    overflow: hidden;
    background-color: #FFF;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
}

.nav-Center ul {
    margin-left: 15px;
}

.nav-Center li {
    text-align: center;
    font-size: 12px;
    float: left;
    padding: 27px 15px;
    position: relative;
    border-top: 1px solid transparent;
    border-bottom: 2px solid transparent;
}

.nav-Center li a {
    color: #959595;
    transition: all 0.3s;
}

.nav-Center li a:hover {
    color: #3eace9;
}

.nav-Center li a.active {
    color: #353535;
}

.nav-Center li span.point {
    background: url(images/game/click_po.png) no-repeat 0 0;
    width: 5px;
    height: 5px;
    position: absolute;
    left: 48%;
    bottom: 15%;
    display: inline-block;
}


/*第二層選單*/

.nav-Center2 {
    padding: 0 0;
    position: relative;
    overflow: hidden;
    background-color: #f5f5f5;
    width: 100%;
    border-bottom: 1px solid #e8e8e8;
}

.nav-Center2 ul {
    margin-left: 24px;
}

.nav-Center2 li {
    text-align: center;
    font-size: 12px;
    float: left;
    margin: 20px 0 20px 15px;
    position: relative;
}

.nav-Center2 li a {
    padding: 10px 20px;
    position: relative;
    border: 1px solid #cecece;
    border-radius: 5px;
    display: block;
    color: #959595;
    transition: all 0.3s;
}

.nav-Center2 li a:hover {
    color: #3eace9;
    border: 1px solid #3eace9;
}

.nav-Center2 li a.active {
    color: #FFF;
    background-color: #3eace9;
    border: 1px solid #3eace9;
}


/*小遊戲-搜尋*/

.Game-search {
    width: 180px;
    float: left;
    height: auto;
    position: relative;
    margin: 18px 0 0 20px;
    border-bottom: 1px solid #CCC;
}

.Game-search input {
    border: none;
    width: 100%;
    background-color: transparent;
    color: #959595;
    height: 36px;
    line-height: 36px;
    padding: 0 0 0 35px;
    font-size: 12px;
    position: relative;
    z-index: 2;
    font-family: "Microsoft JhengHei", "Microsoft YaHei", "Myriad Pro Cond";
}

.Game-search i {
    position: absolute;
    width: 17px;
    height: 17px;
    background: url(images/game/icon_search.png) no-repeat 0 0;
    left: 8px;
    top: 9px;
    cursor: pointer;
    z-index: 20;
}

.Game-search .promo-text {
    position: absolute;
    z-index: 1;
    width: 190px;
    color: #bababa;
    font-weight: bold;
    height: 16px;
    padding: 0 0;
    overflow: hidden;
}

.Game-search ul {
    background-color: #fff\9;
    border: 1px solid #c1c1c1\9;
    margin-left: 20px;
    padding: 5px 0;
    font-size: 14px;
    position: absolute;
    z-index: 2;
    width: 260px;
    display: none;
    -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, .4);
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, .4);
    line-height: 30px;
}

.Game-search ul li {
    padding: 0 10px;
}

.Game-search ul li:hover {
    background-color: #2786ba;
}

.Game-search ul li a {
    display: block;
    color: #666666;
    transition: all 0.3s;
}

.Game-search-btn {
    width: 75px;
    color: #959595;
    line-height: 71px;
    font-size: 12px;
    float: right;
    margin-right: 10px;
}

.Game-search-btn:hover {
    color: #3eace9;
}

.Game-search-btn span.plus {
    position: absolute;
    width: 9px;
    height: 9px;
    background: url(images/game/icon_plus.png) no-repeat 0 0;
    right: 10px;
    top: 7px;
    cursor: pointer;
}

.Game-search-btn span.less {
    position: absolute;
    width: 9px;
    height: 9px;
    background: url(images/game/icon_less.png) no-repeat 0 0;
    right: 10px;
    top: 7px;
    cursor: pointer;
}

.game-list-container {
    padding: 0 0;
    position: relative;
    overflow: hidden;
    background-color: #FFF;
}


/*小遊戲-項目*/

.game-list li {
    position: relative;
    width: 194px;
    float: left;
    height: 200px;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

.game-list li img {
    transition: all .6s;
}

.game-list li:hover img {
    transform: scale(1.2, 1.2);
}

.game-img-goods {
    position: absolute;
    display: inline-block;
    width: 194px;
    height: 200px;
    overflow: hidden;
    margin: 0 0;
}


/*小遊戲-hover*/

.GamehoverBg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    text-align: center;
    background-image: url(images/game/game-img-black.png);
}

.GamehoverBtn_txt1 {
    color: #FFF;
    font-size: 12px;
    position: absolute;
    width: 95px;
    height: auto;
    top: 37%;
    left: 50%;
    margin-top: -47.5px;
    margin-left: -47.5px;
}

.GamehoverBtn {
    position: absolute;
    width: 95px;
    height: 95px;
    top: 55%;
    left: 50%;
    display: block;
    margin-top: -47.5px;
    margin-left: -47.5px;
    background: url(images/game/game_btn_play.png) no-repeat 0 0;
    color: #FFF;
    font-size: 12px;
    line-height: 135px;
}

.GamehoverBtn a {
    display: block;
    color: #FFF;
    font-size: 12px;
    -webkit-transition: all 0.9s;
    -moz-transition: all 0.9s;
    transition: all 0.9s;
}

.GamehoverBtn a:hover {
    color: #353535;
    background: url(images/game/game_btn_play_hover.png) no-repeat 0 0;
}

.GamehoverBtn_like {
    position: absolute;
    width: 31px;
    height: 29px;
    bottom: 2%;
    right: 2%;
    background: url(images/game/icon_like.png) no-repeat 0 0;
    cursor: pointer;
}

.GamehoverBtn_like:hover {
    background: url(images/game/icon_like_hover.png) no-repeat 0 0;
}

.GamehoverBtn_like.Favactive {
    background: url(images/game/icon_like_hover.png) no-repeat 0 0;
}

.GamehoverBtn_phone {
    position: absolute;
    width: 31px;
    height: 29px;
    bottom: 2%;
    right: 18%;
    background: url(images/game/icon_mobile.png) no-repeat 0 0;
}

.game-list li p {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0px;
    position: absolute;
    z-index: 11;
    left: 50%;
    margin-left: -40px;
    top: 67px;
    width: 78px;
    text-align: center;
}

.game-list li h5 {
    color: #333333;
    margin-top: 3px;
    font-size: 12px;
}

.game-tag {
    position: absolute;
    z-index: 50;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
}

.icon-go {
    background-image: url(images/game/icon_GO.png);
}

.icon-pt {
    background-image: url(images/game/icon_PT.png);
}

.icon-jackpot {
    position: absolute;
    z-index: 40;
    width: 69px;
    height: 69px;
    top: 0px;
    left: 0px;
    background-image: url(images/game/icon_jackpot.png);
}


/*註冊完成*/

.AuthenticateBg {
    width: 100%;
    height: auto;
    text-align: center;
}

.AuthenticateBg ul {
    display: inline-block;
    height: auto;
    list-style: none;
    margin: 0;
    padding: 0;
}

.AuthenticateBg ul li {
    width: 115px;
    height: auto;
    float: left;
    margin: 0 10px;
}

.AuthenticateBg ul li p {
    color: #353535;
}

.AuthenticateBg ul li p span {
    font-size: 15px;
}

.AuthenticateBox {
    width: 100%;
    height: 115px;
    color: #fff;
    background-color: #3eace9;
    line-height: 180px;
    box-shadow: 0 7px 8px #b6e0f7;
    background-position: center 20px;
    background-repeat: no-repeat;
    margin: 0 0 10px 0;
}

.AuthenticateName {
    background-image: url(images/icon_101.png);
}

.AuthenticateMobile {
    background-image: url(images/icon_102.png);
}

.AuthenticateMail {
    background-image: url(images/icon_103.png);
}


/*live800*/

.live800-header {
    width: 100%;
    height: 95px;
    background-color: #fff;
    box-shadow: 0 5px 5px #2c6f9a;
}

.live800-logo {
    width: 154px;
    height: 34px;
    background-image: url(images/logo_letou_cn.png);
    text-indent: -9999px;
    margin: 30px 0 0 30px;
    float: left;
}

.live800-bg {
    position: static;
    width: 100%;
    min-width: 420px;
    margin-left: 0;
    height: auto;
}

.live800-main {
    position: relative;
    padding: 30px;
}

.live800-change {
    margin: 0 auto;
    padding: 30px 30px 50px;
    background-color: #FFF;
}

.live800-shadow {
    width: 100%;
    height: 24px;
    background-image: url(images/shadow_03.png);
    background-size: 100% 24px;
}

.live800-change p {
    margin: 0 0 20px 0;
}

.live800-bg .selectBox {
    width: 80%;
    min-width: 150px;
}

.live800-bg .InputBox input[type="text"] {
    width: 80%;
    min-width: 150px;
    margin-right: -2px;
}
