.Header {
	position: fixed;
	width: 100%;
	height: auto;
	z-index: 10;
}
.HeaderTop {
	position: relative;
	width: 100%;
	height: 45px;
	background-color: #111925;
	z-index: 2;
}
.HeaderBottom {
	position: relative;
	width: 100%;
	height: 70px;
	background-color: rgba(20,25,40,.5);
	z-index: 1;
}
.HeaderTop:after,.HeaderBottom:after {
	display: block;
	content: "";
	clear: both;
}
.HeaderMain {
	display: flex;
	justify-content: space-between ;
	align-items:center;
	@include Centerenter;
	margin: 0 auto;
}
//語系
.HeaderLanguage {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 45px;
	height: 25px;
	margin-right: 10px;
}
.HeaderLanguage div {
	width: 100%;
	height: 100%;
}
.HeaderLanguage .Cn {
	background-image: url("../images/affiliate/icon-cn.jpg");
	background-size: 100%;
}
.HeaderLanguage .En {
	background-image: url("../images/affiliate/icon-en.jpg");
	background-size: 100%;
}
.HeaderLanguage .Ti {
	background-image: url("../images/affiliate/icon-thai.jpg");
	background-size: 100%;
}
.HeaderLanguage ul {
	position: absolute;
	width: auto;
	max-height: 0;
	padding: 0 10px;
	top: 25px;
	background-color: rgba(20,25,40,.8);
	overflow: hidden;
	transition:all .3s;
}
.HeaderLanguage:hover ul {
	max-height: 200px;
	padding: 10px 10px 0;
}
.HeaderLanguage ul li {
	width: 45px;
	height: 25px;
	margin-bottom: 10px;
	cursor: pointer;
	opacity: 1;
}
//項目
ul.HeaderList {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
ul.HeaderList  li {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	color: #fff;
	line-height: 45px;
	opacity: .4;
	transition:all .3s;
}
ul.HeaderList  li.Line:hover {
	opacity: .4;
}
ul.HeaderList li:hover {
	opacity:1;
}
//登入
.HeaderLogOut {
	display: inline-block;
	vertical-align: middle;
	float: right;
}
.HeaderLogOut input {
	display: inline-block;
	vertical-align: middle;
	width: 125px;
	height: 25px;
	border-radius: 3px;
	background-color: rgba(255,255,255,.3);
	outline: none;
	border: none;
	font-size: 12px;
	color: #fff;
	text-indent: 10px;
	margin-right: 5px;
}
.HeaderLogOut input::placeholder {
	color: rgba(255,255,255,.5);
}
.HeaderLogOut input:focus {
	color: #666;
	background-color: rgba(255,255,255,1);
}
.HeaderLogOut input:focus::placeholder {
	color: #888;
}
.Header .Btn {
	display: inline-block;
	vertical-align: middle;
	width: 75px;
	height: 25px;
	border-radius: 25px;
	background-color: #d8d8d8;
	border:1px solid #fff;
	font-size: 12px;
	color: #333;
	text-align: center;
	line-height: 23px;
	cursor: pointer;
	margin-right: 5px;
	transition:all .3s;
}
.Header .Btn:hover {
	background-color: #fff;
}
.Header .Btn.Style1 {
	width: 50px;
	color: #ff5b1a;
	border: 1px solid #ff5b1a;
	border-radius: 5px;
	background-color: transparent;
}
.Header .Btn.Style1:hover {
	color: #fff;
	background-color: #ff5b1a;
}
.Header .Btn.Style2 {
	color: #fff;
	line-height: 25px;
	border: none;
	background-image: -webkit-linear-gradient(#FD9969 0%, #FC6236 62%, #FD6663 100%);
    background-image: -o-linear-gradient(#FD9969 0%, #FC6236 62%, #FD6663 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FD9969), color-stop(62%, #FC6236), to(#FD6663));
    background-image: linear-gradient(#FD9969 0%, #FC6236 62%, #FD6663 100%);
}
.Header .Btn.Style2:hover {
	background-image: -webkit-linear-gradient(#FD6663 0%, #FC6236 62%, #FD9969 100%);
    background-image: -o-linear-gradient(#FD6663 0%, #FC6236 62%, #FD9969 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FD6663), color-stop(62%, #FC6236), to(#FD9969));
    background-image: linear-gradient(#FD6663 0%, #FC6236 62%, #FD9969 100%);
}
.Header .Btn.Style3 {
	color: #fff;
	line-height: 23px;
	border: 1px solid #fff;
	background-color: transparent;
}
.Header .Btn.Style3:hover {
	color: #111925;
	background-color: #fff;
}
.Header .Btn.Style3 i {
	display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-image: url(../images/icon004.png);
    background-size: 100%;
}
.Header .Btn.Style3 i.Icon1 {
	background-position: 0 0;
}
.Header .Btn.Style3:hover i.Icon1 {
	background-position: 0 -16px;
}
.Header .Btn.Style3 i.Icon2 {
	background-position: 0 -32px;
}
.Header .Btn.Style3:hover i.Icon2 {
	background-position: 0 -48px;
}
.Header .Btn a {
	display: block;
}
//圖標
.Header .Logo {
	position: relative;
	width: 290px;
	height: 70px;
	background-image: url(../images/logo.png);
    background-size:auto 70%;
    background-repeat: no-repeat;
    background-position: left center;
    text-indent: -9999px;
}
.Header .Logo a {
	display: block;
}
//主選單
.Header ul.Nav  {
	margin-right: -30px;
}
.Header ul.Nav li {
	display: inline-block;
	vertical-align: middle;
	padding: 0 20px;
	font-size: 16px;
	text-align: center;
	color: #fff;
	line-height: 70px;
	transition:all .3s;
}
.Header ul.Nav li.Line,.Header ul.Nav li.Line:hover {
	padding: 0;
	margin: 0 -10px;
	color: rgba(255,255,255,.5);
	background-color: rgba(0,0,0,0);
}
.Header ul.Nav li a {
	display: block;
}
.Header ul.Nav li:hover {
	color: #ff5b1a;
	background-color: rgba(0,0,0,.1);
}
//手機選單
.MobileHeader {
	position: fixed;
	display: flex;
	justify-content: space-between ;
	align-items:center;
	width: 100%;
	height: 45px;
	padding: 0 10px;
	background-color: rgba(20,25,40,.5);
	z-index: 10;
}
.MobileHeader:before {
	position: absolute;
	display: block;
	content: "";
	width: 100%;
	height: 5px;
	background-color: #111925;
	top: 0;
	left: 0;
}
.MobileHeader .Logo {
	position: relative;
	width: 120px;
	height: 40px;
	background-image: url(../images/logo.png);
    background-size:auto 70%;
    background-repeat: no-repeat;
    background-position: left center;
    text-indent: -9999px;
}
.MobileHeader .Logo a {
	display: block;
}
.MobileHeader .HeaderLanguage ul {
	top: 30px;
	left: 50%;
	transform:translateX(-50%);
}
.MobileHeaderNav {
  display: none;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #000;
  bottom: 0;
  z-index: 15; 
}
.MobileHeaderNav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; 
}
.MobileHeaderNav ul li {
  width: 20%;
  text-align: center; 
}

.MobileHeaderNav ul li i {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto 5px;
  background-image: url("../images/icon005.png");
  background-size: 200%; 
}

.MobileHeaderNav ul li.Active i.Icon1 {
  background-position: 30px 0; 
}

.MobileHeaderNav ul li i.Icon2 {
  background-position: 0 -30px; 
}
.MobileHeaderNav ul li.Active i.Icon2 {
  background-position: 30px -30px; 
}
.MobileHeaderNav ul li i.Icon3 {
  background-position: 0 -60px; 
}
.MobileHeaderNav ul li.Active i.Icon3 {
  background-position: 30px -60px; 
}
.MobileHeaderNav ul li i.Icon4 {
  background-position: 0 -90px; 
}
.MobileHeaderNav ul li.Active i.Icon4 {
  background-position: 30px -90px; 
}
.MobileHeaderNav ul li i.Icon5 {
  background-position: 0 -120px; 
}
.MobileHeaderNav ul li.Active i.Icon5 {
  background-position: 30px -120px; 
}

.MobileHeaderNav ul li a {
  display: block;
  color: #fff; }

.MobileHeaderNav ul li.Active a {
  color: #ff5b1a; }

.MobileHeaderNav ul li p {
  font-size: 12px; }

@media screen and (max-width: 1080px) {
.Header {
	display: none;
}
.MobileHeaderNav {
	display: block;
}

}


