//kv
.Banner {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  z-index: 1; 
  border-bottom: 4px solid #ff5b1a;
}
.Banner .flexslider {
  width: 100%;
  height: 100%;
  margin: 0 auto; 
}
.Banner ul.slides li {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}
.Banner ul.slides li img {
  position: relative;
  z-index: 1;
  top: 0;
  left: 0;
}
.Banner .flex-control-nav {
  bottom: 50px;
}
.Banner .flex-control-nav li a {
  width: 80px;
  height: 10px;
  background-color: rgba(255,255,255,.3);
}
.Banner .flex-control-nav li a.flex-active {
  background-color: #ff5b1a;
}
.Banner .Title {
  position: absolute;
  max-width: 50%;
  top: 50%;
  transform:translateY(-50%);
  background-color: rgba(20,20,25,.8);
  padding:30px 40px; 
  z-index: 2;
  opacity: 0;
  transition:all .3s;
}
.Banner ul li.flex-active-slide .Title {
  opacity: 1;
}
.Banner .Title.Left {
  left: 50%;
  margin-left: -600px;

}
.Banner .Title.Right {
  right: 50%;
  margin-right: -600px;
}
.Banner .Title h2 {
  font-size: 26px;
  color: #fff;
  margin-bottom: 10px;
}
.Banner .Title p {
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  margin-bottom: 15px;
}
.Banner .Title p span {
  color: #fff100;
}
.Banner .Title br {
  display: none;
}
.Banner .Title .Btn {
  width: 140px;
  height: 40px;
  background-color: #ff5b1a;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 40px;
}
//公告
.Post {
  position: absolute;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  background-color: rgba(20, 20, 25, 0.9);
  bottom: 0;
  font-size: 14px;
  color: #fff;
  line-height: 40px;
  z-index: 10; 
}
@media screen and (max-width: 1080px) {
.Banner .flex-control-nav {
  display: none;
}
.Banner .Title h2 {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 5px;
}
.Banner .Title p {
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 10px;
}
.Banner .Title .Btn {
  display: none;
  width: 90px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
}
.Banner .Title {
    max-width: inherit;
    padding: 15px;
}
.Banner .Title.Left {
  left:0;
    margin-left:0;
  transform:translateX(0) translateY(-50%);
}
.Banner .Title.Right {
  right:0;
  margin-right: 0;
  transform:translateX(0) translateY(-50%);
}
}
@media screen and (max-width: 600px) {
.Banner ul.slides li {
  height: 300px;
}
.Banner ul.slides li img {
  position: absolute;
  width: auto;
  height: 100%;
  left: 50%;
  transform:translateX(-50%);
}
.Banner .Title br {
  display: block;
}
}








