//會員中心背景
.Member {
	position: relative;
	width: 100%;
	min-height: 100%;
	background-color: #031E56;
	overflow: hidden;
}
.Member:before {
	position: absolute;
	content: "";
	width: 50%;
	padding-top: 50%;
	border-radius: 100%;
	background-image: radial-gradient(#4B75A0, #031E56);
	filter:blur(50px);
	opacity: .4;
	top: -30%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 0;
}
//會員中心頁首
.MemberHeader {
	position: relative;
	width: 100%;
	height: auto;
}
.MemberHeaderTop {
	width: 100%;
	height: 35px;
	line-height: 35px;
	background-color: #142F54;
	border-bottom: 1px solid #353535;
}
.MemberHeaderTop:after {
	display: block;
	content: "";
	clear: both;
}
.MemberHeaderTop .Logo {
	position: relative;
	width: 100px;
	height: 35px;
	background-image: url("../images/member/logo.png");
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	text-indent: -9999px;
	float: left;
}
.MemberHeaderTop .Logo a {
	display: block;
	width: 100%;
	height: 100%;
}
.MemberHeaderTop .Nav {
	float: right;
}
.MemberHeaderTop .Nav ul li {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
	line-height: 35px;
	color: #C4C4C4;
	margin: 0 5px;
}
.MemberHeaderTop .Nav ul li a {
	color: #C4C4C4;
	transition:all .3s;
}
.MemberHeaderTop .Nav ul li a:hover {
	color: #fff;
}
.MemberHeaderAcBox {
	position: absolute;
	width: 160px;
	height: 210px;
	padding: 2px;
	background: -webkit-linear-gradient(#2B86C5,#562B7C,#FF3CAC);
	background: -o-linear-gradient(#2B86C5,#562B7C,#FF3CAC);
	background: -moz-linear-gradient(#2B86C5,#562B7C,#FF3CAC);
	background: linear-gradient(#2B86C5,#562B7C,#FF3CAC);
	box-shadow: 0 0 20px #12439E;
	border-radius: 0 0 160px 160px;
	top: 0;
	left: 50%;
	margin-left: -80px;
	z-index: 5;
}
.MemberHeaderAcBoxMain {
	width: 100%;
	height: 100%;
	padding-top: 10px;
	border-radius: 0 0 160px 160px;
	background: #0A2947;
	text-align: center;
}
.MemberHeaderAcBoxMain .Level {
	display: block;
	width: 60px;
	height: 51px;
	margin: 0 auto;
	background-image: url("../images/member/level.png");
	background-size: 100%;
	margin-bottom: 10px;
}
.MemberHeaderAcBoxMain .Level.LV1 {
	background-position: 0 0;
}
.MemberHeaderAcBoxMain .Level.LV2 {
	background-position: 0 -51px;
}
.MemberHeaderAcBoxMain .Level.LV3 {
	background-position: 0 -102px;
}
.MemberHeaderAcBoxMain .Level.LV4 {
	background-position: 0 -153px;
}
.MemberHeaderAcBoxMain  p {
	font-size: 20px;
	 color: #fff;
	 margin-bottom: 10px;
}
.MemberHeaderAcBoxMain  b {
	display: block;
	font-size: 14px;
	 color: #79838F;
	 margin-bottom: 20px;
}
.MemberHeaderAcBoxMain ul li {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background-color: #37424E;
	background-image: url("../images/member/icon004.png");
	background-size: 100%;
	margin: 0 5px;
	transition:all .3s;
}
.MemberHeaderAcBoxMain ul li:hover,.MemberHeaderAcBoxMain ul li.Active {
	background-color: #648BB6;
}
.MemberHeaderAcBoxMain ul li.Icon1:hover,.MemberHeaderAcBoxMain ul li.Icon1.Active  {
	background-position: 0 -30px;
}
.MemberHeaderAcBoxMain ul li.Icon2 {
	background-position: 0 -60px;
}
.MemberHeaderAcBoxMain ul li.Icon2:hover,.MemberHeaderAcBoxMain ul li.Icon2.Active  {
	background-position: 0 -90px;
}
.MemberHeaderAcBoxMain ul li.Icon3 {
	background-position: 0 -120px;
}
.MemberHeaderAcBoxMain ul li.Icon3:hover,.MemberHeaderAcBoxMain ul li.Icon3.Active {
	background-position: 0 -150px;
}
.MemberHeaderAcBoxMain ul li a {
	display: block;
	width: 100%;
	height: 100%;
}
.MemberHeaderTopMain {
	position: relative;
	@include Membercenter;
	margin: 0 auto;
}
.MemberHeaderBottom {
	width: 100%;
	height: 135px;
	background-color: rgba(5,25,65,.7);
}
.MemberHeaderBottomNav {
	position: relative;
	text-align: center;
}
.MemberHeaderBottomNav ul {
	display: inline-block;
}
.MemberHeaderBottomNav ul li {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	max-width: 180px;
	font-size: 18px;
	text-align: center;
	line-height: 135px;
	padding: 0 30px;
}
.MemberHeaderBottomNav ul li a {
	display: block;
	color: #57626B;
}
.MemberHeaderBottomNav ul li:after {
	position: absolute;
	content: "";
	width: 0;
	height: 2px;
	background-color: #FF6666;
	bottom: 40px;
	left: 50%;
	margin-left: -40px;
	transition:all .3s;
}
.MemberHeaderBottomNav ul li:hover:after,.MemberHeaderBottomNav ul li.Active:after {
	width: 80px;
}
.MemberHeaderBottomNav ul li.Width {
	width: 180px;
}
.MemberHeaderBottomNav ul li.Width:after {
	display: none;
}
.MemberHeaderBottomNav ul li.Active a {
	color: #fff;
}
//會員中心手機頁首
.MemberMobileHeader {
	display: none;
	position: fixed;
	width: 100%;
	height: 55px;
	padding: 0 15px;
	background-color: #1D2D45;
	z-index: 10;
}
.MemberMobileHeader:after {
	display: block;
	content: "";
	clear: both;
}
.MemberMobileHeader .Logo {
	width: 160px;
	height: 100%;
	background-image: url("../images/member/logo.png");
	background-size:auto 30px;
	background-position: center left;
	background-repeat: no-repeat;
	text-indent: -9999px;
	float: left;
}
.MemberMobileHeader .NavBtn {
	position: relative;
	width: 30px;
	height: 100%;
	float: right;
	cursor: pointer;
}
.MemberMobileHeader .NavBtn ul li {
	position: absolute;
	width: 30px;
	height: 4px;
	background-color: #fff;
	border-radius: 4px;
	top: 50%;
	left: 50%;
	margin-top: -2px;
	margin-left: -15px;
}
.MemberMobileHeader .NavBtn ul li:nth-child(1) {
	transform:translateY(-10px);
}
.MemberMobileHeader .NavBtn ul li:nth-child(3) {
	transform:translateY(10px);
}
//會員中心選單
.Menu {
	position: fixed;
	width: 70%;
	max-width: 280px;
	height: 90%;
	padding:30px 20px;
	overflow-y: auto;
	background-color: rgba(30,45,70,1);
	z-index: 21;
	transition:all .3s;
}
.Menu.Left {
	border-radius: 0 0 20px 0;
	left: -70%;
}
.Menu.Left.Active {
	left: 0;
}
.Menu.Right {
	right: -70%;
	border-radius: 0 0 0 20px;
}
.Menu.Right.Active {
	right: 0;
}
.MenuBg {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(5,15,45,.8);
	z-index: 20;
}
.MemberSafe {
  text-align: left;
  margin-bottom: 20px; }

.MemberSafe ul li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-image: url("../images/member/icon005.png");
  background-size: 200%;
  background-color: #37424E;
  margin: 0 10px 0 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.MemberSafe ul li a {
  display: block;
  width: 100%;
  height: 100%; }

.MemberSafe ul li:hover {
  background-position: 30px 0; }

.MemberSafe ul li.Icon2 {
  background-position: 0 -30px; }

.MemberSafe ul li.Icon2:hover {
  background-position: 30px -30px; }

.MemberSafe ul li.Icon3 {
  background-position: 0 -60px; }

.MemberSafe ul li.Icon3:hover {
  background-position: 30px -60px; }

.Menu .Balance, .Menu .Admin {
  font-size: 14px;
  margin-bottom: 20px; }

.Menu .Balance a, .Menu .Admin a {
  color: #fff; 
}

.Menu .Balance a span, .Menu .Admin a span {
  color: #F2B038;
  margin-left: 10px; }
 
.Menu .Admin a {
  	display: inline-block;
    vertical-align: middle; 
 }
 .Menu .Admin h1 {
 	line-height: 20px;
 	color: #9B9B9B;
 }
  .Menu .Admin p {
 	line-height: 20px;
 }
.Menu .Admin i {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.Menu .Admin i img {
    width: 100%;
}
.MenuNav div {
  position: relative;
  font-size: 14px;
  line-height: 50px;
  border-bottom: 1px solid #4a4a4a; }

.MenuNav div.More:after {
  position: absolute;
  display: block;
  content: "";
  border-style: solid;
  border-color:#fff transparent transparent transparent;
  border-width: 5px;
  top: 25px;
  right: 10px;
  transition:all .3s;
}

.MenuNav div.More.Active:after {
	top: 20px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); 
}

.MenuNav div a {
	display: block;
  color: #fff;
}

.MenuNav i, .MenuNav span {
  display: inline-block;
  vertical-align: middle; }

.MenuNav i {
  width: 25px;
  height: 25px;
  background-image: url("../images/member/icon006.png");
  background-size: 100%;
  margin-right: 10px; }

.MenuNav i.Icon2 {
  background-position: 0 -25px; }

.MenuNav i.Icon3 {
  background-position: 0 -50px; }

.MenuNav i.Icon4 {
  background-position: 0 -75px; }

.MenuNav i.Icon5 {
  background-position: 0 -100px; }

.MenuNav i.Icon6 {
  background-position: 0 -125px; }

.MenuNav i.Icon7 {
  background-position: 0 -150px; }

.MenuNav i.Icon8 {
  background-position: 0 -175px; }

.MenuNav i.Icon9 {
  background-position: 0 -200px; }

.MenuNav i.Icon10 {
  background-position: 0 -225px; }

.MenuNav i.Icon11 {
  background-position: 0 -250px; }

  .MenuNav i.Icon12 {
  background-position: 0 -275px; }

.MenuNav ol {
  display: none;
  margin-bottom: 20px; }

.MenuNav ol li {
	width: 100%;
  font-size: 14px;
  line-height: 40px;
  padding-left: 25px;
}

.MenuNav ol li a {
  color: #dadada; }
  .MenuNav ol li span,.MenuNav ol li i {
  	display: inline-block;
  	vertical-align: middle;
  }
  .MenuNav ol li i {
  	opacity: .6;
  }


//會員中心結構
.MemberMain {
	position: relative;
	@include Membercenter;
	min-height:calc(100vh - 272px);
	margin: 0 auto 30px;
	z-index: 1;
}
.MemberLeft {
	position: absolute;
	width: 190px;
	height: auto;
	z-index: 2;
}
.MemberRight {
	position: relative;
	width: 100%;
    min-height: 500px;
    border-left: 190px solid rgba(35,45,55,.5);
}
.MemberRightMain {
	position: relative;
	width:calc(100% - 30px);
	height: auto;
	min-height: 500px;
	padding: 20px 30px 50px;
	background-color: rgba(35,45,55,.5);
	left: 30px;
}
//會員中心標題
.MemberTitle {
	padding: 20px 0;
	font-size: 18px;
	color: #fff;
	border-bottom: 1px solid rgba(0,205,255,.5);
	margin-bottom: 20px;
	transition:all .3s;
}
.MemberTitle span,.MemberTitle i {
	display: inline-block;
	vertical-align: middle;
}
.MemberTitle i {
	width: 25px;
	height: 25px;
	margin-right: 10px;
	background-image: url("../images/member/icon001.png");
	background-size: 100%;
}
.MemberTitle i.Icon1 {
	background-position: 0 -25px;
}
.MemberTitle i.Icon2 {
	background-position: 0 -75px;
}
.MemberTitle i.Icon3 {
	background-position: 0 -125px;
}
.MemberTitle i.Icon4 {
	background-position: 0 -175px;
}
.MemberTitle i.Icon5 {
	background-position: 0 -225px;
}
.MemberTitle i.Icon6 {
	background-position: 0 -275px;
}
.MemberTitle i.Icon7 {
	background-position: 0 -325px;
}
//會員中心選單
ul.MemberLeftNav li {
	position: relative;
	font-size: 14px;
	line-height: 50px;
}
ul.MemberLeftNav li a {
	display: block;
	padding: 0 20px;
	color: #57626B;
}
ul.MemberLeftNav li.Active a,ul.MemberLeftNav li:hover a {
	color: #fff;
}
ul.MemberLeftNav li i {
	display: inline-block;
	vertical-align: middle;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	background-image: url("../images/member/icon001.png");
	background-size: 100%;
}
ul.MemberLeftNav li.Active i.Icon1,ul.MemberLeftNav li:hover i.Icon1  {
	background-position: 0 -20px;
}
ul.MemberLeftNav li i.Icon2,ul.MemberLeftNav li i.Icon2  {
	background-position: 0 -40px;
}
ul.MemberLeftNav li.Active i.Icon2,ul.MemberLeftNav li:hover i.Icon2  {
	background-position: 0 -60px;
}
ul.MemberLeftNav li i.Icon3,ul.MemberLeftNav li i.Icon3  {
	background-position: 0 -80px;
}
ul.MemberLeftNav li.Active i.Icon3,ul.MemberLeftNav li:hover i.Icon3  {
	background-position: 0 -100px;
}
ul.MemberLeftNav li i.Icon4,ul.MemberLeftNav li i.Icon4  {
	background-position: 0 -120px;
}
ul.MemberLeftNav li.Active i.Icon4,ul.MemberLeftNav li:hover i.Icon4  {
	background-position: 0 -140px;
}
ul.MemberLeftNav li i.Icon5,ul.MemberLeftNav li i.Icon5  {
	background-position: 0 -160px;
}
ul.MemberLeftNav li.Active i.Icon5,ul.MemberLeftNav li:hover i.Icon5  {
	background-position: 0 -180px;
}
ul.MemberLeftNav li i.Icon6,ul.MemberLeftNav li i.Icon6  {
	background-position: 0 -200px;
}
ul.MemberLeftNav li.Active i.Icon6,ul.MemberLeftNav li:hover i.Icon6  {
	background-position: 0 -220px;
}
ul.MemberLeftNav li span {
	display: inline-block;
	vertical-align: middle;
}
ul.MemberLeftNav li:after,ul.MemberLeftNav li:before {
	position: absolute;
	content: "";
	width: 10px;
	height: 2px;
	border-radius: 10px;
	background-color: #57626B;
	top: 50%;
	right: 20px;
	transform-origin:100% 50%;
}
ul.MemberLeftNav li:after {
	transform:rotate(45deg) translateY(-1px);
}
ul.MemberLeftNav li:before {
	width: 8px;
	transform:rotate(-45deg) translateY(-1px);
}
ul.MemberLeftNav li.Active:after,ul.MemberLeftNav li.Active:before,ul.MemberLeftNav li:hover:after,ul.MemberLeftNav li:hover:before {
	background-color: #fff;
}
//會員中心主要內容標題
.MemberTheTitle {
	width: 100%;
	padding:0 0 20px;
	font-size: 18px;
	color: #fff;
	border-bottom: 1px solid rgba(0,205,255,.2);
	margin-bottom: 10px;
}
//會員中心轉帳
.TransferBoxMain {
	padding-left: 45px;
}
.MemberHalfBox .TransferIcon {
	position: absolute;
	width: 20px;
	height: 90px;
	background-image: url("../images/member/arrow002.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	top: 40px;
	right: -30px;
}
.TransferBoxMain p {
	font-size: 14px;
	color: #CCCCCC;
	margin:20px 0;
}
//會員中總資產
.MemberHalfBox {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 50%;
	// min-height: 374px;
}
.MemberHalfBox.Full {
	width: 100%;
}
ul.MemberTableBox {
	position: relative;
	width: 100%;
	margin-bottom: 50px;
}
ul.MemberTableBox.Margin {
	margin: 0;
}
ul.MemberTableBox:after {
	display: block;
	content: "";
	width: 100%;
	clear: both;
}
ul.MemberTableBox li {
	width: 100%;
	border-bottom: 1px solid rgba(0,205,255,.2);
}
ul.MemberTableBox li:after {
	display: block;
	content: "";
	width: 100%;
	clear: both;
}
ul.MemberTableBox.Half li {
	width: 48%;
	float: left;
}
ul.MemberTableBox.Half li.Full {
	width: 100%;
}
ul.MemberTableBox.Half li:nth-child(odd) {
	margin-right: 2%;
}
ul.MemberTableBox.Half li:nth-child(even) {
	margin-left: 2%;
}
ul.MemberTableBox.Half li:before {
	content: "";
	width: 10px;
	height: 10px;
	border-radius: 100%;
	float: left;
	margin:35px 10px 0 0;
}
ul.MemberTableBox.Half li:nth-child(1):before {
	background-color: #4A90E2;
}
ul.MemberTableBox.Half li:nth-child(2):before {
	background-color: #D0021B;
}
ul.MemberTableBox.Half li:nth-child(3):before {
	background-color: #4A90E2;
}
ul.MemberTableBox.Half li:nth-child(4):before {
	background-color: #F8E71C;
}
ul.MemberTableBox.Half li:nth-child(5):before {
	background-color: #D0021B;
}
ul.MemberTableBox.Half li:nth-child(6):before {
	background-color: #4A90E2;
}
ul.MemberTableBox.Half li:nth-child(7):before {
	background-color: #4A90E2;
}
ul.MemberTableBox.Half li:nth-child(8):before {
	background-color: #D0021B;
}
ul.MemberTableBox.Half li:nth-child(9):before {
	background-color: #4A90E2;
}
ul.MemberTableBox.Half li:nth-child(10):before {
	background-color: #F8E71C;
}
ul.MemberTableBox.Half li:nth-child(11):before {
	background-color: #D0021B;
}
ul.MemberTableBox.Half li:nth-child(12):before {
	background-color: #4A90E2;
}
.MemberTableBox h3 {
	font-size: 14px;
	line-height: 80px;
	color: #fff;
	float: left;
}
.MemberTableBox p {
	font-size: 12px;
	line-height: 80px;
	color: #fff;
	float: right;
}
.NoMoney {
	position: relative;
	width: 60%;
	padding-top: 60%;
	border-radius: 100%;
	background-color: rgba(164,164,164,.3);
	background-image: url("../images/member/pic001.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
    transform:translateY(50%);
    margin: -15% auto 0;
}
.MemberHalfBox.Active .NoMoney {
	display: none;
}
.MemberCircle {
	width: 60%;
    transform:translateY(50%);
    margin: -15% auto 0;
}
.MemberHalfBox.Active .MemberCircle {
	display: block;
}
//會員中心存款選單
.MemberDepositNav {
	height: 50px;
	text-align: center;
	border-bottom: 1px solid  rgba(0,205,255,.4);
	margin-bottom: 20px;
	overflow-y: hidden;
	overflow-x: auto;
	white-space:nowrap;
	-webkit-overflow-scrolling: touch;
}
.MemberDepositNav ul li {
	position: relative;
	display: inline-block;
	font-size: 14px;
	line-height: 50px;
	margin: 0 10px;
}
.MemberDepositNav ul li:after {
	position: absolute;
	display: none;
	content: "";
	border-style: solid;
	border-width: 5px;
	border-color: transparent transparent #5CC4F9 transparent;
	left: 50%;
	margin-left: -5px;
	bottom: 0;
}
.MemberDepositNav ul li.Active:after,.MemberDepositNav ul li.Active:before {
	display: block;
}
.MemberDepositNav ul li a {
	color: #9B9B9B;
}
.MemberDepositNav ul li a:hover {
	color: #fff;
}
.MemberDepositNav ul li.Active a {
	color: #5CC4F9;
}
//輸入和選擇框
.SelectBox,.InputBox {
	position: relative;
	max-width: 300px;
	margin-bottom: 20px;
}
.SelectBox label,.InputBox label,.SelectBank label,.AddBankBox label {
	display: block;
	font-size: 14px;
	color: #fff;
	margin-bottom: 10px;
}
.SelectBox.Inline label,.InputBox.Inline label  {
	display: inline-block;
	vertical-align: middle;
}
.SelectBox.Inline select,.InputBox.Inline input  {
	display: inline-block;
	vertical-align: middle;
}
.InputBox label.RedText {
	color: #FF6666;
}
.InputBox p.Text {
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 0 0;

}
.SelectBox.Bank i {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: #fff;
	border:2px solid #fff;
	bottom: 9px;
	left: 10px;
}
.SelectBox.Bank i img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.SelectBox select {
	width: 100%;
	height: 40px;
	background-color:rgba(255,255,255,.2);
	border:1px solid rgba(255,255,255,.8);
	outline: none;
	appearance:none;
  	-moz-appearance:none;
  	-webkit-appearance:none;
  	font-size: 14px;
  	color: #fff;
  	text-indent: 10px;
  	border-radius: 5px;
  	box-sizing:border-box;
}
.SelectBox select::-ms-expand { 
  display: none; 
}
.SelectBox.Bank select {
  	text-indent: 40px;
}
.SelectBox:before {
	position: absolute;
	content: "";
	border-style: solid;
	border-width: 5px;
	border-color: transparent transparent transparent #fff;
	right: 10px;
	bottom: 15px;
	pointer-events: none;
}
.SelectBox:after {
	position: absolute;
	content: "";
	width: 40px;
	height: 40px;
	bottom: 0;
	right: 0;
	border-left: 1px solid rgba(255,255,255,.8);
	pointer-events: none;
}
.InputBox input {
	width: 100%;
	height: 40px;
	background-color:rgba(255,255,255,.2);
	border:1px solid rgba(255,255,255,.8);
	outline: none;
  	font-size: 14px;
  	color: #fff;
  	text-indent: 10px;
  	border-radius: 5px;
  	box-sizing:border-box;
}
.InputBox input:focus {
	border:1px solid rgba(255,255,255,1);
}
.InputBox input::placeholder {
	color: rgba(255,255,255,.5);
}
.InputBox.Error input {
    border: 1px solid #FF6666;
    box-shadow: 0 0 5px rgba(255, 0, 45, 0.7);
}
//會員中心輸入錯誤提示
.InputBox .Error {
    display: none;
    font-size: 14px;
    color: #FF6666;
    line-height: 40px;
    float: left;
}
.InputBox.Error .Error {
    display: block;
}
//銀行選擇
.SelectBank {
  position: relative;
}
.SelectBankMain {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.8);
  font-size: 14px;
  line-height: 38px;
  color: #fff;
  cursor: pointer; 
  margin-bottom: 20px; 
}
.SelectBankMain:before {
    position: absolute;
    content: "";
    right: 10px;
    bottom: 15px;
    pointer-events: none;
    border-style: solid;
    border-width: 5px;
    border-color: transparent transparent transparent rgb(255, 255, 255);
}
.SelectBankMain:after {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    bottom: -1px;
    right: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.8);
    pointer-events: none;
}
.SelectBank i {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #fff;
  border: 2px solid #fff;
  margin-right: 5px; 
}
.SelectBank i img {
  position: absolute;
  width: 100%; 
}
.SelectBank p {
  display: inline-block;
  vertical-align: middle; 
}
.SelectBankOpen {
  display: none;
  position: absolute;
  width: 420px;
  height: auto;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(35,45,55,.5);
  top: 10px;
  left: 310px;
  z-index: 11;
  transition: all .3s; 
}
.SelectBank.Active .SelectBankOpen {
  display: block; 
}
.SelectBankBg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5; 
}
.SelectBank.Active .SelectBankBg {
  display: block; 
}
.SelectBankOpen ul li {
  position: relative;
  width: 130px;
  height: 38px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.8);
  float: left;
  margin: 2.5px;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
  text-indent: 15px;
  line-height: 33px; 
}
.SelectBankOpen ul li i img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0; 
}
.SelectBankOpen ul li p {
	font-size: 14px;
    color: #fff;
    text-indent: 0px; 
}

.SelectBankOpen ul li:hover {
  border: 1px solid #19B847; 
}
//會員中心選擇金額
.MemberChoiseMoney {
	max-width: 300px;
   margin-bottom: 20px; 
}
.MemberChoiseMoney ul li {
  display: inline-block;
  width: calc( ( 100% - 30px ) / 4 );
  height: 33px;
  border: 1px solid rgba(255,255,255,.3);
  background-color: rgba(255,255,255,.3);
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  line-height: 33px;
  text-align: center;
  margin-right: 10px;
  cursor: pointer; 
}
.MemberChoiseMoney ul li:nth-child(4),.MemberChoiseMoney ul li:nth-child(8) {
	margin-right: 0;
}
.MemberChoiseMoney ul li:hover {
  color: #19B847;
  border: 1px solid #19B847; 
}
.MemberChoiseMoney ul li.Active {
  color: #fff;
  border: 1px solid #19B847;
  background-color: #19B847; 
}
.MemberChoiseMoney .Line {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: #C8CFD7;
  margin: 15px 0 10px; 
}
.MemberChoiseMoney .Line:before {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 11px;
  background-image: url(../images/member/arrow001.png);
  bottom: 0;
  right: 25px; 
}
.MemberChoiseMoney.Second {
  display: none; 
}
.MemberChoiseMoney.Second.Active {
  display: block; 
}
//會員中心按鈕
.MemberBtn {
    width: 100%;
    max-width: 300px;
    height: 50px;
    border-radius: 4px;
    background-color: #C8CFD7;
    font-size: 14px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 0;
    margin-bottom: 20px;
}
.MemberBtn.Gray {
	background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.8);
}
.MemberBtn.Inline {
	display: inline-block;
	max-width: 170px;
	margin-right: 10px;
}
.MemberBtn.Active {
	background-color: #19B847;
}
.MemberBtn a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
}
.MemberBtn.Gray a {
	color: #fff;
}
.MemberBtn .Error {
    display: none;
    font-size: 14px;
    color: #FF6666;
    line-height: 40px;
    text-align: left;
}
.MemberBtn.Error .Error {
    display: block;
}
//會員中心下方提示
.MemberPromptArticle {
	width: 100%;
	border-top: 1px solid rgba(0,205,255,.5);
	margin-top: 50px;
	padding: 30px 0;
}
.MemberPromptArticle h2 {
	font-size: 14px;
	color: #ED7C5E;
	margin-bottom: 10px;
}
.MemberPromptArticle p {
	font-size: 14px;
	line-height: 22px;
	color: #ED7C5E;
}
.MemberPromptArticle p a {
	color: #5CC4F9; 
}
//會員中心輸入提示
.MemberPrompt {
    position: absolute;
    width: 220px;
    background-color: #FFF5F2;
    border: 1px solid #FF3C00;
    border-radius: 0 10px 10px 10px;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 22px;
    color: #333;
    top: 25px;
    left: 315px;
}
.MemberPrompt span {
    color: #FF3C00;
}
//會員中心步驟表格
.TableBox {
	position: relative;
	padding-bottom: 50px;
	border-bottom: 1px solid rgba(0, 205, 255, 0.2);
	margin-bottom: 30px;
}
.TableBox table {
	width: 100%;
	border-radius: 5px;
	border:1px solid #fff;
	border-bottom: none;
}
.TableBox table tr td {
	padding: 10px 15px;
	font-size: 14px;
	line-height: 22px;
	color: #CCCCCC;
	border-bottom: 1px solid #fff;
}
.TableBox table tr td.Title {
	color: #fff;
}
.TableBox table tr td span,.TableBox table tr td i {
	display: inline-block;
	vertical-align: middle;
}
.TableBox table tr td span.Red {
	color: #FF3C00;
}
.TableBox table tr td i {
	position: relative;
	width: 20px;
	height: 20px;
	border: 2px solid #fff;
	border-radius: 20px;
	background-color: #fff;
	margin-right: 10px;
}
.TableBox table tr td i img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
//會員中心提示
.MemberDWAlert {
	font-size: 14px;
	line-height: 22px;
	color: #FF6666;
	text-align: center;
	border:1px solid #FF6666;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
}
//會員中心火速標題
.MemberFastTitle {
	margin-bottom: 20px;
}
.MemberFastTitle i, .MemberFastTitle p {
	display: inline-block;
	vertical-align: middle;
}
.MemberFastTitle i {
	width: 50px;
	height: 55px;
	background-image: url("../images/member/fire.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}
.MemberFastTitle i.Times {
	background-image: url("../images/member/times.png");
}
.MemberFastTitle i.Check {
	background-image: url("../images/member/check.png");
}
.MemberFastTitle i.Icon2 {
	width: 30px;
	height: 25px;
	background-image: url("../images/member/computer.png");
	background-size: 100%;
	margin-right: 10px;
}
.MemberFastTitle p {
	font-size: 20px;
	color: #fff;
}
.MemberFastTitle p.Font14 {
	font-size: 14px;
}
//銀行添加
.AddBankBox {
	position: relative;
	margin-bottom: 20px;
}
.AddBankBoxMain {
	position: relative;
	display: block;
	width: 100%;
	height: 120px;
	overflow-y:hidden;
	overflow-x: auto; 
	white-space:nowrap;
	-webkit-overflow-scrolling: touch;
}
.MemberAddCard {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: dashed 1px #C8CFD7;
  margin: 15px 25px 0 0;
  font-size: 14px;
  color: #C8CFD7;
  text-align: center;
  line-height: 120px;
  cursor: pointer; 
}
.MemberAddCard i {
  display: block;
  width: 30px;
  height: 30px;
  margin: 20px auto 10px;
  background-image: url(../images/member/icon003.png);
  background-size: 100%;
}
.MemberBankCard {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 30%;
  min-width: 220px;
  height: 100px;
  border-radius: 10px;
  padding: 15px;
  -webkit-box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
  margin: 15px 25px 0 0;
  overflow: hidden;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; 
}
.MemberBankCard:hover {
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
}
.MemberBankCard.Color1 {
  background-image: -webkit-linear-gradient(top right, #d021ff 0%, #ff002c 100%);
  background-image: -o-linear-gradient(top right, #d021ff 0%, #ff002c 100%);
  background-image: -webkit-gradient(linear, right top, left bottom, from(#d021ff), to(#ff002c));
  background-image: linear-gradient(to bottom left, #d021ff 0%, #ff002c 100%); 
}
.MemberBankCard.Color2 {
  background-image: -webkit-linear-gradient(bottom left, #00ADDA 0%, #862FFF 100%);
  background-image: -o-linear-gradient(bottom left, #00ADDA 0%, #862FFF 100%);
  background-image: -webkit-gradient(linear, left bottom, right top, from(#00ADDA), to(#862FFF));
  background-image: linear-gradient(to top right, #00ADDA 0%, #862FFF 100%); 
}
.MemberBankCard.Color3 {
  background-image: -webkit-linear-gradient(bottom left, #19B847 0%, #98C813 100%);
  background-image: -o-linear-gradient(bottom left, #19B847 0%, #98C813 100%);
  background-image: -webkit-gradient(linear, left bottom, right top, from(#19B847), to(#98C813));
  background-image: linear-gradient(to top right, #19B847 0%, #98C813 100%); 
}
.MemberBankCard .BankName {
  position: relative;
  white-space: nowrap;
  z-index: 1; 
}
.MemberBankCard .BankName i {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #fff;
  border: 2px solid #fff;
  vertical-align: middle;
  margin-right: 5px; 
}
.MemberBankCard .BankName i img {
  width: 100%; 
}
.MemberBankCard .BankName p {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  vertical-align: middle; 
}
.MemberBankCard .BankNumber {
  position: absolute;
  font-size: 16px;
  color: #fff;
  white-space: nowrap;
  bottom: 25px;
  z-index: 1; 
}
.MemberBankCard b {
  position: absolute;
  width: 85px;
  height: 85px;
  right: 15px;
  top: 50%;
  margin-top: -42.5px;
  opacity: .2;
  z-index: 0; 
}
.MemberBankCard b img {
  width: 100%; 
}
.MemberBg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(34, 44, 55, 0.8);
  top: 0;
  left: 0;
  font-size: 14px;
  text-align: center;
  line-height: 100px;
  opacity: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; 
}
.MemberBankCard:hover .MemberBg {
  opacity: 1; 
}
.MemberBg p {
	display: inline-block;
	vertical-align: middle;
  	color: #fff; 
  	cursor: pointer; 
}
.MemberBg p:hover {
  text-decoration: underline; 
}
.MemberBg p i {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-image: url(../images/member/icon002.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
}
//會員中心帳戶表格
.MemberAccountBox {
}
.MemberAccountBox ul li {
	position: relative;
	width: 100%;
	padding: 15px 0;
	border-bottom: 1px solid rgba(0, 205, 255, 0.2);
}
.MemberAccountBox ul li:after {
	display: block;
	content: "";
	clear: both;
}
.MemberAccountBox ul li h2 {
	display: inline-block;
	vertical-align: middle;
	min-width:105px;
	margin-right: 20px; 
	font-size: 14px;
	line-height: 30px;
	color: #eee;
}
.MemberAccountBox ul li p {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	line-height: 30px;
	color: #57626B;
}
.MemberAccountBox ul li p.White {
	color: #fff;
}
.MemberAccountBox ul li a {
	position: absolute;
	display: inline-block;
	vertical-align: middle;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	color: #5CC4F9;
	top: 50%;
	right: 0;
	margin-top: -15px;
}
.MemberAccountBox ul li i {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-position: center;
	background-size: 100%;
	background-image: url("../images/icon002.png");
	vertical-align: middle;
	margin-left: 10px;

}
.MemberAccountBox ul li a.More {
	padding: 0 10px;
	color: #FF3C00;
	border: 1px solid #FF3C00;
	border-radius: 5px;
	box-sizing:border-box;
}
.MemberAccountBox i.Level {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	height: 25.5px;
	background-image: url("../images/member/level.png");
	background-size: 100%;
	margin-right: 10px;
}
.MemberAccountBox i.Level.LV1 {
	background-position: 0 0px;
}
.MemberAccountBox i.Level.LV2 {
	background-position: 0 -25.5px;
}
.MemberAccountBox i.Level.LV3{
	background-position: 0 -51px;
}
.MemberAccountBox i.Level.LV4 {
	background-position: 0 -76.5px;
}
//會員中心頁尾
.MemberFooter {
	padding: 30px 0;
	font-size: 12px;
	color: #717171;
	text-align: center;
	background-color: #17181F;
}
//會員中心交易紀錄 時間篩選
.MemberCalendar {
	position: relative;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 205, 255, 0.2);
  overflow: hidden;
  z-index: 1;
 }
.MemberCalendar h2 {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #fff;
  margin: 0 10px; 
}
.MemberCalendar p {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #fff;
  margin: 0 10px; 
}
.MemberCalendarBox {
  display: inline-block;
  vertical-align: middle;
  min-width: 190px;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.8);
  font-size: 14px;
  color: #fff;
  line-height: 38px;
  text-indent: 10px;
  cursor: pointer; 
}
.MemberCalendarBox i {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background-image: url(../images/member/icon007.png);
  background-position: center;
  background-size: 100%; 
}
.MemberCalendarBox span {
  display: inline-block;
  vertical-align: middle; 
}
.MemberCalendar ul {
	display: inline-block;
	vertical-align: middle;
	margin: 10px 0;
}
.MemberCalendar ul li {
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	text-align: center;
	color: #9B9B9B;
	margin: 0 10px;
	cursor: pointer;
}
.MemberCalendar ul li:hover {
	color: #fff;
}
.MemberCalendar ul li.Active {
	color: #fff;
	line-height: 30px;
	height: 30px;
	padding: 0 10px;
	border-radius: 5px;
	background-color: #19B847;
}
//會員中心交易紀錄篩選按鈕
.MemberTransationSelect {
	position: relative;
	height: auto;
	z-index: 2;
}
.MemberTransationSelectBox {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: auto; 
}
.MemberTransationSelectBtn {
	display: none;
	position: relative;
	width: 100%;
	height: 50px;
	padding-left: 15px;
	background-color: rgba(255, 255, 255, 0.2);
	border-top: 1px solid rgba(255, 255, 255, 0.4);
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	font-size: 14px;
	line-height: 50px;
	color: #fff;
	cursor: pointer;
}
.MemberTransationSelectBtn.Line:before {
	position: absolute;
	content: "";
	width: 1px;
	height: 30px;
	background-color: #fff;
	top: 10px;
	right: 0;
}
.MemberTransationSelectBtn:after {
	position: absolute;
	display: block;
	content: "";
	border-style: solid;
	border-color: #fff transparent transparent transparent;
	border-width: 5px;
	top: 50%;
	margin-top: -2.5px;
	right: 15px;
	transition:all .3s;
}
.MemberTransationSelectBtn.Active:after {
	margin-top: -10px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.MemberTransationSelectBtn i,.MemberTransationSelectBtn span {
	display: inline-block;
	vertical-align: middle;
}
.MemberTransationSelectBtn i {
	width: 25px;
	height: 25px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 10px;
}
.MemberTransationSelectBtn i.Icon1 {
	background-image: url("../images/member/icon007.png");
}
.MemberTransationSelectBtn i.Icon2 {
	background-image: url("../images/member/icon008.png");
}
//會員中心交易紀錄表格
.MemberTransactionTableBox {
	position: relative;
	background-color: #031E56;
	overflow-y: hidden;
	overflow-x: auto;
	white-space:nowrap;
	-webkit-overflow-scrolling: touch;
}
.MemberTransactionTableBox table {
	width: 100%;
	min-width: 800px;
}
.MemberTransactionTableBox table tr td {
	position: relative;
	padding: 15px 15px;
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	border-bottom:1px solid rgba(0, 205, 255, 0.3);
	text-align: center;
}
.MemberTransactionTableBox table tr td img {
	width: 30px;
	height: 30px;
	margin-top: 15px;
}
.MemberTransactionTableBox table tr td a {
	display: block;
}
.MemberTransactionTableBox table tr td a img {
	width: 20px;
	height: 20px;
	margin-top: 0;
}
.MemberTransactionTableBox table tr td.TextLeft {
	text-align: left;
}
.MemberTransactionTableBox table tr td.TextRight {
	text-align: right;
}
.MemberTransactionTableBox table tr td.Line:after {
	position: absolute;
	content: "";
	width: 1px;
	height: 15px;
	background-color: #fff;
	top: 50%;
	right: 0;
	margin-top: -7.5px;
}
.MemberTransactionTableBox table tr td.Success {
	color: #ED7C5E;
}
.MemberTransactionTableBox table tr td span {
	color:#9B9B9B;
}
//會員中心分頁
.Page {
	padding: 30px 0 50px;
	text-align: center;
}
.Page ul li {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 35px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.8);
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 33px;
    margin: 0 5px;
    cursor: pointer;
    overflow: hidden;
}
.Page ul li:hover,.Page ul li.Active  {
	background-color: #19B847;
	border: 1px solid #19B847;
}
.Page ul li input {
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
	font-size: 14px;
	color: #fff;
	text-align: center;
	background-color: transparent;
}
.Page ul li:hover input,.Page ul li input:focus {
	color: #666;
	background-color: #fff;
}
.Page ul li.Text {
	width: auto;
	background-color: transparent;
	border:none;
	line-height: 35px;
}
.Page ul li.Btn {
	width: 55px;
}
.Page ul li.Prev,.Page ul li.Next {
	background-color: transparent;
	border:none;
}
.Page ul li.Prev:after,.Page ul li.Next:after,.Page ul li.Prev:before,.Page ul li.Next:before  {
	position: absolute;
	content: "";
	width: 12px;
	height: 2px;
	border-radius: 2px;
	background-color: #fff;
	top: 50%;
	left: 50%;
	margin-top: -1px;
	margin-left: -6px;
	transform-origin:0% 100%;
}
.Page ul li.Next:after,.Page ul li.Next:before {
	width: 12px;
	height: 2px;
	transform-origin:100% 0%;
}
.Page ul li.Prev:before {
	width: 10px;
	transform:rotate(45deg);
}
.Page ul li.Prev:after {
	transform:rotate(-45deg);
}
.Page ul li.Next:before {
	width: 10px;
	transform:rotate(-45deg);
}
.Page ul li.Next:after {
	transform:rotate(45deg);
}
//會員中心交易紀錄結果
.MemberTransactionTotalBox ul {
	position: relative;
	z-index: 2;
}
.MemberTransactionTotalBox ul li  {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	color: #5CC4F9;
	line-height: 35px;
	padding: 0 20px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}
.MemberTransactionTotalBox ul li.Active {
	background-color:#516B8F;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: none;
}
.MemberTransactionTotalText {
	position: relative;
	padding: 20px;
	font-size: 14px;
	color: #fff;
	line-height: 22px;
	background-color:#516B8F;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius:0 5px 5px 5px;
	margin-top: -2px;
}
//會員中心推薦好友
.MemberFriendBox {
	width: 100%;
	height: auto;
	padding: 20px 30px 50px;
	background-color: rgba(35, 45, 55, 0.5);
}
.MemberFriendBox h2 {
	font-size: 16px;
	color: #fff;
	margin-bottom: 10px;
}
.MemberFriendBox p {
	font-size: 14px;
	line-height: 22px;
	color: #9B9B9B;
	margin-bottom: 20px;
}
.MemberFriendBox p a {
	color: #FF6666;
}
.MemberFriendBox p a:hover {
	text-decoration: underline;
}
.MemberFriendCopy {
	margin-bottom: 50px;
}
.MemberFriendCopy input {
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 125px);
	height: 40px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.8);
    font-size: 14px;
    color: #fff;
    line-height: 38px;
    text-indent: 10px;
	margin-right: 10px;
}
.MemberFriendCopy .MemberBtn {
	display: inline-block;
	vertical-align: middle;
	width: 110px;
	height: 45px;
	margin: 0;
	line-height: 45px;
}
.MemberFriendList {
	text-align: center;
	margin-bottom: 30px;
}
.MemberFriendList ul li {
	display: inline-block;
	vertical-align: middle;
	padding: 0 30px;
}
.MemberFriendList ul li.Line {
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.MemberFriendList ul li i {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	border:1px solid #fff;
	background-image: url("../images/member/icon010.png");
	background-repeat: no-repeat;
	background-size: 100%;
	margin-right: 10px;
}
.MemberFriendList ul li i.Icon2 {
	background-position: 0 -60px;
}
.MemberFriendList ul li i.Icon3 {
	background-position: 0 -120px;
}
.MemberFriendList ul li .Text {
	display: inline-block;
	vertical-align: middle;
}
.MemberFriendList ul li h3 {
	font-size: 16px;
	color: #fff;
	margin-bottom: 10px;
	text-align: left;
}
.MemberFriendList ul li p {
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	margin-bottom: 0;
	text-align: left;
}
.MemberFriendList ul li p span {
	font-size: 36px;
	font-weight: 400;
	color: #FF6666;
	text-decoration: underline;
}
.MemberFriendHalfBox {
	display: inline-block;
	vertical-align: top;
	width: calc((100% - 15px) / 2);
	height: auto;
	min-height: 250px;
	background-color: #142F54;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	margin-bottom: 30px;
}
.MemberFriendHalfBox.Margin {
	margin-left: 15px;
}
.MemberFriendHalfBox .Title {
	position: relative;
	padding: 0 10px;
	font-size: 18px;
	line-height: 50px;
	color: #fff;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.MemberFriendHalfBox .List {
	padding: 15px;
}
.MemberFriendHalfBox .List ul li {
	font-size: 14px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	transition:all .3s;
}
.MemberFriendHalfBox .List ul li:hover {
	padding: 0 10px;
	background-color: rgba(255,255,255,1);
}
.MemberFriendHalfBox .List ul li:last-child {
	border-bottom: none;
}
.MemberFriendHalfBox .List ul li:after {
	display: block;
	content: "";
	clear: both;
}
.MemberFriendHalfBox .List h3 {
	color: #fff;
	line-height: 45px;
	margin: 0;
	float: left;
}
.MemberFriendHalfBox .List p {
	color: #F1AB31;
	line-height: 50px;
	margin: 0;
	float: right;
}
.MemberFriendHalfBox .List ul li:hover h3 {
	color: #F1AB31;
}
.MemberFriendHalfBox #canvas {
	width: 100%;
	padding: 15px;
	opacity: 1;
}
.MemberFriendHalfBox select {
	display: inline-block;
	width: auto;
	max-width: 200px;
	min-width: 125px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-image: url(../images/arrow003.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto 100%;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 14px;
    color: #fff;
    text-indent: 10px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    margin-top: 8px;
}

@media screen and (max-width:767px), screen and (max-device-width:1366px) {
.Member:before {
	width: 100%;
	padding-top: 100%;
	top: -20%;
}
.MemberMobileHeader {
	display: block;
}
.MemberHeader {
	display: none;
}
.MemberMain {
	padding:65px 0 0;
	min-height:calc(100vh - 103px);
}
.MemberLeft {
	display: none;
}
.MemberRight {
	border: none;
}
.MemberRightMain {
	width: 100%;
	padding:20px 15px;
	left: 0;
}
.MemberTitle {
	padding: 15px 10px;
	border:none;
	margin-bottom: 0;
}
.MemberHalfBox {
	width: 100%;
	min-height: auto;
}
ul.MemberTableBox.Half li {
	width: 100%;
	float: none;
}
ul.MemberTableBox.Half li.Full {
	width: 100%;
	margin-left: 0;
}
ul.MemberTableBox.Half li:nth-child(odd) {
	margin-right: 0%;
}
ul.MemberTableBox.Half li:nth-child(even) {
	margin-left: 0%;
}
.NoMoney {
    transform:translateY(0);
    margin: 0 auto;
}
.MemberCircle {
    transform:translateY(0);
    margin: 0 auto;
}
.SelectBox,.InputBox,.SelectBank {
	max-width: 100%;
}
.MemberBtn {
	max-width: 100%;
}
.MemberBtn.Inline {
	max-width: 100%;
	margin-right: 0;
}
.MemberChoiseMoney {
	max-width: 100%;
}
.MemberPrompt {
    position: relative;
    width: inherit;
    background-color: transparent;
    border: none;
    border-radius:0;
    padding: 0;
    color: #ED7C5E;
    top: inherit;
    left: inherit;
    float: right;
    line-height: 40px;
    text-align: right;
}
.MemberPrompt br {
	display: none;
}
.MemberPrompt span {
    color: #ED7C5E;
}
.SelectBankMain {
	max-width: 100%;
}
.SelectBankOpen {
  position: absolute;
  width:calc(100% + 20px);
  padding: 0 0 10px 0;
  background-color: rgba(35,45,55,1);
  top: 70px;
  left: -10px;
 }
.SelectBankOpen ul li {
	width: calc( ( 100% - 30px ) / 2 );
	margin: 10px 0 0 10px;
}
.TransferBoxMain {
	padding-left: 0;
}
.MemberHalfBox .TransferIcon {
	display: none;
}
.MemberAccountBox ul li h2 {
	display: inherit;
	min-width:auto;
}
.MemberAccountBox ul li p {
	display: inherit;
}
.MemberTransationSelectBtn {
	display: block;
}
.MemberTransationSelectBox {
	width: 50%;
}
.MemberCalendar {
	position: absolute;
	width: 200%;
	max-height: 0;
	padding: 0;
	top: 50px;
	left: 0;
	background-color:#687A8F;
	border-bottom:none;
	opacity: 0;
	transition:all .3s;
}
 .MemberCalendar.Active {
	max-height: 400px;
	padding: 20px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	opacity: 1;
 }
 .MemberCalendar h2 {
 	display: block;
 	margin-bottom: 10px;
}
.MemberCalendar p {
  display:none;
}
.MemberCalendarBox {
	width: calc((50% - 30px) / 2);
	min-width: auto;
	margin: 0 0 0 10px;
}
.MemberCalendar ul {
	position: relative;
	display: block;
	width: 50%;
}
.MemberCalendar ul li {
	width: calc((100% - 50px) / 4 );
	margin:0 0 10px 10px;
	line-height: 30px;
	border-radius: 5px;
    color: #fff;
    background-color: rgba(255,255,255,.3);
}
.Page ul li.MobileNone {
	display: none;
}
.MemberTransactionTotalBox {
	padding: 0 15px;
}
.MemberFriendBox {
	padding: 20px 15px 30px;
}
.MemberFriendCopy {
    margin-bottom: 0px;
}
.MemberFriendCopy input {
	width: 100%;
	margin-bottom: 20px;
}

.MemberFriendCopy .MemberBtn {
	width: 100%;
	margin-bottom: 20px;
}
.MemberFriendList ul li {
	width: 100%;
	padding: 15px 0;
	border-bottom: 1px solid rgba(0, 205, 255, 0.3);
}
.MemberFriendList ul li.Line {
	border:none;
	border-bottom: 1px solid rgba(0, 205, 255, 0.3);
}
.MemberFriendList ul li .Text {
	min-width: 150px;
}
.MemberFriendHalfBox {
	width: 100%;
	min-height: auto;
}
.MemberFriendHalfBox.Margin {
	margin: 0;
}


}
@media screen and (max-width: 320px) {
.MemberCalendarBox {
	text-indent: 5px; 
}
.MemberCalendarBox i {
	width: 15px;
	height: 15px;
}
.MemberCalendarBox span {
	font-size: 12px;
}
}






