@charset "UTF-8";

/*!
 * Copyright 2023-2023 Johnson
 */

@import "reset.css";

:root {
    --bs-blue: #0d6efd;
}


body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 14px;
    background-color: #111;
}

/*字型*/

h2,
.h2 {
    font-size: 26px;
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 18px;
}

h5,
.h5 {
    font-size: 16px;
}

h6,
.h6 {
    font-size: 12px;
}

/*按鈕*/
button {
    border: 0;
}

button.button-style-1 {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background: linear-gradient(to right, #F1F167 0%, #E1A500 100%);
    box-shadow: 0px 2px 0px #FFE600;

}

button.button-style-1>span {
    color: #000;
}

button.button-style-2 {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background: linear-gradient(to right, #FFCE84 0%, #B8490F 100%);
    box-shadow: 0px 2px 0px #D47F11;

}

button.button-style-2>span {
    color: #000;
}

button.button-style-3 {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background: #40D900;
    box-shadow: 0px 2px 0px #237800;

}

button.button-style-3>span {
    color: #fff;
}

button.button-style-4 {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background: #40D900;

}

button.button-style-4>span {
    color: #fff;
}
button.button-style-5 {
    padding: 10px 20px;
    border-radius: 5px;
    background: #40D900;

}

button.button-style-5>span {
    color: #fff;
}

/*左側選單*/
nav {
    position: fixed;
    padding: 24px;
    width: 320px;
    height: 100vh;
    background: linear-gradient(to right, #123a12 0%, #030F03 100%);
    overflow-y: auto;
}

.nav-header,
.nav-link-list {
    border-bottom: 1px solid #707070;
}

.nav-link-list:last-child {
    border-bottom: none;
}

.nav-header {
    padding: 40px 0 20px;
}

/*左側選單-未登入前*/
.nav-no-login {
    text-align: center;
}

.nav-no-login span {
    display: block;
    margin: 10px 0;
    color: #B4C2AE;
}

.nav-no-login span.h2 {
    color: #fff;
}

.nav-no-login-button {
    margin: 20px 0;
}

.nav-no-login-button button {
    width: 48%;
}

.nav-no-login-button button:last-child {
    float: right;
}

/*左側記單-登入*/
.nav-login-logo {
    text-align: center;
}

.user-info-text {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.user-info-text>span:last-child {
    color: #CFCFCF;
}

.user-info-name {
    display: flex;
    margin: 20px 0;
}

.user-info-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: #fff;
}

.user-info-level {
    overflow: hidden;
    margin-bottom: 16px;
}

.user-info-level>span:first-child {
    color: #ABABAB;
    line-height: 32px;
}

.user-info-level>span:last-child {
    float: right;
    padding: 8px 16px;
    border-radius: 5px;
    background: #707070;
}

.user-info-balance {
    overflow: hidden;
    margin: 10px 0;
}

.user-info-balance>span:first-child {
    color: #88AE7D;
}

.user-info-balance>span:last-child {
    float: right;
}

.nav-login-button {
    margin: 20px 0;
}

.nav-login-button button {
    width: 48%;
}

.nav-login-button button:last-child {
    float: right;
}

/*左側選單-入口*/

.nav-link-list {
    padding: 20px 0;
}

.link-item {
    margin: 10px 0;
}

.link-item-name {
    display: flex;
}

.link-item-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    background: #044E04;
}

.link-item-image img {
    max-width: 100%;
    max-height: 100%;
}

.link-item-text {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

.link-item-text span {
    display: block;
    width: 100%;
}

.link-item-text span>i {
    float: right;
    width: 14px;
    height: 14px;
    background: url(../images/icon-arrow-down.png) no-repeat center 100%;
}

.link-item-dropdown {
    display: none;
    margin-left: 40px;
    padding: 20px;
    border-radius: 5px;
    background-color: #044E04;
}

.link-item-dropdown li {
    display: flex;
    padding: 10px 0;
}

.link-item-dropdown li>.link-item-image {
    height: 24px;
    width: 24px;
    border-radius: 0;
}

.link-item.active .link-item-dropdown {
    display: block;
}

.link-item.active .link-item-text span>i {
    transform: rotate(90deg);
}

.nav-link-list.nav-news .link-item-text span {
    font-weight: normal;
}

.nav-link-list.nav-news .link-item-text span:first-child {
    color: #B4C2AE;
}

.nav-link-list.nav-news button {
    margin: 20px 0;
}

/*中間區塊*/
main {
    margin-left: 320px;
    /*    height: 100vh;*/
    width: calc(100% - 320px);
    background: #030F03;
}

/*中間區塊-廣告輪播*/
.carousel {
    height: 473px;
    width: 100%;
    background: #aaa;
}

.category-list ul>li {
    height: 143px;
    width: 143px;
    background: linear-gradient(to bottom, #123a12 0%, #030F03 100%);
    text-align: center;
}

.category-list ul>li>i {
    display: inline-block;
    height: 48px;
    width: 48px;
    background: #aaa;
}

.category-list ul>li>span {
    display: block;
}

.game-card-list {
    background-color: #0F3700;
}

.game-card {
    width: 20%;
}

.game-card-image {
    padding-top: 66.6%;
    background: #aaa;
}

.game-card-info {
    background-color: #707070;
}

.game-card-info span {
    display: block;
}

/*中間區塊-新事件*/
.new-events {
    padding: 20px 0;
    width: 100%;
}

.new-events .h4 {
    margin-bottom: 40px;
}

.new-events ul {
    white-space: nowrap;
    overflow-y: hidden;
}

.new-events li {
    /*    float: left;*/
    display: inline-block;
    margin: 0 5px;
    text-align: center;
}

.new-events li:first-child {
    margin-left: 0;
}

.new-events li:last-child {
    margin-right: 0;
}

.new-events li img {
    margin-bottom: 16px;
    width: 288px;
    height: 116px;
    border-radius: 6px;
    background-color: #aaa;
}

.new-events li span {
    display: block;
    color: #8F8F8F;
}

/*中間區塊-供應商*/
.providers {
    padding: 20px 0;
    width: 100%;
}

.providers .h4 {
    margin-bottom: 40px;
}

.providers ul {
    white-space: nowrap;
    overflow-y: hidden;
}

.providers li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    width: 115px;
    height: 56px;
    border-radius: 6px;
    background-color: #354035;
}

.providers li:first-child {
    margin-left: 0;
}

.providers li:last-child {
    margin-right: 0;
}

.providers li img {
    max-width: 100%;
    max-height: 100%;
}
/*頁腳*/
footer {
    margin-top: 40px;
    padding:40px 0;
    border-top:1px solid #707070;
    background-color: #20261f;
}
footer .max-width{
    margin: auto;
    max-width: 900px;
}
/*頁腳-文字連結*/
.footer-top {
    display: flex;
    border-bottom:1px solid #434343;
}

.footer-link-list {
    flex: 1;
    margin: 0 35px;
}
.footer-link-list .h4{
    position: relative;
    display: block;
    margin-bottom: 40px;
}
.footer-link-list .h4:after{
    content: "";
    position: absolute;
    bottom: -10px;
    left: 4px;
    height: 2px;
    width: 24px;
    background-color: #278400;
}
.footer-link-list a{
    display: block;
    margin-bottom: 30px;
    color:#B5B5B5;
}
.footer-link-list.icon-link a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    width: 32px;
    height: 32px;
    border-radius: 18px;
    background-color: #373f35;
}

.footer-link-list.icon-link a img{
    max-width:100%;
    max-height:100%;
}
/*頁腳-支付商*/
.footer-icon{
    padding: 28px 0 36px;
}
.footer-icon .h4{
    margin-bottom: 20px;
}
.footer-icon ul {
    white-space: nowrap;
    overflow-y: hidden;
}
.footer-icon li{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    width: 120px;
    height: 30px;
}
.footer-icon li img{
    max-width: 100%;
    max-height: 100%;
}
/*頁腳-執照*/
.footer-lincense{
    padding: 28px 0 36px;
}
.footer-lincense .h4{
    margin-bottom: 20px;
}
.footer-lincense p{
    text-align: center;
}
.footer-lincense p img{
    margin:0 10px;
    height: 57px;
    width: auto;
}
/*頁腳-簡介*/
.footer-intro{
    position: relative;
    padding: 20px 40px 80px;
    border-radius: 5px;
    background-color: #353d35;
    color: #B8B8B8;
}
.footer-intro .footer-intro-title{
    margin-bottom: 20px;
    color:#40D900;
    text-align: center;
}
.footer-intro .footer-intro-more{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(to bottom, #353d35 0%, #1E261E 100%);
    text-align: center;
}
/*頁腳-版權*/
.footer-copyright{
    margin-top: 40px;
    padding: 40px 0;
    border-top:1px solid #434343;
    color:#B5B5B5;
    text-align: center;
}




/*css end*/