@charset "UTF-8";

/*!
 * Copyright 2023-2023 Johnson
 */

@import "reset.css";

:root {
    --bs-blue: #0d6efd;
}


body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 14px;
    background-color: #111;
}

/*字型*/

h2,
.h2 {
    font-size: 26px;
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 18px;
}

h5,
.h5 {
    font-size: 16px;
}

h6,
.h6 {
    font-size: 12px;
}

/*按鈕*/
button {
    border: 0;
    cursor: pointer;
}

button.button-style-1 {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background: linear-gradient(to right, #F1F167 0%, #E1A500 100%);
    box-shadow: 0px 2px 0px #FFE600;

}

button.button-style-1>span {
    color: #000;
}

button.button-style-2 {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background: linear-gradient(to right, #FFCE84 0%, #B8490F 100%);
    box-shadow: 0px 2px 0px #D47F11;

}

button.button-style-2>span {
    color: #000;
}

button.button-style-3 {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background: #40D900;
    box-shadow: 0px 2px 0px #237800;
}

button.button-style-3>span {
    color: #fff;
}

button.button-style-4 {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background: #40D900;

}

button.button-style-4>span {
    color: #fff;
}

button.button-style-5 {
    padding: 10px 20px;
    border-radius: 5px;
    background: #40D900;

}

button.button-style-5>span {
    color: #fff;
}

button.button-style-6 {
    padding: 20px 40px;
    height: 52px;
    border-radius: 16px;
    background: linear-gradient(to right, #D9D900 0%, #FF9200 100%);
}

button.button-style-6>span {
    font-size: 16px;
    color: #fff;
}

button.button-style-7 {
    padding: 16px 40px;
    border-radius: 5px;
    background: #278400;
}

button.button-style-7>span {
    font-size: 16px;
    color: #fff;
}

/*左側選單*/
header {
    display: none;
    position: relative;
    height: 48px;
    width: 100%;
    /*    background-color: #fff;*/
    text-align: center;
}

.header-toggler,
.header-search {
    position: absolute;
    top: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 48px;
}

.header-toggler {
    left: 0;
}

.header-search {
    right: 0;
}

.header-logo {
    padding: 10px 0;
    height: 100%;
}

.header-logo img {
    max-height: 100%;
}

nav::-webkit-scrollbar {
    display: none;
}

nav {
    position: fixed;
    padding: 24px;
    width: 320px;
    height: 100vh;
    background: linear-gradient(to right, #123a12 0%, #030F03 100%);
    overflow-y: auto;
    transition: .3s;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.nav-close {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 24px;
    height: 24px;
    background: url(../images/icon-close.png) no-repeat center center /cover;
}

.nav-header,
.nav-link-list {
    border-bottom: 1px solid #707070;
}

.nav-link-list:last-child {
    border-bottom: none;
}

.nav-header {
    padding: 40px 0 20px;
}

@media (max-width: 992px) {
    header {
        display: block;
    }

    nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        z-index: 2;
    }

    nav.active {
        left: 0;
    }

    .nav-close {
        display: block;
    }
}

/*左側選單-未登入前*/
.nav-no-login {
    text-align: center;
}

.nav-no-login span {
    display: block;
    margin: 10px 0;
    color: #B4C2AE;
}

.nav-no-login span.h2 {
    color: #fff;
}

.nav-no-login-button {
    margin: 20px 0;
}

.nav-no-login-button button {
    width: 48%;
}

.nav-no-login-button button:last-child {
    float: right;
}

/*左側記單-登入*/
.nav-login-logo {
    text-align: center;
}

.user-info-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.user-info-text>span:last-child {
    color: #CFCFCF;
}

.user-info-name {
    display: flex;
    margin: 20px 0;
}

.user-info-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background: #fff;
}

.user-info-personal {
    display: flex;
    flex: 2;
    align-items: center;
    justify-content: flex-end;
}

.user-info-personal img {
    padding: 5px;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    background-color: #278400;
    cursor: pointer;
}

.user-info-level {
    overflow: hidden;
    margin-bottom: 16px;
}

.user-info-level>span:first-child {
    color: #ABABAB;
    line-height: 32px;
}

.user-info-level>span:last-child {
    float: right;
    padding: 8px 16px;
    border-radius: 5px;
    background: #707070;
}

.user-info-balance {
    overflow: hidden;
    margin: 10px 0;
}

.user-info-balance>span:first-child {
    color: #88AE7D;
}

.user-info-balance>span:last-child {
    float: right;
}

.nav-login-button {
    margin: 20px 0;
}

.nav-login-button button {
    width: 48%;
}

.nav-login-button button:last-child {
    float: right;
}

/*左側選單-語系*/
.language-item {
    padding: 8px 20px;
    border-radius: 24px;
    background-color: #044E04;
}

.language-item.active ul {
    display: block;
}

.language-item i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    height: 32px;
    width: 32px;
    border-radius: 18px;
    background: #40D10D;
    vertical-align: middle;
}

.language-item i {
    max-width: 100%;
    max-height: 100%;
}

.language-item span {
    z-index: 16;
    font-weight: bold;
    vertical-align: middle;
}

.language-item-current {
    background: url(../images/icon-arrow-down.png) no-repeat right center;
}

.language-item ul {
    display: none;
}

.language-item li {
    margin: 20px 0;
    transition: .3s;
}

.language-item li:hover {
    color: #40D900;
}

.language-item li:last-child {
    margin-bottom: 0;
}


/*左側選單-入口*/

.nav-link-list {
    padding: 20px 0;
}

.nav-link-list h4 {
    margin-bottom: 20px;
}

.link-item {
    margin: 15px 0;
    cursor: pointer;
}

.link-item-name {
    display: flex;
}

.link-item-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    height: 36px;
    width: 36px;
    border-radius: 18px;
    background: #044E04;
}

.link-item-image img {
    max-width: 100%;
    max-height: 100%;
}

.link-item-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

.link-item-text span {
    display: block;
    width: 100%;
}

.link-item-text span>i {
    float: right;
    width: 14px;
    height: 14px;
    background: url(../images/icon-arrow-down.png) no-repeat center 100%;
    transform: rotate(-90deg);
}

.link-item-dropdown {
    display: none;
    margin-left: 40px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #044E04;
}

.link-item-dropdown li {
    display: flex;
    padding: 10px 0;
}

.link-item-dropdown li>.link-item-image {
    height: 24px;
    width: 24px;
    border-radius: 0;
}

.link-item.active .link-item-dropdown {
    display: block;
}

.link-item.active .link-item-text span>i {
    transform: rotate(0deg);
}

.nav-link-list.nav-news .link-item-text span {
    font-weight: normal;
}

.nav-link-list.nav-news .link-item-text span:first-child {
    color: #B4C2AE;
}

.nav-link-list.nav-news button {
    margin: 20px 0;
}

/*中間區塊*/
main {
    margin-left: 320px;
    /*    height: 100vh;*/
    width: calc(100% - 320px);
    background: #030F03;
}

main .main-max-width {
    padding: 0 40px;
}

@media (max-width: 992px) {
    main {
        margin-left: 0;
        width: 100%;
    }

    main .main-max-width {
        padding: 0 10px;
    }
}

/*獎池跑馬燈*/
.marquee-jackpot {
    display: none;
}

.marquee-jackpot ul {
    padding: 10px 0;
    border: 1px solid #707070;
    white-space: nowrap;
    overflow-y: hidden;
}

.marquee-jackpot li,
.nav-jackpot {
    display: inline-flex;
    padding: 0 10px;
}

.nav-jackpot{
    padding: 0;
    margin-bottom:15px;
}

.marquee-jackpot li i,
.nav-jackpot i {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    max-height: 48px;
    max-width: 48px;
}

.marquee-jackpot li i img,
.nav-jackpot i img {
    max-width: 100%;
    max-height: 100%;
}

.marquee-jackpot-text,
.nav-jackpot-text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

.marquee-jackpot-text span,
.nav-jackpot-text span {
    margin: 2px 0;
    font-size: 12px;
}

.marquee-jackpot-text span span,
.nav-jackpot-text span span {
    margin-left: 5px;
    color: #40D900;
}

@media (max-width: 992px) {
    .marquee-jackpot {
        display: block;
    }
    .nav-jackpot{
        display: none;
    }
}

/*中間區塊-廣告輪播*/
.carousel {
    position: relative;
    height: 473px;
    width: 100%;
    background: #aaa;
    overflow: hidden;
}

.carousel img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 992px) {
    .carousel {
        display: none;
    }
}

/*中間區塊-廣告輪播-手機版*/
.carousel-mobile {
    display: none;
    position: relative;
    height: 284px;
    width: 100%;
    background: #aaa;
    overflow: hidden;
}

@media (max-width: 992px) {
    .carousel-mobile {
        display: block;
    }
}

/*中間區塊-遊戲類別*/
.slick-list {
    padding: 20px 0;
    overflow: hidden;
}

.slick-list ul {
    margin: 0 -5px;
    white-space: nowrap;
    overflow-y: hidden;
}

.slick-list ul li {
    float: left;
    padding: 0 5px;
    width: 25%;
    cursor: pointer;
}

.slick-list ul li i {
    display: block;
    padding-top: 90%;
    border-radius: 16px;
    background: #193319;
}

.slick-list ul>li>span {
    display: block;
}

@media (max-width: 992px) {
    .slick-list ul li {
        display: inline-block;
        float: none;
        width: 50%;
    }
}

/*中間區塊-遊戲列表*/
.game-quick-link {
    padding: 20px 0;
}

.game-quick-link .h4 {
    margin-bottom: 20px;
}

.game-filters-list {
    margin-bottom: 40px;
}

.game-filters-list ul::-webkit-scrollbar {
    display: none;
}

.game-filters-list ul {
    white-space: nowrap;
    overflow-y: hidden;
    margin: 0 -5px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.game-filters-list li {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    min-width: 142px;
    border-radius: 10px;
    background-color: #334033;
    text-align: center;
    cursor: pointer;
}

.game-filters-list li i {
    display: inline-block;
    margin-right: 15px;
    width: 32px;
    height: 32px;
    vertical-align: middle;
}

.game-filters-list li i img {
    max-width: 100%;
    max-height: 100%;
}

.game-filters-list li span {
    font-size: 16px;
    vertical-align: middle;
}

.game-filters-list li.active {
    background-color: #0F3700;
}

@media (max-width: 992px) {
    .game-filters-list li {
        padding: 20px 40px;
        min-width: 94px;
    }

    .game-filters-list li i {
        display: none;
    }
}

/*中間區塊-遊戲*/
.game-card-background {
    /*    width: 1400px;*/
    padding: 10px 20px;
    background-color: #0F3700;
}

.game-card-list {
    margin: 0 -10px;
    overflow: hidden;
    white-space: nowrap;
    overflow-y: hidden;
}

.game-card {
    position: relative;
    float: left;
    margin: 20px 0;
    padding: 0 10px;
    /*    width: 276px;*/
    width: 20%;
    overflow: hidden;
}

.game-card-image {
    position: relative;
    border-radius: 6px 6px 0 0;
    padding-top: 78%;
    background: url(../images/Fortune-Ox.png) no-repeat center center / cover;
    overflow: hidden;
}

.game-card-image picture{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.game-card-image picture img{
    max-width: 100%;
    max-width: 100%;
}
.game-favorite {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 24px;
    height: 24px;
    background: url(../images/icon-favorite.png) no-repeat center center / cover;
}



.game-card-name {
    position: relative;
    padding: 20px 10px;
    border-radius: 0 0 6px 6px;
    background-color: #1E261E;
}

.game-card-name span {
    display: block;
    width: calc(100% - 48px);
    overflow: hidden;
    text-overflow: ellipsis;
}

.game-card-name .game-name {
    margin-bottom: 10px;
    font-size: 16px;
}

.game-card-name ..game-provider {
    color: #7FD28A;
    font-size: 12px;
}

.game-card-name .game-info-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 24px;
    height: 24px;
    background: url(../images/icon-info.png) no-repeat center / cover;
    cursor: pointer;
}

.game-card-info {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    padding: 20px;
    height: 100%;
    background-color: rgba(0, 96, 6, .9);
    text-align: center;
    opacity: 0;
    transition: .3s;
}

.game-card.active .game-card-info {
    visibility: visible;
    opacity: 1;
}

.game-card-info i.close {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 12px;
    height: 12px;
    background: url(../images/icon-close.png) no-repeat center center /cover;
    cursor: pointer;
}

.game-card-info p {
    margin: 15px 0;
    font-size: 16px;
}

.game-card-info>span {
    display: block;
    margin: 10px 0;
    font-size: 14px;
    text-align: center;
}

.game-card-info button {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    padding: 10px;
    border: 1px solid #fff;
    background-color: transparent;
}

.game-card-info button span {
    color: #fff;
}

.game-more {
    margin: 30px 0;
    text-align: center;
}

@media (max-width: 1440px) {
    .game-card {
        width: 25%;
    }
}

@media (max-width: 1200px) {
    .game-card {
        width: 33.33%;
    }
}

@media (max-width: 1024px) {
    .game-card-background {
        padding: 10px;
    }

    .game-card {
        width: 50%;
    }
}

@media (max-width: 992px) {
    .game-card-info>span {
        margin: 6px 0;
    }
}

/*中間區塊-新事件*/
.new-events {
    padding: 20px 0;
    width: 100%;
}

.new-events .h4 {
    margin-bottom: 20px;
}

.new-events ul::-webkit-scrollbar {
    display: none;
}

.new-events ul {
    white-space: nowrap;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.new-events li {
    /*    float: left;*/
    display: inline-block;
    margin: 0 5px;
    text-align: center;
}

.new-events li:first-child {
    margin-left: 0;
}

.new-events li:last-child {
    margin-right: 0;
}

.new-events li img {
    margin-bottom: 16px;
    width: 288px;
    height: 116px;
    border-radius: 6px;
    background-color: #aaa;
}

.new-events li span {
    display: block;
    color: #8F8F8F;
}

/*中間區塊-供應商*/
.providers {
    padding: 20px 0;
    width: 100%;
}

.providers .h4 {
    margin-bottom: 20px;
}

.providers ul::-webkit-scrollbar {
    display: none;
}

.providers ul {
    white-space: nowrap;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.providers li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
    width: 115px;
    height: 56px;
    border-radius: 6px;
    background-color: #354035;
}

.providers li:first-child {
    margin-left: 0;
}

.providers li:last-child {
    margin-right: 0;
}

.providers li img {
    max-width: 100%;
    max-height: 100%;
}

/*頁腳*/
footer {
    margin-top: 40px;
    padding: 40px 0;
    border-top: 1px solid #707070;
    background-color: #20261f;
}

footer .footer-max-width {
    margin: auto;
    max-width: 900px;
}

@media (max-width: 992px) {
    footer {
        padding: 20px;
    }
}

/*頁腳-手機版-文字連結*/
.footer-top-mobile {
    display: none;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    width: 100%;
    border: 1px solid #707070;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.footer-top-mobile span {
    display: block;
    width: 100%;
}

.footer-top-mobile span>i {
    float: right;
    width: 14px;
    height: 14px;
    background: url(../images/icon-arrow-right.png) no-repeat center 100%;
}

.footer-top-mobile-list {
    visibility: hidden;
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: .3s;
}

.footer-top-mobile-list.active {
    visibility: visible;
    bottom: 0;
}


.footer-top-mobile-header {
    padding: 10px 20px;
    height: 44px;
    background-color: #77777f;
    text-align: right;
}

.footer-top-mobile-list ul {
    padding: 20px 10px;
    height: 240px;
    background-color: #565656;
    overflow-y: auto;
}

.footer-top-mobile-list li {
    padding: 20px 0;
    font-size: 18px;
    text-align: center;
}

.footer-top-mobile-list li:hover,
.footer-top-mobile-list li.active {
    background-color: #3A3A3A;
}

@media (max-width: 992px) {
    .footer-top-mobile {
        display: flex;
    }
}

/*頁腳-文字連結*/
.footer-top {
    display: flex;
    border-bottom: 1px solid #434343;
}

.footer-link-list {
    flex: 1;
    margin: 0 35px;
}

.footer-link-list .h4 {
    position: relative;
    display: block;
    margin-bottom: 40px;
}

.footer-link-list .h4:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 4px;
    height: 2px;
    width: 24px;
    background-color: #278400;
}

.footer-link-list a {
    display: block;
    margin-bottom: 30px;
    color: #B5B5B5;
}

.footer-link-list.icon-link a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    width: 32px;
    height: 32px;
    border-radius: 18px;
    background-color: #373f35;
}

.footer-link-list.icon-link a img {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 992px) {
    .footer-top {
        display: none;
    }
}

/*頁腳-支付商*/
.footer-icon {
    padding: 28px 0 36px;
}

.footer-icon .h4 {
    margin-bottom: 20px;
}

.footer-icon ul::-webkit-scrollbar {
    display: none;
}

.footer-icon ul {
    white-space: nowrap;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.footer-icon li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    width: 120px;
    height: 30px;
}

.footer-icon li img {
    max-width: 100%;
    max-height: 100%;
}

/*頁腳-執照*/
.footer-lincense {
    padding: 28px 0 36px;
}

.footer-lincense .h4 {
    margin-bottom: 20px;
}

.footer-lincense p {
    text-align: center;
}

.footer-lincense p img {
    margin: 0 10px;
    height: 57px;
    width: auto;
}

/*頁腳-簡介*/
.footer-intro {
    position: relative;
    padding: 20px 40px 80px;
    border-radius: 5px;
    background-color: #353d35;
    color: #B8B8B8;
}

.footer-intro .footer-intro-title {
    margin-bottom: 20px;
    color: #40D900;
    text-align: center;
}

.footer-intro .footer-intro-more {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 5px 5px;
    background: linear-gradient(to bottom, #353d35 0%, #1E261E 100%);
    text-align: center;
}

/*頁腳-版權*/
.footer-copyright {
    margin-top: 40px;
    padding: 40px 0;
    border-top: 1px solid #434343;
    color: #B5B5B5;
    text-align: center;
}


/*手機版-底部*/
.nav-bottom {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #20261f;
}

/*手機版-底部選單-登入/註冊*/
.nav-bottom-no-login button {
    float: left;
    width: 50%;
    border-radius: 0;
    font-weight: bold;
}

/*手機版-底部選單-選單*/
.nav-bottom-menu li {
    float: left;
    padding: 10px 0;
    width: 20%;
    text-align: center;
}

.nav-bottom-menu li.active {
    color: #40D900;
}

.nav-bottom-menu i {
    display: block;
    margin-bottom: 5px;
    height: 24px;
    text-align: center;
    background: no-repeat center center / auto 100%;
}


.nav-bottom-menu i img {
    display: inline-block;
    max-width: 24px;
    max-height: 24px;
}

@media (max-width: 992px) {
    .nav-bottom {
        display: block;
    }
}

.nav-bottom-menu li i.home {
    background-image: url(../images/nav-bottom-home.png);
}

.nav-bottom-menu li i.recommend {
    background-image: url(../images/nav-bottom-recommend.png);
}

.nav-bottom-menu li i.offers {
    background-image: url(../images/nav-bottom-offers.png);
}

.nav-bottom-menu li i.deposit {
    background-image: url(../images/nav-bottom-deposit.png);
}

.nav-bottom-menu li i.my {
    background-image: url(../images/nav-bottom-my.png);
}

.nav-bottom-menu li.active i.home {
    background-image: url(../images/nav-bottom-home-active.png);
}

.nav-bottom-menu li.active i.recommend {
    background-image: url(../images/nav-bottom-recommend-active.png);
}

.nav-bottom-menu li.active i.offers {
    background-image: url(../images/nav-bottom-offers-active.png);
}

.nav-bottom-menu li.active i.deposit {
    background-image: url(../images/nav-bottom-deposit-active.png);
}

.nav-bottom-menu li.active i.my {
    background-image: url(../images/nav-bottom-my-active.png);
}


/*彈窗廣告*/
.popup-wrap {
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.85);
    z-index: 99;
    opacity: 0;
    transition: .3s;
}

.popup-wrap.active {
    visibility: visible;
    opacity: 1;
}

.popup-box {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    /*    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);*/
    border-radius: 3px;
    /*  background: #fff;*/
    text-align: center;
}

.popup-box img {
    max-width: 100%;
    max-height: 100%;
}

.popup-close {
    position: absolute;
    top: -32px;
    right: -42px;
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 100%;
    background: #FFFFFF url(../images/icon-close-black.png) no-repeat center center / 40% 40%;
    font-weight: bold;
    text-decoration: none;
    color: #171717;
}

@media (max-width: 992px) {
    .popup-box {
        width: 80%;
    }

    .popup-close {
        top: -42px;
        right: 0;
    }
}

/*表格樣式*/
.form-input {
    position: relative;
    margin-bottom: 15px;
    padding: 10px 20px 10px 50px;
    border-radius: 5px;
    border: 1px solid #484848;
    background-color: #193319;
}

.form-input i {
    float: left;
    position: absolute;
    top: 10px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

.form-input input {
    width: 100%;
    display: block;
    border: none;
    background-color: transparent;
    color: #FFF;
    line-height: 20px;
}

.form-input i img {
    max-width: 100%;
    max-height: 100%;
}

.form-get-code input {
    width: calc(100% - 120px);
    ;
}

.form-get-code a {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 120px;
    height: 100%;
    border-left: 1px solid #484848;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #40D900;
}

.form-county-code {
    padding-left: 150px;
}

.form-select {
    position: absolute;
    top: 0px;
    left: 40px;
    bottom: 0px;
    padding: 10px;
    width: 90px;
    border-right: 1px solid #484848;
    background: url(../images/icon-arrow-down-2.png) no-repeat right 20px center / 15%;
    cursor: pointer;
}

.form-select-value {
    position: relative;
    height: 100%;
}

.form-select-value img {
    height: 100%;
}

.form-select-value ul {
    display: none;
    position: absolute;
    top: calc(100% + 11px);
    left: 0;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #044E04;
}

.form-select-value li {
    padding: 10px 0;
}

.form-select-value li img {
    height: 24px;
}

.from-checkbox {
    display: inline-block;
    vertical-align: middle;
}

.from-checkbox label {
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding-left: 26px;
    margin: 0;
    line-height: 16px;
    color: #989A98;
}

.from-checkbox label input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    width: 16px;
    height: 16px;
    border: none;
    padding: 0;
    margin: 0;
}

.checkbox-indicator {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background: #fff;
    text-align: center;
    font-size: 16px;
    border-radius: 3px;
}

.from-checkbox label input:checked~.checkbox-indicator:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(../images/icon-checked.png) no-repeat center center / 80%;
}

.form-button button {
    width: 100%;
    text-align: center;
}

.form-text {
    color: #989A98;
}

.form-text a {
    color: #40D900;
}

/*個人頁*/
.personal-wrap{
    padding: 100px;
    overflow: hidden;
}
.nav-tabs{
    display: flex;
    background-color: #20261f;
}
.nav-tabs li{
    float: left;
    flex:1;
    padding: 20px;
    border:1px solid #707070;
}
.nav-tabs li.active{
    background-color: #323731;
    border-bottom: none;
}
.layout-balance-left{
    padding: 20px;
    font-size: 20px;
}
.day-choice{
    background-color: #565656;
}
.day-choice{
    display: flex;
    background-color: #565656;
}

.day-choice li{
    float: left;
    flex:1;
    padding: 20px;
    border:1px solid #979797;
    color: #fff;
    text-align: center;
}

.day-choice li.active{
    background-color: #676D7A;
}




/*樣式表*/
.template-wrap button {
    margin: 10px 0;
}

/*css end