:root {
    --color-bg: #F6F8FE;
    --color-bg-varient: linear-gradient(225.43deg, #F5EAE6 0%, #D5DBF1 49.63%, #F5EAE6 99.26%);
    --color-card: rgb(255, 255, 255, .4);
    --color-on-card: #31456A;
    --color-up: #FFEEEA;
    --color-on-up: #C6777A;
    --color-down: #EEF8F9;
    --color-on-down: #6EB0A2;
    --shadow: -16px -2px 56px rgba(255, 255, 255, 1), 16px 10px 48px rgba(136, 165, 191, .58);
    --shadow-wrap: -16px -16px 40px rgba(255, 255, 255, 0.8), 16px 4px 64px rgba(18, 61, 101, 0.3), inset -8px -6px 80px rgba(255, 255, 255, 0.18);
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: var(--color-bg-varient);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

ul,
li {
    all: unset;
}

.wrap {
    padding: 16px 16px 40px;
    width: 100%;
    max-width: 1280px;
    border-radius: 16px;
    border-top: 1px solid rgba(255, 255, 255, .4);
    border-left: 1px solid rgba(255, 255, 255, .4);
    border-right: 1px solid rgba(0, 0, 0, .04);
    border-bottom: 1px solid rgba(0, 0, 0, .04);
    box-shadow: var(--shadow-wrap);
    font-family: "PingFang SC", "Microsoft YaHei", "Arial", sans-serif;
    font-size: 12px;
    color: var(--color-on-card);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 16px;
}

.wrap p {
    order: -1000;
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.filter {
    order: -1000;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.filter ul {
    border-radius: 16px;
    box-shadow: -8px -4px 16px rgba(255, 255, 255, 0.7), 6px 4px 24px rgba(136, 165, 191, 0.36);
}

.filter li {
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
}

.filter li:first-child {
    border-radius: 16px 0 0 16px;
}

.filter li:last-child {
    border-radius: 0 16px 16px 0;
}

.filter li.active {
    box-shadow: inset -3px -3px 7px #FFFFFF, inset 3px 3px 7px rgba(136, 165, 191, 0.48);
}

.card {
    padding: 12px;
    width: calc((100% - 16px * 4)/5);
    border-radius: 16px;
    border-top: 1px solid rgba(255, 255, 255, .4);
    border-left: 1px solid rgba(255, 255, 255, .4);
    border-right: 1px solid rgba(0, 0, 0, .04);
    border-bottom: 1px solid rgba(0, 0, 0, .06);
    background: var(--color-card);
    box-shadow: var(--shadow);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.card ul {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.card ul li div {
    font-size: 14px;
}

.card ul li:nth-child(1) {
    width: 100%;
}

.card ul li:nth-child(1) span {
    display: inline-block;
    padding: 4px 12px;
    max-width: 100%;
    border-radius: 16px;
    background: var(--color-up);
    color: var(--color-on-up);
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.card.down ul li:nth-child(1) span {
    background: var(--color-down);
    color: var(--color-on-down);
}

.card ul li:nth-child(2) {
    width: 100%;
    margin-bottom: 16px;
    font-size: 10px;
}

.card ul li:nth-child(2) div {
    font-size: 32px;
    color: var(--color-on-up);
}

.card.down ul li:nth-child(2) div {
    color: var(--color-on-down);
}

.card ul li:nth-child(3),
.card ul li:nth-child(4) {
    flex: 0 0 calc((100% - 8px * 1)/2);
}

/* Section  */
.section {
    margin-top: 16px;
    padding: 16px;
    width: 100%;
    max-width: 1280px;
    border-radius: 16px;
    border-top: 1px solid rgba(255, 255, 255, .4);
    border-left: 1px solid rgba(255, 255, 255, .4);
    border-right: 1px solid rgba(0, 0, 0, .04);
    border-bottom: 1px solid rgba(0, 0, 0, .04);
    background: var(--color-card);
    box-shadow: var(--shadow);
    font-family: "PingFang SC", "Microsoft YaHei", "Arial", sans-serif;
    font-size: 12px;
    color: var(--color-on-card);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card-finish {
    padding: 16px 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
}

.card-finish:last-child {
    border-bottom: none;
}

.card-finish+.card-finish {
    border-top: 1px solid rgba(55, 83, 111, .07);
}

.card-finish .info {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
}

.card-finish .info li {
    opacity: .6;
}

.card-finish .info li:last-child {
    font-size: 16px;
}

.card-finish .info p {
    font-size: 32px;
}

.card-finish .detail ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card-finish .detail li {
    flex: 1;
    display: flex;
    flex-direction: column;
    opacity: .6;
}

.card-finish .detail li span {
    margin-top: 4px;
}

@media (max-width:1024px) {
    .card {
        width: calc((100% - 16px * 3)/4);
    }
}

@media (max-width:768px) {
    .card {
        width: calc((100% - 16px * 1)/2);
    }
}