/* Copyright 2025 Johnson */

@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);

:root {
    --color-bg: #F6F8FE;
    --color-bg-varient: linear-gradient(225.43deg, #F5EAE6 0%, #D5DBF1 49.63%, #F5EAE6 99.26%);
    --color-card: rgb(255, 255, 255, .4);
    --color-on-card: #31456A;
    --color-up: #FFEEEA;
    --color-on-up: #C6777A;
    --color-down: #EEF8F9;
    --color-on-down: #6EB0A2;
    --shadow: -16px -2px 56px rgba(255, 255, 255, 1), 16px 10px 48px rgba(136, 165, 191, .58);
    --shadow-wrap: -16px -16px 40px rgba(255, 255, 255, 0.8), 16px 4px 64px rgba(18, 61, 101, 0.3), inset -8px -6px 80px rgba(255, 255, 255, 0.18);
}

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(116.82deg, #0D203A 0%, #0B0D1A 50%, #0E182E 100%);
    font-family: 'Roboto';
    font-size: 12px;
    color: #fff;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

.wrap {
    padding: 40px 20px;
    margin: auto;
    max-width: 1280px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title {
    margin-bottom: 20px;
    font-size: 18px;
    opacity: .6;
}

.card-box {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.card {
    flex: 0 0 auto;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #252E49;
    background: linear-gradient(135deg, rgba(17, 38, 67, 0.8) -1.61%, rgba(9, 16, 29, 0.8) 45.06%, rgba(13, 23, 44, 0.8) 91.73%);
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
}

.card p {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 4px;
    font-weight: bold;
}

.card p:nth-child(1),
.card p:nth-child(2) {
    flex: 0 0 50%;
    margin-bottom: 20px;
}

.card p:nth-child(1) {
    font-size: 14px;
}

.card p:nth-child(2) {
    align-items: flex-end;
    font-size: 28px;
    color: #73D9AE;
}

.card p:nth-child(3),
.card p:nth-child(4),
.card p:nth-child(5) {
    flex: 0 0 33.33%;
}

.card p:nth-child(5) {
    color: #73D9AE;
}

.card-box:not(.list-style) .card.down p:nth-child(2),
.card.down p:nth-child(5) {
    color: #E66E6D;
}

.card p:nth-child(5) span {
    color: #fff;
}

.card p span {
    font-size: 12px;
    opacity: .7;
    font-weight: normal;
}

.tags {
    display: none;
}

.tags ul {
    margin-bottom: -20px;
    display: flex;
    gap: 16px;
}

.tags li {
    position: relative;
    padding: 10px 0;
    font-size: 18px;
    opacity: .7;
}

.tags li.active {
    opacity: 1;
}

.tags li.active:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 50%;
    background: #FFF;
}

.top-news .card-box {
    gap: 20px;
}

.top-news .card-box .card {
    /* flex: 0 0 calc((100% - 20px * 3)/4); */
    flex: 0 0 auto;
    width: 100%;
}

.content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.content>div:not(.tags) {
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #252E49;
    background: linear-gradient(135deg, rgba(17, 38, 67, 0.8) -1.61%, rgba(9, 16, 29, 0.8) 45.06%, rgba(13, 23, 44, 0.8) 91.73%);
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
    .tags {
        display: block;
    }

    .content>div {
        display: none;
    }

    .content>div.active {
        display: block;
    }
}

.entry {
    /* flex: 0 0 calc((100% - 20px)/4*3); */
    flex: 1 1 0;
}

.list-style {
    flex-direction: column;
    gap: 5px;
}

.list-style .card {
    padding: 20px;
    border: 1px solid #252E49;
    border-radius: 8px;
    background: #080D19;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.list-style .card:first-child {
    padding: 10px 20px;
    background: #121929;
}

.list-style .card p {
    all: unset;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.list-style .card:not(.down) p:nth-child(5) {
    color: #73D9AE;
}

.list-style .card:first-child p:nth-child(5) {
    color: #FFF;
}

.list-style .card:first-child p {
    opacity: .5;
}


.list-style .card p:first-child {
    justify-content: flex-start;
}


.list-style .card p span {
    display: none;
}

.take-profit {
    /* flex: 0 0 calc((100% - 20px)/4); */
    flex: 0 0 auto;
    max-width: 40%;
}

.take-profit .card-box {
    flex-direction: column;
}

/* .tags ul {
    padding: 10px 20px;
    border-radius: 100px;
    background: #080D19;
    display: flex;
    gap: 20px;
}

.tags li {
    flex: 1;
    padding: 10px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    opacity: .7;
}

.tags li.active {
    border: 1px solid rgba(255, 255, 255, .5);
    opacity: 1;
} */

@media (max-width: 768px) {
    .wrap {
        padding: 40px 10px;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .content>div {
        flex: auto;
        width: 100%;
    }

    .take-profit {
        max-width: 100%;
    }
}


@media (max-width: 768px) {}